[2018-08-01 06:52] veggiesaurus opened #3 "scroll zooming requires fixing"
- Zoom speed is very slow in firefox. Possibly the scroll wheel event's delta factor isn't being taken into account.

[2018-08-01 06:56] veggiesaurus opened #4 "misalligned histogram click markers in firefox"
Markers (or their click handler div) are shifted in firefox, meaning you have to click on them while hovering slightly to the right of them. Might be related to the click handler div's padding.

[2018-08-01 14:26] veggiesaurus opened #6 "file browser needs to be draggable/resizable"
Currently, the file browser is implemented as a BlueprintJS Dialog. While the styling is somewhat consistent with the floating windows, the dialog should also be wrapped in a `react-rnd` component, to allow resizing and dragging.

[2018-08-15 18:57] veggiesaurus opened #8 "image view: window resizing not always picked up"
Resizing individual widgets seems to work fine, but sometimes the image view doesn't resize correctly when resizing the entire window.

[2018-08-20 15:16] #6 closed

[2018-08-20 15:21] veggiesaurus opened #11 "menu items aren't always clickable (z-index issue)"
Sometimes, menu items aren't registered when clicked on, because the clicks are being intercepted by something with a higher z-index. The user then has to click on the items once to make them focussed, and once again to actually "click" them.

[2018-08-28 07:18] kswang1029 opened #14 "accuracy of gridline"
Please refer to the attached movie to demonstrate this issue. Please focus on the intersect at (6000, 5000). The position moves in that pixel when changing zoom levels. The test image is LMCq.hdf5.

https://youtu.be/ABrDFAMbG1I

[2018-08-28 07:26] veggiesaurus opened #15 "color map thumbnails not displaying correctly in Safari"
Color map thumbnails are all blank when viewed in webkit-based browsers.

[2018-08-30 02:34] kswang1029 opened #16 "raster rendering in animation"
during the animation, the boundary values for color mapping seem to be locked to the frame just before the start of animation so that some frames are all white (saturated).

During the animation, the per-frame histogram is not updated accordingly.

UPDATE: if fps is low (e.g., 1 fps with good internet speed, histogram does update and raster rendering works as normal)

Demo: https://youtu.be/JmalQw

[2018-09-05 03:11] kswang1029 opened #18 "animator: redundant channel index"
when viewing a cube with a small number of channels, some redundant indices show up as shown in the attached image. Note that the Stokes axis does not have this issue.

![screen shot 2018-09-05 at 11 05 04](https://user-images.githubusercontent.com/20819712/45068894-5dfe6380-b0fc-11e8-98d1-6323af538702.png)

[2018-09-05 04:19] kswang1029 opened #19 "cursor info: display "masked" for masked pixels, rather than "0""
For a frame containing masked pixels, cursor info should display those masked pixels as "masked", rather than 0 or some other numbers (e.g. -1.02).

[2018-09-05 06:27] veggiesaurus commented on #19
How do we know which pixels are masked? Are masked pixels not NaNs?

[2018-09-05 06:35] kswang1029 commented on #19
with a conversation with Mark, NaN pixels are replaced by the minimum value of the frame so that the image data can be compressed with ZFP (correct me if I mis-understand it).

I would suggest in the backend, we still replace the NaN value by some other floating number but a unique value so that in the frontend when a cursor points it, we intend display that unique value by "masked". Is this doabl

[2018-09-05 06:49] veggiesaurus commented on #19
Mark hasn't finished the ZFP implementation. The expected behaviour from the backend is as follows:
1) Run through the data, and generate a run-length-encoded array of NaN values
2) Run through the array, replacing NaNs with a sensible value, based on the surrounding pixels

On the frontend, the run-length-encoded array is used after decompression to replace NaN values. So this is an issue for the

[2018-09-05 06:50] kswang1029 commented on #19
I see. I will talk to Mark about this. Issue closed. :)

[2018-09-05 06:50] #19 closed

[2018-09-05 13:11] veggiesaurus commented on #18
I'm able to reproduce this with a 4 channel file. Working on a fix now

[2018-09-05 13:28] #18 closed

[2018-09-05 13:36] #8 closed

[2018-09-06 12:48] #15 closed

[2018-09-07 12:46] #11 closed

[2018-09-07 13:47] #3 closed

[2018-09-10 07:36] veggiesaurus commented on #4
this is likely to be resolved in the move to chartjs in future.

[2018-09-13 15:51] #14 closed

[2018-09-17 07:46] veggiesaurus opened #28 "image coordinates should start from (0, 0)"
- [x] The center of the bottom left pixel should have coordinates (0, 0), rather than the DS9 approach (1, 1)
- [x] The cursor value seems to be offset from the pixel center
- [x] Spatial profiles should be consistent with the image view in terms of pixel coordinates

[2018-09-17 12:41] #28 closed

[2018-09-26 09:37] veggiesaurus commented on #16
fixed in #32

[2018-09-26 09:37] #16 closed

[2018-09-26 09:37] veggiesaurus commented on #4
fixed in #32

[2018-09-26 09:37] #4 closed

[2018-09-26 09:58] veggiesaurus opened #33 "spectral profile plots aren't resized correctly"
- Spectral profile plots aren't resized correctly when the window size changes (although they are resized correctly when the drag handles are used)
- Spectral profile plots don't seem to use the correct pixel ratio

[2018-09-26 10:00] veggiesaurus commented on #33
Almost certainly need to move the resize detection from the widget to the line plot directly, and detect changes to its container div

[2018-09-26 13:03] veggiesaurus opened #34 "line plot labels and ticks in dark mode"
Colors need to be adjusted in dark mode to ensure that ticks and labels can still be easily viewed.

[2018-09-26 13:57] #33 closed

[2018-09-28 06:01] kswang1029 opened #36 "imageViewer cursor"
imageViewer:
- Need to show velocity, frequency, and Stokes of the current frame somewhere (integrated in the cursor info bar, maybe?).
Format for velocity is like "**%.3f km/s, LSRK / Radio, Q**". Here "LSRK" can be read  from the header keyword "SPECSYS", while "Radio" can be read from the header keyword "VELREF". "Q" indicates the Stokes parameter of the current frame. Format for frequency is l

[2018-09-28 06:06] veggiesaurus opened #37 "Line plot enhancements"
There are a number of enhancements that the line plot component needs:

- [x] Zooming in Y and XY
- [x] Horizontal markers (e.g. for mean values)
- [x] Rectangular markers (non-interactive) (e.g. for RMS indicator)
- [x] Optional callback for tick formatting
- [x] Options for showing/hiding X and Y labels
- [x] Line/point options for data

[2018-09-28 06:10] veggiesaurus opened #38 "AST configuration options"
AST config. options:
- if it is RA/DEC, use sexagesimal format by default, rather than in degree format.
		(e.g., R.A. = 12h:23m:43.234s, Dec = -34d:35m:23.123s)
- if it is galactic coordinate, use degree format by default
		(e.g., GLON = 23.123 degree, GLAT = -5.234 degree)
- "WCS(a, b)" in the cursor info bar should follow the above two rules
- default format for "Numbers" as "d.3"

- Overlay se

[2018-09-28 06:11] veggiesaurus commented on #36
@kswang1029 splitting this into two separate issues. @confluence will handle the AST config options.

[2018-09-28 07:28] arusstaylor commented on #38
d.3 is no likely to be enough precision for modern images.  Typical JVLA, GMRT and MeerKAT pixels sizes are of order 1 arc or less, which is a ~10^-4 degrees.  Is it possible to link the precision of the display format to the pixel size of the image?  For a VLBI images, for example, the pixels may be milli-arcseconds, which is ~10^-7 degrees.  I think it would be good if the precision of the displ

[2018-09-28 07:30] arusstaylor commented on #37
I might add

 - visual and numeric display of data mean and rms, a la cyberSKA.
 - select line or point symbol representation of the data

Russ

[2018-09-28 07:43] veggiesaurus commented on #38
As @kswang1029 was the author of the initial issue (I just copied it), hopefully he will comment on that.

@arusstaylor What I'd think would be ideal would be to determine the number of decimal places required based on the current image view. So for example, if your view is initially quite wide, 3 decimals might be sufficient, but as you zoom in, it should include more decimal places. That avoids

[2018-09-28 07:44] veggiesaurus commented on #37
@arusstaylor I think data mean can be displayed as a simple horizontal line, right? How should RMS be displayed?

[2018-09-28 07:56] kswang1029 commented on #38
@arusstaylor @veggiesaurus Right, modern images can have quite small pixel sizes so that d.3 is not sufficient. As @veggiesaurus suggested, I think what we display is determined by two factors, one is the FOV, which determines the minimum precision, the other is the pixel size, which then determines the maximum precision. As we zoom in, we increase the precision dynamically.
If this may take some

[2018-09-28 08:33] arusstaylor commented on #38
If we have to go with a fixed value default for the initial release then I recommend d.5 so we have arc second precision.  Most of the images from MeerKAT will require this.

Russ

[2018-09-28 08:44] arusstaylor commented on #37
You should check out cyberSKA profiles.   The mean was represented by a line and the rms upper and lower bounds are represented by a light shaded region.  Go to a profile in cyberSKA click on the little cog wheel in the profile window to turn on the option.

Russ

[2018-09-28 08:47] kswang1029 commented on #38
@arusstaylor Sure for d.5 as a temporary fixed default.

[2018-09-28 09:27] veggiesaurus commented on #38
@kswang1029 done. I don't think the dynamic precision is too difficult though. We have all the information we need. Perhaps we could actually simplify things and use the pixel size of the downsampled image to guide our choice?

[2018-09-28 09:31] veggiesaurus commented on #37
@arusstaylor Yes, the CyberSKA profiles were the only example I could think of. I agree that RMS bounds should be a lightly shaded region.

[2018-09-28 09:31] arusstaylor commented on #38
Sounds reasonable.
Russ

[2018-09-28 09:32] arusstaylor commented on #37
I think this is unique to the cyberSKA viewer.
Russ

[2018-09-28 09:35] veggiesaurus commented on #37
@kswang1029 for reference, this is what Russ is referring to:
![image](https://user-images.githubusercontent.com/592504/46200640-72580980-c312-11e8-8a59-617b16acda73.png)

[2018-09-28 11:40] confluence commented on #38
Update: it looks like setting a specific number of decimal places in the format (C) also affects the formatting of the cursor coordinate values, but setting the total number of digits (B) does not. By default, if the number of decimal places is not explicitly set, AST uses 4 decimal places for cursor values in degrees and one decimal place for sexagesimal cursor values. Is this going to be a probl

[2018-09-28 11:45] arusstaylor commented on #38
Yes, we will want to override these defaults.   This is not enough for images with angular resolution better than a few arc seconds.

Russ

[2018-09-28 11:50] confluence commented on #38
OK. For now I am restoring the ability to set the number of decimal places, since that affects both the axes and the cursor. I have not yet found a way to control them separately -- they appear to use the same setting.

[2018-09-28 12:11] confluence commented on #38
Update: I've worked out how we control the cursor format, and I can add a separate setting for it if that is desirable. Do we want that, or is a single precision setting for the axes and the cursor sufficient?

[2018-09-29 11:56] veggiesaurus commented on #34
Labels and grid lines now change color in dark mode, but tick colors are buggy in ChartJS 2.7.2. Issue is chartjs/Chart.js/issues/5452

[2018-09-29 12:29] veggiesaurus commented on #34
fixed using workaround described in above issue

[2018-09-29 12:29] #34 closed

[2018-10-01 04:57] kswang1029 commented on #38
This is a good idea. At high zoom level (~per pixel scale), we will need the precision at sub-pixel scale (e.g., 1/10th of pixel size).

[2018-10-01 05:00] kswang1029 commented on #38
I think we will need a separate setting for each. For axes, we will just need to precision sufficient to distinguish each tick label. For the cursor, we will need higher precision at sub-pixel scale.

[2018-10-01 05:07] kswang1029 commented on #37
Right, marking the rms as a shaded region is a good idea and useful for analysis. I guess how the rms is derived is another question.

For the z-profiler, we will also need a label capability so that possible molecular transitions (from the online database) can be marked directly on the plot (one of the sci-req). The label could be a vertical bar with a text string rotated by 90 degrees.

[2018-10-01 07:55] confluence commented on #38
I have added a separate precision setting for the cursor (currently the format is the same as the format used on the axes).

Still left to do: setting a default format based on the coordinate system of the image.

[2018-10-01 08:01] arusstaylor commented on #38
I am not sure the need a user option for the precision of the labelling for the coordinate grid.  This should just automatically label with sufficient precision that the number are different on adjacent ticks.

Russ

[2018-10-01 08:04] confluence commented on #38
That is the current default behaviour, with the option to override the precision. I can remove the option entirely, if we don't need it.

[2018-10-01 08:05] arusstaylor commented on #38
Fine to have the option as long as the default behaviour is correct.

Russ

[2018-10-01 09:47] veggiesaurus opened #40 "GoldenLayout drag borders have vanished"
GoldenLayout drag borders aren't visible, because dragged components aren't a child of the app component

[2018-10-01 12:08] confluence commented on #38
To clarify: for RA/DEC, would you like `hms` for RA and `dms` for DEC (*not* `hms` for both)? And just degrees for GLON *and* GLAT?

[2018-10-01 12:21] kswang1029 commented on #38
Yes, hms for R.A. and dms for Dec. GLON and GLAT are both in degrees.

[2018-10-01 13:37] confluence commented on #38
To clarify: for RA/DEC, would you like `hms` for RA and `dms` for DEC (*not* `hms` for both)? And just degrees for GLON *and* GLAT? This is the default behaviour that I have now added.

[2018-10-01 13:45] arusstaylor commented on #38
Yes.
Russ

[2018-10-03 08:35] veggiesaurus commented on #40
tested a small CSS fix, which seems to solve the issue

[2018-10-04 06:44] kswang1029 opened #41 "odd behavior of left/right click in the histogram of renderConfig"
The video shows this odd behavior.
https://www.youtube.com/watch?v=774bXm-IXlM

The test is done with the dev-viewer, chrome, and MacBook Pro using track pad. Frontend version = 933a9e0
The beginning of the video demonstrates that the pointing of the track pad should work precisely. But while clicking on the histogram, the min red line doesn't update to the position where left-click is issued.

Al

[2018-10-10 13:14] veggiesaurus commented on #41
fixed in #42

[2018-10-10 13:14] #41 closed

[2018-10-11 07:52] veggiesaurus opened #43 "line plot zooming/panning disabled when no data is dislayed"
The line plot component's zooming and panning functionality stops working as soon as no data is displayed in the plot.

This can be replicated in a number of ways:
- Load an image with all-NaN data
- Zoom or pan the plot until no data is within the field of view.

The only way to adjust the zoom at this point is to reset the range (double clicking or clicking on the reset range button).

[2018-10-11 14:55] veggiesaurus commented on #37
@arusstaylor for mean and RMS calculations, is it the mean/RMS of the entire profile, or just the part of the profile that you're currently looking at? For example, if I zoom in on a particular section of the profile, should it re-calculate the mean and RMS for the section?

[2018-10-12 07:18] veggiesaurus commented on #37
@arusstaylor @kswang1029 in general, this makes sense, along with the range of the spatial profile matching the image view's field of view. However, this is for cursor profiles, specifically. For profiles related to other point regions, I don't think they should adjust to match the field of view.

[2018-10-12 07:37] kswang1029 commented on #37
is the mean/rms automatically determined by using the data in the current viewing range? or full range? Either one I cannot imagine good use cases. Maybe it is better to let the users select which data are used for the mean/rms calculations by making a box with cursor. Then the shaded region is plotted and users can use that as a reference to inspect which features are above 3-sigma threshold. If

[2018-10-12 07:42] veggiesaurus commented on #37
I like this idea. I believe we will need to do something similar with curve fitting, because it will require us to "freeze" the data and export it to another widget for fitting. Needs careful consideration in terms of UI though

[2018-10-12 07:47] kswang1029 commented on #37
Right, for gaussian fitting for example, users may draw some boxes first to provide initial gauss of fitting parameters (number of gaussians, amplitude, center, FWHM width, x-ranges, etc.).

Agreed, need careful design of UI for best UX

[2018-10-16 10:12] #37 closed

[2018-10-17 04:47] kswang1029 opened #45 "default image position in the imageViewer is off by half pixel (should just fill the view)"
This issue becomes prominent when viewing small images, as demonstrated by the attached images.
![screen shot 2018-10-17 at 12 44 01 pm](https://user-images.githubusercontent.com/20819712/47062811-c2880480-d20a-11e8-99a9-c798922b4e40.png)
![screen shot 2018-10-17 at 12 43 13 pm](https://user-images.githubusercontent.com/20819712/47062812-c2880480-d20a-11e8-943e-9ee13878a337.png)

[2018-10-17 12:59] veggiesaurus commented on #43
fixed in #46

[2018-10-17 12:59] #43 closed

[2018-10-17 13:02] veggiesaurus opened #47 "adjust shader log scale code to match DS9"
DS9's log scaling function is described here: http://ds9.si.edu/doc/ref/how.html
We currently use a similar approach, but don't have an adjustable parameter. The "a" parameter should be introduced (possibly called "alpha"?) and shader code adjusted

[2018-10-18 08:42] veggiesaurus opened #48 "animator's playback controls should move to the top"
when animating between frames with different dimensions, the playback controls shift up and down. This makes it tricky to pause playback, as the buttons move.

![peek 2018-10-18 10-41](https://user-images.githubusercontent.com/592504/47142086-6bde0180-d2c2-11e8-9933-85a404925f3d.gif)

[2018-10-18 09:18] veggiesaurus opened #49 "Refine menu wording and disable unimplemented buttons"
- [ ] Wording around opening a new frame is confusing, and should be changed.
- [ ] Menu entries for features that have not been implemented yet should be removed.
- [ ] Placeholder menu items should be removed

[2018-10-18 12:44] kswang1029 opened #50 "AST config: coordinate systems when multiple frames exist"
The coordinate system should remain the same when new image is loaded as new frame.
To reproduce:
1) open orion_12co_hera.hdf5
2) open supermosaic.10.hdf5 as new frame
3) use animator to switch back to orion
4) check the gridline
<img width="817" alt="screen shot 2018-10-18 at 20 38 28" src="https://user-images.githubusercontent.com/20819712/47155068-8f329c00-d316-11e8-80a0-1b3ac1fbec35.png">

<im

[2018-10-18 20:21] veggiesaurus opened #51 "Frozen cursor needs to be displayed"
The position of the cursor should be displayed on the image viewer overlay when the cursor is frozen. Something similar to this: (from [IDIA tech demo](viewer.idia.ac.za))

![image](https://user-images.githubusercontent.com/592504/47181740-1a665e80-d324-11e8-8dbe-ebd8dea4745d.png)

[2018-10-19 01:29] kswang1029 opened #52 "AST: changing coordinate system results in incorrect tick labels"
using IDIA carta with frontend version: b9e44e2

To reproduce:
1) open orion_12co_hera.hdf5
2) we should see correct cursor coordinate and tick label coordinate
![screen shot 2018-10-19 at 9 14 14 am](https://user-images.githubusercontent.com/20819712/47192651-03a22500-d381-11e8-9410-f20c89d383d6.png)

3) now change the coordinate system from FK5 to galactic
4) issue 1: the tick label format shoul

[2018-10-19 02:07] kswang1029 opened #53 "imageViewer: incorrect cursor coordinate"
The test image can be accessed via (400MB+)
https://drive.google.com/file/d/1LWa6dkkFrLjqqeq88TBViiIiWqFjMKSW/view?usp=sharing

with this test image, the cursor coordinate is shown incorrectly. R.A. should not have a negative hour.
![screen shot 2018-10-19 at 10 01 57 am](https://user-images.githubusercontent.com/20819712/47193669-b923a700-d386-11e8-8e16-2f657e5cc836.png)

[2018-10-19 02:50] kswang1029 opened #54 "AST options: grid -> custom gap"
frontend version: b9e44e2
In overlay setting/grid, if custom gap is toggled, the coordinate grid is disappeared.

[2018-10-19 02:58] kswang1029 opened #55 "[improvement] overlay setting defaults"
title -> font size to ~18. 24 is a bit too large.
numbers -> font size to ~12. 10 is a bit too small.

please rotate y-tick label by 90 degree so that y-axis label can be displayed independent of the precision of y tick numbers.

We are almost there! Well done!

[2018-10-19 06:56] #48 closed

[2018-10-19 06:57] #40 closed

[2018-10-19 07:09] veggiesaurus commented on #54
@kswang1029 So this is a tricky one. The "gap" value is in the units of the current file. So if the current file is in degrees, then the gap will be in degrees, and so on.

When you select "custom gap", the gap value is set from the value in the numeric input below. Depending on the FOV of the image viewer, this value may or may not be sensible, but it's difficult to choose a starting value that w

[2018-10-19 07:42] arusstaylor commented on #37
Hi Angus.

Trying out the latest version of the viewer.  A couple of comments on the profile window.

1)  The actual mean and rms should be displayed as number somewhere when this option is turned on.
2)  In the setup menu “draw as points” is set up as a on-off toggle.   Not sure if this is a the best approach.  I think we want at least three options for display: Histogram, points, joint to dots.

[2018-10-19 07:45] veggiesaurus commented on #37
Agreed. This will be integrated into a separate feature, because we also need to display the cursor value in a similar fashion. I'll create an issue for it.

A dropdown box or a button group for this would work. I'll add an issue for this as well

[2018-10-19 07:50] veggiesaurus opened #56 "Display cursor values and mean/RMS values in profilers"
Both spectral and spatial profilers shoud:
- [x] display the value of the cursor along the x axis somewhere in the widget
- [x] display the value of the graph itself at the cursor location somewhere in the widget (by looking up data efficiently
- [x] display the mean and RMS values somewhere in the widget when the "show RMS" toggle is checked

[2018-10-19 07:51] veggiesaurus commented on #56
@arusstaylor issue based on your comment from #37

[2018-10-19 07:55] veggiesaurus opened #57 "Improve graph type options"
Current plot options for displaying a stepped graph (histogram), point cloud or line graph are needlessly complicated. The two options "draw as points" and "interpolated" should be replaced by a single dropdown or a button group.

Suggested nomenclature for the three options: "Stepped", "Points", "Curve" (or "Line")

[2018-10-19 07:59] veggiesaurus commented on #57
@arusstaylor second issue based on your comment. I'm hesitant to use "histogram" to describe the stepped plot, since, in the case of both the spatial and spectral profiler, they're _not_ actually histograms. Join-the-dots is also not a particularly widely used term, so I'd opt for either "Curve" or "Line" to describe the plot type.

[2018-10-19 08:15] arusstaylor commented on #57
Agreed.
Russ

[2018-10-19 08:27] veggiesaurus commented on #52
@kswang1029 Can you clarify which tick format should be used for each of the coordinate systems? It seems AST's defaults are slightly different to those that you requested. The systems are:

- FK4
- FK5
- Galactic
- Ecliptic
- ICRS

[2018-10-19 08:29] arusstaylor commented on #37
When you append a frame, it would be cool if the different frames appeared as tabs in the main image canvas, and click on the tab brought frame and associated profile. This provides an intuitive one-click way to change image frames

I have gotten into a state where the x-profile is not showing the data in the zoomed image region,  The y-profile is correctly showing the zoomed image data but the x-

[2018-10-19 08:29] kswang1029 commented on #52
FK4: hms/dms
FK5: hms/dms
Galactic: degree/degree
Ecliptic: degree/degree
ICRS: hms/dms

[2018-10-19 08:34] veggiesaurus commented on #37
Did you zoom in/out on the x-profile? The default behaviour is to auto-scale to match the image view unless you zoom in or out on the image. You can double-click to go back to the default range

[2018-10-19 10:17] confluence commented on #50
This has been fixed in my branch.

[2018-10-19 10:19] confluence commented on #52
This has been fixed in my branch. (Cursor format changes are not immediately visible, but become visible as soon as the cursor moves.)

[2018-10-19 13:33] veggiesaurus commented on #57
closed in #60

[2018-10-19 13:33] #57 closed

[2018-10-19 15:03] confluence commented on #54
Fixed in my branch.

[2018-10-19 15:20] #50 closed

[2018-10-20 05:10] veggiesaurus opened #61 "Render config widget icon should be changed"
Currently the same icon as the customize dialog for overlay, which may create confusing.

[2018-10-20 07:04] arusstaylor commented on #37
The z-profile plot should how a red vertical line at the position of the channel being viewed in the image canvas, in the same way the x and y profiles show the ordinate of the cursor in x and y.

x, y and z profiles should all have the same behaviour.  When we get to the point of viewing rotated cubes z will be one of the image plane coordinates.

Russ

[2018-10-20 07:19] arusstaylor commented on #37
Please ignore. I see that this is already in place. I was displaying channel 0 and could not see the red line.

Russ

[2018-10-21 03:53] kswang1029 opened #62 "[imageViewer] axis label and tick label"
frontend version: a588672

issue 1:
the gap of axis label needs to be larger
<img width="809" alt="screen shot 2018-10-21 at 11 50 09" src="https://user-images.githubusercontent.com/20819712/47262925-a694a380-d527-11e8-85b6-c8cf0914f5a0.png">

issue 2:
if coordinate transform is applied (attached is from native to galactic), y tick label is no longer rotated by 90 degree.
<img width="807" alt="scr

[2018-10-22 07:00] confluence commented on #62
As I described in #59, issue 2 is AST falling back to different plotting options when the preferred options are considered undrawable (which involves rotating the numbers back or making the labelling internal at certain zoom levels if the coordinate system is non-native), and your "larger gap" example in issue 1 is caused by the rotated Y axis numbers overflowing the bottom of the grid and displac

[2018-10-22 07:01] confluence commented on #62
As I described in #59, issue 2 is AST falling back to different plotting options when the preferred options are considered undrawable (which involves rotating the numbers back or making the labelling internal at certain zoom levels if the coordinate system is non-native), and your "larger gap" example in issue 1 is caused by the rotated Y axis numbers overflowing the bottom of the grid and displac

[2018-10-22 07:03] confluence commented on #62
As I described in #59, issue 2 is AST falling back to different plotting options when the preferred options are considered undrawable (which involves rotating the numbers back or making the labelling internal at certain zoom levels if the coordinate system is non-native), and your "larger gap" example in issue 1 is caused by the rotated Y axis numbers overflowing the bottom of the grid and displac

[2018-10-22 07:37] veggiesaurus commented on #52
@ad

[2018-10-22 07:38] veggiesaurus commented on #52
fixed in #59

[2018-10-22 07:41] veggiesaurus commented on #62
This is probably AST trying to be too smart... Maybe we should find out from the author if there's a way to disable this behaviour.

[2018-10-22 07:44] veggiesaurus commented on #54
this now behaves correctly. No grid is drawn if the gaps are too large, but the rest of the AST overlay still gets rendered correctly.

[2018-10-22 07:44] #54 closed

[2018-10-22 12:10] #47 closed

[2018-10-22 12:18] veggiesaurus commented on #36
almost complete, just requires hi-dpi adjustments

[2018-10-22 12:19] confluence commented on #62
I have an alternative explanation for the number label behaviour. The property we're using, `LabelUp(axis)`, makes the numeric labels *not* upright when set to zero. If they are not upright, they are described in the documentation as being parallel *to their axis*, not to the edge of the viewport -- this setting applies both to internal and external numeric labels (internal labels are parallel to

[2018-10-22 12:35] veggiesaurus commented on #61
Will change the overlay customize dialog to `settings` icon from blueprintjs [icons package](https://blueprintjs.com/docs/#icons)

[2018-10-22 12:42] veggiesaurus opened #64 "remove existing constraints to zooming/panning"
Based on newer design choices, #7  needs to be reverted.

[2018-10-22 12:54] confluence commented on #62
I've just noticed something else -- the axes *flip* depending on the zoom level, so I think when the labels are upright it's because it's actually the other axis. I will see if there are any issues if I make *both* the axes "not upright", which might fix this issue.

[2018-10-22 12:57] confluence commented on #62
That was indeed the real problem. I will commit a fix.

[2018-10-22 14:10] confluence commented on #62
@kswang1029 What is your default sans serif system font? I can't reproduce the tiny gap issue in either Chromium or Firefox on Linux. This is either Safari or the font or both -- I can make the gap bigger, but it would be complete guesswork as to what it looks like for you.

[2018-10-22 14:19] veggiesaurus commented on #36
fixed in #65

[2018-10-22 14:21] #61 closed

[2018-10-22 14:28] confluence commented on #62
@kswang1029 This is actually a page zoom issue -- I'll try to make the gap proportional to the scale.

[2018-10-22 14:31] #55 closed

[2018-10-22 17:44] veggiesaurus commented on #51
fixed in #65

[2018-10-23 07:26] zarda opened #66 "No limitation to zoom out until all objects disappear"
This issue will happen whenever keeping zooming out. In the render area, user can keep zooming out unlimitedly. This action will cause that all objects on the canvas are gone, and system crash in some case. Another the functionality of zoom in also has no limitation.

[2018-10-23 08:38] veggiesaurus commented on #66
@kswang this issue should be combined with #64. Two issues to deal with:
1) Crash handling when the frame is out of bounds (this is a backend crash, not frontend)
2) We have a limitation in place which prevents panning so that the centre of the FoV is outside of the image. This was put in place to prevent users from getting lost. There are a few issues with this approach:
a) The problem is that th

[2018-10-23 08:41] veggiesaurus commented on #66
I've checked DS9, and the weird rendering behaviour also occurs with it, so it's definitely an AST issue.

[2018-10-24 01:30] kswang1029 commented on #52
with frontend version: b17a8aa, is the issue 2 supposed to be fixed? It appears the issue is still there. The tick labels and cursor WCS are not consistent.
<img width="816" alt="screen shot 2018-10-24 at 09 28 04" src="https://user-images.githubusercontent.com/20819712/47400353-66276680-d76f-11e8-8236-70c710d34ad4.png">

[2018-10-24 03:36] kswang1029 commented on #66
For 1, yes, backend should check the frontend message "SET_IMAGE_VIEW" before actually preparing "RASTER_IMAGE_DATA".

For the zoom limit, some projection types are unbounded (diverge at "edges", actually edges cannot be defined), so maybe it is hard to define a "full sky" zoom level. I was thinking maybe we could use the actually image size on screen as a constraint to stop zooming out. If the im

[2018-10-24 04:38] kswang1029 opened #68 "[improvement] channel index in animator"
The channel indices in the animator collide when the panel is narrow and the total number of channels is too large. Attached is an example viewing a cube with a 7680-channel cube on my laptop.
<img width="572" alt="screen shot 2018-10-24 at 12 32 34" src="https://user-images.githubusercontent.com/20819712/47406539-66346000-d789-11e8-8249-05db041b1755.png">

Perhaps we can improve this by just show

[2018-10-24 07:13] veggiesaurus commented on #66
I like that idea. But it should be the bounding box of all images in the WCS group, right? (rather than the bounding box of a single image). Gets a bit tricky when you remove an image then, as the bounding box will change. I think this needs to happen _after_ the WCS group implementation, although we can temporarily implement the constraint for a single image if it's urgent

[2018-10-24 07:17] veggiesaurus commented on #64
Combing with #66

[2018-10-24 07:17] #64 closed

[2018-10-24 07:21] veggiesaurus commented on #52
@confluence can you look into this? I'm opening the issue again

[2018-10-24 07:29] kswang1029 commented on #66
if the two images separate almost 180 degrees, the joint bounding box would be large. Not sure if AST is still stable if we zoom out to the state that the joint box is ~50 screen pixel in size. May be worst to test it.

[2018-10-24 07:31] kswang1029 commented on #52
@confluence #53 is about the cursor value crossing 0h and 12h line. The issue 2 here is after coordinate transformation, the cursor values are still correct, but not the tick labels.

[2018-10-24 07:32] veggiesaurus commented on #52
Yes, it looks like AST isn't applying the normalisation to the tick labels consistently.

[2018-10-24 07:37] kswang1029 commented on #52
@confluence Upate: tick labels are correct. Cursor values are not correct. Sorry for confusion.

[2018-10-24 11:47] confluence commented on #52
As far as I can see, the issue here is that the cursor values are not using the transformed *coordinates* -- when the system is changed, the cursor continues to use the native system.

[2018-10-24 11:59] confluence commented on #52
Yes, that was it. I'm going to commit a fix.

[2018-10-24 16:43] veggiesaurus commented on #52
@kswang1029 merged into master and updated dev-viewer for verification before closing

[2018-10-24 16:51] veggiesaurus commented on #68
adjusting for the widget width would be first prize. However, that's quite tricky, as we'd need to measure (a) the widget width and (b) the width of each tick label.

We could just show first and last channels, that would look ok. Perhaps the best way is to adjust the step size until we get a total of between 3 and 5 labels?

[2018-10-25 00:10] kswang1029 commented on #52
@confluence Thanks for fixing this. @veggiesaurus Yes, verified.

[2018-10-25 00:14] kswang1029 opened #70 "[imageViewer] pan at high zoom level"
frontend version: f6daeb9
It appears that the click-to-center pan action suffers from probably hi-dpi issue (found this with my MBP).
Below is before clicking the orange pixel.
<img width="816" alt="screen shot 2018-10-25 at 08 08 38" src="https://user-images.githubusercontent.com/20819712/47468409-bb29b200-d82d-11e8-912d-b0d21f7ec9b3.png">
We expect to see the orange pixel is centered to the axis

[2018-10-25 00:16] kswang1029 commented on #68
Yes, showing just few representative labels would provide better UX than showing just the boundary two.

[2018-10-25 00:58] kswang1029 opened #71 "[imageViewer] cursor coordinate precision?"
frontend version: f6daeb9 (tested with my MBP)
I believe I am seeing things here. It appears that the cursor coordinate has precision issue.
The following is a demonstration with a model image intended for this kind of test. The orange pixel center should be located at RA=00:00:00.0000, Dec=30:00:00.0000 as indicated by the grid lines. However, we see the cursor coordinates have some offsets.
![im

[2018-10-25 01:46] kswang1029 opened #72 "[cursor-xy-profiler] pixel rounding issue"
frontend version: f6daeb9, tested with MBP

Only the first quadrant of a pixel provides correct both frontend and backend profiles. Others do not.
<img width="813" alt="screen shot 2018-10-25 at 09 36 23" src="https://user-images.githubusercontent.com/20819712/47470973-c931ff80-d83a-11e8-927b-160acd4be2ed.png">

[2018-10-25 04:53] kswang1029 opened #73 "[imageViewer, AST] incorrect native coordinate when reopening an image"
frontend version: f6daeb9, tested with MBP

to reproduce this issue:
1) open J2000_test.hdf5
2) change the coordinate system from "native" to "galactic"
3) reopen J2000_test.hdf5 (not append image)
4) now the coordinate system of the grid line is still "galactic" which may be okay (ideally maybe we should reset it to "native")
4) change the coordinate system from "galactic" to "native" (should be

[2018-10-25 04:58] veggiesaurus commented on #73
I think keeping it as galactic when explicitly specified is probably fine. But (5) is definitely an issue. @confluence can you look into this?

[2018-10-25 05:01] veggiesaurus commented on #71
Does it look like it's about one screen pixel off? It might be due to how we draw the overlay.

[2018-10-25 05:03] veggiesaurus commented on #72
I think this cropped up when we moved from the bottom left of the bottom left pixel being (0,0) to the center of the bottom left pixel being (0,0)

[2018-10-25 05:08] kswang1029 commented on #71
Hmm, it seems right. I tried to zoom further in and the offset is improved.
<img width="1369" alt="screen shot 2018-10-25 at 13 07 14" src="https://user-images.githubusercontent.com/20819712/47477280-099f7680-d857-11e8-9a46-b8c05d137eb4.png">

I pointed at exact (50.00, 50.00).

[2018-10-25 05:11] kswang1029 commented on #72
Yes, it is the exact issue. Just want to make sure this is solved in the release version in the near future.

[2018-10-25 06:30] veggiesaurus commented on #68
My initial suggestion was to try to find "nice" values for the tick intervals (10, 20, 50, etc). However, I think it's more important to show the first and last channels correctly (as well as ticks in between). I propose the following:

1) If an image has < 10 channels, show the channels themselves as ticks
2) If an image has more, display 5 ticks in total, with the tick interval calculated such t

[2018-10-25 06:30] kswang1029 commented on #66
Perhaps we can use the image with largest FOV in the WCS group as a constraint to set the scale we start to forbid further zooming out. If that image reaches ~50 screen pixel, we set the scale there. In this case, the other smaller FOV images may be super tiny. But I think AST will still be stable. Again, we need tests.

[2018-10-25 06:34] kswang1029 commented on #68
Sounds a good idea and should provide good UX.

[2018-10-25 07:20] confluence commented on #73
This is currently intentional behaviour. The native setting causes the system to be set automatically from the file. Any other setting overrides the system in the file.

[2018-10-25 07:55] veggiesaurus commented on #73
@confluence I don't think (5) is intentional. When changing back to native, it should switch to FK5 (since that's the native system of the image). 1-4 are fine.

[2018-10-25 08:29] #52 closed

[2018-10-25 14:13] #68 closed

[2018-10-25 15:00] confluence commented on #73
Oh, I see what you mean. I'll look into it.

[2018-10-25 15:36] confluence commented on #73
It looks like the correct AST format string is being generated (i.e. one with `System` completely unset -- which works fine for setting and unsetting the system to native *before* the file is reopened). I suspect that this is a more subtle bug in the implementation, which somehow caches the first system to be applied when a file is opened. I will try to track this down. In the meantime, a workarou

[2018-10-29 11:11] veggiesaurus commented on #70
@kswang1029 fixed in #76, can you verify (build updated on dev-viewer)

[2018-10-29 11:31] veggiesaurus commented on #45
@kswang1029 fixed in #77, can you test (also updated on dev-viewer)

[2018-10-29 11:37] kswang1029 commented on #45
Thanks. Verified. 👍

[2018-10-29 11:37] kswang1029 commented on #70
Verified. 👍

[2018-10-29 11:48] #45 closed

[2018-10-29 11:48] #70 closed

[2018-12-03 02:18] kswang1029 opened #90 "[cursor freeze] position offset of the cross"
This is seen in the "desktop" version. When pressing shift+space to place the cross, sometimes there is an position offset between the cross and the cursor position. This is not seen in the server version with chrome.

testing app: http://alma.asiaa.sinica.edu.tw/_downloads/CARTA-ASIAA-1-Dec-2018.dmg (with electron 4.0.0)

*update*: the desktop version seems to place the cross at the pixel center

[2018-12-05 06:43] veggiesaurus commented on #36
@kswang1029 are you happy with the functionality in PR #91 in terms of this issue? For post-V1, we can add automatic precision and reference frame conversion.

[2018-12-05 07:32] kswang1029 opened #92 "[xy(z) profiler] steps plot"
In the xyz profile plots, it seems that the step is aligned to the left edge, not center. Naively aligning to the center is better. Any thoughts?

![screen shot 2018-12-05 at 3 25 59 pm](https://user-images.githubusercontent.com/20819712/49497175-af0c2800-f8a2-11e8-8ea7-ba3439801e09.png)

[2018-12-05 08:31] veggiesaurus commented on #92
agreed, the steps should be centred on the pixel values, to make them consistent with our plot

[2018-12-05 08:48] veggiesaurus commented on #92
@kswang1029 I will work on a feature for the ChartJS library and issue a PR to that repo, hopefully it will get merged in quickly.

[2018-12-05 15:47] kswang1029 commented on #36
Yes. The frequency/velocity display in the cursor info bar works well. Tested all possible frames that casa can transform. Compared with casaviewer which supports a subset of frames and results are consistent.

[2018-12-05 15:49] kswang1029 commented on #92
Ok thanks for fixing this.

[2018-12-06 05:58] #36 closed

[2018-12-07 03:00] kswang1029 opened #97 "[imageviewer] export image as png"
frontend version: c626cb2

the saved png image is not consistent what we see on screen.
On screen:
<img width="857" alt="screen shot 2018-12-07 at 10 57 36" src="https://user-images.githubusercontent.com/20819712/49625096-1941db80-fa0f-11e8-8b55-4f4c5dcd1d78.png">

Saved:
![carta-exported-image-2018-12-7-10-57-26](https://user-images.githubusercontent.com/20819712/49625108-23fc7080-fa0f-11e8-8acb-

[2018-12-07 04:43] veggiesaurus commented on #97
@confluence related to the canvas size of the raster view. You may need to just scale up the raster image and it's padding by devicepixelratio

[2018-12-07 05:18] kswang1029 opened #98 "[overlay settings] labels and numbers"
Now with "Toggle labels"  button on the image viewer when hovering on, the GUI state is not sync'd. When "Toggle labels" is False, the two "visible" are still True in the overlay settings.
<img width="1431" alt="screen shot 2018-12-07 at 13 12 46" src="https://user-images.githubusercontent.com/20819712/49629027-624f5b00-fa22-11e8-8804-27dde05dea75.png">

I suggest we rename "Toggle labels" to "Tog

[2018-12-07 08:12] veggiesaurus commented on #98
do you think it's sufficient to just allow the user to toggle labels and numbers together, rather than independently?

[2018-12-07 08:13] veggiesaurus commented on #98
alternatively: clicking the toggle button on the quick access toolbar (probably how most users will adjust these settings) toggles them both on/off, while the menu can be used for custom settings

[2018-12-07 08:13] kswang1029 commented on #98
Good idea. I don't think displaying just one of them is useful. Binding them together is better.

[2018-12-07 08:19] kswang1029 commented on #98
I like the alternative solution too.

[2018-12-07 08:19] veggiesaurus commented on #98
@confluence can you implement this fix today?

[2018-12-07 09:18] confluence commented on #98
The intention here is to temporarily override whatever the individual settings are in order to hide all currently set labels. This is not intended to change the settings, hence the "hide" terminology. I would prefer not to have this button permanently set or unset these settings -- that would mean that using the button for convenience permanently obliterates the user's custom selection of elements

[2018-12-07 09:20] veggiesaurus commented on #98
That's a good point. And adding three separate icons would be rather annoying. @kswang1029 thoughts? In my mind, the purpose of the toggle is to switch between a mode where the user has all the information they want visible, and a mode where all the real estate is used for the image itself.

[2018-12-07 09:21] confluence commented on #97
Fixed this in 38e7e21.

[2018-12-07 09:31] veggiesaurus commented on #98
I think it's good to keep the border and ticks. They don't obscure the view of the image much, and they help a lot when working out where things are

[2018-12-07 09:47] kswang1029 commented on #98
Thank you @confluence @veggiesaurus After thinking a while, maybe we can have a toggle to enable the entire overlay settings so that users can fine tune the appearance of the image plot. Would that be easier without sacrificing too much UX?

[2018-12-07 09:58] confluence commented on #98
@kswang1029 could you please elaborate on what you mean by "toggle to enable the entire overlay settings"? Do you mean adding a lot more buttons to toggle specific elements?

[2018-12-11 03:37] kswang1029 opened #102 "[imageviewer] no png image is saved"
with this snapshot version taken on dec 11 (http://alma.asiaa.sinica.edu.tw/_downloads/CARTA-v1.0-beta1.dmg), sometimes (no sure how to reproduce it exactly but it does happen) the file name becomes "download" and no image is saved. In normal case, it is its image name plus time tag and image can be saved.

<img width="1144" alt="screen shot 2018-12-11 at 11 36 12" src="https://user-images.githubu

[2018-12-11 03:52] veggiesaurus commented on #102
Does this happen with specific files, or is it seemingly random?

[2018-12-11 03:53] veggiesaurus commented on #90
So it's probably converting the pixel coordinates to ints?

[2018-12-11 04:17] kswang1029 commented on #102
it seems random. Not sure how I made it twice.

[2018-12-11 04:18] kswang1029 commented on #90
likely, yes.

[2018-12-11 04:45] kswang1029 opened #103 "[xyz profilers] tsv export"
for x and y profilers, the default file name is like
S255_IR_sci.spw29.cube.I.pbcor.fits-X-profile-2018-12-11-12-38-2
"X", or "Y" is indicated.

for z profiler, the default file name is like
S255_IR_sci.spw29.cube.I.pbcor.fits-unknown-2018-12-11-12-39-35, if we use default axis (e.g., frequency). If "use WCS values" us disabled, "unknown" will be replaced by "Z".

"unknown" is also seen in the his

[2018-12-11 04:49] kswang1029 opened #104 "[xyz profilers] enhancement of tsv output"
Please add "#" to the second row ("x y" --> "# x y")
Please add pixel coordinate and world coordinate of the profile taken at.
Please add the labels of horizontal and vertical axes.

Example header is like (from casaViewer)
#title: Spectral profile - HD163296_CO_2_1_zoom.image-raster
#region (world): Point[[17:56:21.289, -21d57m22.221]]
#region (pixel): Point[[89, 89]]
#coordinate: world
#xLabel:

[2018-12-11 05:37] kswang1029 opened #105 "[shortcut window] improvement of the window size"
Probably we need a wider window for the last shortcut.

<img width="499" alt="screen shot 2018-12-11 at 13 35 46" src="https://user-images.githubusercontent.com/20819712/49780515-d141f200-fd49-11e8-8997-6ab739b2e5c3.png">

[2018-12-11 08:53] veggiesaurus commented on #105
@kswang1029 I can't reproduce that. Is that the desktop or the browser? What window size and DPI are you using? Mine looks like below
![image](https://user-images.githubusercontent.com/592504/49788795-f414dc00-fd32-11e8-9846-4847cf34c221.png)

[2018-12-11 08:55] veggiesaurus commented on #102
if you manually change the name to "download.png", does it save?

[2018-12-11 09:09] kswang1029 commented on #102
if it is already "download.png", no image is saved. If it is some normal name and we change it to download.png, yes, it can be saved.

[2018-12-11 09:17] kswang1029 commented on #105
It is desktop version at http://alma.asiaa.sinica.edu.tw/_downloads/CARTA-v1.0-beta1b.dmg

And tested with MacBook Pro 13" (2560 x 1600) dpi=227.

[2018-12-11 16:15] #90 closed

[2018-12-12 05:56] veggiesaurus commented on #102
@kswang1029 can you try to reproduce this in chrome?

[2018-12-12 06:04] kswang1029 commented on #102
with dev-viewer via chrome, I see an image is directly saved without asking file name, unlike the desktop version which does ask if the pre-defined file name needs to be changed or not.

[2018-12-12 06:05] veggiesaurus commented on #102
That's the intended behaviour, and will be based on how your browser is configured. But can you reproduce the actual bug (no file downloaded, or the file name changed)?

[2018-12-12 06:08] kswang1029 commented on #102
No, cannot reproduce the issue with dev-viewer with chrome.

[2018-12-12 06:19] kswang1029 commented on #102
I tested the same desktop version v1.0-beta2 with my iMac (10.13) and MacBook Pro (10.12) and do exactly the same steps. I see the issue happens only with my laptop. Could this an OS level issue?

[2018-12-12 06:22] veggiesaurus commented on #102
it could be, yes. I haven't been able to reproduce it on any other platform. To be clear, are these the steps you're using to reproduce?
- Load supermosaic
- Zoom to 100% (or zoom to fit)
- Save image

[2018-12-12 07:01] kswang1029 commented on #102
Update: I encountered this issue with iMac (10.13) too through different trigger steps... :(

[2018-12-12 07:18] veggiesaurus commented on #92
PR to the Chart.JS library has been [submitted](https://github.com/chartjs/Chart.js/pull/5908). It might take some time to be merged into the master branch and released, so if this is an urgent fix, we will need to manually use the updated build (requires a bit of re-configuration). @kswang1029 thoughts?

[2018-12-12 07:20] veggiesaurus commented on #102
but still only with the desktop versions? @ajm-asiaa perhaps the electron apps need to use the electron file saving functionality?

[2018-12-12 07:31] kswang1029 opened #108 "[animator] no radio button is checked"
To reproduce (found from testers feedback):
1) open J2000_test.hdf5
2) append orion_12co_hera.hdf5
3) in animator, click "Frame" radio button
4) open cube_x419_z101_68MB.hdf5 (so the previous two are closed)
5) now in animator, there is only "Channel" radio button and is not checked. So hitting "play" results in nothing.

[2018-12-12 07:48] veggiesaurus commented on #108
I'm not sure how to handle this situation. You have a similar situation when you load two files, one 2D and one 3D. If you select the 3D file, and click the "Channel" radio button, and then switch to the other frame, the "Channel" radio button disappears, and you only have "Frame", but it's not checked.

[2018-12-12 07:55] kswang1029 commented on #108
this is a tricky issue I admit. It has some impact to UX but I feel it is not that critical. So maybe we keep this in mind and it is not necessary to fix this for v1.0-rel.

[2018-12-12 09:05] ajm-asiaa commented on #102
I'm not sure if there is special electron file saving functionality, but maybe we could rule Electron out by bypassing it completely?
You can open the frontend html in your webrowser and start the backend manually.
For example (for the CARTA-v1.0-beta2 Mac version installed in the default location) go to this URL in your web browser:
file:///Applications/CARTA-v1.0-beta2.app/Contents/Resources/app

[2018-12-12 12:09] veggiesaurus commented on #105
I see the issue now. The dialog is rendered differently when brought up from menu and from the shortcut (shift + ?)

[2018-12-12 12:12] kswang1029 commented on #105
Aha!

[2018-12-12 12:17] #105 closed

[2018-12-12 13:56] #72 closed

[2018-12-12 14:43] veggiesaurus opened #109 "add zoom in / zoom out buttons to image view quick access toolbar"
Need to add basic zoom in / zoom out buttons to the quick access toolbar. Their tooltip should indicate that the user can scroll to zoom in.

![image](https://user-images.githubusercontent.com/592504/49877033-34f11b80-fe2d-11e8-82b6-b05745301f4b.png)
![image](https://user-images.githubusercontent.com/592504/49877041-391d3900-fe2d-11e8-9be1-e1d7d358d80f.png)

[2018-12-12 15:00] veggiesaurus commented on #92
@kswang1029 turns out it was very easy to use the updated build, so I've issued a PR (#110). Can you have a look at dev-viewer to confirm if it looks ok?

[2018-12-12 15:15] kswang1029 commented on #92
it looks GREAT!

[2018-12-12 16:09] #92 closed

[2018-12-13 00:06] kswang1029 opened #111 "[colormap; improvement] reduce number of colormaps"
suggestion from @arusstaylor , some colormaps are not that useful for science and we may want to reduce it for v1.1+.

[2018-12-13 00:14] kswang1029 opened #112 "[imageviewer+animator] aspect ratio tip"
When two images are opened (append) and are switched in between using "frame" in animator, we see the aspect ratio tip then it goes away. This becomes an issue when using the animator to do blinking as the tip does not go away and block the view. Issue reported by @arusstaylor

[2018-12-13 00:21] kswang1029 commented on #112
@veggiesaurus maybe we can have a button to enable/disable the aspect ratio tip (with default off)?

[2018-12-13 00:39] kswang1029 opened #113 "[connect to URL; improvement] adding success/failed message?"
I tested with the desktop version and linked to the demo server from home. If the link is established, the "Connect to URL" window is gone. Could we add a pop up window to warn users that the connection is established? This would improve UX.

[2018-12-13 01:19] kswang1029 opened #114 "[imageviewer] beam missing when saving as a png"
Saved image:
![orion_12co_hera hdf5-image-2018-12-13-9-16-23](https://user-images.githubusercontent.com/20819712/49909027-1edc6d00-feb8-11e8-9677-b12939729e73.png)

On screen:
<img width="855" alt="screen shot 2018-12-13 at 09 20 00" src="https://user-images.githubusercontent.com/20819712/49909078-4e8b7500-feb8-11e8-82e7-2092bc876f6a.png">

Beam is missing.

[2018-12-13 07:45] veggiesaurus commented on #112
Due to how I've implemented the aspect ratio tip, it will show up whenever the frame is changed. I'll fix this to only show up when (a) loading a file for the first time or (b) changing the view size.

[2018-12-13 07:52] veggiesaurus commented on #111
I think we need feedback from users on _which_ color maps to include.  I agree that many are not useful.

My suggestions would be: afmhot, coolwarm, **cubehelix**, **gray**, hsv, **inferno**, jet, **magma**, **plasma**, rainbow, **viridis**.  Bold ones as essential, due to perceptual uniformity, others because they're commonly used in other software packages.

[2018-12-13 07:54] kswang1029 commented on #112
Thanks. Sorry not being thinking of this use case.

[2018-12-13 09:35] #112 closed

[2018-12-13 10:05] #103 closed

[2018-12-13 11:13] #109 closed

[2018-12-13 11:34] #114 closed

[2018-12-13 12:56] veggiesaurus commented on #102
@ajm-asiaa how do we get access to the electron dev console?

[2018-12-13 13:18] ajm-asiaa commented on #102
You can "add mainWindow.webContents.openDevTools()" to the "main.js" file. For example, if you are using the latest Mac version, open "vi /Applications/CARTA-v1.0-beta2.app/Contents/Resources/app/main.js" and insert that line under the "new BrowserWindow" line e.g. `    if (process.platform === 'darwin') {
    mainWindow = new BrowserWindow({width: 1920, height: 1080});
    mainWindow.webContents.

[2018-12-17 02:05] kswang1029 opened #115 "[GUI] icon tool tip of minimize --> restore?"
Shall we change "minimize" to "restore" to fit what it really does?

[2018-12-17 09:08] veggiesaurus commented on #115
I think we should. Its built in to the golden layout library, so I'll see what I can do

[2018-12-17 13:57] kswang1029 opened #116 "[cursor info bar] updating pixel value using xy profiler data"
When cursor is moving, the approximated pixel value from the downsampled image data is displayed in the cursor info bar. Exact pixel value of the full resolution image should be displayed instead when the cursor stops moving. The exact pixel value should be available in the spatial_profiler_data message.

[2018-12-18 07:00] veggiesaurus opened #117 "Add link to documentation and add about dialog"
A link to the online documentation needs to be added. An about dialog needs to be added, to display the version/build number, as well as some acknowledgements

- [x] Add basic about dialog
- [x] Add link to documentation from menu
- [x] Ensure link opens in new browser tab when using electron

[2018-12-18 07:02] veggiesaurus opened #118 "Add settings for beam profile overlay"
The user should be able to change the appearance (or toggle) the beam profile overlay including

- [X] color
- [X] open or solid or (hatched; good to have)
- [X] line width for open
- [X] position adjustment (especially for overlaying images with different beam sizes)

[2018-12-18 07:11] veggiesaurus opened #119 "Use straight lines for line plots"
Currently, lines use cubic spline interpolation. The tension should be set to zero, in order to use straight lines.

[2018-12-18 07:14] veggiesaurus opened #120 "Artifacts when using very large line widths in AST overlay"
Strange plotting artifacts crop up when using very thick line widths in AST. This will need to be fixed in the canvas plotting wrapper for AST.

![image](https://user-images.githubusercontent.com/592504/50137833-224f6a00-02a5-11e9-92bd-6f35f18d9e0c.png)

[2018-12-18 07:19] veggiesaurus opened #121 "Icon adjustments"
There are some duplicate icons
- [x] The icon for spectral profiler is the same as the step icon
- [x] The icon for spatial profiler is the same as the line icon

There are icon inconsistencies:
- [x] The export image icon in the menu is not the same as the one in the toolbar

Suggestions for the duplicate icons are welcome. The complete list of Blueprint icons is here: https://blueprintjs.com/doc

[2018-12-18 07:19] veggiesaurus commented on #121
@kswang1029 if you have a moment, any icon suggestions would be welcome. I'm trying to stick to the built-in blueprint icons, for consistency.

[2018-12-18 07:23] veggiesaurus opened #122 "Overlay improvements"
- [ ] Do we need a "reset to default" button next to overlay options?
- [ ] Flexibility to choose which edges ticks are displayed on?
- [x] Title content editor

[2018-12-18 07:27] veggiesaurus opened #123 "Navigate to different channel using the spectral profiler"
The user should be able to click and drag (or just left click) the channel indicator in the spectral profiler to change the active channel

![image](https://user-images.githubusercontent.com/592504/50138391-241a2d00-02a7-11e9-9ea9-9e22cbdc3956.png)

[2018-12-18 08:37] #119 closed

[2018-12-18 14:52] #121 closed

[2018-12-19 02:05] kswang1029 opened #124 "clip level"
shell we change "limits" to "clip" for better consistency?

<img width="350" alt="screen shot 2018-12-19 at 10 04 01" src="https://user-images.githubusercontent.com/20819712/50194390-96f1d980-0375-11e9-9fac-0530d2c4a536.png">

[2018-12-19 06:47] kswang1029 opened #125 "shortcut naming consistency"
toggle dark theme --> toggle dark/light theme

toggle frozen cursor: with F, it can freeze and unfreeze. Do we have a better term?

Open file --> Open image (same in File)
Append file --> Append image

add "Export image" cmd+E
<img width="468" alt="screen shot 2018-12-19 at 14 44 54" src="https://user-images.githubusercontent.com/20819712/50203584-fa433200-039c-11e9-9274-453243a6cc50.png">

[2018-12-19 06:56] veggiesaurus commented on #125
Some possibilities:
- "Freeze/unfreeze cursor position"
- "Toggle cursor movement"
- "Toggle fixed cursor position"

[2018-12-19 07:01] kswang1029 commented on #125
What it actually does is to stop updating the profilers along the movement of the cursor. Maybe option 1 is closer?

[2018-12-19 09:02] zarda opened #126 "[Image viewer]Nan value to be transparent or be able to change alpha or opacity"
Suggestion about: do we need set the "nan" value on canvas to be transparent or able to change its alpha or opacity? Changing the opacity of image can help to compare stacked images.

[2018-12-19 11:31] veggiesaurus commented on #126
That might be a nice approach. I think we need to be able to change the color of the NaN values, to make sure that they don't clash with the color map, so being able to change the alpha as well would make sense.

[2018-12-20 07:55] #117 closed

[2018-12-20 09:43] veggiesaurus commented on #124
@kswang1029 what about:
- Limits -> Clip Percentile
- Min -> Clip Min
- Max -> Clip Max

to make it clear that we're referring to the clipping, rather than the graph range

[2018-12-20 09:50] kswang1029 commented on #124
Good idea! It is clear!

[2018-12-20 09:51] #124 closed

[2018-12-20 10:03] #125 closed

[2018-12-20 10:07] veggiesaurus commented on #104
- [ ] Comment out second row
- [ ] Pixel and world coordinates of profile (spatial/spectral)
- [ ] Horizontal and vertical axes

[2018-12-20 11:08] #104 closed

[2018-12-20 11:46] #115 closed

[2018-12-21 01:33] ajm-asiaa opened #129 "File Browser not sorting directories in alphabetical order"
When we use the File Browser to sort the File Name in either ascending or descending alphabetical order, it only sorts the files in a directory. It does not sort the directories. The directories seem to be in a random order.

It is particularly noticeable now that we are using folder=$HOME as the root for the File Browser. I expect many users will have a lot of directories there.

I think it shoul

[2018-12-21 02:09] ajm-asiaa opened #130 "Export image: long names not fully visible in the Save As field"
When we have a long image name, it can not be completely seen in the "Save As:" field.
In such cases I would expect the text to scroll along with the cursor position, but that does not happen here.
If it is tricky to do, an easy solution might be to make the entire box a lot wider by default?

<img width="408" alt="screenshot 2018-12-21 at 09 56 40" src="https://user-images.githubusercontent.com/2

[2018-12-21 04:35] ajm-asiaa commented on #130
I see on Linux (ubuntu version), it gives a much bigger dialog box.

<img width="1285" alt="screenshot 2018-12-21 at 12 25 52" src="https://user-images.githubusercontent.com/20802551/50324711-972bd980-051b-11e9-9937-4283a495f6dd.png">

But there could be two small bugs here too:

1. It makes a directory called "squashfs-root" by default. That is a side-effect of using AppImage. When we run an AppI

[2018-12-21 08:30] veggiesaurus commented on #129
good find :+1: Will fix it now

[2018-12-21 08:46] #129 closed

[2018-12-22 08:53] ajm-asiaa opened #132 "Spatial and spectral profile panels; could they be unified?"
I am wondering about the difference between the Spatial and Spectral profilers.
Both 'panels' appear identical and have the same options.
The Spatial profiler 'Coordinate' can be changed to X or Y in a drop down menu.
But the same setting in the Spectral profiler can only select Z in a similar drop down menu.

I understand that they work differently (X and Y profiles are calculated on the frontend

[2018-12-22 09:49] veggiesaurus commented on #132
In the short term, I'd like to leave the icons as they are, because we struggled to find appropriate icons from the blueprint library (https://blueprintjs.com/docs/#icons) that didn't clash with other icons used elsewhere. If anyone has any suggestions, let me know, but @kswang1029 and I have looked, and thought the pulse with the superscript was the best solution

Also in the short term, I like t

[2019-01-02 11:39] confluence commented on #130
I deliberately made the default file names descriptive so that the user would easily be able to recognise which exported files are associated with which original file, but more importantly to avoid collisions. I believe that most browsers will prompt the user before overwriting a downloaded file with the same name, but it's easy to make a mistake and confirm the overwrite. It would also add a tedi

[2019-01-02 19:09] arusstaylor commented on #130
I concur that better to have a descriptive file name as the default for now, so it is easy to identify the content of an image from the name.

The primary use case is to create figures for presentations and publications.   So png, pdf and eps are additional formats that we should support as a priority.  These are common formats for publications.

Russ

[2019-01-02 21:46] jott3077 commented on #130
Indeed png, pdf, and eps have the highest priority. After that I see potentially jpeg, ps, gif as useful, but less important formats.

For the file name, I propose the following:
use the name of the file itself, add the extension of the exported format.
If a file with this name already exists, then add a "(1)" "(2)" or similar incremental suffix. It would be great if a message could appear somewhe

[2019-01-07 19:20] pford opened #133 "[file browser] File Browser presents cached file list when backend not running"
When the backend crashes or quits (press 'q'), the user can click "Open Image" and get a file list. Clicking an item in the file list displays "Cannot open file!" with subtext "Error: Could not send event".  This leaves the user wondering why they cannot open an image which worked before, or why new images copied or linked in the directory are not listed.  There is no way to tell that the backend

[2019-01-08 01:23] kswang1029 commented on #133
Can we add an icon (red/green light) to the upper-right corner of the GUI window to indicate the status of the backend? Maybe we need a "handshake" message which is exchanged regularly between the frontend and the backend?

[2019-01-08 05:45] veggiesaurus commented on #133
That sounds like a good idea. We should also display an alert when the connection is dropped or the backend crashes

[2019-01-14 03:26] kswang1029 opened #135 "[frontend frozen] cursor position on a wide field image"
with the demo server and the test image: 18h03m_tabular_axis.image

when the cursor points to a position **outside** the celestial sphere, the frontend (even the entire browser) becomes frozen.

If the cursor points at the region inside the rectangle and outside the circle, the frontend becomes frozen.
![screen shot 2019-01-14 at 11 24 33 am](https://user-images.githubusercontent.com/20819712/5109

[2019-01-14 08:10] veggiesaurus commented on #135
@kswang1029 I fixed this in comment bf57d48295f6e906c265fd3b23031a9ae3ce35e5. Can you re-test with an updated build?

[2019-01-15 05:20] kswang1029 commented on #135
@veggiesaurus Yes, tested and it is working well now. There is another backend issue with this image: if by panning and zooming to make the image totally outside the FOV, backend will crash. I will file an issue to the backend repo and I think we are okay to close this frontend one. 👍

[2019-01-15 05:49] #135 closed

[2019-01-30 06:07] veggiesaurus opened #136 "Excessive redraw of AST overlay"
Currently, the AST overlay is being redrawn every time the user moves their mouse over the image. This is occurring because the cursor position is a property passed into the overlay component, and the AST overlay is rendered directly to canvas from the `React.Component`  `componentDidUpdate` function, which is called whenever props change.

One way to guard against this is to do a manual check of

[2019-02-13 06:16] duidae commented on #56
![1](https://user-images.githubusercontent.com/25971696/52690770-c13ccd80-2f99-11e9-88f2-28958f398a5c.png)
![2](https://user-images.githubusercontent.com/25971696/52690781-c6018180-2f99-11e9-9875-56ec67542e32.png)
![3](https://user-images.githubusercontent.com/25971696/52690787-c8fc7200-2f99-11e9-867f-c2b0301d7e58.png)

3 approaches corresponding to the requirements above

[2019-02-13 06:36] veggiesaurus commented on #56
Graph markers already have the ability to display labels, so lets try reuse that as much as possible (see below). This might need to be extended for rectangular markers. As a starting point, you could set the label of the point region to be something like "<region name>: <value>". For cursor regions, that would look like "Cursor: 1.05e-2".

Since we already have quite a crowded axis tick label sec

[2019-02-13 06:42] arusstaylor commented on #56
My preference is to have formal place holders for the values when this option is turned on, as in the bottom image.  But maybe I am old fashioned….

Russ

[2019-02-18 10:19] duidae commented on #56
current implementation is like below

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/25971696/52944085-9394c180-33a9-11e9-98a2-2294282e22a1.gif)

[2019-02-18 10:22] arusstaylor commented on #56
This is not friendly to the users.  Having the numbers jump all over the place is terrible.  A fixed place holder below the plot would be much better.

Russ

[2019-02-18 10:24] duidae commented on #56
current implementation is like below:
![all 1](https://user-images.githubusercontent.com/25971696/52944435-5846c280-33aa-11e9-97c7-cfb50941df7b.gif)

[2019-02-18 10:39] veggiesaurus commented on #56
Yes, jumping all over the place is no good. I suggest we try to utilize the space to the left o the x axis label for mean, rms and mouse-over info.
![image](https://user-images.githubusercontent.com/592504/52945298-14d46000-337a-11e9-9f92-3c7ece6f3232.png)

If we're pushed for space, we could use vertical labels on the cursor marker to display the the value of the graph at the region cursor, but t

[2019-02-18 10:44] veggiesaurus commented on #56
I think displaying the mouseover cursor position in an overlay at the bottom left is more consistent with our choice to display the cursor overlay in the image viewer at a fixed position (at the top), rather than following the cursor.

[2019-02-18 11:05] arusstaylor commented on #56
agreed.  This is the preferred option.

Russ

[2019-02-19 17:29] arusstaylor opened #138 "profiles don't update when changing Stokes"
Looking at an IQUV cube.  When I switch from Q to U using the Stokes animation, the x,y and z profiles do not update to show the U.  Basically changing the Stokes with the animator does not update the profiles to show the proper profile for the stokes being displayed in the image.

[2019-02-19 23:20] kswang1029 commented on #138
With the demo server and an ALMA IQU cube, I do see xyz profiles being updated when switching to different Stokes axes. Which cube is it?

![animator_stokes_xyzprofiler](https://user-images.githubusercontent.com/20819712/53054612-dce72d00-34df-11e9-8d26-f2483f5aefcb.gif)

[2019-02-20 03:38] kswang1029 opened #139 "the shortcut (F1 key) for the online user manual doesn't work on Mac with Chrome"
Tested with the demo server with macOS and with Chrome.
The shortcut (F1 key) for the online user manual doesn't work on Mac with Chrome. Tried "Fn"+"F1" with an apple keyboard but it does not work.

[2019-02-20 06:24] veggiesaurus commented on #138
@arusstaylor I think it might be an issue with our HDF5 backend server, since I just hacked together the spectral profile support. Not sure if it's worth fixing, considering we're deprecating our backend server.

[2019-02-20 06:27] veggiesaurus commented on #139
we will have to change this shortcut for browser versions, as F1 is used by browsers to display their help page. We could try CTRL+F1?

[2019-02-20 07:04] kswang1029 commented on #139
I would like to avoid function keys since on laptops, they have special functions such as changing screen brightness, volume, play back, etc. Maybe we use shift+h? Note that for the shortcut cheatsheet, the shortcut is shift+? Might be good to use the same modifier.

[2019-02-20 07:25] veggiesaurus commented on #139
happy to do that. Only reason we used F1 at first is that it's somewhat standard, but it does make things difficult when targeting browsers.

[2019-02-20 07:42] duidae commented on #56
move to lower left place holder:

![div ogv](https://user-images.githubusercontent.com/25971696/53074519-f57a3600-3525-11e9-953e-3131b3f17d89.gif)

[2019-02-20 07:48] kswang1029 commented on #56
it might be better to show mean/rms values only when "Show Mean/RMS" is toggled. We could consider to just show cursor: (value_x, value_y). My two cents.

[2019-02-20 07:59] veggiesaurus commented on #56
@kswang1029 I agree with the mean/RMS suggestion.

[2019-02-20 13:01] arusstaylor commented on #138
Agreed.  If it is an issue with the IDIA hdf5 backend then not worth fixing, as long as hdf5 support is coming quick with CARTA….

Russ

[2019-02-20 13:16] veggiesaurus commented on #138
Closing for now, as it appears to be specific to deprecated IDIA backend code.

[2019-02-20 13:16] #138 closed

[2019-02-21 10:30] duidae commented on #56
result FYI
![result](https://user-images.githubusercontent.com/25971696/53162342-c8518480-3606-11e9-9f0e-2bf22e8c06a7.gif)

[2019-02-21 10:35] duidae opened #140 "[Profiler] broken profiler after scrolled on initially loaded widget"
reproduce the bug:

open frontend without loading any image -> scrolled on profiler widget -> load an image -> broken profiler

![out-2 ogv](https://user-images.githubusercontent.com/25971696/53163099-54b07700-3608-11e9-995e-8ed2ff3f577c.gif)

[2019-02-22 03:39] kswang1029 commented on #140
nice catch. It can be fixed by double-clicking to reset the range. But, yes we should prevent this. Would it be possible that we show "No file load" same as the render configuration widget? This should fix this issue right away.

[2019-02-22 06:34] veggiesaurus commented on #136
fixed in region branch, will close when it is merged in

[2019-02-22 06:41] veggiesaurus commented on #56
I'm happy with this implementation. I think it's unintrusive and provides enough information without distracting the user.

@duidae and I decided on the following behaviour (shown above):
- When the mouse cursor is not over the profile graph, the cursor value displayed is the value of the region itself (in this case the "cursor" region)
- When the mouse cursor moves over the graph, a grey line is

[2019-02-22 06:54] kswang1029 commented on #56
Yes, sounds good to me. Nice work!

[2019-02-22 07:05] veggiesaurus commented on #56
The nomenclature gets tricky when we're dealing with cursor regions, certainly. But I agree that we should have some way to indicate that the value is related to the the _marker_ rather than the mouse position.

`Data` sounds like a decent alternative, although

[2019-02-23 06:57] arusstaylor commented on #111
This list looks good for an initial set for v 1.1.  There may be others that come as user request later down the road.

[2019-02-23 07:02] arusstaylor commented on #123
Agreed.  This is a desirable feature. An intuitive way to change channels based on features in the profile.

[2019-02-25 02:01] kswang1029 opened #142 "new user manual url"
As we decided to move the online user manual from GitHub to readthedocs.io, please revise the url of "Help -> Online manual" to **https://carta.readthedocs.io/en/latest/**.

[2019-02-25 05:30] kswang1029 opened #144 "connecting to other backends and the status icon"
Not sure if this is an issue but let me describe here:

with the demo server at ASIAA https://carta.asiaa.sinica.edu.tw/ and using "connect to URL" to wss://dev-viewer.idia.ac.za/socket (i.e. IDIA demo server), the status icon becomes **ORANGE** from GREEN but in js console I do see REGISTER_VIEWER_ACK.success = True with a new session_id. "Open image" is greyed out.

with the IDIA demo server htt

[2019-02-25 08:32] veggiesaurus commented on #56
fixed in #141

[2019-02-25 08:32] #56 closed

[2019-02-25 11:56] #140 closed

[2019-02-26 05:07] kswang1029 opened #146 "frozen profiler"
It appears that if the grey cursor vertical line disappears, we cannot use double-click to reset the x range in profiler.
![test](https://user-images.githubusercontent.com/20819712/53388765-5fcc2400-39c7-11e9-9b7b-bd891ac0b6d6.gif)

Likely only xy-profiler has this issue, not the z-profiler. We can reset the x range by using "Reset Range" button in the menu on the right.

[2019-02-26 05:19] kswang1029 opened #147 "x unit in z-profiler"
if "Use WCS Values" is switched off in the z-profiler, the x unit displayed in the cursor info becomes "null". Should be "Channel".
![screen shot 2019-02-26 at 1 17 10 pm](https://user-images.githubusercontent.com/20819712/53389133-14b31080-39c9-11e9-98dc-676054c10959.png)

[2019-02-26 07:58] veggiesaurus commented on #146
@duidae can you sort this issue out? Looks like it was introduced by the latest guards you implemented.

[2019-02-26 08:01] veggiesaurus commented on #147
@duidae Can you fix this as well? should be pretty easy to solve.

@kswang1029 since the other profilers use "px" for image coordinates, shouldn't this also be "px" instead of "channel"?

[2019-02-26 08:05] kswang1029 commented on #147
Hmm, px is precise but conventionally we call it channel.

[2019-02-26 08:06] veggiesaurus commented on #147
In that case, I think we should go for "Channel X" instead of "X channel" (I realise that will require some adjustments @duidae ).

[2019-02-26 08:12] kswang1029 commented on #147
for the same reason, shall we use px 5, rather than 5 px for xy profiler?

[2019-02-26 08:22] veggiesaurus commented on #147
That sounds a bit weird, doesn't it?

[2019-02-26 08:24] duidae commented on #146
@veggiesaurus ok

[2019-02-26 08:24] duidae commented on #147
@veggiesaurus ok

[2019-02-26 08:40] arusstaylor commented on #147
channel is preferred for the frequency axis.  px only suitable for spatial axes where the non WCS representation is pixels.

Russ

[2019-02-26 11:12] arusstaylor opened #148 "independent clip range per Stokes"
need to able to set the clip range independently for each Stokes.

[2019-02-26 11:14] arusstaylor opened #149 "error editing the clip range values"
If the clip range value has a bunch leading zeros in front of the decimal point e.g.

0.000003

When I use delete expecting to delete only the 3 it deletes everything up to the decimal point. I just want to deleted the last digit in the string.

[2019-02-26 11:17] veggiesaurus commented on #148
In terms of implementation, this requires that each Stokes sub-cube has its own selected percentile  (either a valid percentile or "custom"), and its own clip values if the selected percentile is "custom".

The idea here being that the user can change the custom clip levels to an appropriate range for each Stokes cube independently, rather than being forced to use (a) the same percentile for each

[2019-02-26 11:19] arusstaylor opened #150 "no update on image cursor values when switching stokes or channel"
When I use "F" to fix the position of the cursor in the image, and then switch Stokes the cursor display values on the image do not change.   Same thing happens if I change frequency.  These values do not update.

[2019-02-26 11:48] arusstaylor commented on #148
Is it at all possible to get this into 1.1?  There will be lots of Stokes I viewing from April to June on the MeerKAT side.

[2019-02-27 01:08] kswang1029 commented on #150
yes, confirmed with the demo server. The "Value: xxx" entry needs to be updated when changing channel or stokes via the animator.

[2019-02-27 01:15] kswang1029 commented on #149
I think this is because when the "3" is deleted, the remaining is 0.00000 which is actually 0 so it displays just like that. Maybe we can validate the input value with a longer time to prevent this? Or maybe there is a more clever way to avoid this issue.

[2019-02-27 06:16] duidae opened #151 "strange cursor position of draggable marker"
sometimes the center of the draggable Rectangle box will not align with the red marker, so the dragging behavior is a little bit odd (the dragging icon may shift from the red marker)
![ttt](https://user-images.githubusercontent.com/25971696/53469776-40ea9200-3a9a-11e9-95c8-8c5fd55b48cc.png)

[2019-02-27 06:19] kswang1029 commented on #151
Yet another HiDPI issue?

[2019-02-27 06:56] veggiesaurus commented on #151
No, it looks like a bug in Konva, where the rectangle is not being updated properly. Have fixed it, issuing a PR shortly

[2019-02-27 06:57] #151 closed

[2019-02-27 08:17] duidae opened #152 "draggable marker should be stopped when out of chart"
![out-1 ogv](https://user-images.githubusercontent.com/25971696/53475567-32f13d00-3aab-11e9-849d-c9fa5e4dce93.gif)

[2019-02-27 08:52] #142 closed

[2019-02-28 09:51] veggiesaurus commented on #139
@kswang1029 now that I think about it, I'm not sure we should even have a shortcut for it at all. The general approach for most modern apps seems to be to _not_ use a shortcut (all Mac apps I tested didn't have a shortcut for help). Given that most people will only view the documentation a few times, probably don't need a shortcut for it

[2019-02-28 10:10] kswang1029 commented on #139
Sure. No shortcut for the online user manual is total okay I think.

[2019-03-04 01:36] kswang1029 commented on #116
Now this issue becomes more visible to users as now we display cursor/data values in spatial profiler widget. If the image is downsampled, we see inconsistency.

[2019-03-04 01:44] kswang1029 opened #154 "inconsistent values in cursor info bar and spatial profiler"
When the image is not downsampled, the displayed value in the cursor info bar should be consistent with the data value in the spatial profiler, at least to the displayed digits. Following is an example.
<img width="1436" alt="screen shot 2019-03-04 at 09 39 46" src="https://user-images.githubusercontent.com/20819712/53705809-fd10d780-3e61-11e9-81f4-9aa9a9e6ae88.png">

Is this something to do with

[2019-03-04 02:25] kswang1029 opened #155 "cursor/data value update in profilers"
Closing the setting menu of profiler can disable displaying current cursor value in profiler. Demo below:
![issue](https://user-images.githubusercontent.com/20819712/53706947-b32af000-3e67-11e9-9a08-31a14d8b749f.gif)

[2019-03-04 06:17] veggiesaurus commented on #154
yes, this is related to compression quality. My initial suggestion is that we use the spatial profile values in the cursor par, to fix this, #116 and #150. However, the _right_ way to do it would be to enable this feature even if the spatial profiles are not required from the backend. In which case, there may need to be an ICD change, @pford and I can discuss.

[2019-03-04 06:46] veggiesaurus commented on #155
@duidae I think you need to re-enable the cursor again on `mousemove`, not just `mouseenter`

[2019-03-04 13:56] veggiesaurus opened #156 "default to using HiDPi resolution for image viewer"
the `FrameStore::renderHiDPI` flag controls whether the frontend takes into account the client's `devicePixelRatio` value when requesting data. At the moment, this is set to `false`, so users with HiDPi screens (almost all OSX devices) do not get image data that matches their screen resolution. This leads to blurry images.

This flag should be switched on by default, and the WebGL canvas should be

[2019-03-05 06:15] #156 closed

[2019-03-05 11:45] confluence opened #248 "Increase frequency of spectral profile updates if HDF5 file has a ZYXW dataset available"
Part of #45. Described in https://docs.google.com/document/d/1T1T85zvGHy7IsePwztN7SjrMPJ4hQJv8X5ihZKf5XA8/edit#heading=h.2fonicmwctib

[2019-03-05 13:24] #139 closed

[2019-03-06 13:31] #97 closed

[2019-03-06 19:59] veggiesaurus opened #158 "Region of Interest Support"
This epic tracks region of interest support up to and including Version 1.2's planned feature set.
Regions of interest are essential for scientific analysis. Regions can be created, edited and removed, and a number of analysis products can be derived from regions:
- Spectral profiles: region data is reduced along the XY axes by some statistical function (min, max, average, sum, etc) to produce a v

[2019-03-06 20:26] veggiesaurus opened #159 "Improve handling of spatial profile requirements and data products"
Currently, spatial profile requirements are static, and do not change when the user removes spatial profiler widgets or creates new ones. In addition, the `value` field returned form spatial profile data should be used to update the cursor value displayed, if it matches the current channel and Stokes.

- [x] Spatial profile requirements should be re-calculated to reflect changes to spatial profile

[2019-03-07 13:03] #155 closed

[2019-03-08 06:23] #136 closed

[2019-03-08 08:54] #147 closed

[2019-03-08 08:59] duidae opened #163 "[profiler] overlapped axis label"
reproduce: shrink profiler scale -> drag to empty space

sometimes can/cant reproduce...orz

![overlap](https://user-images.githubusercontent.com/25971696/54018392-7fcbc680-41c3-11e9-91f0-8ebb5816941d.png)

![out ogv](https://user-images.githubusercontent.com/25971696/55216257-33f6c500-5237-11e9-89b9-fc8e90985dfe.gif)

[2019-03-08 09:14] duidae commented on #123
From Angus:

1. Make the draggable marker equivalent to the slider's marker (based purely on the requested channel). This will make the dragging much smoother (see below for demo based on quick hack.. the jumps there were due to me clicking)

2. Show another (non-draggable) marker to indicate what the current channel is. If the two are identical, only one will be shown in any case

3. When draggin

[2019-03-08 09:25] veggiesaurus commented on #123
_(@duidae sorry, I should have put the comment here :slightly_smiling_face: ) Here's the full comment:_

I agree, we should make it consistent. The other thing I've been thinking is that there's a problem with the profiler's marker at the moment:
- The slider's position is based on the _requested channel
- Dragging the slider changes the _requested_ channel
- The marker's position is based on the

[2019-03-08 11:31] veggiesaurus opened #164 "Frontend needs to display connection latency"
Displaying the latency between client and server is useful for debugging, but will also be useful for users to keep an eye on, since it will help them diagnose performance issues.

[2019-03-11 07:04] kswang1029 opened #167 "[spectral profiler] unable to display profile"
With the demo server: CARTA v1.1-alpha | frontend 2b16cf5 | backend bff7bc0 , spectral profiler does not work after the following actions:
1) load set_QA/supermosaic.10.fits
2) move cursor on the image to see profiles
3) load a new image, for example, set_QA/orion_12co_hera.hdf5
4) move cursor on the image
5) now the spectral profiler should show nothing.

[2019-03-11 07:23] kswang1029 opened #168 "[spectral profiler] jumping channel indicator while dragging"
with the demo server: CARTA v1.1-alpha | frontend 2b16cf5 | backend bff7bc0
The channel indicator (red line) jumps back and forth while dragging. The following example tries to change the channel from 79 to 165.
![spectralProfiler](https://user-images.githubusercontent.com/20819712/54106604-a717d300-4411-11e9-8975-20f0a8529cad.gif)

[2019-03-11 07:31] veggiesaurus commented on #168
@kswang1029 fixing this requires changing the marker to the "requested" channel instead of current channel: https://github.com/CARTAvis/carta-frontend/issues/123#issuecomment-470862572

@duidae can you give this a try?

[2019-03-11 07:32] duidae commented on #168
@veggiesaurus okok

[2019-03-11 07:44] veggiesaurus commented on #167
@kswang1029 thanks, I was trying to work out a way to reproduce this bug :)
@duidae perhaps this is related to the new guards in place?

[2019-03-11 09:37] duidae commented on #167
let me check

[2019-03-11 11:50] arusstaylor commented on #132
On further thought, z-profiles have a different purpose and use-case from a spatial profile.  I would favour maintaining separate profiles tools for the spatial and spectral case.  For one thing it is very convenient for the user to be able to just select a tool button to show the z-profile.. Otherwise would need to bring up a profile tool and then set the profile to z.

[2019-03-11 13:10] veggiesaurus opened #170 "Region support for V1.1"
High-level issue for all features required for V.1

- [x] Basic support for creating, resizing and editing rectangular and elliptical regions
- [x] Support for selecting which region is displayed on a per-widget basis
- [x] Regions widget showing list of regions, allowing users to select them, delete them or open their properties window
- [x] Region Properties dialog, showing the current propertie

[2019-03-11 13:12] veggiesaurus opened #171 "Region code cleanup"
Some minor refactoring/improvements were suggested by @duidae during the PR of regions (#161):

- Refactoring a long method (`handleTransform`)
- Showing the "pan" cursor while panning a region
- Renaming one component

[2019-03-11 13:22] veggiesaurus opened #173 "Region list widget"
In order to keep track of regions, a widget needs to be created to show information on all created regions, and allow users to select specific regions.

The following information needs to be displayed:
- Region name (or region # if no name exists)
- Region center in pixel coordinates
- Region type

Further interrogation of the region can be performed by clicking on an entry in the list, and access

[2019-03-11 18:24] #164 closed

[2019-03-12 01:54] #171 closed

[2019-03-12 06:56] duidae commented on #167
if open 2 cubes both with spectral data consecutively, spatial profile will have "Out of bounds profile request:" error

[2019-03-13 06:54] #168 closed

[2019-03-13 07:54] #167 closed

[2019-03-13 13:57] duidae commented on #123
so I think the remaining features would be:
1. disable grey moving marker when dragging
2. disable dragging function when playing animator

right?

[2019-03-13 15:10] veggiesaurus commented on #123
@duidae yes I think that's all that's still required. Also need to disable clicking when playing the animator

[2019-03-13 15:12] duidae commented on #123
@veggiesaurus ok!

[2019-03-14 18:27] veggiesaurus opened #178 "Region dialog"
A region dialog needs to be created that offers the following functionality:

- [x] Manually editing control points
- [x] Displaying center and dimensions in WCS
- [x] Manually editing rotation
- [x] Changing region name
- [x] Selecting a region color from a swatch
- [ ] Deleting a region
- [ ] Changing channel ranges using a multi-slider
- [x] Applying changes
- [x] Reverting to previous values

[2019-03-15 07:07] #173 closed

[2019-03-15 07:17] veggiesaurus opened #180 "Floating widget of same type close at the same time"
Regression since 1.0: Floating widgets of the same type sometimes get closed simultaneously. Suspect it's related to changes in how their IDs are calculated.

[2019-03-15 08:52] #123 closed

[2019-03-15 09:56] duidae opened #183 "[render config] layout change when minimize height"
because the scroll bar comes out and the the labels are squeezed

![scr](https://user-images.githubusercontent.com/25971696/54423332-668ac300-474b-11e9-9248-7531a363403e.png)

[2019-03-15 10:23] #111 closed

[2019-03-15 18:41] veggiesaurus opened #184 "Region list should remove columns when width is too small"
Currently, the region list displays all columns, no matter the size of the widget
![image.png](https://images.zenhubusercontent.com/5c49a9893e05565f72326066/d8e1c3de-9faf-4baf-ad34-831828a9a001)

As polygon and point shapes don't have rotation or size, these columns can be hidden when the available size is below a certain cutoff.

[2019-03-15 19:41] veggiesaurus opened #186 "Frontend needs to be able to save/send API key"
For MeerKAT users who work on LSPs, they need the ability to share and view files without making them public to everyone. The API key is a suitable solution for this until a full authentication mechanism is implemented. Users should be able to enter their API key in a dialog opened from the menu. This API key should then be stored in local storage, and used whenever the user loads the page.

The d

[2019-03-18 02:41] #186 closed

[2019-03-18 04:01] kswang1029 commented on #170
for "Basic support for creating, resizing and editing rectangular and elliptical regions", we need HiDPi support as well.
![hidpi](https://user-images.githubusercontent.com/20819712/54506040-8998bb00-4975-11e9-9d2d-52a585f5c114.gif)

[2019-03-18 09:02] #184 closed

[2019-03-18 09:15] #183 closed

[2019-03-18 19:40] veggiesaurus opened #190 "Region creating/editing scales incorrectly on HiDPi screens"
As shown below by @kswang1029, region editing doesn't take `devicePixelRatio` into account correctly yet.

![hidpi](https://user-images.githubusercontent.com/20819712/54506040-8998bb00-4975-11e9-9d2d-52a585f5c114.gif)

[2019-03-18 19:44] veggiesaurus commented on #170
@kswang1029 have created a separate issue for this: #190

[2019-03-19 02:26] #180 closed

[2019-03-19 02:51] kswang1029 opened #191 "ellipse region: major axis definition in CARTA and CASA"
In CASA, the major axis of an ellipse region is pointed in North-South direction, probably this is how it is defined in CRTF:
_Ellipse; center of the ellipse is [x, y]; semi-major and semi-minor axes are [bmaj, bmin]; position angle of the major axis is pa:
ellipse[[x, y], [bmaj, bmin], pa]_

So a CRTF file as:
_ellipse [[05:35:27.46552, -005.26.24.6684], [856.4888arcsec, 93.6376arcsec], 0.0000000

[2019-03-19 04:16] arusstaylor commented on #191
The convention for position angle in astronomy is indeed zero for north.  However if we tie the pa to a direction on the sky the pa of the region in pixels will change for different WCS, so we will not really see the correct behaviour until v1.2.

Russ

[2019-03-19 04:16] arusstaylor commented on #191
The convention for position angle in astronomy is indeed zero for north.  However if we tie the pa to a direction on the sky the pa of the region in pixels will change for different WCS, so we will not really see the correct behaviour until v1.2.

Russ

[2019-03-19 08:08] veggiesaurus commented on #191
Will adjust the zero of rotation to north for ellipses. Should be an easy fix.

[2019-03-20 02:32] #190 closed

[2019-03-20 08:15] #146 closed

[2019-03-21 19:39] #191 closed

[2019-03-21 19:40] veggiesaurus commented on #149
The way to get around this is to validate the input only when changing focus from the element or pressing enter. I've run into the same issue with the region dialog, and I believe its an acceptable solution, will merge in a fix once the region dialog is done.

[2019-03-25 06:52] veggiesaurus commented on #178
will create separate issue for the remaining items if required

[2019-03-25 18:05] veggiesaurus opened #197 "Region dialog should update control points when they are changed"
How important is it that the control points displayed in the region dialog are updated when users move or scale a region? (similar to how it is displayed in the region list). This is a bit tricky to do, since we want to make sure that the region dialog's control points require the "apply" button to be pressed before any permanent changes to the region are made.

In a related question, how importan

[2019-03-26 01:38] kswang1029 commented on #197
certainly having the content of region dialog seamlessly sync'd with the region in image viewer would provide better UX and allows users to interactively modify a region interchangeably with cursor and text fields. To achieve this, we will need to validate the content before applying the parameters. What casa viewer adopts is that the validation is triggered by 1) users hit return key or 2) the te

[2019-03-26 06:13] duidae commented on #120
styleString in OverlayStore -> AST.plot in OverlayComponent -> plotGrid in ast_wrapper.cc -> axis.c or plot.c in ast library, need to check

[2019-03-26 10:19] veggiesaurus commented on #197
Our initial plan was to prevent region updates until the user explicitly clicked "apply". Perhaps it's easy to just update automatically? That would make the above possible.

[2019-03-27 01:52] #178 closed

[2019-03-27 07:15] veggiesaurus commented on #197
fixed in #199

[2019-03-27 07:15] #197 closed

[2019-03-27 08:33] veggiesaurus opened #201 "spectral profiles of the same coordinate end up using the same stats type"
Due to the way the spectral profile data is cached on the frontend, spectral profile data with one stats type overwrites spectral profile data with the same coordinate, but a different stats type. This currently makes viewing profiles for the same coordinate but different stats types simultaneously (over multiple widgets) impossible.

[2019-03-27 08:35] veggiesaurus commented on #201
Should be easy enough to fix, by storing profile data by a key combining coordinate and stats type, rather than just stats type

[2019-03-27 12:41] veggiesaurus opened #203 "Region Statistics widget"
A region stats widget needs to be implemented, which allows users to select a region, and display stats for it for the current channel. The stats display should be updated when the user:
- changes the selected region
- updates the region's control points / rotation
- changes the channel or stokes
- loads a new file

The image region should also be selectable

[2019-03-27 13:17] #203 closed

[2019-03-28 04:53] kswang1029 opened #205 "[region statistics] stats update when region is at subpixel scale"
NOT SURE THIS IS FROM THE FRONTEND OR THE BACKEND.
forgive me if this is issue is misplaced.

See the demo, there are three movements of region after its creation. The second and third movement results in zero pixel inside the region but the stats values do not reflect this fact.

![roi_stat](https://user-images.githubusercontent.com/20819712/55131144-61b90c80-5158-11e9-8e80-8760a7ee55dd.gif)

[2019-03-28 04:59] kswang1029 opened #206 "[region statistics] full image statistics does not restore after a region is removed"
If I removed my only one region, the stats widget goes back to "image" but the stats values do not update accordingly.

![roi_stat2](https://user-images.githubusercontent.com/20819712/55131329-266b0d80-5159-11e9-91d7-0e26a2f392c2.gif)

[2019-03-28 05:42] kswang1029 opened #207 "[region spectral profiler] default stats method should be mean not sum to fit what users expect to be"
default stats method should be "mean" not "sum" to fit what users expect to be.

[2019-03-28 06:15] veggiesaurus commented on #205
It's a backend issue. When a region is updated, you can see `region updated` in the dev console. Currently also logging all stats data for testing (will be removed once we're happy that all is working well).
Below, you can see that the region is being updated, but data is only being streamed when the region contains a pixel.
![region_no_data](https://user-images.githubusercontent.com/592504/551344

[2019-03-28 12:18] veggiesaurus opened #209 "MobX stores need to be refactored"
the `AppStore` MobX store is getting a bit unwieldy, and should be refactored. Easy candidates are:

- Creating a `DialogStore` for handling dialog visibility
- Moving some of the longer non-action functions (diffs and calculating requirements) to a separate file

[2019-03-28 13:43] veggiesaurus opened #211 "Full Stokes support"
For Stokes cubes and polarization studies:
- [ ] The Stokes channels contained in a cube need to be determined by WCS
- [x] Users need to be able to display multiple spectral profile widgets for the same region
- [x] Users need to be able to display spectral profiles for the current Stokes, or explicitly selecting I, Q, U or V when browsing a cube with any currently selected Stokes value
- [ ] Use

[2019-03-28 13:55] veggiesaurus commented on #211
@arusstaylor Users should be able to display Stokes profiles for cursor and regions in 1.1

![stokes_cursor](https://user-images.githubusercontent.com/592504/55162647-eb74d400-5170-11e9-9cf5-3685084d9740.gif)

![stokes_regions](https://user-images.githubusercontent.com/592504/55162654-f0398800-5170-11e9-96cb-16b2b4630fae.gif)

Next step is making this _efficient_

[2019-03-28 18:41] ChristyReynolds opened #212 "Correcting text highlighting behavior"
Currently, when you double-click around the UI, sometimes it highlights text in odd ways, which is annoying. For example, clicking on the image view too quickly means you end up highlighting the cursor info at the top. The way around this is to specify `user-select: none` in the CSS for components that should have this disabled. We should disable this at the top level and then explicitly enable it

[2019-03-29 01:20] #120 closed

[2019-03-29 01:25] #201 closed

[2019-03-29 02:18] kswang1029 opened #213 "[region spectral profiler] region dropdown of spectral profiler when multiple images exist"
The region dropdown menu resets to "cursor" when changing frames via animator and it is empty.

To reproduce the issue:
1) open two images (A and B) with the append mode
2) define a region for each image (r1 in A, r2 in B)
3) in spectral profiler widget, set region to r1 (animator now with the frame A)
4) now switch to frame B
5) repeat 3) but select region r2
6) now switch back to frame A
7) expe

[2019-03-29 03:00] kswang1029 opened #215 "[export to tsv] empty data"
the "export to tsv" function now gives empty table from
1) the histogram in render config widget
2) spatial profiler
3) spectral profiler

(was trying to comparing the numerical values of the region spectral profile with CASA)

[2019-03-29 05:43] veggiesaurus commented on #213
I remember we decided that each frame should have its own selected region, right? So when adding a new frame, it defaults to Cursor (or in the case of stats or histogram, Image), but switching between different frames would also switch which region is selected, rather than jumping back to Cursor

This may be a simple fix if we just switch from a single `regionId: number` to a map between `frameId`

[2019-03-29 05:51] kswang1029 commented on #213
Yes, each frame should have its own set of regions. And for each frame it is okay to have "cursor" region as default. However, once it is changed to a specific region in each frame, each frame should remember which one is selected when changing frame with the animator.

[2019-03-29 11:00] #207 closed

[2019-03-29 11:01] veggiesaurus commented on #170
Major features now implemented. Testing and refinements, bugfixes following.

[2019-04-01 05:22] #215 closed

[2019-04-01 07:57] veggiesaurus commented on #148
implemented in #202

[2019-04-01 07:57] #148 closed

[2019-04-01 08:00] kswang1029 opened #221 "[render config] histogram ranges for different channel/stokes"
with the default 99.9% clip, the x-range of the plot changes with different Stokes (which is good). However, if the x-range of a given Stokes is changed by users via mouse interactions, then the x-range is fixed to all Stokes. I encountered a case that I zoom in the Stokes=0, then switch to Stokes=1, and the plot is empty. Since it is empty there is no way to use mouse db-click to reset the range.

[2019-04-01 08:04] veggiesaurus commented on #221
two thoughts:
1) You should still be able to double click to reset the range. @duidae can look into that, since he fixed that for the spectral profilers
2) For other widgets, it might make more sense to preserve the chosen range, but for the render config widget, I think it makes sense to reset whenever the data is changed, what do you think?

[2019-04-01 08:07] kswang1029 commented on #221
right, for spatial/spectral profiles, preserving x-range is good, as users can keep focusing on features.

[2019-04-01 20:44] veggiesaurus commented on #213
@kswang1029 please test with frontend build `2105ab3` (branch `angus/fix_widget_region_selection`)

[2019-04-01 20:44] veggiesaurus commented on #206
@kswang1029 please test with frontend build `2105ab3` (branch `angus/fix_widget_region_selection`)

[2019-04-02 01:36] kswang1029 commented on #213
Great! Works well. 👍

[2019-04-02 01:38] kswang1029 commented on #206
Yes, works well now. 👍

[2019-04-02 02:18] arusstaylor commented on #213
Might also be good to have regions that apply globally to all frames, for the use case where you wish to compare statistics for the same region in multiple images.

Russ

Sent from my iPhone

[2019-04-02 03:26] duidae commented on #221
double click works & reset render config is done in PR #222

[2019-04-02 07:58] veggiesaurus commented on #213
@arusstaylor this will be handled through WCS groups in 1.2. A region will be associated with a single WCS group, and can then be used to compare between different files in the same WCS group.

[2019-04-02 08:45] veggiesaurus commented on #209
partial refactor in #223

[2019-04-02 09:33] #213 closed

[2019-04-02 10:19] #206 closed

[2019-04-02 10:20] #221 closed

[2019-04-02 12:57] duidae commented on #163
chartjs bug, tried the autoSkip option but not working:
https://github.com/chartjs/Chart.js/issues/3051

[2019-04-03 15:38] veggiesaurus commented on #170
@kswang1029 can we close this?

[2019-04-03 15:43] kswang1029 commented on #170
Yes. Shall we create new for point and polygon for v1.2?

[2019-04-03 15:46] veggiesaurus commented on #170
Sure, will do so soon.

[2019-04-03 15:46] #170 closed

[2019-04-03 15:57] kswang1029 commented on #170
This is a big milestone! 👍👍👍

[2019-04-04 10:56] Kechil opened #225 "Pre-set layouts"

[2019-04-04 11:39] duidae commented on #149
okok

[2019-04-04 12:18] Kechil opened #1259 "Multi-panel view with image viewer"
science requirements: https://docs.google.com/document/d/1W228FbvwE9J9oTc9_eKOuiYnHiGfeKJugDJQAVf2GHg/edit#

[2019-04-04 12:30] Kechil opened #1256 "spectral fitting capability"

[2019-04-04 12:37] Kechil opened #226 "Scripting interface"
to provide the interface in python3 to control CARTA.

[2019-04-04 12:38] Kechil opened #227 "Pre-set layouts and user presets"
Users should be able to:
- [X] Select a layout from a set of carefully designed presets that suit different analysis tasks. For example, "Image only", "Polarization", "Basic profiles", "Default"
- [X] Adjust the layout to suit their requirements, and then save their custom layout as a new preset
- [X] Remove, rename and overwrite existing presets

Allowing users to design presets and select from s

[2019-04-04 12:39] Kechil opened #228 "User preferences dialogue"
A number of user preferences need to be configurable and remembered when restarting CARTA. A non-exhaustive list of preferences:
- [X] global: Color theme (“View” -> “Interface” ; default: “Light”)
- [X] global: Layout (default: “Cube view”, see the above section “Predefined layouts”)
- [X] global: Auto-launch file browser when CARTA is initialized (default: “enabled”)
- [X] global: Default cursor

[2019-04-04 13:00] Kechil opened #229 "Tiled rendering frontend"
Still to do for tiled rendering:
- [x] Integrate with new animation approach (use `RASTER_IMAGE_DATA` during animation mode)
- [ ] Debounce tile requests according to user preference setting (only request tiles when they're required for _N_ ms or higher)
- [x] Synchronise tile rendering when changing channel (delay rendering until all tiles are available) according to user preference
- [x] Work ou

[2019-04-05 06:16] veggiesaurus commented on #144
@kswang1029 can you test this with the latest master commit? I've added some toast alerts and have fixed the connection status behaviour

[2019-04-05 06:17] veggiesaurus commented on #113
@kswang1029 this should also be fixed in master now

[2019-04-05 06:32] kswang1029 commented on #144
yes, checked all three toast alerts. Nice.

[2019-04-05 06:35] kswang1029 commented on #113
when connected to a remote url, shall we refresh the GUI to default states (just like when we enter api key)? I see when the connection to the remote url is established, in the file menu, I can "append" image and it seems the file list "remembers" the previous connection.

[2019-04-05 06:38] veggiesaurus commented on #113
we do this by reloading the page for the API key, it's a little tricker to do while maintaining a connection, but I can look into it after 1.1.

[2019-04-05 06:39] #144 closed

[2019-04-05 06:40] kswang1029 commented on #113
sure.
I was trying to view an image from ASIAA and another from IDIA. The animator has "two" frames, although I believe the first frame from ASIAA is no longer responsive.

[2019-04-05 06:42] veggiesaurus commented on #113
yes, that will definitely occur :disappointed:  I'll open a new issue for this

[2019-04-05 06:42] #113 closed

[2019-04-05 06:43] veggiesaurus opened #230 "connect to remove server: UI should be reset"
Currently, when connecting to a remove server, the UI does not reset, so any existing files and regions from the old server persist. These should be removed, to avoid confusing users.

[2019-04-05 07:25] kswang1029 opened #232 "save region profile to text"
The file header should show the correct region type and its properties.

Following is an example of save a profile of a rectangle region.
[code]

[2019-04-05 07:49] veggiesaurus opened #233 "export image: scaling issue on HiDPi screens"
- Exported image is incorrect when using HiDPi screen
- Regions are missing from exported images

[2019-04-05 08:02] veggiesaurus commented on #233
@kswang1029 can you verify this is fixed on mix 'n match? branch `angus/fix_image_export`

[2019-04-05 09:44] kswang1029 commented on #233
yes it works nicely.
![SR4_continuum fits-image-2019-4-5-17-44-18](https://user-images.githubusercontent.com/20819712/55619041-80f41180-57ca-11e9-9c67-4eafe8cc76fb.png)

[2019-04-05 11:41] #233 closed

[2019-04-08 07:54] #149 closed

[2019-04-08 12:40] veggiesaurus opened #236 "Tiled rendering v1.2"

[2019-04-08 13:32] Kechil opened #237 "Usability Issues"
Usability improvements do not explicitly add new features, but refine existing features and help users to be more efficient in their workflows.

Usability is likely to be a key driver for adoption of CARTA.

[2019-04-08 17:28] veggiesaurus opened #238 "Editing of regions in WCS coordinates"
Regions should be editable in WCS as well as pixel coordinates.
An example of this is implemented in DS9:

![image.png](https://images.zenhubusercontent.com/5c49a9893e05565f72326066/e179325f-4a5c-4697-949d-c9c2532e3880)

[2019-04-08 17:31] veggiesaurus opened #239 "Support for point regions"
Region shapes need to be extended to point regions (similar to cursor)
- [x] Create point regions
- [x] Select point regions
- [x] Move point regions

edit: splitting out polygon regions to a separate issue

[2019-04-08 17:38] veggiesaurus opened #240 "WCS Group support for widgets"
Various widgets will need their configuration panels updated, to allow users to select to which frame of a WCS group the widget is linked.

As an example, a spectral profile might be linked to the master (raster) frame of a group, while another spectral profile widget might be linked to a contour overlay

[2019-04-08 17:50] veggiesaurus commented on #225
duplicate of #227

[2019-04-08 17:50] #225 closed

[2019-04-09 03:28] kswang1029 opened #241 "with electron app, cannot copy statistics values from the GUI"
with server version, yes, statistics values can be copied and pasted. But with the electron app, we cannot.

[2019-04-09 03:42] kswang1029 opened #242 "improvement of statistics widget"
Suggestions from Juergen
- (i) I wonder if the image statistics could give the number of masked pixels, too.
- (i) stats should have scientific notation, I would argue for 4 significant digits, e.g. 1.3244 x 1e2 Jy/beam
- (i) stats need units
- (i) the stats should also show the beam size
- (b) the numerical value of rms differs. going for only a single pixel, I see the same values for all values

[2019-04-09 03:42] kswang1029 opened #243 "improvement of region list widget"
Suggestions from Juergen
- (i) Maybe change the word ‘rotation’ to ‘PA’  everywhere
- (b) looks like I can put a really large number in the ‘line width’ but there seems to be an upper limit on the thickness of the region itself. the number should also hit an upper max to make the behavior consistent. similar for the dash length
- (i) the region list should also have units for the size (pix) and ro

[2019-04-09 07:37] veggiesaurus commented on #243
does a rotated box also have a "position angle" ? isn't that specific to an ellipse?

[2019-04-09 07:42] veggiesaurus commented on #242
Assigning this a story point of (1), assuming the first suggestion (masked pixels) is handled by its separate issue.

[2019-04-09 08:00] duidae opened #245 "fix sortable headers of file list in filebrowser"

[2019-04-09 08:01] #245 closed

[2019-04-09 08:05] kswang1029 commented on #243
in my mind, PA or rotation is the same and clear. Not sure how much UX we can obtain if we change to PA. Maybe it is better to preserve PA only for beam shape.

[2019-04-09 09:46] arusstaylor commented on #243
Rotated rectangle does have a PA. It is the angle of the long axis of the rectangle. This information is needed to reconstruct the rectangle from stored information.

Russ

Sent from my iPhone

[2019-04-11 01:17] kswang1029 opened #246 "region keystrokes in the help menu shortcut"
For the v1.1 release we should list up all region related keystrokes in the help menu shortcut.

[2019-04-15 02:39] #246 closed

[2019-04-15 04:03] duidae opened #250 "Invalid protocol in remote connection"
reproduce:
enter "https://carta.asiaa.sinica.edu.tw" in Remote URL for connecting to remote server, leads to fronted crash and chrome console shows http/https protocol is not allowed for websocket connection

[2019-04-15 07:54] #250 closed

[2019-04-15 08:03] veggiesaurus commented on #248
one issue with this is that we currently have no way for the frontend to know whether the HDF5 file in question has a rotated dataset. In order to do this, we need additional fields in the ICD to describe the file's feature set properly.

@arusstaylor I think this means it will have to wait until after 1.1. There are some files in ILIFU which are missing the rotated dataset, @confluence might have

[2019-04-15 08:05] arusstaylor commented on #248
Yes indeed, the default behaviour should be to create the rotated data set.  Is there a way to tell which ones do not have it? We could remove those files or recreate.

Russ

[2019-04-15 08:07] veggiesaurus commented on #248
We can go through them manually and check their header using `h5dump -h`. The issue with automatically enabling this for HDF5 files is that HDF5 files without a rotated dataset would really struggle with realtime profiles.

[2019-04-15 08:08] arusstaylor commented on #150
this problem also occurs when blinking frames.  The position and values of the pixel under the cursor does not update when animating between frames.

[2019-04-15 08:08] veggiesaurus opened #253 "Improvements to default layout"
The default layout needs to be changed in the following way:
- [x] Stats widget removed from layout, as it slows down animations
- [x] Log widget removed from layout, as it's not needed by default
- [x] Default layout for screens with a certain cutoff height (720px?) should group animator and region list in a single tab
- [x] Spectral and histogram widgets should have their region and stokes selec

[2019-04-15 08:10] kswang1029 commented on #253
just an idea, what if we move "region" out from the setting menu for spectral and histogram widgets? (c.f. statistics widget)

[2019-04-15 08:11] arusstaylor commented on #253
I agree.  “region” is not really a setting.  It is a functional feature.

Russ

[2019-04-15 08:12] veggiesaurus commented on #253
where do we move it to? It would significantly reduce the size of the widget's graph. If we keep the settings panel open by default, users could then still choose to hide it if they want more real estate for their plot

[2019-04-15 08:20] arusstaylor commented on #253
Keeping the setting menu open significantly reduces the real estate for the display in the widgets also.

How about adding a selector tool to the popup tool bar that has the export data and export image symbols.  This could be used to allow the user to select Stokes and Region for the display.

Russ

[2019-04-15 08:22] kswang1029 commented on #253
but we will lose the ability to see/know which region/stokes is being displayed.

[2019-04-15 08:30] arusstaylor commented on #253
Could we not addt the Stokes to the winder header?  It now just says "Z Profile: Cursor”  when looking at the cursor and changes to "Z Profile: Region #1" when I select region.  Could we add a Stokes being viewed to the header if the image has a Stokes axis?

Russ

[2019-04-15 08:30] veggiesaurus commented on #253
@kswang1029 That info is shown in the widget header.

@arusstaylor My hesitation for showing it with the popover is:
- it would require about 140px per setting, so for WCS group, when we have region, stokes and layer settings, that's 420px. Add another ~ 60 px for the existing buttons, and we're almost at 500 px for the popover, which will look weird and obscure the axis label, and possibly the cu

[2019-04-15 08:32] veggiesaurus commented on #253
When you explicitly select a Stokes value in the settings, it shows the Stokes coordinate in the label as well:
![image](https://user-images.githubusercontent.com/592504/56118014-ad95ef00-5f69-11e9-9fd7-09fbf1541f62.png)

[2019-04-15 08:38] arusstaylor commented on #253
OK.  so that is covered.
Russ

[2019-04-15 08:39] arusstaylor commented on #253
So maybe we need an actual tool bar for the z profile widget?
Russ

[2019-04-15 08:43] veggiesaurus commented on #253
@arusstaylor I think we do, and I agree with the desire to move them out of the settings panel. Will implement this and see how it looks.

[2019-04-15 08:43] arusstaylor commented on #242
The change to display at the values in scientific notation and to add units should be done for v1.1 release.

[2019-04-15 08:44] arusstaylor commented on #253
Thanks
Russ

[2019-04-15 09:07] arusstaylor commented on #253
I also think that when you change the statistic being displayed the label of the y axis on the display should change to match.  Instead of generic “value” replace with “mean”. or “RMS” or whatever stat i being display.  “Value” is the appropriate label only for  “cursor”.

And for the Stokes selector, displaying “current” seems like a cop out.  Why not display the actual Stokes being display?

Rus

[2019-04-15 10:34] arusstaylor opened #254 "spectral profiles displays zero for nan channel"
The spectral profiler is showing  channels that are nan’s as zero.  Should instead not display values for nan channels.

![Screen Shot 2019-04-15 at 12 31 51 PM](https://user-images.githubusercontent.com/9055533/56126143-cc50b180-5f7a-11e9-97ee-ac1d1e71b38f.png)

[2019-04-15 10:42] arusstaylor opened #255 "spectral profiler displays zero for nan channels"
The spectral profiles is displaying zero for channels that are nans.  Should instead not display values for nan channels

![Screen Shot 2019-04-15 at 12 31 51 PM](https://user-images.githubusercontent.com/9055533/56126748-ea6ae180-5f7b-11e9-815b-85a93d25772a.png)

[2019-04-15 10:42] veggiesaurus commented on #253
That sounds like a good idea. Could we create a separate issue for that?

There's a difference between selecting "current" and explicitly selecting a specific Stokes value. If "current" is selected, the Stokes value changes when you change the Stokes value in the animator. If you explicitly select a Stokes value, then that's fixed, regardless of which Stokes cube you're currently looking at. We co

[2019-04-15 10:45] arusstaylor commented on #253
Thanks for explaining “current”.  I agree it is a good thing. I think you should leave it as is.

Will add an issue re the y-axis label.

Russ

[2019-04-15 10:49] arusstaylor opened #256 "spectral profiler change y-axis label to reflect statistic"
When you change the statistic being displayed the label of the y axis on the display should change to match. Instead of generic “value” replace with “mean” or “RMS” or whatever stat is being display. “Value” is the appropriate label only for “cursor”.

[2019-04-15 10:51] arusstaylor commented on #236
This is a performance issue related to dealing with very large image frames.  Very large frames are coming very soon....

[2019-04-15 11:31] veggiesaurus commented on #253
I think the suggested approach works nicely. There will be another dropdown for WCS added later. The "Stats" dropdown is automatically hidden when the region is a point type.

![image](https://user-images.githubusercontent.com/592504/56129479-7c75e880-5f82-11e9-97cc-65b957f1342b.png)

[2019-04-15 11:38] arusstaylor commented on #253
This approach does the job.  Another, more compact and perhaps more elegant, option would be just the words  "Region   Stokes   Statistic”  with drop down menus.  This would be in keeping with the style of the main window menu.     Good to have a uniform style for menus.

And does the “region” option disappear if there are no regions defined?, and would the whole thing disappear if there is not St

[2019-04-15 11:50] veggiesaurus commented on #253
I've changed the text to show Statistic.

The issue with having other things disappear when there isn't a Stokes axis or another region is that animating between frames which differ by Stokes axis or by number of regions would lead to the graph being resized and jumping around

We don't use menus in any our widgets, but we do use styled dropdowns, so it would be good to change these to be consiste

[2019-04-15 11:54] arusstaylor commented on #253
Agreed re the disappearing menu. Perhaps just grey out when not applicable?
Agreed that consisted style of drop downs among widgets is essential.

[2019-04-15 11:55] veggiesaurus commented on #253
Good idea.

[2019-04-15 12:13] #255 closed

[2019-04-15 19:22] veggiesaurus commented on #253
@kswang1029 can you give this a test on mix 'n match (branch `angus/layout_changes`)

[2019-04-16 01:19] kswang1029 commented on #253
Yes! The default layout looks good and clear. Spectral profiler widget works well too.
Thanks for all the fruitful discussions @veggiesaurus @arusstaylor 👍

[2019-04-16 01:52] kswang1029 commented on #238
Requirements
- provide flexible wcs coordinate systems (icrs, fk5, fk4, galactic, etc)
- provide flexible coordinate format (hms/dms, deg/deg)
- provide flexible units (milli-arcsec, arcsec, arcmin, degree) for size related parameters (rotation or "angle" in the above screenshot should just be degrees)
- sanity check of the input fields

Complexity of defining a polygon in wcs coordinates. Suppose

[2019-04-16 01:55] kswang1029 commented on #239
Creating/modifying a polygon needs to have a real-time check of validity (no crossing line segments are allowed).

[2019-04-16 02:44] #248 closed

[2019-04-16 02:44] kswang1029 commented on #240
Related widgets
- animator
- render config widget for multiple images in the wcs group
- spatial profiler
- spectral profiler
- histogram
- statistics
- region list

Proposed new widgets
- image list of wcs group (reorder, set visible/invisible, set reference coordinate system)
- cursor information

[2019-04-16 03:46] kswang1029 commented on #227
Complexity:
- when users switch from one preset layout or custom layout which has been displaying some data to another preset layout, widgets need to be activated or de-activated so that the backend will not do unnecessary calculations and just do necessary calculations.
- window size consistency
- allowing undocked widgets?

[2019-04-16 04:32] kswang1029 opened #259 "Contours"
This epic is for tracking all issues related to displaying image contours as overlays.

[2019-04-16 04:37] kswang1029 opened #260 "interactive clean"
frontend provides the interface to set up interactive clean masks and other parameters, and displays images in multi-panel view.
backend provides the interface to trigger CASA "tclean" task to do the job

[2019-04-16 07:22] duidae commented on #102
reproduce: only happens on Mac, and when canvas.toDataURL() returns a large image from supermosaic.10.fits by using zoom to 1.0x, the download would fail

reason: the limitation of a.href in Chrome on Mac should be shorter than other platform, so large string assign to a.herf would fail, and toDataURL() is only suitable for short object

solution: replace toDataURL() in canvas with toBlob()

[2019-04-16 07:25] kswang1029 opened #262 "support raster rendering of non-square pixel images"
Usually CDELT1 == CDELT2 for most of image cubes. However, CDELT1 and CDELT2 may be intentionally different during the image generation process. The common case is position-velocity image where CDELT1 and CDELT2 are naturally different and have different units.

[2019-04-16 07:33] kswang1029 opened #263 "frontend support region type: line segment"
line segment region will enhance the usability of spatial profiler, and is prerequisite to pv generator.

[2019-04-16 07:41] kswang1029 opened #264 "support advanced region types and STC-S region"
advanced regions are
- polyline (spatial profiler, pv generator)
- box, circular and elliptical annulus (statistics, spectral profiler, histogram)
- STC-S region

[2019-04-16 07:46] kswang1029 opened #265 "animator usability enhancement"
referencing https://github.com/CARTAvis/carta-backend/issues/367

Missing features
- [x] playback mode: forward (implemented), backward, bouncing, blinking
- [x] set start and end ranges
- [x] Adjust step for playback
- [x] display channel index as well as the corresponding frequency and velocity.

[2019-04-16 07:49] kswang1029 opened #266 "chart usability enhancement"
Allowing users to customize the displayed x range and y range by text input.
Charts include
- render config widget
- spatial profiler widget
- spectral profiler widget
- histogram

[2019-04-16 08:01] kswang1029 opened #267 "support image annotation (frontend)"
beside the "region" shapes, the following annotation types need to be supported:
- text
- ascii symbol (e.g., ⭐︎)
- arrow (with/without heads)

Need the capability to import a text file of annotations (e.g., plot "+" at the location of each source from a survey)

[2019-04-16 08:12] arusstaylor commented on #267
This is something we have discussed as a collaboration tool.  The idea is to add an annotation file to the hdf5-IDIA data format that would be a property of the image and viewable and editable by a collaborative team.    This is more involved than a simple ability to define regions, and I think annotations should be handled separately from regions.   Regions are an analytic tool. Annotations are f

[2019-04-16 08:12] kswang1029 opened #268 "aspect ratio of images"
PV images are mostly affected. A PV image may have quite different xy dimension (e.g., 300 (px) x 4000 (channel)). If we display a pixel as a square, the image will be elongated and hard to see the spatial side. We will need the capability to render each pixel as a rectangle so that the spatial side can be stretched.

[2019-04-16 08:21] kswang1029 opened #269 "enhancement: overlaying molecular transitions in spectral profiler"
This requires molecular line database (JPL, CDMS, etc).
Need a text field for velocity or red-shift correction.

[2019-04-16 09:57] #102 closed

[2019-04-16 10:08] veggiesaurus commented on #253
merged into `dev` and backported to `1.1_release`

[2019-04-16 10:08] #253 closed

[2019-04-17 01:58] kswang1029 opened #271 "unit conversion in spectral profiler"
The x-axis should support frequency <-> velocity conversions in various reference frame (LSRK, TOPO, etc)
The y-axis should support Jy/beam <-> Kelvin conversion.

[2019-04-17 10:30] arusstaylor opened #273 "click on region in list centres region in image"
I think it would be good if when one selects a region with the mouse  in the region list the image recentres to display that region.  Sometimes I have panned the image so the region is longer shown in the image.  Being able to click on the list to relocate the image to the region would be nice.

[2019-04-17 12:26] veggiesaurus commented on #273
this is the sort of thing that would definitely require a user preference dialog, as it would annoy some users.

[2019-04-18 03:32] kswang1029 opened #274 "[E2E test] session and api key"

[2019-04-18 03:33] kswang1029 opened #275 "[E2E test] file list"

[2019-04-18 03:33] kswang1029 opened #276 "[E2E test] file info and header"

[2019-04-18 03:33] kswang1029 opened #277 "[E2E test] image open"

[2019-04-18 03:34] kswang1029 opened #278 "[E2E test] image open as new"

[2019-04-18 03:34] kswang1029 opened #279 "[E2E test] image open as appending"

[2019-04-18 03:34] kswang1029 opened #280 "[E2E test] image zoom and pan"

[2019-04-18 03:35] kswang1029 opened #281 "[E2E test] animator"

[2019-04-18 03:35] kswang1029 opened #282 "[E2E test] spatial profiler"

[2019-04-18 03:35] kswang1029 opened #283 "[E2E test] spectral profiler"

[2019-04-18 03:35] kswang1029 opened #284 "[E2E test] region configuration"

[2019-04-18 03:36] kswang1029 opened #285 "[E2E test] region spectral profiler"

[2019-04-18 03:36] kswang1029 opened #286 "[E2E test] region histogram"

[2019-04-18 03:37] kswang1029 opened #287 "[E2E test] region statistics"

[2019-04-18 03:37] kswang1029 opened #288 "[E2E test] layout configuration"

[2019-04-18 03:37] kswang1029 opened #289 "[E2E test] viewer layout configuration"

[2019-04-18 03:37] kswang1029 opened #290 "[E2E test] render configuration"

[2019-04-18 03:38] kswang1029 opened #291 "[E2E test] menu bar"

[2019-04-18 03:42] #274 closed

[2019-04-18 03:42] #275 closed

[2019-04-18 03:42] #276 closed

[2019-04-18 03:42] #277 closed

[2019-04-18 03:42] #278 closed

[2019-04-18 03:42] #279 closed

[2019-04-18 03:42] #280 closed

[2019-04-18 03:42] #281 closed

[2019-04-18 03:42] #282 closed

[2019-04-18 03:42] #283 closed

[2019-04-18 03:42] #284 closed

[2019-04-18 03:42] #285 closed

[2019-04-18 03:42] #286 closed

[2019-04-18 03:42] #287 closed

[2019-04-18 03:42] #288 closed

[2019-04-18 03:42] #289 closed

[2019-04-18 03:42] #290 closed

[2019-04-18 03:42] #291 closed

[2019-04-18 07:27] kswang1029 opened #292 "enable arrow keys to move region"
From beta tester's feedback: to enable arrow keys to move region around.

[2019-04-18 08:07] arusstaylor commented on #292
I think this is a good idea.

[2019-04-18 08:08] arusstaylor commented on #269
would one need to enter the redshift of the object for this to produce sensible results?

[2019-04-18 08:10] kswang1029 commented on #269
yes, there should be a text field for velocity or red-shift.

I do have another idea similar to this: we actually can produce synthetic spectrum for over plotting.

[2019-04-18 08:13] arusstaylor commented on #269
Or perhaps if there is a template of line positions one could click and drag it to fit the positions of spectral lines and the redshift would result

[2019-04-19 00:46] kswang1029 commented on #269
yes, that works too. Will have detailed plan once we are up to this.

[2019-04-19 02:09] kswang1029 opened #293 "enhancement: unify histogram and stats widgets"
Suggestions from v1.1 beta tester:
A combination of the statistics widget and the histogram widget would be great. Reading the mean and standard deviation is tedious, whereas I would rather look at the histogram and have the mean and standard deviation statistics available in that widget.

[2019-04-22 07:15] ajm-asiaa commented on #241
This is due to the fact that menus have been disabled in Electron. We disabled menus so as not to clash with CARTA's built in File View Layout and Help menus, particularly on RedHat7 where the Electron menu would appear directly above the CARTA menu. It would not be so bad on MacOS and Ubuntu as the Electron menu would appear at the top of the screen.

On MacOS there is still a small menu that app

[2019-04-22 07:18] kswang1029 commented on #241
I see. To be more consistent with a typical mac app, having a separate "Edit" menu is better I would suggest.

[2019-04-22 07:21] ajm-asiaa commented on #241
OK. Next, is it worth leaving a standard edit menu (e.g. same as Firefox) with some options that can not be used in CARTA ( such as undo?). Or try to remove unusable options?
![Screenshot 2019-04-22 at 15 19 38](https://user-images.githubusercontent.com/20802551/56488873-5a481180-6512-11e9-816e-d43554ae3158.png)

[2019-04-22 07:23] kswang1029 commented on #241
I vote for showing only the supported shortcuts to avoid confusions.

[2019-04-22 07:30] ajm-asiaa commented on #241
OK. I found a way to hide the Start Dictation and Emoji entries:
[code]

How is this?
Only showing Cut, Copy, Paste, and Delete.
I guess the user may press Delete and use Paste when editing the region properties.
![Screenshot 2019-04-22 at 15 27 47](https://user-images.githubusercontent.com/20802551/56489160-59fc4600-6513-11e9-933f-8f67dd2d3a13.png)

[2019-04-22 07:37] kswang1029 commented on #241
Nice. 👍

Do this apply to linux versions too?

[2019-04-22 07:52] kswang1029 opened #296 "api-key enhancement: ignore extra spaces"
One user feedback is if by copy-and-paste there are extra spaces in the copied api-key, then authentication does not work (well it actually works since the registered api key is wrong).

To improve this UX, can we ignore any extra spaces in the end?
For example: if users copied-and-paste "1234 " to the text entry, the frontend actually sends "1234" to the backend.

[2019-04-22 07:58] ajm-asiaa commented on #241
It doesn't work so well for Linux... I thought the Ubuntu menu would be the same as MacOS because the Ubuntu version has a menu bar at the top of the screen with a quit option. But the new Edit menu bar that I add ends up in the CARTA window itself
![Screenshot 2019-04-22 at 15 53 30](https://user-images.githubusercontent.com/20802551/56490235-0c81d800-6517-11e9-860e-a01ae5f4363d.png)

Interesting

[2019-04-22 08:55] ajm-asiaa commented on #241
I think I found a better way to do it using the "electron-context-menu" package. We the copy and paste commands can be hidden behind a right click menu.
![Screenshot 2019-04-22 at 16 53 17](https://user-images.githubusercontent.com/20802551/56492739-52db3500-651f-11e9-912d-bc54b0b0eb6c.png)

Does CARTA use right click for anything else?

[2019-04-22 09:03] veggiesaurus commented on #296
easy fix for 1.1 (one liner)

[2019-04-22 09:06] veggiesaurus commented on #241
I don't think we'll use right click for anything else in that particular widget. The image view might use right click, and the render config widget already uses right click

[2019-04-22 10:20] ajm-asiaa commented on #241
Then that could be a problem because this is just through main.js and enables right click over the entire Electron window, not just on that widget.

[2019-04-23 00:41] ajm-asiaa commented on #241
It turns out that it is not a problem at all. Somehow right click in your Render Configuration widget stops the standard right click menu appearing. This is particularly clear when using the server version in a web browser; right click simply sets the max value. Luckily it behaves exactly the same way in Electron with the electron-context-menu package.

I also notice that if we keep the context me

[2019-04-23 03:20] ajm-asiaa commented on #241
I encountered some issues..

1. If using only the 'electron-context-menu' on MacOS, keyboard shortcuts to copy and paste ('cmd+c' etc.) do not work. To solve this for MacOS, I propose to use both the context menu, plus a minimal Edit menu on the MacOS menu bar (on the top left of the screen). This would be mostly out of sight.

2. On ubuntu and RedHat7, I don't want to add the Edit menu as it woul

[2019-04-23 04:41] ajm-asiaa commented on #241
Issue No.2 is solved now. It was very easy in the end. I have just noticed that if we add the Edit menu, then hide menus in the next line, we still get the proper keyboard shortcut functionality and the Edit menu does not appear!
[code]
Interestingly, the proper edit menu allows the copy command to be ctrl+c, not shift+ctrl+c etc.

[2019-04-23 06:06] ajm-asiaa commented on #241
I feel this is sorted out now. I tried it on MacOS, RedHat7, and ubuntu. It seems to work.
https://github.com/CARTAvis/carta-package/commit/5c0843818a5b8b9933641ee1c89c5c12133dd621#diff-7a9076d6d94e62c13d641aa71f19ae8e

@kswang1029 will be able to test it tomorrow when I make a new MacOS package.

[2019-04-23 07:14] ajm-asiaa opened #298 "--root flag bug"
Beta tester had trouble starting CARTA with the --root flag.
Reason was that the chosen --root happened to be inside the default file browser starting path ($pwd or --folder).
I have added a check to main.js to catch such cases.

[2019-04-23 07:15] ajm-asiaa commented on #298
https://github.com/CARTAvis/carta-package/commit/3df3ca58f5e5999d3e89b9fb63bb7cf1adc24d2c#diff-7a9076d6d94e62c13d641aa71f19ae8e

[2019-04-23 07:55] veggiesaurus commented on #273
@arusstaylor maybe double clicking?

[2019-04-23 07:56] arusstaylor commented on #273
yes, double clicking is probably better.  Demonstrates real intention....

[2019-04-23 08:01] veggiesaurus opened #299 "Highlight widgets associated with the selected region"
When a widget's chosen region is associated with the selected region, the widget title should include "selected", and show a visual highlight to indicate this. Below is an initial demonstration with the spectral profiler.

![selected_region_highlight](https://user-images.githubusercontent.com/592504/56564527-7dc09a00-65ae-11e9-84a9-8112f27e0c12.gif)

[2019-04-23 08:02] veggiesaurus commented on #299
still needs to be extended to stats and histogram widgets

[2019-04-23 08:05] veggiesaurus opened #300 "Stats widget icon should be changed"
Stats widget icon should be changed to `calculator`:
![image](https://user-images.githubusercontent.com/592504/56564834-3a1a6000-65af-11e9-9e6e-b873eb86cea9.png)

[2019-04-23 08:09] veggiesaurus opened #301 "Additional entries in shortcut dialog for image navigation"
The shortcut dialog should be extended with the following information:
- panning image: `click` or `middle click` or `cmd click`
- zoom image: `scroll wheel`

[2019-04-23 08:27] veggiesaurus commented on #73
@kswang1029 can you confirm this is fixed in the latest `1.1_release` build?

[2019-04-23 08:32] #300 closed

[2019-04-24 00:58] kswang1029 commented on #73
yes, issue gone~ 👍

[2019-04-24 00:58] #73 closed

[2019-04-24 01:19] kswang1029 opened #305 "pan image to a user-input coordinate"
a suggestion from v1.1 beta tester (optical astronomer working with single channel large image):
One should be able to ‘pivot’ to a position of interest through an input coordinate box (in WCS and/or pixel format).

[2019-04-24 01:25] kswang1029 opened #306 "cursor info: toggle WCS info between sexagesimal and decimal?"
suggestion from v1.1 beta tester
One should be able to toggle WCS info between sexagesimal and decimal! I personally think WCS Info should be expressed in decimal coordinates by default, but I realize I may not be in the majority here. it might be worth polling a group of users and see what they’d rather have.

[2019-04-24 01:43] #296 closed

[2019-04-24 07:03] #299 closed

[2019-04-24 07:28] veggiesaurus commented on #306
Something for the user preferences dialog in 1.2?

[2019-04-24 07:31] kswang1029 commented on #306
maybe in the "overlay settings" dialog? Currently we use decimal for galactic coordinate and sexagesimal for equatorial coordinates.

[2019-04-24 07:41] veggiesaurus commented on #306
we actually have that hidden in the overlay settings already. But if we are going to use it across more than just the overlay (cursor info, profile plots, etc), it should probably be in user preferences. Something simple like:

WCS info:
- Automatic (what we currently use, and what appears to be the standard)
- Decimal
- Sexagesimal

[2019-04-24 07:42] kswang1029 commented on #306
I see. that would work too

[2019-04-24 07:57] arusstaylor commented on #306
This preference is definitely something that will vary between users.  In my experience people like sexadecimal for coordinates displays but decimal for calculations and data entry.

[2019-04-24 11:04] kswang1029 opened #308 "symmetric creation/modification of a region with side anchor and shift key"
To reproduce:
1) make a rectangle region
2) hold shift key and drag the *side* anchor (can make the region bigger but not smaller). Corner anchors work as expected.

[2019-04-24 11:47] veggiesaurus commented on #232
@kswang1029 can you give an example of what you'd like it to look like for ellipse and rectangle regions?

[2019-04-24 11:56] kswang1029 commented on #232
let's try to be consistent with casa region text format:
rotbox[[x, y], [x_width, y_width], rotang] for rectangle
ellipse[[x, y], [bmaj, bmin], pa] for ellipse

sounds reasonable?

=========as a reference from casa cookbook===========
- Rectangular box; the two coordinates are two opposite corners:
box[[x1, y1], [x2, y2]]
- Center box; [x, y] define the center point of the box and [x_width, y_widt

[2019-04-24 11:57] veggiesaurus commented on #232
can we use just pixel coords for this?

[2019-04-24 11:58] kswang1029 commented on #232
yes. let's worry about wcs in v1.2+

please also add unit such as
rotbox [ [ 60pix , 50pix ] , [ 30pix , 30pix ] , 30deg ]

[2019-04-25 07:04] kswang1029 opened #311 "#232 related: for spectral profile, the tsv header needs to show statistic as well"

[2019-04-25 10:03] #232 closed

[2019-04-25 10:12] #311 closed

[2019-04-26 07:53] #301 closed

[2019-04-26 08:19] #242 closed

[2019-05-02 01:03] duidae opened #321 "migrate create-react-app-typescript to Create React App"
ref: https://vincenttunru.com/migrate-create-react-app-typescript-to-create-react-app/

[2019-05-02 01:04] duidae commented on #321
working notes:
Create React App does not support Webpack loaders, so need to solve importing glsl problem

[2019-05-02 08:53] veggiesaurus commented on #321
you can use the cra rewiring package to solve this, and other MobX decorator issues by overriding the default webpack config.

https://github.com/arackaf/customize-cra

[2019-05-03 09:51] zarda commented on #126
Several options:
1. the color of Nan and opacity can change up to user,
2. the Nan is transparent and user can change background color,
3. the Nan is transparent and the background color changes with time slowly,
4. auto-set the color of Nan to be the color not used in color map,
5. let Nan color change with time slowly,

[2019-05-05 10:34] veggiesaurus commented on #126
(1) is what I'd intended, and I think will be the cleanest in terms of UI.

 (4) would be nice, but tricky to calculate for each color map, and users may get confused. Having said that, auto-setting the region color based on color map would be pretty neat too.

[2019-05-05 18:06] veggiesaurus opened #322 "Generate list of visible tiles from image view"
Whenever the image view changes, a list of visible tiles needs to be generated for sending to the backend. These tiles should be specified in terms of conventional tile coordinates (based on [TMS](https://en.wikipedia.org/wiki/Tile_Map_Service))

[2019-05-07 08:06] #241 closed

[2019-05-08 01:24] kswang1029 opened #323 "initial scrolled location of the file list in file browser"
To reproduce the issue with the demo server:
1) scroll down to find set_QA_performance folder (should be at ~50% of the list)
2) click set_QA_performance
3) now the file list is blank. we will need to scroll up to top to see a short list and we can scroll down to have the short list be totally out of the view.

suggested: always start at the top when navigating to a new folder.

[2019-05-08 06:12] duidae commented on #321
![out ogv](https://user-images.githubusercontent.com/25971696/57353447-18b69800-719b-11e9-8d0f-135d2ec3f8df.gif)

seems still have some problems with decorators

[2019-05-09 10:20] arusstaylor opened #325 "file size column width not big enough in file browser"
The width of the column that displays files size in the file browser needs to be wider.  The field text is wrapping instead of adjusting to fit the width of the text.

[2019-05-09 10:30] veggiesaurus commented on #321
For another project, I ended up using:

[code]

and it seemed to work fine with decorators

[2019-05-10 02:42] duidae commented on #321
@veggiesaurus thanks for the tip, after investigating, the decorator problem is from blueprint's  '@HotkeysTarget'

I tried with a wrapper in a simple example App and works, so may need to move out the renderHotkeys like below:
https://github.com/palantir/blueprint/issues/2972

[2019-05-10 20:25] veggiesaurus commented on #321
Perhaps we could look into `react-hotkeys` instead? It would be nice to have more control over the hotkeys functionality and the dialog rendering.

[2019-05-13 02:05] duidae commented on #321
hmm will try

[2019-05-13 05:52] duidae opened #328 "Migrate to react-hotkey"

[2019-05-15 10:46] veggiesaurus commented on #322
Implemented in tiled rendering branch

[2019-05-15 10:46] #322 closed

[2019-05-15 12:46] robsimmonds opened #329 "Server Authentication and Authorisation"
Need way to authenticate with the server and a better way to handle authorisation once connected.

[2019-05-17 15:51] veggiesaurus commented on #265
#330 implements the start and end playback mechanism and adds the underlying support for most of the remaining functionality, which still needs to be exposed in the UI

[2019-05-22 12:34] veggiesaurus opened #332 "Tiled rendering: Tile queue"
In order to deliver tiles to the frontend efficiently, three features are required from the backend:
- [ ] An appropriate queueing mechanism should be used to process tiles. This means that multiple threads can remove tiles from the queue and and crop, downsample and compress them before sending to the frontend.
- [ ] `REMOVE_REQUIRED_TILES` messages need to be handled (on the main thread) to remo

[2019-05-22 12:42] veggiesaurus commented on #332
@robsimmonds this is the section of the tiled rendering backend code that I'd like you or @confluence to handle

[2019-05-22 13:17] veggiesaurus opened #333 "Tiled rendering: Integrate with animation images"
For version 1.2, we will use two strategies for delivering images:
- When animating, images will be delivered in the same manner as 1.1, using `RASTER_IMAGE_DATA` messages, which consist of either uncompressed data or compressed data in a number of subsets. `SET_IMAGE_VIEW` messages will be used to handle panning and zooming during animation. Rather than sending a new frame when `SET_IMAGE_VIEW` m

[2019-05-22 14:36] veggiesaurus opened #334 "Tiled rendering: Decompress ZFP tiles"
- [x] Frontend should be able to decompress ZFP tiles
- [x] Frontend should use an array of web workers to accelerate decompression using a queue system
- [x] Frontend should establish an "L2" cache of compressed tiles to act as a secondary caching system on main memory (the "L1" cache resides in GPU memory)

[2019-05-23 01:24] kswang1029 opened #335 "wcs coordinates in region dialog"
This issue exist in the v1.1 release (my bad, not able to catch this before the release.....)

When a region is defined and we bring up the region dialog, the wcs coordinates are fine.
![Screen Shot 2019-05-23 at 9 21 05 AM](https://user-images.githubusercontent.com/20819712/58219201-8edf0100-7d3c-11e9-8cc6-ccaad70b43bb.png)

However, if we move the region, then wcs coordinates are incorrectly tra

[2019-05-23 01:39] duidae commented on #228
[ ] Color theme (“View” -> “Interface” ; default: “Light”)
[ ] Color map in render config widget  (default: “inferno”)
[ ] Color map scaling  (default: “Linear”)
[ ] Layout (default: “Cube view”, see the above section “Predefined layouts”)
[ ] Default clip level (default: “99.9%”)
[ ] Auto-launch file browser when CARTA is initialized (default: “enabled”)
[ ] AST Global -> Color (default: “? blue”

[2019-05-27 14:38] #212 closed

[2019-05-28 08:03] arusstaylor opened #337 "when I left click inside a region it selects the region instead of centring the image"
Apparently this is the expected behaviour but I think it is not the desired behaviour.  Some region are quit large and I expect to be able to centre the image on a feature with left click.  And it is not intuit to click on a feature in a large region and have the region be selected. I think preferred behaviour is for the region to be selected by click on the region delimiter, ie. on the line or th

[2019-05-28 08:09] veggiesaurus commented on #337
DS9 uses a click anywhere inside the region to select a region. By default, it is in "none" mode, in which you can't select any regions, and uses middle-click to pan. When in "region" mode, you can click anywhere inside a region to select it.

[2019-05-28 08:22] arusstaylor commented on #337
oh. Didn't realize.  Funny, I always seem to have bit to trouble selecting the region trying to hit the line.
Russ

[2019-05-28 08:28] veggiesaurus commented on #337
my personal preference would be to use "click and drag" to pan around the image, but use "ctrl/cmd + click" or middle click to center an image on a particular point.

These sort of choices could go into the user preferences dialog, to allow the user to choose their prefered behaviour.

[2019-05-28 08:29] arusstaylor commented on #337
Yes, since there are various preferences on this I think it is good to let the user select this behaviour.

Russ

[2019-05-28 09:32] arusstaylor opened #338 "z profile statistics display should invalidate while waiting for new data."
I am looking at some output stokes cubes from MeerKAT.  Only 100 channels.  Takes about 10 seconds to update the display of stdDev even in a fairly small region.    When I move the region, the profile display show data for the old position until the new data arrives. For wait times of 10 seconds unless the user pays very close attention it is not clear if the profile is the new one or old one unti

[2019-05-28 14:08] #334 closed

[2019-05-30 05:53] kswang1029 opened #339 "animation smoothness"
not sure if this belongs to frontend or backend, but I will just describe the issue here.

using the dev branch as of May 30, 2019 with supermosaic.10.fits at 15 fps, the animation seems to be played batch by batch, so the desired fps is not uniform.
![animator](https://user-images.githubusercontent.com/20819712/58611596-41393a00-82e2-11e9-8177-fd7318d2a0f2.gif)

in addition, the backend may crash

[2019-05-30 06:29] kswang1029 commented on #339
after clean up browser cache, the symptom is gone. close this issue for now.

[2019-05-30 06:29] #339 closed

[2019-05-30 07:05] arusstaylor commented on #339
Does this mean users will have to do regular browser cache purges to maintain performance of CARTA?

[2019-05-30 07:10] kswang1029 commented on #339
Possibly. I did not clean up cache recently but there are some significant changes of the codebase.

For general users, they would need to clean up cache for every release (so every few months). For developers and testers (like me), it is best to do daily to make sure cache does not affect tests.

[2019-05-30 07:13] arusstaylor commented on #339
Interesting.  I guess this means we should let users know they should clear cache with release notes.

[2019-05-30 07:15] kswang1029 commented on #339
Yes, I will keep this in mind. And maybe we can look for a way to invalidate cache automatically if there is such.

[2019-05-30 07:18] veggiesaurus commented on #339
@arusstaylor one of the the recent changes I've made to the frontend is removing the service worker, which is designed to cache things. This should help with the situation. It's also up to the server itself to make sure that requests don't get cached (out of the scope of CARTA and more about server deployment)

[2019-05-30 09:42] duidae opened #341 "unify color selection widget"
so far we have 2 kinds of color selectors, better to unify them to the advanced one

![color](https://user-images.githubusercontent.com/25971696/58624163-34c4d980-8302-11e9-9c41-28a00748b764.png)

[2019-05-30 09:46] veggiesaurus commented on #341
The reason I’d suggest using the one on the right is that different color maps may fit with different overlay / region color schemes. If users have a particular preference in theirs of color map, they may want to pick a custom color to fit with their choice of color map

[2019-05-30 09:49] duidae commented on #341
yes will upgrade all to the advanced selector

[2019-06-12 02:43] duidae commented on #228
@veggiesaurus @kswang1029
about the region creation mode, what if the preference is ambiguous related to the hotkey? For example, when the preference is set to "corner to corner", and hotkey "ctrl" is also referring to "corner to corner", then there is no way to create region in "center to corner" mode, is that an acceptable behavior?

[2019-06-12 02:46] kswang1029 commented on #228
what about:
when in "center-to-corner" mode, holding "ctrl" enables "corner-to-corner" mode.
when in "corner-to-corner" mode, holding "ctrl" enables "center-to-corner" mode.

[2019-06-12 07:08] veggiesaurus commented on #228
@kswang1029 I agree. The user should always be able to use the alternate mode by holding ctrl

[2019-06-19 08:10] duidae commented on #228
@veggiesaurus  @kswang1029 Do u think that adding a "reset to default" button to the dialogue for users to restore settings in each tab to system defaults would be useful?

![reset](https://user-images.githubusercontent.com/25971696/59747990-bc23be00-92ac-11e9-8a14-8e8b82e5ebf8.png)

[2019-06-19 08:12] kswang1029 commented on #228
Great idea!

[2019-06-19 08:15] duidae commented on #228
yes to the current tab only

[2019-06-26 06:46] duidae opened #343 "Preference dialogue - global settings"
global: Color theme (“View” -> “Interface” ; default: “Light”)
global: Layout (default: “Cube view”, see the above section “Predefined layouts”)
global: Auto-launch file browser when CARTA is initialized (default: “enabled”)
global: Default cursor behaviour? (frozen, not frozen)
global: Default image zoom level (“zoom to fit” vs “zoom to 1.0x”)

[2019-06-26 06:50] duidae opened #344 "Preference dialogue - render config & WCS overlay"
Color map in render config widget (default: “inferno”)
Color map scaling (default: “Linear”)
Default clip level (default: “99.9%”)
AST Global -> Color (default: “? blue”)
AST Grid -> Visible (default: “yes”)
AST Labels -> Visible (default “yes”)
Default WCS type: Automatic (follows convention based on coordinate system)
Default WCS type: Degrees
Default WCS type: Sexigesimal

[2019-06-26 06:51] duidae opened #345 "Preference dialogue - region settings"
region: Region creation mode (“center-to-corner” vs “corner-to-corner”)
region: Default region color (default: “cyan”)
region: Default region line width
region: Default region dash thickness
region: Default region shape

[2019-06-28 09:15] veggiesaurus opened #348 "Delay rendering until all tiles are available when changing channels"
When switching channels, the image is rendered once the first tile arrives, rather than waiting for all required tiles. This makes comparing changes between channels difficult, as most of the image is not visible, as shown in the animation below.

![tile_change_channel](https://user-images.githubusercontent.com/592504/60331228-7940a500-9994-11e9-8159-41b8506cdadc.gif)

Delaying rendering until all

[2019-06-28 09:16] veggiesaurus commented on #348
@arusstaylor does this describe the issue correctly?

[2019-06-28 10:44] kswang1029 commented on #348
@arusstaylor if keep the old tile displayed until the new tile at the same location is ready, would it solve your concern? You can imagine that for each tile, it will behave just like the old (current) way of switching to different channels.

[2019-06-28 10:51] veggiesaurus commented on #348
it's tricky to imagine how that would look without implementing it, I guess. Some pros and cons:
+ Would prevent the annoying flashing between channels
+ Would still give users much faster feedback than waiting for the entire image when the network connection is poor
- During the transition, it might look quite weird, and it might not be clear as to which tiles have arrived and which are old
- Not

[2019-06-28 20:54] veggiesaurus commented on #348
Some progress has been made on this issue: Rendering is now performed only once all tiles are received. On a slow connection, this means a much longer wait between channels, but at least there is no missing data when it appears:

![tile_change_channel_progress_fixed_scale](https://user-images.githubusercontent.com/592504/60370371-bfc6eb80-99f6-11e9-8bea-f4c44f98eb1b.gif)

However, there's still a

[2019-07-01 12:16] veggiesaurus commented on #348
closing issue for now, as it is mostly fixed. There are some issues with switching between Stokes cubes, but these can be handled separately.

[2019-07-01 12:16] #348 closed

[2019-07-02 11:25] #343 closed

[2019-07-02 12:38] veggiesaurus opened #350 "Rendering artefacts at tile boundaries"
There appear to be half-pixel artefacts at tile boundaries. This appears to be related to the vertex shader code.

![Screen Shot 2019-07-02 at 4 19 26 PM](https://user-images.githubusercontent.com/592504/60513219-edea4b00-9cd6-11e9-8ee5-3bcb01683e39.png)

[2019-07-02 15:52] veggiesaurus opened #351 "LRU cache needs to be updated to newest version"
New PR (https://github.com/Yomguithereal/mnemonist/pull/103) changes the way the LRU cache handles overwritten and evicted items. CARTA needs to be updated to maintain compatibility with this new approach.

[2019-07-03 06:58] #350 closed

[2019-07-03 09:15] Yomguithereal commented on #351
mnemonist v0.29.0 is now live on npm.

[2019-07-03 14:01] #351 closed

[2019-07-04 02:03] #345 closed

[2019-07-04 02:03] #344 closed

[2019-07-04 02:04] duidae opened #358 "tooltips for preference"

[2019-07-05 08:42] veggiesaurus opened #359 "Stokes QUV and PI should be viewable as fractional amounts"
A new switch should be added to the spectral profile component, which allows users to toggle fractional polarization on or off. The switch should be placed here:

![image](https://user-images.githubusercontent.com/592504/60709394-9505f700-9f10-11e9-9abc-22c5073d494c.png)

When the switch is off, Q, U, V and PI behave as normal. When the switch is _on_, they are scaled relative to Stokes I, (i.e `P

[2019-07-05 08:58] arusstaylor commented on #359
Also the plots of Q and U vs frequency become Q/I and U/I versus frequency, and the Q,U scatter plot becomes a Q/I,U/I scatter plot.

[2019-07-05 09:06] arusstaylor commented on #359
Note that PI is short for polarised intensity, which is not the appropriate label when in fractional mode. One could either to just use the generic 'P', for polarisation in all cases with  unit change from JY/beam in intensity mode to unitless or percent in fractional pol mode depending whether you display as fraction or percent. I guess the benefit of expressing in percentage is that you can expl

[2019-07-05 09:10] veggiesaurus commented on #359
@arusstaylor could we use _Q/I (%)_, _U/I (%)_, _P/I (%)_ as axis labels? Would that be clear enough?

[2019-07-05 09:11] arusstaylor commented on #359
Yes, that would work well.

[2019-07-05 22:29] panchyo0 commented on #359
added switch button for Q/I, U/I, V/I and PI/I on branch "qi/stokes_plot". Please check.

[2019-07-08 01:28] duidae opened #361 "inconsistent behavior of region creation/re-scaling"
when in corner to corner mode, re-scaling the created region should also be corner to corner, vice versa in center mode

[2019-07-08 09:09] #361 closed

[2019-07-09 06:24] kswang1029 opened #363 "displaying current tiles when zooming out until new tiles coming in"
dev branch as of July 9, 2019:
Currently tiles are reused for display when zooming in until new tiles are ready. The same behavior should be applied to zooming out to avoid flashing.

![tileZoomOut](https://user-images.githubusercontent.com/20819712/60864084-20ef8a00-a255-11e9-98a6-f4172e86941b.gif)

[2019-07-09 06:46] kswang1029 opened #364 "[cursor info bar] WCS coordinates not updating along with cursor movements"
dev branches frontend and backend as of July 9, 2019

The WCS coordinates are not updating along with cursor movement.
![wcsCoord](https://user-images.githubusercontent.com/20819712/60865500-be988880-a258-11e9-861e-f23d125d34df.gif)

Master-master branches work properly.

[2019-07-09 07:11] veggiesaurus commented on #364
wondering if this regression is due to updating the AST library. I'll have a look

[2019-07-09 07:34] veggiesaurus commented on #364
@kswang1029 the commit that updated the AST library was `8ba02dd0af404800468b0e5d57def2e3f28e1180`. Can you see if this issue occurs prior to that?

[2019-07-10 12:50] veggiesaurus opened #366 "spatial profiles should be decimated client-side to prevent plotting library performance issues"
Note: This is a pre-cursor to the profile delivery optimisation feature. Currently, the plotting library takes a considerable amount of time to update large (10K) profiles. We should decimate spatial profiles before plotting them, and update the decimation as the user zooms in on the graph.

Once profile delivery optimisation is implemented, this feature will be deprecated. However, implementing t

[2019-07-10 13:24] #229 closed

[2019-07-10 13:29] veggiesaurus opened #367 "Debounce tile requests"
Currently, tiles are requested as soon as they are required. This means that, when zooming in or out, a large number of layers are requested.

Tiles should only be requested if they are visible for a certain amount of time (200 ms?).

One way to handle it is to add required tiles to a list, along with a timestamp, and use `setTimeout` with a callback that checks to see if the tiles are still requi

[2019-07-10 16:51] veggiesaurus commented on #366
Some progress has been made on this issue. When decimating on the frontend, I take the original data and the number of pixels in the graph widget (for now, just using the entire widget width, this can be improved since the graph has some padding), and then use that to determine how many min/max pairs are required (approximately one pair for each pixel in the graph), and then decimate the graph acc

[2019-07-11 07:14] kswang1029 opened #369 "missing tile"
with dev+dev branches (asiaa carta server)

**NOT SURE IT IS FRONTEND OR BACKEND**

it is possible to see missing tile through the following steps:
open public/set_noise/noise_11px_11px.fits
then open (not append) public/set_noise/noise_10px_10px.fits
We might see missing tile (in this case there is only one tile requested). If not, reload carta and repeat the above steps.

When I see the missing

[2019-07-11 08:22] arusstaylor commented on #366
These are impressive performance improvements and keeps us close to our 10 updates per second which seems the golden rate for a pleasing interactive experience.

[2019-07-11 08:38] veggiesaurus commented on #366
yes, hopefully if we have a few graphs, we'll still be able to reach 10 fps. This is currently only implemented for spatial profiles, but the same can be done for spectral profiles too, which will be more important for ALMA data and its vast number of channels

[2019-07-11 08:39] arusstaylor commented on #366
and 32k mode spectral imaging coming soon with MeerKAT 32,000 channels.....

[2019-07-11 13:04] veggiesaurus opened #370 "support for polygonal regions"
Split off from #239

- [x] Create polygonal regions
- [x] Select polygonal regions
- [x] Edit polygonal regions
- [x] Move polygonal regions
- [x] Display polygon region info dialog
- [x] Display polygon region info in region list
- [x] Edit polygon region in info dialog
- [x] Ensure polygon is simple

[2019-07-11 18:26] veggiesaurus commented on #366
Only very minor differences are visible when applying the decimation (this one a factor of 4x):
![compare_plot](https://user-images.githubusercontent.com/592504/61075137-a6bc3280-a419-11e9-98a6-3c03fa4b971e.gif)
Similarly small differences when using retina screens:
![compare_plot_retina](https://user-images.githubusercontent.com/592504/61075238-d1a68680-a419-11e9-96a9-2e1afb527261.gif)

[2019-07-12 02:51] ajm-asiaa opened #371 "Single frame image vanishes when Play is pressed in animator"
If I open a single framed image (for example, aJ.fits) and press Play in the animator, the image vanishes until I press Stop.
On previous versions of CARTA (e.g. the current Master branch), if I press Play in the animator when a single framed image is open, nothing happens; the image remains visible.
I guess the correct behaviour is that nothing should happen.

Would an easy fix be to grey out the

[2019-07-12 06:23] veggiesaurus commented on #371
Agreed. At the same time, I would like to combine the play and stop buttons, since there's no reason to have them both visible, and this will free up some valuable real estate.

[2019-07-15 02:09] kswang1029 opened #373 "pixel boundary at very high zoom level (minor issue/question)"
with dev(tiled)+dev AND master(non-tiled)+master as of July 15, 2019

Unexpected pixel corner is seen when the zoom level is very high (appears to happen near the image center only).
![pixelHighZoom](https://user-images.githubusercontent.com/20819712/61192643-8aa1e500-a6e8-11e9-9615-55f9fa7b65b5.gif)

Question: it only happens at very high zoom level (the level that is not an usual use case), do w

[2019-07-15 06:12] veggiesaurus commented on #373
This looks like a floating point precision issue in the GPU pixel shader. It’s probably fixable reasonably easily, but personally I’m not sure it should be anything other than low priority. How on earth did you spot that?

[2019-07-15 06:16] kswang1029 commented on #373
"Curiosity Killed the Cat."

yes (very) low-priority it is. :)

[2019-07-15 13:01] veggiesaurus opened #374 "Stokes widget: Responsive layout"
A responsive layout needs to be designed for the Stokes widget. This layout should adapt to the size and aspect ratio of the widget, and should be practically usable when docket with the image viewer

[2019-07-15 13:05] veggiesaurus opened #375 "Stokes Widget: Plot component displaying multiple traces"
The plot component needs to support multiple traces on the same set of X and Y axes. Auto-scaling should ensure that both traces are completely visible.

A legend should be visible, and should allow the user to toggle each dataset on or off.

[2019-07-15 13:08] veggiesaurus opened #376 "Stokes Widget: Scatter plot component"
A scatter plot component needs to be built, which can plot a single data set, with varying position (x,y) and color.

When configured in an "equal scale" mode, the scatter plot's x and y scales should be linked, and changing the aspect ratio of the plot should only change the range of the axes.

[2019-07-15 13:09] veggiesaurus opened #377 "Stokes widget: Wiring up real data"
Real Q, U, PI and PA plots should be wired up to real data, using the toolbar to select which region they are associated with, and enabling / disabling fractional polarisation.

[2019-07-15 13:11] veggiesaurus opened #378 "Stokes Widget: Integration between individual plots"
The plots within the widget should have a number of shared properties, such as the x axis of the Q&U, PI and PA plots, as well as showing/hiding points in the scatter plot based on the zoom range of the other three plots.

[2019-07-15 19:59] veggiesaurus commented on #366
Spatial profiles done in PR #379, spectral profiles to follow.

[2019-07-17 21:43] veggiesaurus opened #382 "Visual indicators for partial spectral profiles"
Partial spectral profiles are now being sent to the frontend. However, when displaying these plots, we should have visual indicators so that the user is aware that the plots are "in progress".

- [ ] Display partial plots using semi-transparent or desaturated colors
- [ ] Display subtle progress indicator to show what percentage of the profile has been calculated and delivered

[2019-07-18 03:02] kswang1029 opened #383 "unexpected profile update with multiple spectral profile widgets and multiple regions"
with dev+dev July 18, 2019

Spectral profiles are updated unexpectedly when switching to different regions.

To reproduce:
1. create three regions on the image
2. create three spectral profile widgets and
     2.1 assign widget 1 to region 1 with "mean"
     2.2 assign widget 2 to region 2 with "StdDev"
     2.3 assign widget 3 to region 3 with "min"
3. once all profiles are delivered, switch to r

[2019-07-18 07:54] veggiesaurus commented on #383
I've confirmed that the frontend is sending the correct requirements:
- First, it sends the requirements for region 2, to only require "std dev"
- Then, it sends the requirements for region 1, to require "mean".

Two issues with the backend: Firstly, it looks like the stats are not getting cached properly (switching to a new stats type on the same region should be instant, since the stats should b

[2019-07-18 07:56] #364 closed

[2019-07-18 07:57] #116 closed

[2019-07-18 07:57] #150 closed

[2019-07-18 07:57] #159 closed

[2019-07-18 08:02] veggiesaurus commented on #154
@kswang1029 we now use full-resolution and uncompressed spatial profiles to get the cursor value, so this should be sorted out. However, because the decimated profiles combine multiple pixels into one, by selecting the min and max in a group, the position of the image view cursor can be subtly different from the position of the profile cursor.

For example, if your image view cursor is at `{12, 12

[2019-07-18 08:13] #243 closed

[2019-07-18 18:55] #366 closed

[2019-07-18 19:04] veggiesaurus opened #384 "regression: toolbar drag sources are broken"
The toolbar's drag sources seem to have been broken by a recent commit or package upgrade. This means that new widgets can no longer be docked, but must first be created as floating widgets, and then docked.

[2019-07-18 20:26] veggiesaurus commented on #384
@duidae can you look into this? It occured when you changed how the theme is applied. Currently, the drag sources are broken until you toggle the theme, after which they work properly. It's likely a very minor fix, such as automatically applying themes on startup.

[2019-07-18 20:43] veggiesaurus opened #386 "Incoming spatial profile messages need to be added to the existing spatial profile cache"
Related to [carta-backend/273](https://github.com/CARTAvis/carta-backend/issues/273). Once this code is merged into the backend, it will only send _required_ new spatial profiles after a `SET_SPATIAL_REQUIREMENTS` message is received. For example, if the requirements were `["x"]` and change to `["x", "y"]`, only the y-profile will be sent, as the x-profile is assumed to be present.

The frontend n

[2019-07-18 21:01] veggiesaurus opened #387 "Spatial profile "data" cursor indicator should use the server-sent cursor value"
Instead of using a binary search through the decimated profile data, the spatial profiler component should use the image view cursor position and server-sent cursor value when displaying the "data" cursor value

[2019-07-19 03:11] kswang1029 opened #389 "[animator] the first frame of an animation needs to be within the playback range"
with dev July 19, 2019

if a range of channels is defined (e.g., 130~150) and the current channel is < 130 (e.g. 112), the animation will start at the current channel, not start from channel 130.

It works as expected if the current channel is between 130 and 150, or the current channel is > 150.

see demo
![animatorRange](https://user-images.githubusercontent.com/20819712/61506662-6b22f900-aa15-1

[2019-07-19 05:05] kswang1029 commented on #382
For item 1 and hdf5 cubes, how about we use the progress as the transparency of the entire profile? So when the profile is being updated, we will see it becoming more saturated in color.

[2019-07-19 06:59] duidae commented on #384
@veggiesaurus  ok

[2019-07-19 07:24] veggiesaurus commented on #363
@kswang1029 I wrote a long comment justifying why I thought limiting the number of higher-resolution tiles to 3 layers, but GitHub seems to have lost it. Long story short (you can see the performance measurements [here](https://docs.google.com/spreadsheets/d/16TBkemxQU3ov2lheb4snJFOMR_1dA6eANSHl33600Y4/)), it's a divergent geometric series, so we need to limit it somewhere.

Can you test the branc

[2019-07-19 07:41] kswang1029 commented on #363
Will do!

[2019-07-19 09:43] veggiesaurus commented on #389
@kswang1029 can you confirm that this is fixed in `angus/fix_animator_start_frame`?

[2019-07-19 09:46] veggiesaurus opened #391 "Animation flow control needs to be sent every frame"
In order to improve animation frame pacing, animation flow control messages should be sent every frame. The newly included `timestamp` field will allow the backend to adjust frame pacing to match the network performance using a moving average calculation of frame rate.

[2019-07-19 12:26] veggiesaurus commented on #382
I think that could work, but we should have a min and max cutoff, so that (a) the graph is still visible even if only 10% complete and (b) there's a clear difference between 90% and finished (otherwise the transition might be too subtle.

I'd suggest we use `alpha = 0.25 + progress / 2.0`, when `progress < 1.0`, which gives us a rage between 0.25 and 0.75 for partial profiles.

[2019-07-19 13:14] kswang1029 commented on #389
some issues (tested with set_numberCube/cube_x4200_z15_999MB.fits):
now if range=[4, 7] and current=10, at 1fps, I see "11" then "4" then "5"...
and before "11", there might be an other channel being shown.

[2019-07-19 13:33] kswang1029 commented on #363
tested with images with various sizes (10~50000), now zooming out is very smooth and there is no flash anymore. With network limiter, I can see higher-resolution tiles being update with proper-resolution tiles. 👍👍👍

[2019-07-19 15:26] #363 closed

[2019-07-22 08:18] veggiesaurus commented on #389
ah, ok. I see why this is happening, I'll sort it out today

[2019-07-22 11:22] #389 closed

[2019-07-22 11:38] arusstaylor opened #393 "delete a frame"
We need the ability to delete a loaded frame.

When there are multiple frames loaded the only way now to remove a frame is to open a new  image, which removes all the frames.  If, for example, I have 4 frames loaded there should be a way to delete one of them without having to start a whole new frames session.

[2019-07-22 12:40] veggiesaurus commented on #367
rather than testing visibility of individual tiles, it might be sufficient to just test whether the tile layer still matches the image view layer _N_ ms after the request comes in, where _N_ is the tile debounce duration.

[2019-07-22 13:27] veggiesaurus opened #396 "Tile caches need to handle changing frames"
Currently, there are some issues with tiled rendering not working properly when switching between frames. Each image should have its own "L2" compressed cache, and use the shared "L1" GPU cache. When switching frames, the L1 cache should be cleared, forcing decompression of tiles from L2. This doesn't seem to be happening at the moment. Instead, both frames seem to be rendering the same tiles on t

[2019-07-22 18:23] veggiesaurus commented on #396
@kswang1029 can you check if the behaviour you noticed before (when appending files and changing between frames) is fixed in `angus/tile_l2_cache_changes`?

[2019-07-23 02:47] kswang1029 commented on #396
@veggiesaurus now it is working perfectly!

[2019-07-23 06:18] kswang1029 opened #399 "mis-aligned range index with current index in the animator"
this issue is more prominent with cubes with just few channels as the following example.

<img width="575" alt="Screen Shot 2019-07-23 at 14 16 08" src="https://user-images.githubusercontent.com/20819712/61687309-b100f980-ad54-11e9-8ee6-6b762c56f095.png">
<img width="1046" alt="Screen Shot 2019-07-23 at 14 18 48" src="https://user-images.githubusercontent.com/20819712/61687364-d4c43f80-ad54-11e9-9

[2019-07-23 06:30] kswang1029 opened #400 "[user request] breadcrumbs in filebrowser"
<img width="431" alt="Screen Shot 2019-07-23 at 14 36 56" src="https://user-images.githubusercontent.com/20819712/61688340-5e750c80-ad57-11e9-9791-263eb814e87d.png">
<img width="429" alt="Screen Shot 2019-07-23 at 14 36 44" src="https://user-images.githubusercontent.com/20819712/61688341-5e750c80-ad57-11e9-8d93-f2f3bd262108.png">

[2019-07-23 07:42] #391 closed

[2019-07-23 08:05] veggiesaurus commented on #399
the root cause of this issue is that the BlueprintJS slider widget expects equally spaced tick labels, so it's dividing the range into 4 sections (5 labels). Since this often doesn't result in an integer, the tick labels are actually offset from the slider itself by up to one channel. I'm not sure how to solve this, because if we force the tick spacing to be an integer, then we can't ensure that t

[2019-07-23 08:26] kswang1029 commented on #399
The probability for a user to view a cube with just few channels should be low (but not negligible). From this point of view, this issue should be less noticeable. Let's set it low priority?

[2019-07-23 10:18] #396 closed

[2019-07-23 10:37] veggiesaurus opened #403 "authentication approach needs to be hidden behind env flag"
Authentication is up and running on the backend, but on the frontend it is still in the `angus/auth_changes` branch.

Before this can be merged into `dev`, the authentication needs to be hidden behind a build flag, so that the desktop version, and servers allowing public logins, do not show the connection dialog

[2019-07-24 08:08] #382 closed

[2019-07-24 08:11] veggiesaurus opened #405 "dropdown indicator is not visible in "light" theme"
The dropdown indicator that is used when there are too many tabs in a stack is not visible in the light theme:

![image](https://user-images.githubusercontent.com/592504/61776401-3c34ca80-adfb-11e9-92e5-539a99807b6e.png)

In dark theme, it's visible, although not very noticeable:
![image](https://user-images.githubusercontent.com/592504/61776434-49ea5000-adfb-11e9-9a50-d37aea8efedc.png)

`.lm_head

[2019-07-24 09:52] #384 closed

[2019-07-24 13:10] kswang1029 commented on #306
I think this is implemented now. Shall we close this?

[2019-07-24 13:11] kswang1029 commented on #338
with partial update of region/cursor spectral profile, I think this issue is fixed.

[2019-07-24 13:19] veggiesaurus commented on #400
Since 1.2 is a "usability"-focused release (with performance falling under usability), I decided to quickly implement something as a starting point. There's a little bit of a clash in terms of styling, but I do feel like we should improve the file list's styling in future, to make it fit in with the rest of the interface.

![breadcrumbs](https://user-images.githubusercontent.com/592504/61795880-a8

[2019-07-24 13:22] kswang1029 commented on #400
@veggiesaurus this is nice! what happens with an exclusively long path?

[2019-07-24 13:24] veggiesaurus commented on #400
exclusively long path?

[2019-07-24 13:24] kswang1029 commented on #400
like 10-level folder structure

[2019-07-24 13:27] veggiesaurus commented on #400
It looks like this:

![image](https://user-images.githubusercontent.com/592504/61797233-410f7380-ae27-11e9-8441-c9daf646b00c.png)

![image](https://user-images.githubusercontent.com/592504/61797330-7b791080-ae27-11e9-8129-7a31c3ff40fc.png)

[2019-07-24 13:29] kswang1029 commented on #400
Just realized I can try it. This is an example with standard ALMA data folder structure.
![Jul-24-2019 21-28-07](https://user-images.githubusercontent.com/20819712/61797437-fce99680-ae59-11e9-99ce-cd3f6d6c3a04.gif)

[2019-07-25 07:42] veggiesaurus commented on #239
implemented by @zarda :raised_hands:

[2019-07-25 07:42] #239 closed

[2019-07-25 08:40] #228 closed

[2019-07-25 09:30] duidae opened #408 "[UX] server info in login dialog"
could add info such as:
* server ip/name
* last login time...etc

[2019-07-25 09:40] veggiesaurus commented on #408
@duidae can you edit the description to add what server info you think should go in there, as a starting point for the discussion? If we display the server IP, we will need to either modify the backend and ICD to return the IP, or use a web-based lookup service to get the IP.

In general, each frontend will correspond to a specific backend, so the IP or address might not be too helpful, but the ve

[2019-07-25 09:55] veggiesaurus opened #409 "point regions cannot be clicked if inside a region with area < 4"
Point regions cannot be clicked on if they're in a region with an area smaller than 4 px<sup>2</sup>. This is because point regions are assigned an area of 4. Could the area be zero?

![point_region_area](https://user-images.githubusercontent.com/592504/61865086-e7648300-aed2-11e9-9422-c0858c65d4b4.gif)

[2019-07-26 04:18] kswang1029 commented on #409
Is this closed by accident?

[2019-07-26 13:51] kswang1029 commented on #409
@zarda Is this closed by accident?
This issue remains in the dev branch. Reopen this issue as a record.

[2019-07-29 09:17] #403 closed

[2019-07-29 11:14] #400 closed

[2019-07-29 11:41] arusstaylor opened #413 "highlight value = 0.0 grid line in profiles"
Have been using the dev viewer to look at some recent MeerKAT MIGTHEE polarization cubes.   Here is a shot of the viewer with Stokes U and Q profiles widgets. Of interest in these profiles is to assess if the signal is significant different from noise around zero. It would be very nice if the grid line at 0.0 were highlighted some way (thicker or darker line).

![Screen Shot 2019-07-29 at 1 23 26

[2019-07-30 05:37] zarda commented on #409
Fixed by #414

[2019-07-30 08:20] arusstaylor opened #415 "histogram widget should optionally show mean, median and RMS"
It would be good if the histogram widget for regions had an option to displayed the mean, median and RMS of the data (and optionally over plot a gaussian with mean and rms of the data).

[2019-07-30 08:47] duidae opened #416 "[dynamic layout] raster view turns black when switching layouts during animation"
comes along with warnings: texture bound to texture unit 0 is not renderable. It maybe non-power-of-2 and have incompatible texture filtering.

guess should be the texture is not correctly bind after switching layouts

![out ogv (1)](https://user-images.githubusercontent.com/25971696/62114613-95b06400-b2e9-11e9-8d23-b985a494256d.gif)

[2019-07-30 11:44] veggiesaurus commented on #409
issues should stay open until the PR that fixes them is merged into `dev`

[2019-07-30 12:08] arusstaylor opened #417 "view file information or image header"
We should be able to view the image header of the current frame.  One way to do this is to add  "image header" or "image info"  sub menu to the "view" menu.  This would bring up a text widget containing the image header.

Alternately one could add an info panel that contains the file information.  Not sure which is more useful the file information or the header.  The header is more complete, but t

[2019-07-30 12:17] veggiesaurus commented on #417
This sounds like a useful addition. We should be able to re-use a fair portion of the file browser dialog code to do so.

[2019-07-30 12:37] arusstaylor commented on #415
Just noticed that this enhancement overlaps with #293

[2019-07-30 12:41] veggiesaurus commented on #415
The median will take a fair amount of time to calculate for large regions, but showing the mean and RMS should be no major problem. I suggest we only show them on the histogram widget, rather than the render config widget

[2019-07-30 12:48] arusstaylor commented on #415
Only on the histogram widget make sense.  Dont need this for rendering.  One generally brings up a histogram of a region in order to examine the statistics of the pdf of the values in the region.  So statistical quantities are very relevant to purpose for this widget.

[2019-07-30 13:01] #227 closed

[2019-07-30 13:06] veggiesaurus opened #418 "Should we adjust layout delete menu items?"
Saving and deleting layouts is working nicely at the moment. However, I'm wondering if we can make it a little simpler. Here's how you delete layouts at the moment:

![current_layout_delete](https://user-images.githubusercontent.com/592504/62131340-4bc08180-b2db-11e9-8889-672063083a1f.gif)

I think we could get away with simply showing the list of layouts once, and then using a delete icon next to

[2019-07-30 13:32] kswang1029 commented on #418
Perhaps with a pop up for confirmation?

[2019-07-31 03:47] kswang1029 opened #420 "make the breadcrumbs always visible even if scrolling down a long file list"
Currently the breadcrumbs are visible when the file list is scrolled to the top. If the file list is long and if we scroll down, breadcrumbs are not visible.
![Screen Shot 2019-07-31 at 11 44 25 AM](https://user-images.githubusercontent.com/20819712/62182350-e3c87480-b388-11e9-9843-d1b45beafab1.png)
![Screen Shot 2019-07-31 at 11 44 38 AM](https://user-images.githubusercontent.com/20819712/6218235

[2019-07-31 04:16] kswang1029 opened #422 "adding new anchor to an existing polygon triggers SET_REGION and relevant data update"
Not sure where (frontend or backend) we improve this.

If we add a new anchor to an existing polygon, a new SET_REGION will be triggered, and relevant data will be updated. However, the new anchor sits perfectly on a straight line so the area, hence the covered pixels, remains the same. Therefore the relevant data update is not necessary. Allowing this behavior might introduce performance issue wh

[2019-07-31 05:04] kswang1029 opened #423 "initial cursor positions in image appending mode"
The initial cursor position is set to the image center. However, this cursor position is also applied to other frames in the appending mode.

Example (check the position of the cross):
Frame 1
![Screen Shot 2019-07-31 at 1 01 42 PM](https://user-images.githubusercontent.com/20819712/62185179-fa27fd80-b393-11e9-99d2-2dc278fdc5af.png)

and Frame 2
![Screen Shot 2019-07-31 at 1 01 55 PM](https://user

[2019-07-31 05:20] kswang1029 opened #424 "Req index and Current index in animator"
With the new animator approach, now the "Current" index does not reflect the real current frame that user is seeing. For example, if there is a region spectral profile being updated and user requests to see a different channel by using the animator, Req and Current indices are the same. The requested frame will come actually after the region profile is complete.

[2019-07-31 05:30] kswang1029 opened #425 "missing widget in a user customized and saved layout"
as in the example, there are four spectral profiler widgets when the layout is saved.
![Screen Shot 2019-07-31 at 1 27 32 PM](https://user-images.githubusercontent.com/20819712/62186026-40329080-b397-11e9-9819-9120be2cf182.png)
But once it is re-loaded, three widgets are missing.
![Screen Shot 2019-07-31 at 1 28 07 PM](https://user-images.githubusercontent.com/20819712/62186040-4de81600-b397-11e9-

[2019-07-31 05:38] kswang1029 opened #426 "cosmetics adjustments in the preferences dialog"
See the following screenshots:
issue 1:
![Screen Shot 2019-07-31 at 1 35 46 PM](https://user-images.githubusercontent.com/20819712/62186306-673d9200-b398-11e9-9231-8871238b3200.png)
![Screen Shot 2019-07-31 at 1 35 55 PM](https://user-images.githubusercontent.com/20819712/62186307-67d62880-b398-11e9-968c-3cfe54512e61.png)
![Screen Shot 2019-07-31 at 1 36 02 PM](https://user-images.githubuserconten

[2019-07-31 05:50] kswang1029 commented on #420
a relevant cosmetics issue of the scroll bar:
![Jul-31-2019 13-49-01](https://user-images.githubusercontent.com/20819712/62186821-1169e980-b39a-11e9-86f1-3a60aa534f43.gif)

[2019-07-31 05:58] kswang1029 opened #427 "region dialog for cursor"
Color and name are not needed in the region dialog for "cursor".
![Screen Shot 2019-07-31 at 1 57 02 PM](https://user-images.githubusercontent.com/20819712/62187231-3f036280-b39b-11e9-8c7a-1c67ad27f670.png)

[2019-07-31 06:04] kswang1029 opened #428 "displayed "value" in the cursor info bar should be for cursor, not point region"
When a point region is updated, the "value" in the cursor info bar is also updated. We should keep the "value" dedicated to cursor only.
![Jul-31-2019 14-03-13](https://user-images.githubusercontent.com/20819712/62187452-00ba7300-b39c-11e9-9b7e-427c8ffde2f7.gif)

[2019-07-31 06:04] veggiesaurus opened #429 "adding new anchor to an existing polygon triggers SET_REGION and relevant data update"
@kswang1029 commented on [Wed Jul 31 2019](https://github.com/CARTAvis/carta-backend/issues/300)

Not sure where (frontend or backend) we improve this. Guessing we can solve this in the backend by checking area or equivalent quantity.

If we add a new anchor to an existing polygon, a new SET_REGION will be triggered, and relevant data will be updated. However, the new anchor sits perfectly on a st

[2019-07-31 06:07] veggiesaurus commented on #427
I think we should disable the region dialog for cursor entirely

[2019-07-31 06:07] arusstaylor commented on #428
Agreed.  The value displayed in the info bar should always be the value under the cursor.

[2019-07-31 06:08] kswang1029 commented on #427
Yes, that's better.

[2019-07-31 06:09] arusstaylor commented on #427
agree.

[2019-07-31 06:31] #428 closed

[2019-07-31 06:49] veggiesaurus opened #433 "Error in Chart.js library's update when refreshing plots"
When converting to scientific notation, it seems there's an issue with the Chart.js. It's not entirely clear how to reproduce this issue, but it seems to occur frequently with @panchyo0's Stokes widget branch and `GNPilot.IQU.fits`.

@arusstaylor this is the issue you mentioned to me yesterday. Screen goes blank and the dev console shows the output below

![image](https://user-images.githubusercon

[2019-07-31 06:56] kswang1029 commented on #433
it is the scatter plot.
![Jul-31-2019 14-55-28](https://user-images.githubusercontent.com/20819712/62190167-4af32280-b3a3-11e9-8538-09130f0dae1d.gif)

[2019-07-31 07:31] veggiesaurus commented on #433
The offending line is `tickString = tickValue.toExponential(Math.floor(logTick) - Math.floor(logDelta));`. I might have to file an issue with ChartJS and fix it there.

[2019-07-31 09:11] #433 closed

[2019-07-31 09:13] veggiesaurus commented on #433
Closing this issue, as it is fixed with a workaround in `dev`. This should be re-examined if the Chart.js bug is solved.

[2019-07-31 09:51] #427 closed

[2019-07-31 09:53] #409 closed

[2019-07-31 17:36] #429 closed

[2019-08-01 01:11] kswang1029 opened #434 "loading images with exceptional values"
This is just to report the behavior of CARTA as of August 1st, 2019 when loading images with exceptional values (very large or very small). The test images are just noise with different standard deviation.

Things to check:
1) raster image
2) histogram
3) spatial profile

1E-10
![Screen Shot 2019-08-01 at 8 58 33 AM](https://user-images.githubusercontent.com/20819712/62258152-95c07900-b43b-11e9-84

[2019-08-01 02:48] kswang1029 opened #435 "cursor info bar: cursor value when the cursor is outside the image"
it would be better to show nothing about the cursor value when the cursor is outside the image to avoid confusion as coordinates are still updating along with the cursor movement.

![Aug-01-2019 10-50-39](https://user-images.githubusercontent.com/20819712/62262135-3e75d500-b44a-11e9-989b-20db2ce691c0.gif)

[2019-08-01 08:10] veggiesaurus commented on #434
to summarize a discussion I had with @kswang1029 on this topic:
- Moving to a greyscale image compression approach such as HEVC will solve the distorted image issue, since scaling will be done beforehand. It would also solve some of the other issues with some of the other extreme images used (all zero, except one non-zero pixel, for example), but might create other issues.

- Using double precisio

[2019-08-01 08:19] veggiesaurus opened #437 "tiles should appear one-by-one when first loading an image"
When changing channels or frames, images are not displayed until all tiles are available. This is useful for comparing images between channels. However, when _first_ loading an image, the tiles should appear progressively. There's actually a bug which results in this occuring when loading a _second_ image (either in append mode or replacing the original), with the behaviour demonstrated below. Thi

[2019-08-01 08:49] zarda commented on #420
![Screen Shot 2019-08-01 at 16 48 27](https://user-images.githubusercontent.com/10767557/62279273-58301000-b47c-11e9-9a63-5ac057d93e59.png)

[2019-08-01 08:51] veggiesaurus commented on #420
@zarda if we can just adjust the padding a bit, I think that would be a good solution

[2019-08-01 08:57] kswang1029 commented on #420
Are we using the space above file info for the breadcrumbs as well? That helps to display path for nested folder structure I think.

[2019-08-01 09:34] veggiesaurus commented on #420
We could do that, if you don't think it would look odd. @zarda , perhaps give that a try?

[2019-08-01 10:27] zarda commented on #420
![Screen Shot 2019-08-01 at 18 25 45](https://user-images.githubusercontent.com/10767557/62286263-f1b1ee80-b489-11e9-910d-8d10dcf047a5.png)

[2019-08-01 10:31] veggiesaurus commented on #420
@zarda I think KS meant use the entire vertical space, not _just_ the info. So something like this pseudocode:

[code]

[2019-08-02 02:31] kswang1029 commented on #420
a mockup would be like this
![62279273-58301000-b47c-11e9-9a63-5ac057d93e59](https://user-images.githubusercontent.com/20819712/62340046-bc041880-b510-11e9-9f6b-59ee97a95cf3.png)

[2019-08-02 04:42] zarda commented on #420
![Screen Shot 2019-08-02 at 12 40 57](https://user-images.githubusercontent.com/10767557/62344984-f1b1fd00-b522-11e9-9687-b9d47686441c.png)

[2019-08-02 05:03] kswang1029 commented on #420
apart from where we put breadcrumbs, there is an issue with 320ce6b:
The last entry in the list is not visible. Check the length of the scroll bar at top and at bottom.
![Aug-02-2019 12-58-22](https://user-images.githubusercontent.com/20819712/62345632-a1886a00-b525-11e9-8c92-f2b8ff93e56c.gif)

As a comparison with the dev branch, the last entry "supermosaic.10.fits" is not visible.
![Screen Shot

[2019-08-02 05:52] kswang1029 opened #439 "cannot add new anchor to a polygon when it overlaps with other region in some cases"
The guider disappears in some circumstances when a polygon overlaps with other region.
It appears that the issue is related to the relative areas of the two regions.

This works fine:
![Aug-02-2019 13-47-47](https://user-images.githubusercontent.com/20819712/62347496-810fde00-b52c-11e9-87c0-2e834aaeb07c.gif)

But not this one:
![Aug-02-2019 13-47-29](https://user-images.githubusercontent.com/20819

[2019-08-02 05:58] veggiesaurus commented on #439
I'm not sure how to get around this. The smaller region needs to be layered on top, to avoid prevent it from being unclickable. I guess a workaround here is to move the other region temporarily.

[2019-08-02 05:59] veggiesaurus commented on #439
Perhaps we need the ability to lock regions? That way they don't get rendered to the hit graph

[2019-08-02 06:13] kswang1029 commented on #439
possibly to have the polygon on top temporarily  _when_  guider is visible?

[2019-08-02 07:34] veggiesaurus commented on #439
Exactly...we can't tell if the guide should be visible if the polygon is not in front. I think the same applies to anchors for other regions, doesn't it?

[2019-08-02 07:39] kswang1029 commented on #439
@veggiesaurus you are right.... hmmm...

![Aug-02-2019 15-38-51](https://user-images.githubusercontent.com/20819712/62352841-b7088e80-b53b-11e9-8ab1-4114c8983769.gif)

[2019-08-02 08:16] zarda commented on #420
Thanks for information. Fixed the border issue.
![Screen Shot 2019-08-02 at 16 14 42](https://user-images.githubusercontent.com/10767557/62355024-bcb4a300-b540-11e9-9ff2-c85d5f37d3b3.png)

[2019-08-02 08:30] veggiesaurus commented on #420
@zarda what about putting the breadcrumbs across the entire dialog width, like @kswang1029 suggested?

[2019-08-02 08:31] arusstaylor commented on #420
I agree it would be better to put the breadcrumbs across the entire width.

[2019-08-02 08:50] kswang1029 commented on #420
@zarda please use a wider default width. Long file name is quite common.
<img width="797" alt="Screen Shot 2019-08-02 at 16 44 57" src="https://user-images.githubusercontent.com/20819712/62357285-50886e00-b545-11e9-9a2b-45ed9112a1e0.png">

Please make the minimum height even smaller (c.f. dev branch) and please make sure responsive layout still works when we resize (vertically and horizontally) th

[2019-08-02 08:55] arusstaylor commented on #420
refer you to issue #325. Would be nice to address that as well.

[2019-08-02 10:43] zarda commented on #420
Revised
![Screen Shot 2019-08-02 at 18 41 46](https://user-images.githubusercontent.com/10767557/62364957-67cf5780-b555-11e9-85cd-5e9e1bf5441a.png)

[2019-08-02 11:07] arusstaylor commented on #420
This is looking better.  Probably nice to have just a bit more space between the breadcrumb directory info and the file info box.

[2019-08-02 11:26] kswang1029 commented on #420
@zarda
With 6e77020,
1) please restore the size of the file browser dialog as the dev. Now it is too small in width.
<img width="1440" alt="Screen Shot 2019-08-02 at 19 20 35" src="https://user-images.githubusercontent.com/20819712/62366997-04e0bf00-b55b-11e9-81d8-93500ee7c34e.png">

2) now items are mis-aligned.
<img width="800" alt="Screen Shot 2019-08-02 at 19 21 53" src="https://user-images.gi

[2019-08-02 13:17] #377 closed

[2019-08-02 13:17] #376 closed

[2019-08-02 13:18] #374 closed

[2019-08-02 13:18] #375 closed

[2019-08-04 11:39] #359 closed

[2019-08-05 16:03] #425 closed

[2019-08-05 16:08] #423 closed

[2019-08-06 01:59] kswang1029 opened #443 "cannot create a polygon if users click too fast"
I think this is an exceptional case but that may happen.
![Aug-06-2019 09-57-15](https://user-images.githubusercontent.com/20819712/62505849-d439a780-b830-11e9-9eeb-d7021098b059.gif)

[2019-08-06 03:45] kswang1029 commented on #335
@zarda @veggiesaurus I track down this issue a bit and found that this issue is related to the current zoom level of the image. In the above example, once we see the wcs strings are broken, then if we zoom further out and move the region a bit, the wcs strings are back to normal and it seems to be normal forever.

[2019-08-06 06:07] kswang1029 opened #444 "missing image viewer when reloading a special layout"
if there is only one widget docked and the image viewer widget is undocked, and if we save this kind of layout and reload it, the image viewer will be gone and cannot be launched anymore.
![Screen Shot 2019-08-06 at 2 05 38 PM](https://user-images.githubusercontent.com/20819712/62514993-926e2880-b853-11e9-9eb9-f6ccd03dc70d.png)

[2019-08-06 07:28] kswang1029 opened #445 "missing Stokes widget in a saved layout"
similar to #425

[2019-08-06 07:49] duidae commented on #445
ah it's because stoke widget and dynamic layout are integrated into CARTA at almost the same time, will fix it soon

[2019-08-06 08:14] #445 closed

[2019-08-06 08:19] duidae commented on #444
this is a little bit tricky, currently closing/undocking image viewer is provided to user, but there is no drag source of it for recovery(& we should not provide for performance/resource concern), so the easiest way to fix it is to disable close/undock in golden-layout, however only disabling close is achievable...my ideas are:
1. add a default image view to layout without image view  in left colu