[2020-10-21 07:50] duidae commented on #265
![image](https://user-images.githubusercontent.com/25971696/96689355-deec4800-13b4-11eb-9b75-7e5b3b7e5c8e.png)
added step to UI, btw @kswang1029  would you please elaborate the fourth requirement? thanks.

[2020-10-21 08:24] kswang1029 commented on #265
@duidae I suggest we replace "Req.... Current....." by the reference frame, frequency and velocity, such as the following mockup.

<img width="930" alt="Screen Shot 2020-10-21 at 4 20 03 PM" src="https://user-images.githubusercontent.com/20819712/96693312-ab5fec80-13b9-11eb-8d28-f3ab5ab28f8b.png">

[2020-10-22 02:25] duidae commented on #265
@kswang1029 so we dont have to handle #424 since "Req.... Current....." is no longer needed, right?

[2020-10-22 02:57] kswang1029 commented on #265
Yes. @veggiesaurus could you confirm this in case I miss something?

[2020-10-22 05:24] kswang1029 commented on #265
@duidae with origin/jason/issue_265 fbf9ec5, if step=5, we see the sequence is 0, "1", 6, 11, 16, 21. And if we stop and start again, it is "22", 27, 32, ... It seems there is always a single channel step then the step as specified with the spinbox. Could you have a look?

[2020-10-22 05:40] kswang1029 commented on #265
@duidae @veggiesaurus do you think we can combine the UI of frame rate and step with a dropdown followed by a spinbox? This would save space.

![Screen Shot 2020-10-22 at 1 40 01 PM](https://user-images.githubusercontent.com/20819712/96829408-300b4300-146c-11eb-98c8-e4b191edeb49.png)

[2020-10-22 06:04] duidae commented on #265
it's still under development, can test it after PR sent

[2020-10-22 08:20] kswang1029 opened #1233 "misalignment of UI elements"
potentially due to https://github.com/CARTAvis/carta-frontend/pull/1222

some UI elements are misaligned horizontally or vertically. e.g.,

![Screen Shot 2020-10-22 at 4 17 53 PM](https://user-images.githubusercontent.com/20819712/96844706-6489f980-1482-11eb-8876-7e48f96d1b94.png)
![Screen Shot 2020-10-22 at 4 18 22 PM](https://user-images.githubusercontent.com/20819712/96844707-65229000-1482-11eb

[2020-10-22 09:21] veggiesaurus commented on #1233
@kswang1029 can you check if this regression is definitely due to #1222? It changed the way SCSS files were compiled to CSS, so it could be a likely candidate :thinking:

[2020-10-22 13:00] #424 closed

[2020-10-23 02:29] kswang1029 commented on #1233
With the help from @ajm-asiaa (:rocket:), likely it is due to #1222.
This frontend branch from the 6th October (e07a005) before #1222 works fine.
http://carta.asiaa.sinica.edu.tw/frontend/e07a005/?socketUrl=wss://carta.asiaa.sinica.edu.tw/socketdev

[2020-10-26 09:37] veggiesaurus opened #1234 "update compatibility with react-rnd"
react-rnd versions 10+ seem to change the way they handle resize events, which causes some weird bugs when resizing widgets. We should update our code to work with the newer versions.

[2020-10-26 10:05] #1135 closed, assigned to duidae

[2020-10-26 11:45] #1139 closed, assigned to veggiesaurus

[2020-10-26 15:24] kswang1029 opened #1236 "Support filtering and sorting in the spectral line query table"
after spectral line query and displaying the result as a table, the table should provide filtering and sorting function so that it is much easier to select target lines for line ID overlay.

[2020-10-26 19:58] low-sky opened #1237 "Catalog tool: Enhanced marker-based visualization"
Allow for more catalog columns to be mapped to marker properties:

- Size of plotting symbol
- Colour of plotting symbol
- Orientation of plotting symbol

Build user interface to set transform between marker properties and catalog entries.

[2020-10-26 19:59] low-sky opened #1238 "Catalog tool: standalone loading"
Allow catalogs to be loaded directly without an associated image.

[2020-10-26 20:00] low-sky opened #1239 "Catalog tool: ellipse plotting symbols"
Allow catalogs to plot ellipses with catalog columns mapping to ellipse major and minor axis as well as orientation.

[2020-10-26 20:02] low-sky opened #1240 "Catalog tool: Simple regressions and summary statistics"
- Be able to report the slope and intercept of a linear fit to a selected region or subpopulation in a bivariate plot.
- Be able to report summary statistics for data in bivariate or histogram plots (e.g., mean flux density of selected sources, where flux density is a column in the catalog).

[2020-10-26 20:05] low-sky opened #1241 "Catalog tool: Density plots and other efficiencies for large catalogs"
To manage large catalogs in bivariate plots and overlays:

- Improve efficiency for generating and displaying catalogs with large number of entries as an overlay.  This potentially could be managed on the back end and a compressed image transmitted.
- Show crowded regions of bivariate plots as a density plot that smoothly transforms to a scatter plot on zoom-in.

[2020-10-26 20:07] low-sky opened #1242 "Catalog tool: Three dimensional scatter plotting"
Show three catalogue variables in a 3D scatter plot with pan/tilt/zoom capabilities.

[2020-10-26 20:08] low-sky opened #1243 "Catalog tool: Online catalog query (SIMBAD)"
Use online query based on TAP to retrieve remote catalog data to display on region of the sky being examined.

Edit: issue now specifically focused on SIMBAD queries.

[2020-10-27 00:54] low-sky commented on #1239
Should also include arrows and lines in this category to support plotting of vector fields and pseudovectors

[2020-10-27 02:07] kswang1029 commented on #1238
Scheduled for v2.0 for now. Need more technical discussions on the complexities.

[2020-10-27 02:31] kswang1029 commented on #1241
tagged as v3.0 for now

[2020-10-27 02:32] kswang1029 commented on #1242
tagged as v3.0 for now

[2020-10-27 02:32] kswang1029 commented on #1243
tagged as v3.0 for now

[2020-10-27 03:24] kswang1029 commented on #263
duplicated #1149

[2020-10-27 03:24] #263 closed

[2020-10-27 03:43] kswang1029 commented on #1237
@low-sky A question:
for size/color/orientation mapping, I suppose we will only accept numeric columns (not string columns) as input, right? Then we can set up normalization via the GUI. Do we expect to support mapping with string columns?

[2020-10-27 03:47] low-sky commented on #1237
Yes, just numerical columns.  Sometimes you do want to do text annotation (e.g., source number) but just numerical initially.

[2020-10-27 07:38] veggiesaurus commented on #1240
I think this should be split into two separate issues

[2020-10-27 07:39] veggiesaurus commented on #1239
This is a major issue, because it would require us to do our own plotting, rather than using an existing plotting library, such as plotly.

[2020-10-27 07:40] veggiesaurus commented on #1237
Size and color are easy enough, but orientation will require a switch from plotly to our own custom built WebGL plotting library

[2020-10-27 08:01] kswang1029 commented on #1237
if orientation is really required, the storypoint should be increased (currently 5).

[2020-10-27 08:14] veggiesaurus opened #1244 "update to latest versions of blueprint core and table"
minor compatibility issues will need to be sorted out

[2020-10-27 10:11] veggiesaurus commented on #1089
just to clarify, the clip min/max and scaling type (log, linear, etc) should all be matched

[2020-10-27 16:28] low-sky commented on #1239
Unfortunately, oriented markers are going to be essential for the polarization use case and are helpful for other visualization cases too.  This can slide into another version but I think will be important.

[2020-10-27 19:48] jolopezl opened #1246 "broken build due to broken dependencies"
[code]

[2020-10-28 07:29] #1228 closed, assigned to veggiesaurus

[2020-10-28 07:34] #1246 closed, assigned to veggiesaurus

[2020-10-28 09:40] #256 closed

[2020-10-28 09:40] #1089 closed, assigned to veggiesaurus

[2020-10-28 09:53] veggiesaurus commented on #341
@TienHao we will need to adjust the AST wrapper a bit to make it compatible with this approach (currently it has a fixed set of colours)

[2020-10-28 19:22] low-sky commented on #1240
In discussion with, @panchyo0, I note that it would be good to toggle drawing the line of regression onto the scatter plot.

[2020-10-28 19:36] low-sky commented on #1237
As noted in discussion with @panchyo0, we will need some controls for mapping numerical values to ranges.  A good example of this is for colour where the already have some tools in the render configuration for the image browser.  We'll want some similar functionality for colour, namely ability to set min and max of ranges considered, colour table for the points, and ideally the transform between n

[2020-11-02 05:22] kswang1029 commented on #1223
@veggiesaurus @low-sky I have done some tests with few different zfp compression quality indices. Please find the attachment for the results. Still a puzzle here why we see defects on "continent" (such as the example here) too.... On small "island" (imagine NaN as Ocean/Sea), it makes senses to have visible defects. The extreme case is a single pixel island.
[CARTA_zfp_quality_test.pdf](https://gi

[2020-11-02 05:54] kswang1029 commented on #1223
Wonder if this is related to the pixel value? In the test example above, the pixel values are 1500-ish.

UPDATE: I have done another test by multiplying 0.001 to the test image so that pixel values are 1-ish. The symptom remains so probably it is not due to the range of pixel values.

UPDATE2: same issue with v1.3.1 and v1.2.2

[2020-11-02 08:47] kswang1029 commented on #1223
Interestingly, with v1.1 (pre-tile-based rendering), there is no such issue. So it might be something to do with the tiles.

[2020-11-02 08:51] veggiesaurus commented on #1223
Perhaps my nan substitution stuff is buggy. I will explore

On Mon, 02 Nov 2020, 10:47 Kuo-Song Wang, <notifications@github.com> wrote:

[2020-11-03 05:55] kswang1029 commented on #954
@veggiesaurus While testing the new "step" function of the animator, I see the missing tile issue. When missing tiles are present, the tile streaming indicator persists when the animation has stopped. The console shows "Missing compression map for key=5_0_63".  See below the screenshot:
![Screen Shot 2020-11-03 at 1 51 57 PM](https://user-images.githubusercontent.com/20819712/97953671-2a9ee880-1dd

[2020-11-03 06:02] veggiesaurus commented on #954
@kswang1029 still only when stopping?

[2020-11-03 06:04] kswang1029 commented on #954
Apparently yes. Not every time and this could happen even with 1 fps.

[2020-11-09 10:08] veggiesaurus commented on #1250
adding to V2.0, since this is a prerequisite for the Stokes support in https://github.com/CARTAvis/carta-backend/issues/611

[2020-11-10 09:26] veggiesaurus commented on #1151
@kswang1029 how is this different from #262?

[2020-11-10 09:28] kswang1029 commented on #262
same as #1151

[2020-11-10 09:28] #262 closed

[2020-11-11 00:58] keflavich commented on #1250
would it be valuable for me to cross-post this on https://github.com/CARTAvis/carta/issues/?

[2020-11-11 04:09] veggiesaurus commented on #1250
I've migrated it here because it's specifically front-end related

[2020-11-11 07:35] Jordatious commented on #1237
It would be nice to increase this functionality and plot log axes, for example. Not sure why we need orientation of markers. I would have thought that's much less a priority than other basic plotting functionality.

[2020-11-12 04:45] low-sky commented on #1237
Orientation of markers is useful for plotting things like source catalogues for objects with major, minor axes and position angles.

[2020-11-12 16:29] Jordatious commented on #1237
Wouldn't that be less markers and more ellipses? Many source finders that write those properties to catalogues also write ds9 region files, which CARTA could import. I agree it'd be useful, but I'd prefer to see more basic plotting functionality added first.

[2020-11-13 10:45] veggiesaurus opened #1252 "Frontend chokes when loading region files with a large number of regions"
After @pford fixed https://github.com/CARTAvis/carta-backend/issues/505, it looks like the issue now resides on the frontend. Loading a region file with ~3000 ellipses causes the frontend to completely choke. Memory usage keeps crawling up and CPU usage is around 100%

[2020-11-13 11:05] veggiesaurus commented on #1252
it seems that the initial loading choking is mostly due to the region list widget. If this is closed beforehand, then it seems to be _slow_ at loading, but still manages to load a 500 region file. But after loading, it's still unusable due to rendering all those regions inefficiently.

[2020-11-13 13:37] veggiesaurus commented on #1252
@Jordatious this is the issue you were describing. I agree its rather embarrassing...

[2020-11-13 15:16] keflavich opened #1253 "Preserve "Load" window size"
My filenames are uniformly too long to show the suffixes in the file load window, so every time I load a file, I have to resize the window in several dimensions.  Is it possible to have a given session preserve the file load window size?

[2020-11-18 02:52] kswang1029 opened #1254 "support "extrema" to stats dropdown"
Related to https://github.com/CARTAvis/carta-backend/issues/438

A new stat type "extrema" has been implemented in the backend by @pford. The frontend needs to hook it up.

[2020-11-18 08:54] kswang1029 commented on #1204
assuming this does not require backend work. If it needs, please add "requiring_backend" tag.

[2020-11-18 09:17] kswang1029 commented on #936
fixed now (as of 20201118).

[2020-11-18 09:17] #936 closed, assigned to nobody

[2020-11-18 09:26] kswang1029 commented on #698
fixed via https://github.com/CARTAvis/carta-frontend/pull/1222

[2020-11-18 09:26] #698 closed, assigned to ajm-ska

[2020-11-18 09:37] kswang1029 commented on #260
decided during the 2020 vf2f meeting. Interactive CLEAN will not be implemented in CARTA.

[2020-11-18 09:37] #260 closed

[2020-11-18 09:38] kswang1029 commented on #1033
duplicate to #267

[2020-11-18 09:38] #1033 closed, assigned to nobody

[2020-11-18 22:22] jott3077 opened #1272 "Initial support for saving/restoring/sharing of workspaces (frontend)"
As an extension to layouts, states are a full CARTA session, including the images loaded, render settings, animator status etc.
It should be possible to save such states and reload them.

Associated backend issue https://github.com/CARTAvis/carta-backend/issues/1185

Initial work for v4 beta1: (edit by @veggiesaurus)

- treat workspaces like layouts, in the sense that we have a list of them in CAR

[2020-11-18 22:30] veggiesaurus commented on #1272
@kswang1029 we've discussed this before, do we have an existing issue for it?

[2020-11-19 00:22] kswang1029 commented on #1272
Sounds like (sort of) part of this https://github.com/CARTAvis/carta-frontend/issues/479

[2020-11-19 00:26] kswang1029 commented on #1272
This feature sounds more like an extension of session resume.

[2020-11-19 03:17] kswang1029 commented on #1935
@jott3077 @veggiesaurus we do have spectral conversion via AST. For this issue, maybe we could add a toggle in the preferences such as "display velocity when possible" so that we will show velocity as the default axis in the spectral profiler widget. If so, this issue should be transferred to frontend repo.

[2020-11-19 03:32] kswang1029 commented on #1256
We will use GSL via WebAssembly at the frontend to support spectral profile fitting. Transferring this issue to the frontend repo.

[2020-11-19 03:34] kswang1029 commented on #1257
We will use GSL via WebAssembly at the frontend to support this feature. Transferring this issue to the frontend repo.

[2020-11-19 03:34] Kechil opened #1257 "histogram fitting capability"

[2020-11-19 03:37] kswang1029 commented on #1258
The can be done with GSL via WebAssembly at the frontend. Transferring to the frontend repo.

[2020-11-19 03:37] Kechil opened #1258 "Spatial profile fitting capability"

[2020-11-19 03:40] kswang1029 commented on #1259
This should be in the frontend repo. Transferring.

[2020-11-19 03:43] kswang1029 commented on #649
Requirements:

provide gaussian function as a start. Need science team input for other possible profiles (Voigt, Lorentizan, line spread functions (e.g., sinc)).
capability to set initial guess of fitting parameters
capability to fix part of fitting parameters
capability to fit multiple profiles in a single shot
export fitting results in a text file

[2020-11-19 03:44] kswang1029 commented on #1256
duplicated #649

[2020-11-19 03:44] #1256 closed

[2020-11-19 05:45] kswang1029 commented on #1254
PR as #1255

[2020-11-19 06:40] #884 closed, assigned to duidae

[2020-11-19 06:49] veggiesaurus commented on #1272
I think this is primarily a frontend issue.

[2020-11-19 07:32] kswang1029 commented on #1213
duplicated #1007

[2020-11-19 07:32] #1213 closed, assigned to panchyo0

[2020-11-19 07:32] kswang1029 commented on #1007
support eps, svg image format
full/compressed resolution
rgb
possible tool: imageMagick

[2020-11-19 09:36] #265 closed

[2020-11-19 09:42] veggiesaurus commented on #1204
if we keep the same approach of sending ZFP compressed data, then this is a purely frontend issue.

[2020-11-19 10:37] kswang1029 commented on #1204
A potential issue I could imagine is we might have color bias due to compressed data. The blended color is sensitive to each color channel I suppose.

[2020-11-19 10:49] veggiesaurus commented on #1204
I'm not sure what you mean by that. Surely for each channel you still need to do a float to R, G or B mapping?

[2020-11-19 11:21] kswang1029 commented on #1204
At different zoom levels, different layers of the tile pyramid (ie different block averaging levels are applied) are delivered to frontend thus we will see the _apparent_ color changes a bit. If the apparent color changes different in different channel, we will see the false color image changing its apparent color too at different zoom levels I guess. I might be overthinking the issue but I will p

[2020-11-19 11:25] veggiesaurus commented on #1204
oh ok, I see what you mean :thinking: Since the mean downsampling suppresses the extrema, highlights and shadows in a particular channel will be dependent on the zoom level.

[2020-11-20 07:34] kswang1029 opened #1260 "Volume rendering"
Usually an image cube is visualized as a 2D slice (e.g., a 2D image with RA vs Dec). Volume rendering will provide an alternative way to visualize a 3D cube in a pseudo-3D way by allowing users to change the view angle of the cube interactively.

[2020-11-20 07:37] kswang1029 opened #1261 "save profiles in FITS format"
Currently profiles (spatial, spectral, stokes, histogram) can be exported as tsv format. Users request to support FITS format too so that it is easier for post-processing with other tools (eg chemical modeling).

The actual generation of the FITS file can happen at the frontend or the backend. TBD.

[2020-11-20 07:38] veggiesaurus commented on #1260
this should probably be an epic. It's one of the largest features in terms of complexity

[2020-11-20 07:40] veggiesaurus commented on #1261
can you provide an example FITS file with the correct headers and content?

[2020-11-20 07:40] kswang1029 opened #1262 "statistics widget: export as human and machine readable format"
Users request to be able to save the content in the statistics widget. The format should be human and machine readable.

[2020-11-20 07:56] kswang1029 opened #1263 "Epic: support OIR image data"
from vf2f 2020 (@low-sky):

Optical / IR astronomy Imaging
- More brightness units (magnitudes)
- Profile and 2D surface plotting

Optical / IR astronomy Spectroscopic Cubes
- Simultaneous Multi-extension FITS files visualization
- Uncertainties / Inverse-variance, DQ flags and associated visualization
- Inclusion of errors in statistics of regions
- Profile fitting
- Optical line lists

Photometr

[2020-11-20 08:43] kswang1029 commented on #1261
Here are two examples from SDSS.
[spectra_fits.zip](https://github.com/CARTAvis/carta-frontend/files/5572308/spectra_fits.zip)
I suspect there is no such standard for 1d spectrum.

[2020-11-20 17:22] arusstaylor commented on #1260
This is indeed a big issue and one that will involve significant compute on the back end.  Will this feature drive us toward a different architecture along the lines that Rob talked about at the last F2F session?

[2020-11-21 05:18] kswang1029 opened #1264 "support LEL in the file browser"
This is to replicate the LEL (lattice expression language) support of the file browser in casaviewer. Users can enter an expression in a text field so that a new image can be formed dynamically. The relevant backend issue is: https://github.com/CARTAvis/carta-backend/issues/665

intro of LEL: https://casa.nrao.edu/casadocs/casa-6.0/imaging/image-analysis/lattice-expression-language-lel/lattice-exp

[2020-11-23 02:32] #1044 closed, assigned to nobody

[2020-11-23 02:32] kswang1029 commented on #1044
implemented via https://github.com/CARTAvis/carta-frontend/pull/1248

[2020-11-23 08:09] veggiesaurus commented on #1260
That would only be an option if _all_ nodes that we wanted the backend to run on had GPU support, I think. But we will need some GPU acceleration on the backend.

[2020-11-24 07:19] kswang1029 opened #1266 "ALMA archive request: support loading ADMIT line ID file and overlaying on spectral profiles"
The ALMA archive will contain ADMIT products including line identification results as a file. The request is to be able to load it into CARTA and visualize the line ID as an overlay on the spectral profile plots.

[2020-11-24 07:29] kswang1029 opened #1267 "Support image export - high resolution png"
as part of the epic #1009

This is to provide the ability to export high resolution png (600dpi?) in addition to the screen resolution.

[2020-11-24 07:36] kswang1029 opened #1268 "more control of the aspect ratio of the image plot"
from @jott3077

At the moment the aspect ratio of an image png file is determined by the aspect ratio of the image viewer widget which can be adjusted only via mouse. For the presentation and publication purposes, it is essential to be able configure the aspect ratio of the image plot precisely and programmatically (eg text box).

req doc: https://docs.google.com/document/d/1DG7aR81KoepLUQP8fw-WDk

[2020-11-24 12:45] kswang1029 opened #1269 "shortcut button conflict for launching the catalog file browser"
users feedback:

"Import catalog" is mapped to cmd+C. This is a terrible idea, because that is also the command for Copy. So every time I want to copy information from the statistics window, or the region window, I get the catalog navigator. Please, please, please change this.

[2020-11-24 12:46] veggiesaurus commented on #1269
@kswang1029 can you check if there are any other commonly used shortcuts that we're abusing?

[2020-11-24 12:47] kswang1029 commented on #1269
will do. I will check macOS and ubuntu. Self-assigned for investigation.

[2020-11-25 21:09] pford commented on #1264
Screenshot of viewer file browser, to load image aJ.fits with values squared.  "LEL expression" text input only appears when LEL checkbox is checked.
![viewer_filebrowser_lel](https://user-images.githubusercontent.com/856604/100281506-4868f480-2f27-11eb-90cf-2e4f5776e39f.png)

[2020-11-26 20:12] confluence commented on #955
I have created [a PR for the protobuf portion of this](https://github.com/CARTAvis/carta-protobuf/pull/40), and reactivated [the original backend PR](https://github.com/CARTAvis/carta-backend/pull/430) (they should only be merged when this is implemented, as they introduce a breaking change to the interface).

Please note that the mip is interpreted as the *maximum permitted* mip, and the returned

[2020-11-29 20:33] keflavich opened #1270 "Changing order of images does not change order in animator"
I can change the order of images using the Image List tool.  In the animator, if I drag the tracker box left to right, it does the expected thing and obeys the order given in Image List.  However, if I use the Next/Previous tool, it retains the order in which the files were loaded instead of the modified order in Image List.

[2020-11-30 01:17] kswang1029 commented on #1270
@keflavich Thank you for reporting this. We will fix it in the next release. Issue transferring to the frontend repo.

[2020-12-07 05:25] kswang1029 opened #1271 "image artifacts seen in model/clean component images"
User feedback:

pixel value.  See the attached screenshot.
The colourscale goes from -0.002 to 0, so all 0 pixels should
be the lightest colour.  The cursor is over a pixel which
is a fairly different color, suggesting a value significantly
<0, but the cursor readout at top says "0.0".  casa viewer
and imstat agree that the actual value of pixel 5013,6481
is in fact 0.0, so it is the color shown b

[2020-12-07 06:37] kswang1029 commented on #1269
Some notes:
1. When using macOS and a browser (either Safari, Chrome, or Firefox) to access a remote server (eg mix n match page), the CARTA shortcuts work fine as it use "ALT" key instead of mac's "CMD".
2. **Import catalog** needs a new shortcut as CMD+C or CTRL+C conflict with copy
3. When using CARTA in Linux VM on Mac, CTRL+UP/DOWN (changing channel) conflicts with macOS's "mission control".

[2020-12-08 01:34] arusstaylor commented on #1272
not only reload them but capture the state and share it.

[2020-12-08 08:36] duidae commented on #633
@veggiesaurus  @kswang1029  would this implementation be ok?
![blr2o-562k2](https://user-images.githubusercontent.com/25971696/101459676-83c9e100-3973-11eb-981f-95fb1a5bff7b.gif)

[2020-12-08 09:09] kswang1029 commented on #633
This looks nice! In addition to the hdu index, shall we add the name of the hdu in the dropdown menu directly? Users would easily identify which is which without trial and error by reading the info panel.

[2020-12-08 09:49] confluence opened #1273 "Make carta-frontend installable through apt with all dependencies."
Aims:

* A single PPA with all CARTA components and dependencies packaged.
* This should probably be a pre-built version which does not depend on an npm install -- needs further investigation. Installing through npm should remain as a separate option.

This will probably be simplified if we can serve the frontend from the backend (using functionality in the new uWebSockets library)

This should be

[2020-12-08 13:32] veggiesaurus commented on #633
It seems a bit unusual to have a dropdown in the tab headers, but I think it works rather nicely. I agree with @kswang1029 that we nee the name of the HDU as well

[2020-12-09 01:03] panchyo0 commented on #889
With plotlyjs 1.58.0, we can apply transform to fix this bug. @kswang1029 could you please check http://carta.asiaa.sinica.edu.tw/frontend/0b759da/?socketUrl=wss://carta.asiaa.sinica.edu.tw/socketdev

[2020-12-09 02:10] kswang1029 commented on #889
@panchyo0 yes now with a Retina display, image overlay is sharp.

I noticed a performance difference when plotting 20000 symbols with Chrome, Firefox, and Safari. They perform like Chrome (smooth) > Firefox (a bit leggy) > Safari (quite leggy)

@panchyo0 @veggiesaurus could this be the issue we encountered before that Safari updates cursor state at 240 Hz?

UPDATE: with Safari, the current dev bra

[2020-12-09 07:26] duidae commented on #633
@kswang1029 you mean like this, right? copied from release 1.4

![image](https://user-images.githubusercontent.com/25971696/101598244-d4ecda00-3a32-11eb-8abe-0201232c8ee4.png)

[2020-12-09 07:31] kswang1029 commented on #633
@duidae Better just like "1: image", "6: error", and "7: coverage". "HDU" and "ExtName" are redundant.

[2020-12-09 08:20] markccchiang commented on #1171
The backend branch [mark/stokes_for_stat_and_hist_calc](https://github.com/CARTAvis/carta-backend/tree/mark/stokes_for_stat_and_hist_calc) and protobuf branch [mark/stokes_for_stat_and_hist_calc](https://github.com/CARTAvis/carta-protobuf/tree/mark/stokes_for_stat_and_hist_calc) are ready to test with the frontend.

[2020-12-09 08:43] veggiesaurus commented on #633
Do you think we need the "HDU List" label? Might also be redundant. Not sure how long HDU names can be, but we probably want to be as compact as possible

[2020-12-09 08:48] kswang1029 commented on #633
Maybe simply “HDU”? “list” is implicit with the dropdown menu.

[2020-12-10 21:12] keflavich opened #1275 "Match scales, colorbars"
Feature request: I'd like to be able to match scales and colorbars between different images.

Is there a "debug" command that could be used for this purpose in the meantime?

[2020-12-11 11:56] #1254 closed, assigned to TienHao

[2020-12-12 03:10] panchyo0 commented on #1018
`blueprintjs NumericInput` after version 3.29.0 becomes uneditable without `onValueChange` method. for example https://codesandbox.io/s/focused-sun-qbffe?file=/src/App.js
we need to set `asyncControl = true` when we do asynchronous update

[2020-12-14 05:10] kswang1029 opened #1559 "feature request: zoom pane"
request from ESO optical users

cf ds9
![Screen Shot 2020-12-14 at 1 09 29 PM](https://user-images.githubusercontent.com/20819712/102042783-b2c9d200-3e0d-11eb-9c58-800dcabb46d4.png)

[2020-12-14 08:53] Kechil commented on #1275
The matching scale feature is  implemented already and don't think colourbar matching is essential at the moment, since it's quite easy to manaully adjust them

[2020-12-14 09:16] Kechil opened #1276 "v2.0 Deployment"

[2020-12-14 13:10] keflavich commented on #1275
Let me clarify: I mean matching color scales and stretches, i.e., match the limits of the display (the minimum and maximum value) and the stretch used (log, asinh, linear, etc).  If either of these are presently implemented, could you please point to the description in the documentation?

I disagree that this is easy to manually adjust.  I want this feature for comparing several (n>1, frequently n

[2020-12-15 07:10] veggiesaurus commented on #578
likely to be resolved by migrating to plotly

[2020-12-15 07:11] veggiesaurus commented on #985
possibly resolved by plotly migration

[2020-12-15 07:17] veggiesaurus commented on #1179
probably fixed by simply running the carta backend without the bundled electron app (e.g. jupyter-notebook approach)

[2020-12-15 07:23] kswang1029 commented on #1267
@kswang1029 to create a doc to explore possible approaches (frontend vs backend vs hybrid rendering)

[2020-12-15 07:29] kswang1029 commented on #1271
@kswang1029 to explore all compression quality parameters to see how artifacts change

[2020-12-15 07:36] veggiesaurus commented on #1277
need warning on frontend and to skip generated images such as moment map (and eventually PV)

[2020-12-16 06:55] kswang1029 commented on #1271
@veggiesaurus I have done some tests with a point source model image (one pixel as 10 and others as 0) and with different raster compression quality parameters.

For an image with 2816x2816 pixel (2816=256x11, point at tile center), starting from compression quality=**13** we won't see any defects at any zoom level with all different clip levels. With an image with 2560x2560 pixel (2560=256x10, po

[2020-12-16 07:31] kswang1029 commented on #1271
UPDATE: if the pixel value is 100, we need 15 to remove the defect. This seems to scale with the contrast (as expected).

[2020-12-16 08:22] kswang1029 commented on #1271
@veggiesaurus I made a set of test images with a size of 2560x2560 and have a point source at the image center (but from tile perspective it is at the tile corner). With different pixel values, we need different compression quality parameters in order to not seeing artifacts with log scale (alpha=1000) and 90% clip (this is the setup to be able to see artifacts easily).

[code]
To solve this issue

[2020-12-16 08:24] veggiesaurus commented on #1271
I don't think changing the compression setting to 20 my default is a valid option, it will dramatically increase transfer size

[2020-12-16 12:47] kswang1029 commented on #1271
How about we use the per-channel histogram and if more than 90%(this is just a wild guess and might need some experiments) of pixels concentrates in the bin containing 0, the backend overwrites the default compression quality from 11 to 20 (or the default+9 and up to 32)? This check is done on per-channel basis. If this approach is feasible, then this requires backend work instead of the frontend.

[2020-12-17 08:12] veggiesaurus commented on #1275
to clarify: I think it's easy to manually match color bars (e.g. viridis, jet, etc), but it's tricky to manually match the scales and limits. So we've added scale/limit matching in v2.0. A new "raster scaling matching" button is shown in the "Matching" column

![image](https://user-images.githubusercontent.com/592504/102460899-4ee31b80-4050-11eb-9e23-a7852c00da0c.png)

[2020-12-20 16:47] nbrunett opened #1279 "Resizing preferences window does not expand content"
When I first open the preferences window, there is too much content to show all at once, like below
![Screen Shot 2020-12-20 at 11 42 13 AM (2)](https://user-images.githubusercontent.com/7672534/102718880-a683c000-42b8-11eb-9cdc-68e6c28292fd.png)

However, if I stretch out the window by dragging the bottom edge, the content of the window stays in the same small space like this
![Screen Shot 2020-1

[2020-12-21 08:35] kswang1029 opened #1278 "side control points of a region not at the middle of a side"
from user feedback https://github.com/CARTAvis/carta/issues/52

This is as seen in v1.4
https://user-images.githubusercontent.com/20819712/102756160-656bd880-43aa-11eb-90da-cf0f6ae5563d.mp4

[2020-12-21 08:37] kswang1029 commented on #1279
Thanks for reporting this issue. Transferring this to the frontend repo.

[2020-12-22 07:59] acdo2002 opened #1281 "Select all logged Event Types"
Current situation: If the testers would like to see the Event Types on the console.log, they should select the Event Type items under File->Preference->Log Events.

Improvement: Many thanks to Jason's suggestion!!!
So far my method is adding a button, it only shows up on the Log Events tab and it can select all the Event Types at once (no matter you already selected or not).
The original "Restore

[2020-12-23 05:54] kswang1029 opened #1283 "spectral matching with different conventions in the headers"
When exporting an image to a FITS file in CASA, there is an option to set the spectral convention as velocity in the header. So in principle we should see the original image and the exported image are perfectly matched with each others. However, we see an offset in the matched channel index.
![Screen Shot 2020-12-23 at 1 44 32 PM](https://user-images.githubusercontent.com/20819712/102964095-c2d864

[2020-12-24 02:39] kswang1029 commented on #970
Tested with Version 14.0.2 (15610.3.7.1.10, 15610) and the issue remains.

[2020-12-24 21:57] Jordatious commented on #1559
I'm also very keen for this!

[2021-01-06 09:03] #1132 closed, assigned to duidae

[2021-01-06 09:06] #1281 closed, assigned to nobody

[2021-01-06 14:08] veggiesaurus commented on #932
@kswang1029 pinning the contour config widget would require quite a few changes. It would be much easier to just re-arrange the dialog layers. Our current ordering is (back to front):

[code]

I propose we change this to
[code]

[2021-01-06 14:15] kswang1029 commented on #932
Do these dialog components not support click-to-front, just like floating widgets?

[2021-01-06 14:24] veggiesaurus commented on #932
Not the way they're currently configured :thinking:

[2021-01-06 14:27] veggiesaurus commented on #971
@kswang1029 can you suggest some text for the error message (both in browser and desktop version?)

[2021-01-07 03:30] kswang1029 commented on #932
How about the following? I move "about", "save layout", and "preferences" toward front as usually they are used less frequently but once they are used they should be at front. Splash screen is used when initializing and when the connection is broken. When the later happens, it should be at the very front.
[code]

[2021-01-07 07:37] #1125 closed, assigned to veggiesaurus

[2021-01-07 14:05] veggiesaurus commented on #1024
@kswang1029 can we close this?

[2021-01-07 14:07] kswang1029 commented on #1024
Yes

[2021-01-07 14:07] #1024 closed, assigned to veggiesaurus, kswang1029

[2021-01-07 14:07] veggiesaurus commented on #1041
@kswang1029 @TienHao I'm assigning this issue to the two of you, for investigation _after_ @panchyo0 has finished the plotly migration if necessary.

[2021-01-08 08:32] #971 closed, assigned to veggiesaurus, kswang1029

[2021-01-08 08:54] #697 closed, assigned to pford, TienHao

[2021-01-08 10:21] #1250 closed, assigned to veggiesaurus

[2021-01-08 20:40] panchyo0 commented on #1018
closed with PR #1280

[2021-01-08 20:40] #1018 closed, assigned to panchyo0

[2021-01-11 07:15] #633 closed, assigned to duidae

[2021-01-12 03:51] kswang1029 opened #1293 "region list: center transformation error for matched image and size conversion accuracy"
Please refer to the video for the demo. If we create a circle region at (11h, -40deg) and a diameter of 10arcmin, then on a matched image, the center of the transformed circle is shifted (it should be still (11h, -40)).

If we unmatched the image, the copied region has errors in size (should be still 10arcmin) likely due to floating number truncation error.

https://user-images.githubusercontent.c

[2021-01-12 04:13] kswang1029 commented on #1293
my fault..... this issue exists in v1.4 too......🤢

[2021-01-12 08:49] confluence commented on #955
Small update: contrary to my earlier plans, non-HDF5 files now return decimated profiles. The metadata values from the returned objects should still be used, since the requested values may be defaults (e.g. a requested end value which is unset or explicitly set to zero defaults to the height or width; the returned end value reflects the actual end).

[2021-01-12 08:52] kswang1029 commented on #955
When exporting the profile as a text file, are we able to get a full resolution one?

[2021-01-12 08:56] confluence commented on #955
That depends entirely on what the frontend requests. The backend just returns what is requested. The intention is for lower-res profiles matching the raster mip to be loaded by default during navigation, and for full profiles to be requested if data is exported (and perhaps preloaded when the cursor has been idle for some length of time).

[2021-01-12 09:12] kswang1029 commented on #955
Ok so we need a frontend issue to address this if there hasn’t been one filed.

[2021-01-12 09:29] confluence commented on #955
I thought that we would address it in _this_ issue -- the bare minimum required for compatibility with the ICD change is to change the profile format, but actually requesting the different mips is needed to make the mipmap feature usable.

[2021-01-12 12:00] veggiesaurus commented on #955
If the cursor is frozen or remains stationary for some time, we will request the full-resolution profiles. So when exporting, they should be full-res

[2021-01-12 15:53] #1129 closed, assigned to duidae

[2021-01-13 06:13] duidae commented on #1128
duplicate issue with #1018

[2021-01-13 06:13] #1128 closed, assigned to duidae

[2021-01-18 10:14] veggiesaurus commented on #1214
This issue will be handled in 2.0. Automatic reconnections will be removed in favour of user-driven reconnections (with automatic _resume_ when the reconnection occurs)

[2021-01-19 03:37] kswang1029 opened #1295 "animator: support playback mode and step for image and stokes iterators"
At the moment, playback mode (forward, backward, bouncing, and blink) and step only work for the channel iterator. Those need to be supported for the image and the stokes iterators too.

[2021-01-19 07:08] kswang1029 commented on #1212
this is part of https://github.com/CARTAvis/carta-frontend/issues/1038

[2021-01-19 07:12] kswang1029 commented on #1028
duplicate: https://github.com/CARTAvis/carta-frontend/issues/1262

[2021-01-19 07:12] #1028 closed, assigned to nobody

[2021-01-20 06:46] ajm-ska opened #1296 "Safari only bug with CARTA icon in reconnection splash screen (when hosting frontend via backend)"
On MacOS, when using Safari (14.0.2, and maybe other versions) the CARTA logo displays OK in the initial connection splash screen, but if the backend disconnects, then the CARTA logo does not appear in the reconnection splash screen.

![Screenshot 2021-01-20 at 14 27 40](https://user-images.githubusercontent.com/20802551/105136077-070e5300-5b2c-11eb-85d3-154c1bc8ab03.png)

It is only a problem wit

[2021-01-22 10:31] veggiesaurus commented on #1296
@ajm-asiaa  does this only occur when you're hosting the frontend from the backend itself? That would make sense to me

[2021-01-26 07:00] veggiesaurus opened #1299 "Package updates for 2.0"
Chore: Update various packages to their latest versions for 2.0 release

[2021-01-26 17:45] veggiesaurus opened #1300 "minor catalog UI issue when using GAL coordinates"
Just a minor layout issue:

![image](https://user-images.githubusercontent.com/592504/105882931-ed2ead80-600e-11eb-898d-95d76056e409.png)

[2021-01-27 03:22] duidae commented on #1130
so far the working scenario is designed as(Fig 1):

1: when opening the spectral line query widget, frontend send ICD message to ask backend to ping splatalogue(check service alive)

2.1: backend sends ok to frontend to unmask when get HTTP 200 ok.
2.2: backend sends failure to frontend and frontend keeps masked, user can still reload to check service through the button in the splash screen(Fig 2)

[2021-01-27 04:07] kswang1029 commented on #1130
@duidae yes the plan sounds good. Let me check with Tony on putting the Splatalogue logo in CARTA.

[2021-01-27 04:16] kswang1029 commented on #1130
Do we also need a repeating ping-pong _after_ the initial successful ping-pong? Such as every 5min, for example. If a ping-pong test fails, we display the splash screen and mask the GUI.

UPDATE: after thinking a while I think _if_ we implement a repeating check and if it fails, we should _not_ mask the UI but put a message somewhere instead as with the data at the frontend, users can still perfor

[2021-01-27 04:48] kswang1029 opened #1302 "enhancement of spectral matching reference selections"
ref: https://github.com/CARTAvis/carta/issues/56

in addition to improving the user manual about the default spectral reference (radio velocity), we could consider to add possible options to the context menu (via right-click) of the "matching" column of the image list widget OR we add options in the "settings" dialog (not exist yet) of the image list widget. The could help a bit the UX I guess. @j

[2021-01-27 06:18] duidae commented on #1130
since splatalogue is an independent service maintained by others, I think only test once is better to avoid becoming a ping attack.

[2021-01-27 06:27] kswang1029 opened #1303 "support progress bar and cancellation in the file browser"
to support https://github.com/CARTAvis/carta-backend/issues/431 the frontend needs a progress bar and cancellation button while the backend is parsing image types from a folder with lots files.

[2021-01-27 07:14] veggiesaurus commented on #1130
If we we checked every 5 mins, and assumed that CARTA peaked at 1000 concurrent users _using_ the spectral query tool, that would be 3 requests per second. That shouldn't be a problem, although we should probably check with NRAO before implementing this sort of feature.

I think the more important question is whether splatalogue can handle a large number of concurrent users doing actual queries?

[2021-01-27 07:15] ajm-ska commented on #1296
Yes. That seems to be the case.

I just tried it with an frontend running with `npm run start`. I closed the initial tab in Chrome and went to localhost:3000 in Safari. Then I started a backend with `./carta-backend no_http=true debug_no_auth=true`. It connected. Then I terminated the backend process. The carta logo was still visible in the disconnect splash screen.

[2021-01-27 07:56] veggiesaurus commented on #1296
my guess is because it's not getting cached by the browser. we could try add some caching headers :thinking:

[2021-01-27 09:46] kswang1029 commented on #1267
doc: https://docs.google.com/document/d/1vnodDFd5au4M6hC7HkfIzgN4NXApyxQ1l_11-GRitnM/edit

[2021-01-27 11:04] veggiesaurus opened #1304 "workaround for BlueprintJS column resizing bug"
https://github.com/palantir/blueprint/issues/3833 is preventing us from updating past BlueprintJS table 3.8.0, but that's also preventing #1301 from being merged in (issues with newer versions of React, I think?).

We need a workaround for this, or we need to fix https://github.com/palantir/blueprint/issues/3833 ourselves.

[2021-01-27 19:01] jehibbard commented on #1302
I think using the image list widget probably makes the most sense, since that is where spectral matching is enabled/disabled. But another option could be in the z-line profile widget (or to at least to display what restfreq/redshift is assumed for displaying the red vertical line when the cube is registered to something else)

[2021-01-27 23:40] kswang1029 commented on #1302
@jehibbard lets have the feature of the on-the-fly reference frequency conversion in the spectral profiler as a separate issue. Please help to file a new one in the frontend repo.

[2021-01-28 00:59] kswang1029 commented on #1302
@jehibbard in fact i think the on-the-fly frequency conversion should also happen when matching cubes, not just in the spectral profiler.

[2021-01-28 10:51] kswang1029 opened #1305 "extra channel info derived from header with ra-dec-stokes"
If the image has 3 axes as ra-dec-stokes, there is an extra channel info in the file info tab.
![6ABDF640-88D2-4589-AA6B-628EF059DD05](https://user-images.githubusercontent.com/20819712/106127763-c94ba300-6199-11eb-89e3-540e74fea672.jpeg)
![86F8DD20-F515-4546-AEF9-0625FA491BD9](https://user-images.githubusercontent.com/20819712/106127779-cbadfd00-6199-11eb-97de-3744ba9ec4eb.jpeg)
image from @zarda

[2021-01-28 22:43] jehibbard opened #1306 "new feature: allow user to change the velocity reference for WCS matching of cubes"
We can match cubes in the spectral axis either by frequency, by channel, or by radio or optical velocity.  The latter are matched to the cube by using either a redshift for the object, or a rest frequency for a line (I suspect its by RESTFREQ).

Problems arise when trying to register cubes of the same object that have incompatible values for the redshift, or a missing redshift. In this case, the s

[2021-02-01 13:55] veggiesaurus commented on #955
@confluence I will create a branch _today_ that just send through full-res profile requests in the format required. Then we can tentatively get your branch merged into dev and this will become a frontend problem (and can also be tested carefully with ICD tests)

[2021-02-02 09:13] veggiesaurus opened #1307 "update to latest version of emscripten compiler"
we should also try to switch to the [official](https://hub.docker.com/r/emscripten/emsdk/tags?page=1&ordering=last_updated) docker image

[2021-02-04 03:05] kswang1029 opened #1309 "image archive use case: limiting functionalities accordingly in a read-only system (frontend)"
echo https://github.com/CARTAvis/carta-backend/issues/711

[2021-02-04 09:58] veggiesaurus commented on #955
I've changed this to a 3, because I think we'll just implement the full-res profiles when the cursor is frozen (and not do stationary checks).

[2021-02-05 04:07] kswang1029 commented on #1269
Looks like using "G" is safe for **Import catalog**. We cannot use "T" as it means a new tab in browsers.

[2021-02-05 07:06] duidae opened #1312 "show warning to users when spatial matching failed & get AST error"
to reproduce:
1. open a file with NAXIS3=stoke NAXIS4=FREQ
2. append a file with spectral axis
3. click XY matching

P.S.  the file in (1) has the headers as below (I renamed the file to multi-stoke so dont know what's the original file name):
![image](https://user-images.githubusercontent.com/25971696/107001106-06c8b580-67c4-11eb-8e3b-4af7721f3329.png)

![image](https://user-images.githubusercont

[2021-02-05 07:08] veggiesaurus commented on #1312
Any two images? Do they overlap at all?

[2021-02-05 07:14] duidae commented on #1312
i suspect the issue is caused by incorrect assumption that the freq axis is the 3rd axis and AST gives error when matching:
![image](https://user-images.githubusercontent.com/25971696/107001589-d897a580-67c4-11eb-88dd-1b6e696911b1.png)

[2021-02-05 07:17] duidae commented on #1312
image file in (1)
[multi-stoke.zip](https://github.com/CARTAvis/carta-frontend/files/5930758/multi-stoke.zip)

[2021-02-05 08:00] kswang1029 commented on #1312
the image is `set_HH211/HH211_IQU_zoom_4ch.image.pbcor` (CASA image format)

[2021-02-05 08:08] kswang1029 commented on #1312
with dev+dev I tried two images as ra-dec-freq-stokes and ra-dec-stokes-freq, both spatial and spectral matching work. 🤔 could you attach your "0test.fits"?

[2021-02-05 08:11] duidae commented on #1312
[0test.zip](https://github.com/CARTAvis/carta-frontend/files/5931023/0test.zip)

[2021-02-05 08:18] kswang1029 commented on #1312
The two images are at non-overlapping different hemispheres. So what you see is expected.
![Screen Shot 2021-02-05 at 4 15 32 PM](https://user-images.githubusercontent.com/20819712/107007364-65466180-67cd-11eb-8671-11a5ece325f7.png)
![Screen Shot 2021-02-05 at 4 15 21 PM](https://user-images.githubusercontent.com/20819712/107007374-68d9e880-67cd-11eb-9951-57aee290ef96.png)

[2021-02-05 08:20] kswang1029 commented on #1312
related to https://github.com/CARTAvis/carta-frontend/issues/719 and https://github.com/CARTAvis/carta-frontend/issues/587

[2021-02-05 08:22] duidae commented on #1312
why cant i see the AST grid? mine is different from the above image

[2021-02-05 08:24] kswang1029 commented on #1312
the two images are _before_ spatial matching. After triggering spatial matching, the grid of "0test.fits" cannot be generated due to the error your see from AST, thus empty.

[2021-02-05 09:01] veggiesaurus commented on #1312
I'm not sure what the solution is. It's rather confusing to the user to just see nothing. What if we automatically disable spatial matching if this occurs?

[2021-02-05 09:08] kswang1029 commented on #1312
I suggest we catch the error and display a message why. Checking if two images (more precisely their WCS even beyond the image FOV) are matchable is a bit tricky.

[2021-02-06 02:37] panchyo0 commented on #889
fixed with PR 1211

[2021-02-06 02:37] #889 closed, assigned to panchyo0

[2021-02-06 03:02] panchyo0 opened #1313 "stokes scatter plot point indicator not working"
![Feb-04-2021 10-38-53](https://user-images.githubusercontent.com/22226157/107107068-0c39f600-67ec-11eb-82ca-ad9921892749.gif)
only works if coordinate type is `Channel`

[2021-02-08 02:45] YuHsuan-Hwang commented on #1269
@kswang1029 Sure, let's change to CMD+G. Any suggestion for item 3? How about changing to "shift+up/down"?

[2021-02-08 02:52] kswang1029 commented on #1269
let's focus on catalog shortcut for now. item 3 needs some careful thoughts. Once catalog shortcut is fixed please file a PR and I will test.

[2021-02-09 21:06] panchyo0 opened #1316 "webgl context lost"
Webgl will lost it context when we go over the browser webgl instance limitation.  For chrome is 16.
Need to add eventlistener `webglcontextlost` for all webgl instance.

https://user-images.githubusercontent.com/22226157/107427749-ef007280-6ade-11eb-91a9-b229d58adde1.mov

[2021-02-11 09:09] Jordatious commented on #819
I also have this problem, which happens quite a bit since I always spatially match by default. I'm currently imaging small boxes around outlier sources so it happens as I switch between those and the larger image.

[2021-02-11 22:30] panchyo0 commented on #586
Due to the Webgl context limitation (16 from Chrome, 32 configurable with `--max-active-webgl-contexts=32`), we can not update all chart to `scattergl` with Plotlyjs. Translate between `scatter` and `scattergl` will block frontend UI (single thread).
In order to use Webgl for all plots we need to a way to share webgl context between all plots.

https://user-images.githubusercontent.com/22226157/10

[2021-02-11 22:36] panchyo0 commented on #1304
with blueprints table 3.8.22, we just get more bugs when table update. We might need to keep with table 3.7.1

https://user-images.githubusercontent.com/22226157/107707289-dd55d100-6c7e-11eb-992d-2921c8d7740b.mp4

[2021-02-14 12:01] kswang1029 commented on #586
in this case, chartjs performs significantly better than plotlyjs. 🤔

[2021-02-18 06:33] duidae commented on #1150
@kswang1029 do we have details about this feature? thanks.

[2021-02-18 06:57] kswang1029 commented on #1150
taken to following header as an example:

BITPIX  =                  -32 /Floating point (32 bit)
NAXIS   =                    3
NAXIS1  =                  335
NAXIS2  =                  250
NAXIS3  =                    1
EXTEND  =                    T
BSCALE  =   1.000000000000E+00 /PHYSICAL = PIXEL*BSCALE + BZERO
BZERO   =   0.000000000000E+00
BMAJ    =   1.884508960777E-04
BMIN    =   1.5305974

[2021-02-18 07:01] kswang1029 commented on #1150
as a note, for the frontend development, we will need the specific branch from @pford, which allows loading a pv image successfully.

[2021-02-18 07:20] kswang1029 opened #1318 "widget cannot be created by drag-to-dock operation"
this seems to be the 2nd regression (https://github.com/CARTAvis/carta-frontend/issues/584).

The drag-to-dock way of creating a new widget is broken in dev.

The following is with v1.4 as a demo of how it should work.
https://user-images.githubusercontent.com/20819712/108319722-c540fd00-71fc-11eb-80ef-d820a7438a68.mp4

[2021-02-18 07:37] veggiesaurus commented on #1318
@kswang1029 any chance you can check which commit broke this? This seems to be broken for all widget types, so I suspect it's different to #584

[2021-02-18 07:38] #1233 closed, assigned to YuHsuan-Hwang

[2021-02-18 08:18] kswang1029 commented on #1318
starting from PR https://github.com/CARTAvis/carta-frontend/pull/1285
the previous PR https://github.com/CARTAvis/carta-frontend/pull/1284 works fine.

[2021-02-18 11:40] veggiesaurus commented on #1318
ok, then I'll assign it to @duidae

[2021-02-19 01:42] #1279 closed, assigned to YuHsuan-Hwang

[2021-02-19 03:36] duidae commented on #1318
#402

[2021-02-19 07:48] kswang1029 opened #1319 "world coordinate offset in the spatial profiler"
Please refer to the following video and focus on RA=13:30:00.00. The cursor stays as RA=13:30:00.00 while zooming and the red vertical line should stay at RA=13:30:00.00. However, there is offset at different zoom levels.
In addition, at high zoom level, there seems to be an 1-pixel offset (due to the legacy 0-index/1-index issue?).

https://user-images.githubusercontent.com/20819712/108473853-8a5

[2021-02-19 13:33] #1318 closed, assigned to duidae

[2021-02-19 14:06] veggiesaurus commented on #1304
removed from 2.0 release, we will explore alternative table libraries, but can also stick with 3.7.1 for now

[2021-02-20 04:07] #453 closed

[2021-02-20 04:07] #578 closed

[2021-02-20 13:32] kswang1029 opened #1324 "greyed out shortcuts are not really disabled"
When CARTA is just initialized with a file browser launched, the file menu looks like
![Screen Shot 2021-02-20 at 9 23 07 PM](https://user-images.githubusercontent.com/20819712/108596732-dab35400-73c1-11eb-89f3-f18b952cd96a.png)
However, if we use shortcut to trigger
- append image (alt + L)
- save image (alt + S)
- import catalog (alt + G)
the frontend accepts the command even though in the menu

[2021-02-22 02:50] kswang1029 opened #1325 "incorrect polygon region expression in tsv file"
The polygon region expression should include all polygon control points.
<img width="1561" alt="Screen Shot 2021-02-22 at 10 48 59 AM" src="https://user-images.githubusercontent.com/20819712/108650896-96c46a00-74fb-11eb-9493-6cdea71e3376.png">

[2021-02-22 06:47] kswang1029 commented on #1046
At the moment, if we load a cube with Stokes QU (the header is set correctly), the Stokes column in the image list widget still starts with 0. Numeric index should be 1 but we better just show alphabetic index as Q.

[2021-02-22 07:02] #1300 closed, assigned to nobody

[2021-02-22 09:27] #1127 closed, assigned to veggiesaurus, duidae

[2021-02-22 11:43] #1299 closed, assigned to veggiesaurus

[2021-02-22 11:45] veggiesaurus commented on #1283
off by one channel?

[2021-02-22 11:47] kswang1029 commented on #1283
By a lot. The two red lines in the screenshot should be at the same channel (the profiles are identical).

[2021-02-22 11:49] veggiesaurus commented on #1283
the spectral matching is done by AST based on the headers. Is it possible that the backend is passing incorrect headers for the CASA image?

edit, no wait. I just re-read the issue. It's just the channel matching that seems to be the issue

[2021-02-22 13:02] veggiesaurus commented on #1283
The issue is in `getTransformedChannel` (and I assume will be the same in `getTransformedChannelList`). When we set the `FREQ` based image to use the same matching type as the other image (`VRAD`), AST needs to choose a new unit as well. Since we normally _display_ things as km/s, that's what it picks. But the `VRAD` image has its units in m/s, so the spectral matching is off by a factor of 1000.

[2021-02-22 13:08] kswang1029 commented on #1283
So I guess if the header is defined in wavelength we need to provide a correct unit too.

[2021-02-22 13:10] veggiesaurus commented on #1283
Luckily we have a map for default units already thanks to @duidae

[2021-02-23 06:00] kswang1029 opened #1327 "spectral line label off by one channel?"
In the following example, if we set the velocity shift to be 1540 km/s, it is expected to see the label is plotted at 1540 km/s but it appears there is one channel offset. Changing to other velocity shift (eg 1600 km/s) has the same issue. @duidae do you think this is due to the 0-index/1-index issue?

![Screen Shot 2021-02-23 at 1 58 05 PM](https://user-images.githubusercontent.com/20819712/10880

[2021-02-23 07:32] #1283 closed, assigned to veggiesaurus

[2021-02-24 03:02] kswang1029 opened #1329 "animation playback not working for the image iterator in the animator"
To reproduce, load two images, select the image radio button in the animator and click the play button.

The frontend does not send out START_ANIMATION message to the backend. It does send out the message if it is channel or stokes.

[2021-02-24 03:29] veggiesaurus commented on #1329
Image animation is front-end only, so it shouldn't be sending anything. any messages in the dev console?

[2021-02-24 03:30] kswang1029 commented on #1329
when the button is clicked, no new message is seen in the console.

[2021-02-24 05:50] #1262 closed, assigned to YuHsuan-Hwang

[2021-02-24 07:41] kswang1029 commented on #1270
This issue is blocked by https://github.com/CARTAvis/carta-frontend/issues/1329 where the play button is not functional for the image iterator.

[2021-02-25 05:48] YuHsuan-Hwang opened #1330 "export image/data buttons still exist when no file is loaded"
When no file is loaded, the export image/data buttons are only set to be invisible. Their tooltips are visible, and users can still download images and files by clicking the buttons.
![image](https://user-images.githubusercontent.com/43841102/109108706-fd04f300-776e-11eb-99f9-887d34ce8a57.png)

[2021-02-25 15:09] veggiesaurus commented on #601
@lmarIT See, it's already an issue 😆 Scheduled for next release

[2021-02-25 15:11] veggiesaurus commented on #601
@TienHao could we use a chartjs chart for the ticks and numbers? I can write a WebGL shader to dynamically display the correct colours in real time

[2021-02-27 07:44] kswang1029 commented on #1270
A set of test images for this issue is available in `set_dice` where there are six images as the "dice".

[2021-02-27 09:14] kswang1029 commented on #649
I have created a set of test cubes with different total number of channels and with different spectral profiles at different positions. Images are available at `set_test_profile_fitting`.

[2021-02-27 13:50] kswang1029 commented on #1269
item3 can be addressed in #1143

[2021-02-27 13:50] #1269 closed, assigned to YuHsuan-Hwang

[2021-02-28 07:06] kswang1029 commented on #1329
` ksw/test_image_playback ` provides a one-liner fix to the issue. @veggiesaurus would you have a look to see if that makes sense when you have time?

UPDATE: same branch might fix https://github.com/CARTAvis/carta-frontend/issues/1270 too.

[2021-03-02 20:00] tammojan opened #1333 "Question: catalog file format or example"
I'd like to try the new feature of catalog overlay. However I cannot find documentation of the file format of the catalog that is required, other than that it should be fits. Is the format documented, or is an example catalog available?

[2021-03-03 05:56] duidae commented on #1277
![image](https://user-images.githubusercontent.com/25971696/109759270-b3f9e680-7c27-11eb-8735-c90563b3c5f9.png)

@kswang1029 the in-memory moment map images will be ignored when resuming session & append warnings as above, btw want to make sure: are PV images not able to be resumed either?

[2021-03-03 05:58] kswang1029 commented on #1277
Yes, if the PV image is in-memory too. For v3.0, we will be able to generate a PV image from the GUI. This image will be in-memory and users can decide to save it to disk with "Save image".

If users "load" a regular PV image from disk to CARTA, we will need to include it when resuming a session.

[2021-03-03 06:27] #1329 closed, assigned to nobody

[2021-03-03 06:27] #1270 closed, assigned to YuHsuan-Hwang

[2021-03-03 07:36] kswang1029 opened #1335 "validate preferences.json and layout.json then apply error handling when needed"
PR https://github.com/CARTAvis/carta-backend/pull/746 introduces saving config files preferences.json and layout .json to the .carta folder. (Note the same issue already exists if users edit localStorge from browser)

These json files might be edited by users and might be edited so that some attributes are not understandable by the frontend resulting that frontend is initialized in an unexpected s

[2021-03-03 07:38] veggiesaurus commented on #1335
@duidae can you take care of this? It should be pretty easy to just warn the user and apply default layout

[2021-03-03 07:55] duidae commented on #1335
ok

[2021-03-03 13:27] #612 closed, assigned to panchyo0

[2021-03-03 13:39] veggiesaurus commented on #1151
@kswang1029 and @veggiesaurus to discuss

[2021-03-03 17:19] jehibbard commented on #1306
Another use-case would be when different spectral lines appear in the same cube (e.g.  13CO @110.20GHz & C18O @109.78GHz, or H13CO+ @88.75GHz & HCO+ @89.19GHz). If the requested feature is implemented so that multiple zeropoints/restfrequencies can be specified for the same cube, then the user would be able to see both these profiles plotted in the same velocity scale. That would argue for impleme

[2021-03-04 05:55] #932 closed, assigned to veggiesaurus

[2021-03-04 05:56] #1307 closed, assigned to veggiesaurus

[2021-03-04 08:54] veggiesaurus opened #1339 "Add examples and descriptions to preferences schema"
The preferences schema needs to be enhanced with descriptions for each field, and examples for non-trivial fields

[2021-03-04 10:01] #1277 closed, assigned to duidae

[2021-03-04 15:57] jehibbard commented on #1306
I think this feature has to allow over-riding the value of the RESTFREQ in the header (for the case that there are multiple species in the same cube) as well as ALTRVAL/ALTRPIX (for the case where there are multiple kinematic systems in the same cube, e.g. HI observations of groups/clusters).

[2021-03-05 06:29] #923 closed, assigned to TienHao

[2021-03-05 07:30] kswang1029 commented on #1149
postpone to v3.0 (but needs to happen early when v3.0 dev cycle starts).

[2021-03-08 02:12] #1218 closed, assigned to YuHsuan-Hwang

[2021-03-08 02:13] #1325 closed, assigned to YuHsuan-Hwang

[2021-03-08 08:10] #1330 closed, assigned to YuHsuan-Hwang

[2021-03-09 06:12] YuHsuan-Hwang opened #1346 "Popovers displayed on top of the splash screen"
Popovers are displayed on top of the splash screen when the backend is disconnected.
![image](https://user-images.githubusercontent.com/43841102/110425859-06337f80-80e0-11eb-92bc-780721d29cd9.png)
![image](https://user-images.githubusercontent.com/43841102/110426348-e81a4f00-80e0-11eb-802d-d635883c1e7f.png)
This may be related to the `z-index: 999 !important;` settings in src/App.scss.

[2021-03-09 16:21] veggiesaurus commented on #1169
@Kechil is there anyone who could possibly get this done for 2.0? it would be really nice to sort this out sooner, rather than later, but it's a nice-to-have

[2021-03-09 16:24] low-sky commented on #1169
I forgot to mention at original call but something I'm always doing is changing contour styling, so implicit preferences here would be good too.

[2021-03-09 18:03] veggiesaurus opened #1347 "Out of bounds error when calling initFrame with a very large header"
Spin-off issue of https://github.com/CARTAvis/carta-backend/issues/768

The AST wrapper's `initFrame` function is crashing when passing it a very long header string.

[2021-03-10 10:00] #1347 closed, assigned to veggiesaurus

[2021-03-13 10:03] kswang1029 opened #1350 "Switch to WebGL2 rendering"
We should attempt to switch to WebGL2 for raster and contour rendering

[2021-03-15 07:46] #1335 closed, assigned to duidae

[2021-03-16 05:43] kswang1029 opened #1351 "log and power scaling function mapping issue"
With some discussions with @YuHsuan-Hwang when implementing a colorbar (https://github.com/CARTAvis/carta-frontend/issues/601) to the image viewer, we think the current log and power scaling functions do not map value [0, 1] to [0, 1] exactly. Rather, they map the value [0, 1] to [0, ~<1] when the control parameter "alpha" is large enough. However, if users define a small alpha such as 10, the upp

[2021-03-16 05:46] kswang1029 commented on #1351
@veggiesaurus do you think we can make the change here? The shader code needs some tiny changes too. eg https://github.com/CARTAvis/carta-frontend/blob/4b7a4ca26970eccb93ad1e8211875585193628f5/src/services/GLSL/pixel_shader_raster.glsl#L70
and
https://github.com/CARTAvis/carta-frontend/blob/4b7a4ca26970eccb93ad1e8211875585193628f5/src/services/GLSL/pixel_shader_raster.glsl#L73

[2021-03-16 05:54] veggiesaurus commented on #1351
yes please :+1: Assign to @YuHsuan-Hwang?

[2021-03-16 07:44] kswang1029 opened #1352 "inconsistent spectralMatchingType in preferences schema and GUI"
The schema allows more options but not all of them are available on the GUI.
<img width="985" alt="Screen Shot 2021-03-16 at 3 42 41 PM" src="https://user-images.githubusercontent.com/20819712/111273053-4e1d4e00-866e-11eb-9a85-032df5afbc71.png">
<img width="300" alt="Screen Shot 2021-03-16 at 3 43 25 PM" src="https://user-images.githubusercontent.com/20819712/111273104-5d040080-866e-11eb-8cdc-6646

[2021-03-17 09:10] #1351 closed, assigned to YuHsuan-Hwang

[2021-03-17 09:38] #1230 closed, assigned to YuHsuan-Hwang

[2021-03-17 19:51] arusstaylor opened #1355 "flux density showing up as NaN in stats widget"
The flux density value for a region is consistent showing up as NaN in the statistics widget.  The beam is defined in the header and there are no nan values in the region.    All other statistical quantities are ok.

<img width="1559" alt="Screenshot 2021-03-17 at 12 49 57" src="https://user-images.githubusercontent.com/9055533/111529443-66997100-871f-11eb-8d5e-e272d1ff0f5b.png">

[2021-03-17 23:36] kswang1029 commented on #1355
Could you post or email me the full header?

[2021-03-17 23:54] arusstaylor commented on #1355
CTYPE3 = FREQCRVAL3 = 3.200319626566E+08CDELT3 = 3.994398350842E+07CRPIX3 = 1.0CUNIT3 = HzCTYPE4 = STOKESCRVAL4 = 1.000000000000E+00CDELT4 = 1.000000000000E+00CRPIX4 = 1.0CUNIT4 = PV2_1 = 0.000000000000E+00PV2_2 = 0.000000000000E+00RESTFRQ = 4.940656458412E-324 / Rest Frequency (Hz) SPECSYS = LSRK / Spectral reference frame ALTRVAL = -INF / Alternate frequency reference value ALTRPIX = 1.0VELREF =

[2021-03-17 23:55] arusstaylor commented on #1355
I grabbed this from the header display in carta.  Unfortunately there does not seem to be any carriage returns in the header display.  Perhaps need an "export header as text file" option?

Below is the header from ds9

[2021-03-17 23:59] arusstaylor commented on #1355
SIMPLE  =                    T /Standard FITS
BITPIX  =                  -32 /Floating point (32 bit)
NAXIS   =                    4
NAXIS1  =                12200
NAXIS2  =                 6800
NAXIS3  =                    1
NAXIS4  =                    1
EXTEND  =                    T
BSCALE  =   1.000000000000E+00 /PHYSICAL = PIXEL*BSCALE + BZERO
BZERO   =   0.000000000000E+00
BMAJ    =   2.777

[2021-03-18 00:02] kswang1029 commented on #1355
BUNIT is empty so that’s probably the reason why flux density is NaN.

[2021-03-18 00:19] arusstaylor commented on #1355
Hmm.  These fits images were written by casa.  Would not expect them to be problematic.  BUNIT should not strictly necessary to calculate flux density.   We are perhaps being to fussy?   There is a BTYPE keyword value.  Whatever the unit in the map the flux density will be in those units times the beam area.   If the units in the map are not  intensity (per beam), then the user needs to beware.

I

[2021-03-18 00:25] arusstaylor commented on #1355
tried another image with a valid BUNIT and the flux density now reports correctly.  So indeed it is the BUNIT.  Thanks.

[2021-03-18 01:40] kswang1029 opened #1356 "Gamma spinbox is not rendered properly"
This issue seems hiding there for a while

![Screen Shot 2021-03-18 at 9 39 30 AM](https://user-images.githubusercontent.com/20819712/111560667-eed64f80-87cd-11eb-9232-493cb6e057c1.png)

[2021-03-18 02:22] kswang1029 opened #1357 "export header as a text file"
as requested from #1355, it would be handy to have an export button so that the header file can be saved as a text file.

[2021-03-18 02:23] kswang1029 commented on #1355
regarding saving header to a text file, I have created an issue #1357 to address it. Close this for now.

[2021-03-18 02:23] #1355 closed, assigned to nobody

[2021-03-19 04:43] arusstaylor opened #1358 "export information from the stats widget"
It would be good to be able to export the data in the stats widget.  The information should include

- the name of the region
- the image name that the region is contained in
- the geometry of the region (pixel coordinates)
- the statistical quantities

[2021-03-19 05:07] kswang1029 commented on #1358
Implemented via https://github.com/CARTAvis/carta-frontend/pull/1323

[2021-03-20 01:58] kswang1029 opened #1360 "Support labeling and cursor info for uv image"
the relevant backend issue is https://github.com/CARTAvis/carta-backend/issues/663.

The x and y labels should just display what CTYPE1 and CTYPE2 are. The coordinate grid should just be a normal Cartesian coordinate centered at 0,0. Cursor info should display (u, v) coordinate too along with the pixel value and pixel coordinates.

From the image header we expect to see the following CTYPE1/2:
- U

[2021-03-21 18:56] arusstaylor opened #1361 "inifinite wait on load of region file"
I am trying to load a region file that consists of ellipses for sources found with pybdsf.  First few lines of the file below.
CARTA seems to hang when I press the load button.

There re 6228 ellipse lines in total in the file.  Is this too large for CARTA?

#CRTF
global color=green, linewidth=1, coord=J2000
ellipse[[  33.4673deg,   -4.6302deg], [  13.48arcsec,   10.02arcsec],  262.2deg]
ellipse[[

[2021-03-21 19:11] veggiesaurus commented on #1361
@arusstaylor I think this is a duplicate of #1252

[2021-03-21 19:12] #1361 closed, assigned to nobody

[2021-03-21 19:12] veggiesaurus commented on #1252
Also raised by @arusstaylor in a separate issue.

[2021-03-21 19:13] arusstaylor commented on #1361
indeed

[2021-03-22 05:53] veggiesaurus commented on #1223
Is it possible that we didn't use compression on the desktop version for 1.1?

[2021-03-22 08:24] veggiesaurus commented on #1252
I suspect the only solution to this issue is to use konva without the react wrapper when rendering regions. This would require quite a large rewrite

[2021-03-22 13:09] #341 closed

[2021-03-23 02:14] kswang1029 opened #1363 "displaying world coordinate of a pv image in the cursor info bar"
After https://github.com/CARTAvis/carta-frontend/pull/1344 is merged, we will need to support displaying "world" coordinates of a pv image in the cursor info bar.

[2021-03-25 03:24] kswang1029 opened #1365 "frontend crash when loading a 1x1 pixel image"
This should be considered as an edge case but might accidentally happen when users generate a 1x1 subimage via the CARTA GUI. This only happens with 1x1 image. With 1xn it works fine.
<img width="1610" alt="Screen Shot 2021-03-25 at 11 22 11 AM" src="https://user-images.githubusercontent.com/20819712/112414201-9c140f00-8d5c-11eb-93f8-eb952458cae8.png">

[2021-03-25 09:44] veggiesaurus commented on #1365
I think it's a corner case instead of an edge case 😇

[2021-03-25 10:08] kswang1029 commented on #1365
LOL

[2021-03-26 02:06] kswang1029 commented on #1169
I suggest we set the following as implicit:

Global
======
Theme

Render Config
=============
Default scaling
Default colormap
Default percentile ranks

Contour Config
==============
Generator type
Thickness
Default colormap
Default color

Overlay Config
==============
AST color
AST grid visible
Beam color
Beam type
Beam width

Catalog
=======
Displayed columns

Region
======
Color
Line width
Dash

[2021-03-26 13:11] low-sky commented on #1169
This is a great list.  The only one I'm questioning is "contour levels" since this seems to be something that is more tied to data than to user preferences.  If this were in scale-free units like percentiles, that might make more sense.

[2021-03-26 13:31] kswang1029 commented on #1169
Good point. Removed. 🙂

[2021-03-27 10:48] kswang1029 commented on #597
@veggiesaurus @low-sky So this issue is requesting the greyscale3 colormap, the entire render config of kvis, or just a new scaling (transfer) function that can be apply to all other colormaps?

greyscale3
![Screen Shot 2021-03-27 at 6 46 53 PM](https://user-images.githubusercontent.com/20819712/112718265-d8966500-8f2c-11eb-84fb-fbf98c2e3206.png)
kvis render config
![Screen Shot 2021-03-27 at 6 47

[2021-03-29 05:31] kswang1029 commented on #1169
@veggiesaurus @low-sky @YuHsuan-Hwang

The original idea of this issue is to have UI state and the corresponding one in the preferences _synchronized_ in both direction. For example, changing the colormap in the render config widget also modifies the default colormap in the preferences, or changing the default colormap in the preferences also changes the current colormap in the render config widge

[2021-03-29 06:42] YuHsuan-Hwang opened #1368 "Extra blanks in the popovers of the render configuration panel"
Extra blanks in the popovers of the render configuration panel.
![image](https://user-images.githubusercontent.com/43841102/112796641-d521eb80-909c-11eb-9362-55ce1813d042.png)

This is possibly due to the `bp3-popover` style setting for the header text search popover of the file browser panel.

[2021-03-29 08:58] veggiesaurus commented on #597
@kswang1029 we just need a new scaling option (probably with a more sensible name than "greyscale3") that follows the same curve as above. That looks like a sigmoid function to me, so I'm not sure what the two parameters would actually do. Perhaps they would modify the location of the "step" and the sharpness?

[2021-03-30 03:48] kswang1029 opened #1370 "support sigmoid scaling functions in render config widget"
Related to the original description of https://github.com/CARTAvis/carta-frontend/issues/597, this feature request is to add sigmoid scaling functions (S-shape) to the render config widget.

<img width="359" alt="Screen Shot 2021-03-30 at 11 43 27 AM" src="https://user-images.githubusercontent.com/20819712/112930854-a3b52880-914d-11eb-8d69-78e4f2cafc86.png">
(fig from @veggiesaurus)

The two sigmo

[2021-03-30 03:49] kswang1029 commented on #597
@low-sky @veggiesaurus Let's split the original feature request into two: this one (bias and contrast widget) and this https://github.com/CARTAvis/carta-frontend/issues/1370 (sigmoid scaling function).

[2021-03-30 05:28] #1368 closed, assigned to YuHsuan-Hwang

[2021-03-30 07:11] kswang1029 opened #1372 "adding colorbar setting options to preferences dialog"
Once https://github.com/CARTAvis/carta-frontend/pull/1366 is merged, in the preference dialog, we need a "Colorbar configuration" tab and provide options so that users can configure their own defaults of the colorbar styling.

[2021-03-30 21:14] arusstaylor opened #1383 "stokes option for spatial profiles"
One should be able to select stokes for the spatial (x,y) profiles widget.  The use case that I am immediately trying to work with is an image  that is just I,Q,U,V, i.e. there is only one frequency channel but four stokes.   But even for cubes one should be able to bring up spatial widget and assign a stokes.
Ideally one would be able to select multiple stokes to display in the same x or y profil

[2021-03-31 01:26] kswang1029 commented on #1383
Yes, good point. We are actually wait for "line" region (v2.0 for sure) to be implemented and then we will put image, region, possibly stats and stokes dropdown menus to the spatial profile widget.

[2021-03-31 09:02] Jordatious opened #1385 "Feature request: latex support for custom labels"
For custom labels, such as the colorbar, the RA and Dec axes, it would be useful to support using latex.

[2021-04-01 07:52] zarda opened #1386 "Disable the load button if any selected file type is invalid"
When we open the files by selecting multiple files on FileBrowser interface, the frontend only check the first item we chose if the file type is valid. This behaviour would be an issue while selecting multiple region or catalog file. The backend reports that there is an invalid file if one of loading file is invalid.

**Reproduce:**
After opening an image, try to import region file and pick up a v

[2021-04-01 07:55] veggiesaurus commented on #1386
I'm not convinced that we should be checking the file info for each file. That can add a lot of overhead when selecting multiple image files.

[2021-04-01 08:18] veggiesaurus commented on #1385
[canvas-latex](https://github.com/CurriculumAssociates/canvas-latex) might be an option for this. However, I'm wondering how AST would calculate the padding based on the title sizes

[2021-04-01 13:24] #1150 closed, assigned to duidae

[2021-04-01 14:53] kswang1029 opened #1387 "layout with blank panel"
Found this by chance (I guess we have not had this issue before 🤔). starts from ver. 1.1
To reproduce:
1. max out a panel
2. then drag-and-drop to initialize a docked widget

https://user-images.githubusercontent.com/20819712/113312413-d7a27080-933c-11eb-8000-b702cbd808f4.mp4

Then entire UI seems still functional. The newly created widget occupies a row.

[2021-04-01 21:07] elnjensen opened #1560 "Feature request: Add option to reverse colormap when setting default"
In the dialog for setting user defaults, it would be nice to be able to specify that a colormap should be reversed.  You can do this on a per-image basis, but not for setting the default.  This would be particularly useful for the Red-blue colormap, where the default mapping is reversed with respect to channel velocities, and reversing is necessary for correct mapping of red-blue to Doppler shifts

[2021-04-03 01:30] gillesferrand commented on #597
As per @low-sky request, reposting the notebook where I explored (using Matplotlib) the implementation in Karma = Grayscale3 and in DS9:
[https://nbviewer.jupyter.org/github/gillesferrand/Matplotlib-customCmaps/blob/master/cmaps%20parametric%20sequential.ipynb](url)

[2021-04-06 06:46] #601 closed

[2021-04-06 06:51] kswang1029 opened #1389 "horizontal colorbar"
Extracted from https://github.com/CARTAvis/carta-frontend/issues/601

Colorbar in the image viewer should be optionally rendered as a horizontal bar at top or bottom of the image view. Special care of the "title" and x-label (rendered by AST) should be taken if the colorbar is rendered at the top side and the bottom side, respectively.

[2021-04-07 15:00] confluence opened #1393 "Profiles broken for images with minimal headers"
In the latest development version, images with minimal headers (e.g. the synthetic gaussian images produced by this script) have broken profiles (the cursor is fixed in the middle of the image and moving the cursor does not change the profiles. I suspect that this is connected to the recent axis changes. The affected images produce console warnings like Spectral frame not found and Sky frame not f

[2021-04-08 06:25] veggiesaurus commented on #1393
I can confirm that the file attached doesn't work with the dev branches, and also seems to break AST for the LMCq.fits test file on mix 'n match. @duidae, can you take a look at this?I think it's related to #1344, because the files work fine in the commit before that.

[2021-04-09 03:01] kswang1029 commented on #1370
close this due to misunderstanding the requirements.

[2021-04-09 03:01] #1370 closed, assigned to nobody

[2021-04-10 12:35] kswang1029 opened #1395 "Blueprintjs v4 upgrade"
https://github.com/palantir/blueprint/wiki/Blueprint-4.0

aiming carta >= v3.0

[2021-04-10 12:36] veggiesaurus commented on #1395
that was fast for a Saturday evening, @kswang1029 😆

[2021-04-12 05:44] kswang1029 commented on #1358
@arusstaylor this feature request has been implemented and will be included in the v2.0 release. Close this issue.

[2021-04-12 05:44] #1358 closed, assigned to nobody

[2021-04-12 05:47] kswang1029 commented on #1386
The current (more efficient) approach is to let the backend handles exceptions (eg invalid format, valid format but the data is corrupted etc) when attempting to load files. Can we close this issue?

[2021-04-12 05:59] zarda commented on #1386
The feature is already there.
When we open an image, the file browser will not list CRTF or xml, which might be filtered out.
We may apply this on other file format, which is already on the list.

[2021-04-12 06:23] kswang1029 commented on #1156
related to https://github.com/CARTAvis/carta-frontend/issues/1264

[2021-04-12 06:34] kswang1029 commented on #1034
related to https://github.com/CARTAvis/carta-frontend/issues/1156

[2021-04-12 06:39] kswang1029 opened #1396 "More statistical quantities in the statistics widget"
split from https://github.com/CARTAvis/carta-frontend/issues/1027

This feature request is to add more statistic quantities in the statistics widget such as skewness and kurtosis. Full list TBD.

[2021-04-12 06:39] kswang1029 commented on #1027
Separate the original issue as two
- provide options (settings) to choose which statistic to display in the statistics widget (this issue)
- provide more statistic quantities (eg skewness and kurtosis) (https://github.com/CARTAvis/carta-frontend/issues/1396)

[2021-04-12 06:56] kswang1029 commented on #1012
not sure if we need to address this issue. Having a minimum widget size sounds like a proper requirement.

[2021-04-12 06:59] kswang1029 commented on #1008
Not sure what this means. Can we close this if there is no clear requirement?

[2021-04-12 07:00] veggiesaurus commented on #1008
is this related to how we map values to the colour map? Or is it how we handle pixels when not at 1.0 zoom?

[2021-04-12 07:00] kswang1029 commented on #1006
implemented via https://github.com/CARTAvis/carta-frontend/pull/1249

[2021-04-12 07:00] #1006 closed, assigned to TienHao

[2021-04-12 07:02] veggiesaurus commented on #1012
I'm not sure I understand this issue's description. I know that floating widgets have a minimum size, but once they are docked, the minimum size is governed by the size of the layout itself, not the individual widgets. Should we display a [non-ideal state](https://blueprintjs.com/docs/#core/components/non-ideal-state) when a docked widget is below its minimum size (rather than having unexpected be

[2021-04-12 07:05] kswang1029 commented on #1012
that would be a good enhancement.

[2021-04-12 07:11] kswang1029 commented on #1002
If the idea of having tabs is only to be able to view images side-by-side, then this should refer to https://github.com/CARTAvis/carta-frontend/issues/1259 (multi-panel view)

[2021-04-12 07:15] kswang1029 commented on #963
I think equivalently this issue can be addressed via https://github.com/CARTAvis/carta-frontend/issues/1012 by using the blueprint non-ideal state to inform users that the current browser size is too small to display all widgets properly.

[2021-04-12 07:55] kswang1029 commented on #724
refer to https://github.com/CARTAvis/carta-frontend/issues/1051

[2021-04-12 07:55] #724 closed, assigned to nobody

[2021-04-13 01:37] kswang1029 commented on #716
This feature seems possible to be achieved with the spatial and spectral matching buttons in the image list. If image cubes are matched spatially, we can use the animator to control which channel for contour rendering and match the contour to other images spatially. @veggiesaurus if you also think so we may close this issue.

[2021-04-13 02:16] kswang1029 commented on #598
@low-sky @veggiesaurus given that a colorbar has been added to the image viewer and the scaling function is rendered together with the histogram, do you think we still need to add a colorbar to the render config widget? The concern here is space as it is already a busy layout.

At the moment if we apply different scales (plus different bias/contrast) the colorbar in the image viewer is updated dyn

[2021-04-13 02:20] low-sky commented on #598
I don't think so.  I think that people fiddling with bias / contrast are just looking at the actual image.

[2021-04-13 02:26] kswang1029 commented on #598
Ok shall we close this?

[2021-04-13 03:05] kswang1029 commented on #1118
Will reopen this if we receive requests from users. For now we keep this as simple.

[2021-04-13 03:05] #1118 closed, assigned to nobody

[2021-04-13 03:27] kswang1029 commented on #305
close this and refer to https://github.com/CARTAvis/carta-frontend/issues/1176

[2021-04-13 03:27] #305 closed

[2021-04-13 03:50] kswang1029 commented on #1935
Any more input regarding this? Shall we transfer this to the frontend repo?

[2021-04-13 05:14] #716 closed, assigned to veggiesaurus

[2021-04-13 05:17] kswang1029 opened #1397 "GUI for 2D image fitting"
the relevant backend issue is https://github.com/CARTAvis/carta-backend/issues/150

Requirement document:
https://docs.google.com/document/d/1E9kL7FOhVtkDDit8VIYle61tU5PzSYXjnLpxZBCHliY/edit?usp=sharing

Implementation plan:
- [x] Add a new dialog and UI for basic single/multiple gaussian fitting and text outputs
- [x] Add image/world coordinate conversion for the outputs
- [ ] Convert output FWHM

[2021-04-13 06:08] duidae opened #1398 "z profiler profile settings are not cleaned after closing a image in 1.4"
bug 1 reproduce:
1. open a image with stokes, select stokes to Q
2. create a region, select stat to RMS
3. close this image
4. reopen this image or other image, the previous settings (stat/stoke) remains

![juvv9-3ke63](https://user-images.githubusercontent.com/25971696/114504407-68444f00-9c61-11eb-82da-c8734cd2bec7.gif)

bug 2 reproduce:
1. open a image
2. select to the image instead of active, s

[2021-04-13 06:18] veggiesaurus commented on #1398
What is the proposed behaviour?

What about a situation where you have two images open and just close the one?

[2021-04-13 06:22] duidae commented on #1398
I think the original intention is to keep the settings when opening multiple images & switching profiles without changing anything, but should still reset the settings when all images are closed.

[2021-04-13 06:39] kswang1029 opened #1399 "Expand features in the spatial profiler widget"
relevant backend issue: https://github.com/CARTAvis/carta-backend/issues/796

v3b1:
- [x] image drop down
- [x] region drop down
- [x] stokes drop down

v3b2: covered in #1617

[2021-04-13 06:45] veggiesaurus commented on #1398
I think this needs some thought. If a user sets up a layout for viewing stokes profiles, and then it aautomatically adjusts when they close an image and open a new one, that might frustrate them.

[2021-04-13 06:51] duidae commented on #1398
confirmed with TienHao, that's a bug.

[2021-04-13 10:53] #1236 closed, assigned to duidae

[2021-04-13 12:57] #1153 closed, assigned to panchyo0

[2021-04-13 13:13] #1339 closed, assigned to veggiesaurus, kswang1029

[2021-04-13 19:54] jott3077 commented on #1935
this sounds good to me. The velocity is the most important to be displayed and it would be inconvenient to always switch over from frequency. For spectral line surveys there should not be a rest frequency attached in the first place so the display will be in frequency. But velocity should be the default display if available.

[2021-04-14 05:31] #598 closed

[2021-04-14 09:58] veggiesaurus opened #1400 "TypeScript type definitions for AST wrapper"
An `index.d.ts` file needs to be added to the AST wrapper, so that we use AST functions in a stronly-typed manner, instead of flying blind.

[2021-04-14 13:37] veggiesaurus commented on #1365
remind me again, did we resolve to serve any tile smaller than 4x4 as uncompressed?

[2021-04-14 13:54] kswang1029 commented on #1365
not sure🤔 I seem not having that memory. Test images are attached.
[tmp.zip](https://github.com/CARTAvis/carta-frontend/files/6311260/tmp.zip)

[2021-04-15 08:07] veggiesaurus opened #1402 "remove unnecessary observable and computed decorators"
There are a few instances where we are using an `@observable` decorator on properties that are actually constant. For example, `FrameStore::fraimeInfo` is assigned in the constructor, and should therefore just be a `public readonly`, rather than an `@observable`. This for example that `@computed get positionAxis()` should just be a `get positionAxis()`, unless there's any particular reason to keep

[2021-04-15 08:08] veggiesaurus commented on #1402
requesting input from @duidae and @YuHsuan-Hwang

[2021-04-15 08:40] duidae commented on #1402
agreed, and may also good to specify private observable/computed/action, and remove warnings in console like:

seems some are from autorun(), would be good if can find a way to eliminate that.

[2021-04-15 08:53] #1360 closed, assigned to YuHsuan-Hwang

[2021-04-15 08:54] #1363 closed, assigned to TienHao

[2021-04-15 08:57] YuHsuan-Hwang commented on #1402
Agree. It seems that `isPVImage(), positionAxis(), isUVImage(), uvAxis()` work fine without `@computed`.

[2021-04-15 12:15] kswang1029 opened #1403 "allowing region definition for pv and uv images as "world" coordinates"

[2021-04-15 12:16] kswang1029 commented on #1403
Now for UV and PV images we can only define a region in image coordinate (pix). We will need to extend this to "world" coordinate.

<img width="769" alt="Screen Shot 2021-04-15 at 4 27 51 PM" src="https://user-images.githubusercontent.com/20819712/114867405-5a402b00-9e27-11eb-801c-54b2aa353ddd.png">

[2021-04-16 02:35] panchyo0 opened #1404 "frontend broken with Safari 13"
<img width="1431" alt="Screen Shot 2021-04-15 at 8 34 57 PM" src="https://user-images.githubusercontent.com/22226157/114963457-0e42b580-9e2a-11eb-8afb-4be36f376878.png">

related issue https://github.com/maslianok/react-resize-detector/issues/141

[2021-04-16 06:50] kswang1029 opened #1406 "image archive use case: disable write request"
pairing to https://github.com/CARTAvis/carta-backend/issues/798

Once the frontend sees the flag in the message, save related options should be strictly disabled.

[2021-04-19 08:48] #1151 closed, assigned to veggiesaurus

[2021-04-19 08:48] #1400 closed, assigned to veggiesaurus

[2021-04-19 12:17] veggiesaurus commented on #1404
@panchyo0 can you see if just updating that module fixes this?

[2021-04-19 13:13] #1389 closed, assigned to YuHsuan-Hwang

[2021-04-20 12:58] veggiesaurus commented on #1404
workaround: upgrade to safari 13.1

[2021-04-20 12:58] #1404 closed, assigned to panchyo0

[2021-04-20 13:17] #1271 closed, assigned to markccchiang, kswang1029

[2021-04-21 06:39] kswang1029 opened #1411 "image with single channel not loading"
<img width="1657" alt="Screen Shot 2021-04-21 at 2 37 56 PM" src="https://user-images.githubusercontent.com/20819712/115507930-512fdd80-a2af-11eb-971b-32ec12f6d8de.png">

not sure if this is related to https://github.com/CARTAvis/carta-frontend/issues/1393

[2021-04-21 07:18] duidae opened #1413 "cant save layout with pop-out settings panel from ver. 1.4"
reproduce:
1. create a whatever layout & click cog of any widget in order to get the pop-out settings panel
2. save this layout
3. reload frontend, cant see the created layout in layout list

ver. 1.3 ok, bug starts from ver. 1.4
![bug1](https://user-images.githubusercontent.com/25971696/115512605-bfc36a00-a2b4-11eb-9e24-68b547bf7cc6.gif)

[2021-04-21 08:04] kswang1029 commented on #970
tested with Version 14.0.3 (15610.4.3.1.7, 15610) and the issue remains (as of 20210421 dev)

[2021-04-21 08:11] #1411 closed, assigned to veggiesaurus

[2021-04-21 14:55] veggiesaurus opened #1415 "colorbar not rendered correctly when colormap is inverted"
The colorbar looks fine until I invert the colormap.

Normal:
![ds91 fits-image-2021-04-21-16-54-08](https://user-images.githubusercontent.com/592504/115574821-42065b00-a2c2-11eb-946a-9bd3c93187ab.png)

Inverted:
![ds91 fits-image-2021-04-21-16-54-32](https://user-images.githubusercontent.com/592504/115574869-4e8ab380-a2c2-11eb-8e3c-2b64fde7d90e.png)

[2021-04-21 14:57] kswang1029 commented on #1415
In dev with horizontal colorbar merged?

[2021-04-21 14:59] kswang1029 commented on #1415
Ok I see this in bias/contrast branch, not in dev (before merging bias/contrast) and I missed it🙈

[2021-04-21 15:08] veggiesaurus commented on #1415
oops, I thought it was in `dev` 🙈

[2021-04-22 04:26] panchyo0 opened #1417 "Catalog flickering on Safari or Chrome (v 93, v 94)"
Catalog overlay flickering on Safari and Chrome (tested with Radeon Pro 570X)

Effected version for chrome: 93.0.4577.63, 93.0.4577.82, 94.0.4606.71

reproduce: https://codesandbox.io/s/webgl2-ojb60?file=/src/index.ts

<img width="1725" alt="Version 14 0 3 (15610 4 3 1 7, 15610)" src="https://user-images.githubusercontent.com/22226157/115655369-68db8600-a2f0-11eb-86da-037b54b4d3e4.png">

https://u

[2021-04-22 05:40] veggiesaurus commented on #1417
is there a workaround for older versions  or safari 13.1?

[2021-04-22 05:52] veggiesaurus commented on #1417
@panchyo0 what is the underlying bug here?

[2021-04-22 11:24] confluence commented on #1268
FYI, this can already be done through the scripting interface (although there's an outstanding issue with applying pixel scaling correctly on a hidpi monitor).

[2021-04-22 11:32] confluence opened #1418 "Automatic scaling to fit of specific generated image does not preserve aspect ratio"
In the latest development version, the example image (`default.fits`) is distorted when it is scaled to fit the view area when it is opened. This is an image with minimal headers. Other images with minimal headers (e.g. `image-10-10-10.fits`, which is generated with [this script](https://github.com/idia-astro/image-generator)) are not affected. I have tried stripping out several header entries fro

[2021-04-22 11:38] kswang1029 commented on #1418
Do you see a pixel is rendered as a rectangle and if you change the viewer aspect ratio do you see the aspect ratio of the rectangle pixel changes too?

[2021-04-22 11:43] confluence commented on #1418
Yes. Below are screenshots of the pixels after opening and after resizing the viewer.

![Screenshot from 2021-04-22 13-41-53](https://user-images.githubusercontent.com/651030/115708797-b7c90000-a370-11eb-8d52-c73eddc7c1c7.png)

![Screenshot from 2021-04-22 13-42-25](https://user-images.githubusercontent.com/651030/115708818-be577780-a370-11eb-8cb0-4a777b1083fb.png)

[2021-04-22 11:45] kswang1029 commented on #1418
That’s due to the current way we handle pv images. @veggiesaurus help🙈 Somehow the header fits the criteria we consider as pv (or none square pixel image)

[2021-04-22 11:48] confluence commented on #1418
To be clear, I realise that the correct thing to do may be to add a missing header value to the default image -- I just want to know what that is! It's not obvious from the comparison to the other minimal image.

[2021-04-22 11:51] kswang1029 commented on #1418
Try add cunit1 and cunit2 to be identical, and make sure CDELT1 == -CDELT2

[2021-04-22 12:00] confluence commented on #1418
But none of these are present in the working image's header.

[2021-04-22 12:00] confluence commented on #1418
Could the different BITPIX be affecting the result?

[2021-04-22 12:04] kswang1029 commented on #1418
That should be nothing to do with what we check for pv to enable flexible pixel aspect ratio.

[2021-04-22 12:10] kswang1029 commented on #1418
@confluence the reason is casacore "enhanced" the header of image-10-10-10.fits so there are more header entries including CUNIT and CDELT. The other two images after casacore parsing, no CUNIT and CDELT are created so they hit the criteria of rendering them with dynamic pixel aspect ratio. So to fix this, please add CDELT and CUNIT.

[2021-04-22 12:11] confluence commented on #1418
Oh, I think I have some more information. I made a 1024x1024 image with the generator script to make the header comparison easier, and it turns out that any 2D image generated this way is affected. E.g. [10-10.zip](https://github.com/CARTAvis/carta-frontend/files/6358065/10-10.zip). So the other minimal images appear to be working because they're > 2D.

[2021-04-22 12:13] kswang1029 commented on #1418
after casacore parsing:
https://user-images.githubusercontent.com/20819712/115712332-3b054880-a3a7-11eb-93f8-0c56f982ff97.mp4

[2021-04-22 12:15] confluence commented on #1418
I guess casacore makes different guesses for 3D images. I will try fixing the image. But casacore's guessed values for CUNIT* in the 3D file are all blank, and CDELT1 and CDELT2 are both 1.

[2021-04-22 12:24] kswang1029 commented on #1418
The criteria of enabling dynamic aspect ratio should be
if CUNIT1/2 are different, enable it
if CUNIT1/2 are identical and CDELT1 != -CDELT2, enable it

[2021-04-22 12:31] confluence commented on #1418
But in the 3D file CUNIT1/2 are identical (empty) and CDELT1 != -CDELT2 (they're identical).

There is no way for me to add empty CUNIT1/2 to the headers; when I add literal empty entries they are stripped out by casacore and don't appear in the generated headers.

I can confirm that if I create a 3D default file (from a RGB image) casacore autogenerates the same headers as for the other 3D files.

[2021-04-22 12:41] kswang1029 commented on #1418
Make a 3D cube for a nice movie then😆

[2021-04-22 12:47] confluence commented on #1418
It was 3D originally, but I made it 2D so that it would be smaller. It's so tiny that it doesn't really matter, though!

[2021-04-23 06:31] #597 closed

[2021-04-23 06:31] #1415 closed, assigned to YuHsuan-Hwang

[2021-04-23 09:16] #1406 closed, assigned to YuHsuan-Hwang

[2021-04-26 03:51] duidae opened #1420 "warning keeps poping out while preference layout no longer exists"
reproduce:
1. create a custom layout `z`, set `z` to preference layout
2. type `localStorage.removeItem("savedLayouts")` in console to delete saved layout
3. reload frontend, shows `Applying preference layout "z" failed!`
4. set preference layout to `Default` in preference
5. reload frontend, `Applying preference layout "z" failed!` shows again, layout `Default` is not applied.
![image](https://us

[2021-04-26 12:41] #1214 closed, assigned to veggiesaurus

[2021-04-26 14:17] #1413 closed, assigned to duidae

[2021-04-26 14:17] #1420 closed, assigned to duidae

[2021-04-26 14:44] veggiesaurus opened #1424 "Add package installation documentation to the readme"
It would be good to start the readme with a section on _installing_ the `carta-frontend` package from NPM or our PPA, as this is the most likely case.

[2021-04-27 05:27] kswang1029 opened #1425 "non-ideal state when we load another image from a folder with lots of files"
when we load _another_ image from a folder with lots of files, initially we will see the file list saying "Empty folder" before the long file list arrives.

https://user-images.githubusercontent.com/20819712/116189773-07863d80-a75c-11eb-930e-b2bf3bf97d7d.mp4

[2021-04-27 20:08] panchyo0 opened #1426 "Optimize catalog map calculation"
calculate catalog map(like size map) takes about 0.3s for 1M data source.  The bottleneck is `SizeMapData` as it taking 0.28s.

[2021-04-28 05:35] #1393 closed, assigned to duidae

[2021-05-03 04:12] kswang1029 opened #1427 "frontend crash when click the plot button if no source passes the filter in the catalog widget"
this is not seen in the v1.4

the plot button should be disabled when no source passes filtering in the catalog widget.

https://user-images.githubusercontent.com/20819712/116840523-bddc9d80-ac08-11eb-935d-537498c4f719.mp4

![Screen Shot 2021-05-03 at 12 04 15 PM](https://user-images.githubusercontent.com/20819712/116840532-c503ab80-ac08-11eb-910d-36b3dae8733f.png)

[2021-05-03 07:26] kswang1029 opened #1428 "matching line labels in velocity when there are multiple profiles from different cube"
POST v2.0 issue

With the v2.0 new feature "multiple profile plot", users can load two line cubes and show their profiles with the x-axis as frequency. Then users may use the spectral line query widget to select a set of lines to generate line ID overlay. This works well when the x-axis is frequency. When users switch to velocity, it is expected to see all line labels align to the profiles if prof

[2021-05-03 07:47] kswang1029 opened #1429 "progress indicator of the spectral profiler"
POST v2.0 issue

PR https://github.com/CARTAvis/carta-frontend/pull/1391 enables the support of plotting multiple profiles in one spectral profiler widget.

The profile streaming progress indicator has two issues:
- [x] if the image is 2D, the progress stays as [0%/100% complete]
- [ ] if there are multiple profile streams, the progress indicator will appear and disappear repeatedly until all prof

[2021-05-03 08:12] #646 closed, assigned to duidae

[2021-05-03 08:12] #1398 closed, assigned to nobody

[2021-05-04 22:00] panchyo0 commented on #1427
fixed with PR #1401

[2021-05-04 22:00] #1427 closed, assigned to panchyo0

[2021-05-05 08:01] #1303 closed, assigned to TienHao

[2021-05-05 19:03] panchyo0 commented on #1237
closed with PR #1401

[2021-05-05 19:03] #1237 closed, assigned to panchyo0

[2021-05-05 19:05] panchyo0 opened #1432 "Optimize spatial matched catalog performance"
Use control maps to perform approximate transformation on the GPU.

[2021-05-05 19:07] panchyo0 commented on #890
closed with PR #1430, optimization at #1432

[2021-05-05 19:07] #890 closed, assigned to panchyo0

[2021-05-05 19:54] panchyo0 commented on #1239
@low-sky after PR #1401, we have ellipse and line shape supported for catalog. Could you please create another issue for arrow?

[2021-05-05 19:54] #1239 closed, assigned to panchyo0

[2021-05-06 03:24] duidae commented on #1428
C18O, 219560.3541 MHz => 1140.3143710573258 km/s
13COv=0, 220398.6674 MHz => 0.017138872968295197 km/s

@kswang1029 does that mean the transformed value of C18O (1140.3143710573258 km/s) via AST is incorrect?

[2021-05-06 03:27] kswang1029 commented on #1428
Referring to the video, if the active image is 13CO, then the label for C18O is off, and vice versa.

[2021-05-06 03:33] duidae commented on #1428
then why should them show at close positions when switching to radio velocity?

[2021-05-06 03:47] duidae commented on #1428
C18O can get correct value in radio velocity using HD163296_C18O_2-1.fits's wcs
C18O 219560.3541 MHz => 0.008055987438578108 km/s
13COv=0 220398.6674 MHz => -1144.6430312174466 km/s

13CO can get correct value in radio velocity using HD163296_13CO_2-1.fits's wcs
C18O 219560.3541 MHz  => 1140.3143710573258 km/s
13COv=0 220398.6674 MHz => 0.017138872968295197 km/s

the problem comes from how can we

[2021-05-06 04:00] kswang1029 commented on #1428
The real observable spectral convention is frequency or wavelength (they are equivalent via c = lambda * nu. Radio observations tend to use frequency and optical/infrared observations tend to use wavelength.). That is, with a spectrometer we record signals at different frequencies or wavelengths. In the above case study, C18O at 219560.3541 MHz and 13CO at 220398.6674 MHz are observed at different

[2021-05-06 04:05] kswang1029 commented on #1428
let me work out the procedures for you.

[2021-05-06 04:12] kswang1029 commented on #1428
The rules here are:
- if the spectral convention is other than velocity, do what we do now.
- if the spectral convention is _velocity_, then just label lines at the velocity specified by user using the text field. That is, if a user set velocity as 10 km/s, we just label all the lines at 10km/s. If the user sets a redshift 0.001, then we need to convert it to velocity and then label all the lines

[2021-05-06 12:40] kswang1029 commented on #1428
Note that this applies only when profiles are from different _images_. If it is the same image we still need to apply the current transformation.

[2021-05-07 03:53] duidae commented on #1428
![image](https://user-images.githubusercontent.com/25971696/117395077-e971c780-af29-11eb-9c28-97b2e8abc083.png)
would this be ok?
1. initial value 0 in numeric input
2. menu & numeric input disabled when Image button of multi profile is not clicked.

[2021-05-07 06:51] duidae opened #1435 "ast error shows in console when plotting spectral lines to spectral profiler and x-axis is Channel"
reproduce:
1. open a file with z axis, open a spectral profiler
2. plot spectral lines with spectral line query widget
3. press cog of spectral profiler and switch coordinate to "Channel" in Conversion tab, ast error shows in console.

[2021-05-07 14:10] #1428 closed, assigned to nobody

[2021-05-07 14:10] #1435 closed, assigned to nobody

[2021-05-07 17:47] panchyo0 commented on #463
closed after PR #1434

[2021-05-07 17:47] #463 closed

[2021-05-10 06:02] #649 closed, assigned to TienHao, kswang1029

[2021-05-10 06:20] kswang1029 opened #1439 "update in-app help for v2.0 release"
update in-app help for v2.0 release

[2021-05-14 05:46] kswang1029 opened #1443 "PV image regions should have a fixed PA of zero"
This should be fixed for v2.0 release I think.

<img width="942" alt="Screen Shot 2021-05-14 at 1 45 09 PM" src="https://user-images.githubusercontent.com/20819712/118227173-af20a100-b4ba-11eb-9019-b515684ce891.png">

edit: After discussion betweek @kswang1029 and @veggiesaurus, decision is to limit rotation of rect/ellipse regions to images where the pixel ratio is exactly 1, otherwise rectangles

[2021-05-14 06:24] veggiesaurus commented on #1443
🙋

[2021-05-17 03:33] kswang1029 opened #1444 "label in region dropdown menus of the spectral profiler and moment generator out of sync"
When we change region in the moment generator, the spectral profile data get updated in the spectral profiler as expected. However the label does not get updated. @duidae could you help to have a look for v2.0 final?

https://user-images.githubusercontent.com/20819712/118429151-97882900-b703-11eb-984c-e1d6f60c8c9a.mp4

[2021-05-17 04:36] kswang1029 commented on #1444
@duidae @veggiesaurus I wonder if we should decouple image and region dropdown menus between the moment generator and spectral profiler? That might be easier to fix the issue with little impact on UX. The sync'd feature in v1.4 is nice when there is only one profile in the spectral profiler. In v2.0, it gets more complicated so maybe we should consider to remove the sync feature to make the logic

[2021-05-17 05:20] duidae commented on #1444
will limit the drop downs of image/region in moment tab to only pure selection but not changing the profiles in spectral profiler, is that ok?

[2021-05-17 05:22] kswang1029 commented on #1444
yes. sounds like a simple solution.

[2021-05-17 11:34] kswang1029 opened #1445 "apply colormap on hover for preview"
It would be nice to preview a colormap on hover (the colormap list). The actual final selection still needs a click.

[2021-05-17 11:35] kswang1029 commented on #1445
duplicated #1013

[2021-05-17 11:35] #1445 closed, assigned to nobody

[2021-05-20 03:19] duidae opened #1448 "incorrect region name in spectral profiler info"
reproduce:
1. open a spectral profiler & create 2 regions, rename region to "test"
2. press Region button in spectral profiler & select the 2 regions to show 2 profiles of selected regions
3. region name in profiler info is "Region X" instead of "test"

![image](https://user-images.githubusercontent.com/25971696/118914009-13c97900-b95d-11eb-9f9f-788c070a1f88.png)

[2021-05-21 05:47] kswang1029 opened #1451 "unreasonable profile fitting error"
should fit this for v2.0 release.

use HD163296_CO_2_1.fits, select the cursor profile at image coordinate (187, 219), then use auto detect and fit to get the profile fitting result. The fitting result as a plot looks good but the actual numerical errors are unreasonably large.

Component #1
Center = 230.534343
Center Error = 0.000930 (0.000%)
Amplitude = 0.399401
Amplitude Error = 0.642155 (160.7

[2021-05-25 03:19] duidae opened #1453 "spectral line results disappear if filtered rows are too few"
reproduce(according to beta user feedback):
1. open spectral line query widget & query with range 230~231 GHz
2. scroll down to row 50
3. input "Monoxide" in chemical name & press filter
4. the info in the bottom shows "Showing 2 filtered lines..." but see nothing

the other way to reproduce:
3. input "Ketene" in chemical name & press filter

![image](https://user-images.githubusercontent.com/2597

[2021-05-26 07:28] kswang1029 opened #1456 "multiple tsv files exported when the profile fitting result+residual are rendered in the spectral profile widget"
Profile export works fine when there is only one profile rendered. However, if profile fitting result presents, there are many tsv file got exported.

https://user-images.githubusercontent.com/20819712/119619648-cb1b2f80-be36-11eb-8df3-586af9013f42.mp4

@TienHao could you check please?

[2021-05-26 07:30] kswang1029 commented on #1456
The five files are attached.

[tmp.zip](https://github.com/CARTAvis/carta-frontend/files/6544629/tmp.zip)

[2021-05-26 07:31] TienHao commented on #1456
yes, I can check this one.

[2021-05-26 07:35] kswang1029 commented on #1456
it seems that the extra files are the model and residual? If so, when in the fitting mode, could you implement the tsv export as one single file with additional columns? Such as
x, y, model, residual

[2021-05-26 11:46] kswang1029 opened #1458 "Cannot save a subimage from HDF5 to FITS"
Bug found via v2.0 beta test

A subimage in the FITS format cannot be created from a HDF5 image. It works if the target output format is CASA format.

[2021-05-26 12:53] kswang1029 opened #1457 "incorrect label of a pv image generated with CASA"
Unfortunately this does happen with CASA so we need to address this. 🙄 The issue here is CASA can generate a PV as offset-stokes-frequency. So the rendered labels are stokes vs offset. It should be frequency vs offset.

![Screen Shot 2021-05-26 at 8 50 59 PM](https://user-images.githubusercontent.com/20819712/119662722-46470a80-be64-11eb-9ed8-a123ae187c0a.png)
![Screen Shot 2021-05-26 at 8 48 38 P

[2021-05-26 15:37] markccchiang commented on #1458
Looks like the frontend sends a wrong file type message to the backend when saving a subimage in the FITS format. It should be `CARTA::FileType::FITS`, not `CARTA::FileType::HDF5` in the `CARTA::SaveFile` message.

[2021-05-26 15:52] kswang1029 commented on #1458
@markccchiang please check with @YuHsuan-Hwang about the root cause. @YuHsuan-Hwang please help for v2.0 release. Thank you both 🙂

[2021-05-26 16:39] markccchiang commented on #1458
Not sure is it due to the problem in this code line https://github.com/CARTAvis/carta-frontend/blob/dev/src/stores/FileBrowserStore.ts#L82 (?)

[2021-05-27 02:14] kswang1029 opened #1459 "detached header search field"
to reproduce, enable the search field then move the dialogue window around

![Screen Shot 2021-05-27 at 10 11 59 AM](https://user-images.githubusercontent.com/20819712/119755177-2a7b4d00-bed4-11eb-8a34-f71261cb603a.png)

[2021-05-27 07:37] YuHsuan-Hwang commented on #1458
@markccchiang Yes, I think it's due to this line. The initial filetype is set to HDF5.
Both fits and casa image can be saved after we select filetype from dropdown menu.

[2021-05-27 09:05] #1458 closed, assigned to markccchiang, YuHsuan-Hwang

[2021-05-27 09:08] #1451 closed, assigned to TienHao

[2021-05-27 09:25] #1448 closed, assigned to duidae

[2021-05-27 09:52] veggiesaurus commented on #961
@kswang1029 do we need to backport?

[2021-05-27 09:58] kswang1029 commented on #961
Yes please.

[2021-05-27 10:04] #961 closed, assigned to TienHao

[2021-05-27 10:30] #1357 closed, assigned to acdo2002

[2021-05-27 10:32] #1253 closed, assigned to TienHao

[2021-05-28 06:42] #308 closed

[2021-05-28 06:43] #1210 closed, assigned to TienHao

[2021-05-28 06:45] #514 closed

[2021-05-28 06:46] #1457 closed, assigned to duidae

[2021-05-31 06:45] kswang1029 opened #1469 "cursor info layout in the spectral profiler"
![Screen Shot 2021-05-31 at 2 43 58 PM](https://user-images.githubusercontent.com/20819712/120151369-c1bb0a00-c21e-11eb-8e3c-0b63f824d759.png)

could you help to see if the cursor info layout can be one per line? thanks.

[2021-05-31 06:56] TienHao opened #1470 "Units should be in included in the profile fitting result and log"
Units should be included in the fitting results and for the estimates of center, amplitude, and fwhm in order to scientifically useful.

[2021-05-31 08:13] #1444 closed, assigned to duidae

[2021-05-31 08:17] #1453 closed, assigned to duidae

[2021-05-31 08:51] veggiesaurus opened #1473 "Too many components detected when fitting a simple Gaussian with continuum."
(Using file `cube_A_00400_z00100.fits` as an example)

Something odd seems to happen when trying to detect components if there is a continuum offset:

![image](https://user-images.githubusercontent.com/592504/120167437-07b3a600-c1fe-11eb-8b0f-d9b99adc1b0b.png)

[2021-05-31 08:54] veggiesaurus commented on #1473
It _sometimes_ seems to get it right, but most of the time it detects no continuum values.

[2021-05-31 09:48] YuHsuan-Hwang opened #1474 "Unify the reset icons"
Bias/Contrast reset icons are different from the others.

![image](https://user-images.githubusercontent.com/43841102/120174549-ca6c0a00-c237-11eb-8624-8a63ea343bb5.png)

![image](https://user-images.githubusercontent.com/43841102/120174475-b6c0a380-c237-11eb-9913-57e284b7d947.png)

[2021-06-01 06:21] #1469 closed, assigned to duidae

[2021-06-01 06:22] #1443 closed, assigned to veggiesaurus

[2021-06-01 06:25] #1456 closed, assigned to TienHao

[2021-06-01 06:28] #1470 closed, assigned to TienHao

[2021-06-01 07:52] #1473 closed, assigned to TienHao

[2021-06-01 08:53] confluence opened #1476 "Proofreading pass over all the in-app help; style guide"
At some point we should do a proofreading pass over all of the existing in-app help, to fix any outstanding grammar issues and make the style consistent. I would also like to write a (short!) style guide to document any style decisions that we make, so that future additions can be written in a consistent style. For example: when to use active voice and when to use passive voice, etc..

[2021-06-01 08:55] confluence opened #1477 "Move text of in-app help into static data files?"
Would be possible to refactor the existing code to move all the in-help text into dedicated data files, to maintain a better separation between the code and the data? There may be existing libraries which would help with this.

in src/components/HelpDrawer/HelpContent

[2021-06-01 12:01] confluence opened #1478 "Add a changelog"
Add a `CHANGELOG.md` file which summarises changes between releases. For minor releases this can just be a list of changes merged to `dev` taken from GitHub. For major releases we can add a human-written section describing the release.

This information can be reused in package changelogs.

[2021-06-02 05:55] kswang1029 opened #1479 "incorrect image index label in moment generator"
There images are loaded as 0, 1, and 2. But the label next to the image dropdown is 6

![Screen Shot 2021-06-02 at 1 54 45 PM](https://user-images.githubusercontent.com/20819712/120430864-3bcbca00-c3aa-11eb-93da-26acd9a88ca9.png)

[2021-06-02 07:04] duidae commented on #1479
please specify how to reproduce that

[2021-06-02 07:07] kswang1029 commented on #1479
try
1. load three images in append mode
2. close them
3. load other few images in append mode and the file id should start from 0
4. the displayed id in the moment tab seems accumulating

[2021-06-02 15:44] #1479 closed, assigned to nobody

[2021-06-03 11:24] #814 closed, assigned to veggiesaurus

[2021-06-04 07:32] veggiesaurus commented on #1159
@confluence can you see if this still happens?

[2021-06-04 07:34] #1175 closed, assigned to zarda

[2021-06-04 07:35] #1356 closed, assigned to nobody

[2021-06-04 07:36] #1439 closed, assigned to kswang1029

[2021-06-04 08:10] confluence commented on #1159
It appears to be fixed (as of very recently). It's fine in the latest beta.

[2021-06-04 08:21] #1159 closed, assigned to nobody

[2021-06-04 08:40] #1179 closed, assigned to ajm-ska

[2021-06-04 08:44] #1143 closed, assigned to TienHao, ajm-ska

[2021-06-04 09:23] Kechil commented on #1050
Medium Priority

[2021-06-04 09:24] Kechil commented on #1242
Medium Priority

[2021-06-04 09:30] Kechil commented on #1046
Medium Priority

[2021-06-05 07:38] veggiesaurus opened #1482 "Annotate low-level scripting actions in various stores with JSDoc"
Based on request in https://github.com/CARTAvis/carta/issues/78 from @keflavich.

We need to have some form of documentation for the low-level scripting actions that are available. This will allow users to either utilise the debug execution feature on the frontend, or extend the high-level Python scripting interface.

I suggest we use JSDoc for this, as we can embed the documentation in the code a

[2021-06-06 14:41] #1324 closed, assigned to nobody

[2021-06-08 01:59] kswang1029 opened #1483 "multi-profile plotting capability in spatial profiler widget"
This will allow plotting multiple spatial profiles from spatially matched images and regions (line) in one spatial profile widget.

[2021-06-08 02:02] kswang1029 commented on #1386
From performance point of view, this may not be feasible. Close for now.

[2021-06-08 02:02] #1386 closed, assigned to nobody

[2021-06-08 02:04] kswang1029 commented on #1383
this is part of https://github.com/CARTAvis/carta-frontend/issues/1399
Close this one.

[2021-06-08 02:04] #1383 closed, assigned to nobody

[2021-06-08 02:15] kswang1029 commented on #1276
Consider this has been done after the v2.0 release on 7th of June 2021

[2021-06-08 02:15] #1276 closed, assigned to Kechil

[2021-06-08 02:16] kswang1029 commented on #1273
@veggiesaurus @confluence can we close this now?

[2021-06-08 02:27] kswang1029 commented on #1212
Please refer to https://github.com/CARTAvis/carta-frontend/issues/1038
close for now.

[2021-06-08 02:30] kswang1029 commented on #1174
can we close this?

[2021-06-08 02:34] kswang1029 opened #1484 "Cursor widget to show cursor information for matched images"
When there are multiple spatially and spectrally matched images, it is common to read the cursor information from all the images _in one place at the same time_. The information should include:
- World coordinates
- Image coordinates of each image
- Spectral coordinate of each image including frequency, velocity, and channel index
- Stokes parameter of each image
- Pixel value with a unit for each

[2021-06-08 02:34] kswang1029 commented on #1146
replaced by https://github.com/CARTAvis/carta-frontend/issues/1484 and close this.

[2021-06-08 02:34] #1146 closed, assigned to nobody

[2021-06-08 02:40] kswang1029 opened #1485 "tile decompression failing"
<img width="614" alt="Screen Shot 2021-06-08 at 10 37 31 AM" src="https://user-images.githubusercontent.com/20819712/121114196-e0845680-c845-11eb-9603-6e4f67e44f22.png">

test image:
[test.zip](https://github.com/CARTAvis/carta-frontend/files/6613139/test.zip)

@veggiesaurus could you have a look?

[2021-06-08 02:51] kswang1029 commented on #1485
This is due to having a tile with a width of 1px. The image is 513x513. If we trim it to 512x512, it works properly.

[2021-06-08 02:57] kswang1029 commented on #1126
referring to https://github.com/CARTAvis/carta-frontend/issues/1477

[2021-06-08 02:57] #1126 closed, assigned to nobody

[2021-06-08 03:06] kswang1029 commented on #1039
Need to draw a line between performance and UX. Showing a file type is nice for UX but has performance implication when there are lots of files in one folder.

[2021-06-08 03:07] #1212 closed, assigned to nobody

[2021-06-08 03:13] kswang1029 commented on #1015
A preferences button has been added to the top of the GUI. Image related settings are also added as a dialog (the cog button at the top-right corner of the widget window). Consider this is done. Close for now.

[2021-06-08 03:13] #1015 closed, assigned to nobody

[2021-06-08 03:15] kswang1029 commented on #1008
Not sure about this issue. Can we close it for now?

[2021-06-08 05:59] kswang1029 opened #1486 "support annulus region (circle, ellipse)"
related to the backend issue: https://github.com/CARTAvis/carta-backend/issues/828

requirements: https://docs.google.com/document/d/1jGvhkRwzzF_aA19iCVRANd3PtU8rY7fQAhE6fANOjI8/edit#

[2021-06-08 05:59] kswang1029 commented on #264
for line region, see https://github.com/CARTAvis/carta-frontend/issues/1149
for annulus region see https://github.com/CARTAvis/carta-frontend/issues/1486

[2021-06-08 06:42] #1273 closed, assigned to confluence

[2021-06-09 02:03] kswang1029 opened #1488 "histogram widget enhancement: custom n_bin, bin_width, range"
related to backend: https://github.com/CARTAvis/carta-backend/issues/829

The histogram widget needs to be enhanced by adding the options to customize
- n_bin
- bin_width
- histogram range

so that more practical analysis can be carried out.

[2021-06-09 02:48] kswang1029 opened #1489 "pv generator widget"
This new widget will allow users to
- trigger backend PV map calculation
- configure pv preview interactive mode (cube downsample factor)
- preview pv image in the interactive mode

science requirements: https://docs.google.com/document/d/1Z1fCDj9IujGvV6ER_bzjjL2j_bF5ykc34GRhPdOiXI4/edit

[2021-06-09 03:08] kswang1029 opened #1490 "spectral line query with offline db"
related backend issue https://github.com/CARTAvis/carta-backend/issues/650

The UI of the spectral line query widget needs to be updated to support offline line db query.

More details will follow

[2021-06-09 06:35] kswang1029 opened #1492 "support complex image visualization as raster"
related to the backend issue: https://github.com/CARTAvis/carta-backend/issues/520

frontend should provide options to visualize a complex-valued image as
- real
- imaginary
- amplitude
- phase

Potentially we can use the animator for the UI. To be discussed further.

[2021-06-09 13:06] keflavich commented on #1040
I second this.  I also really want a way to delete all regions so I can open a new region file.

[2021-06-09 13:10] keflavich opened #1493 "Regions go to wrong location when switching files"
I have a situation where two overlapping, but not identical images are open in CARTA.  I loaded some regions, then switched between the two images.  If the images were not XY-matched, the regions show up in the wrong place in the second image.  If they are XY-matched, they show up in the correct place.  I haven't tested how to reproduce this with a MWE yet, though.

[2021-06-09 13:12] veggiesaurus commented on #1493
if the two images are not matched, they do not share region sets. Are you loading the regions in each image separately?

[2021-06-09 13:14] keflavich commented on #1493
No.  I opened a region file in one image, then switched to the other, but I did not separately load the regions.

It may be that I had them XY-matched, then XY-unmatched, then switched?  I'm not really sure I can reproduce the exact order of operations, but I am reasonably sure I will cause this issue again.

[2021-06-09 13:22] keflavich opened #1494 "feature request: recenter all images"
I have "match images by XY on opening" set in preferences.  Sometimes, though, I open a bunch of images that are in different parts of the sky.  If I do that, I then have to click the
![image](https://user-images.githubusercontent.com/143715/121362390-0f610200-c904-11eb-8fa9-729da88aceff.png) zoom-to-fit icon for each image in turn to see them at all  (if I use the animator, I always see the previ

[2021-06-09 13:27] keflavich opened #1495 "Remember layout of file open dialog"
The "file open" dialog always resets to the same size when you reopen it to open/append a new file.  I often have to resize the filename bar to be bigger because my filenames are descriptive and therefore long, and that's the only way to tell an `.image.tt0` from a `.sumwt`.  It would be nice if the file open dialog could remember the shape of the columns and the shape of the overall box (I often

[2021-06-09 13:33] veggiesaurus commented on #1493
Ah ok, that makes sense. If you do the following:
1. Load an image
2. Load a second image and match them
3. Load regions (this will be shared across both images)
4. Unmatch Image 2
5. Move the regions around in Image 2

Then you'll find that the regions in Image 1 and 2 have diverged.

[2021-06-09 13:38] veggiesaurus commented on #1494
matched images have a shared view, so zooming to fit one image would mean no longer fitting the other images. Do you mean basically fitting to the union of the FoV of all matched images?

[2021-06-09 13:55] kswang1029 commented on #1495
This ? https://github.com/CARTAvis/carta-frontend/issues/1253

[2021-06-09 14:13] veggiesaurus opened #1496 "automatic code formatting using Prettier"
We should use [Prettier](https://prettier.io/) to reformat our codebase and enforce a consistent style. This will likely result in a large number of minor changes.

We should also consider using clang-format for the WebAssembly code

[2021-06-09 15:03] keflavich commented on #1494
no, I mean:
* I have matching on
* I load a bunch of images all over the sky
* I now want to look at each image centered on its own center

Basically, I made a mistake in step (1), but  want to correct it, and right now that correction step is very tedious

[2021-06-09 15:04] keflavich commented on #1495
🤦‍♂️ yes

[2021-06-09 15:04] #1495 closed, assigned to nobody

[2021-06-09 17:20] veggiesaurus commented on #1495
I guess this is the problem with having three different places to submit issues 🙈

[2021-06-09 17:35] keflavich commented on #1495
Ah, should I raise that as an issue on https://github.com/CARTAvis/carta then?  "Reduce # of issuetrackers" :trollface:

[2021-06-09 18:47] keflavich opened #1498 "Show frequency support in file browser"
The file browser "File Information" window should show frequency information for images and cubes.  Currently, it only shows how many pixels there are, e.g.:
[code]

I didn't see an open issue for this, but I'd be really surprised if I'm the first to ask for this, so please close as redundant if it's open elsewhere.

[2021-06-10 05:23] duidae opened #1499 "button "View log" is disabled but still clickable & warning in profile fitting tab"
reproduce:
1. open CARTA with fresh load(first time)
2. open a spectral widget, click Fitting button & click the disabled "View log" button, save log pops out
3. hover over "View log" button repetitively and warnings show up
`[Blueprint] Disabling <Popover> with empty/whitespace content...       popover.tsx:177 `

![image](https://user-images.githubusercontent.com/25971696/121465019-9aff8f00-c9e7-

[2021-06-11 08:08] marcinglowacki opened #1501 "Default file names too long for saving"
When trying to save images from the Z Profile window with multiple spectra displayed, the default file name can become too long (>255 characters) to be accepted for download by the browser, due to combination of the opened image file names. Issue already reproduced by Angus.
![Screenshot from 2021-06-11 09-28-15](https://user-images.githubusercontent.com/29977213/121653436-fb9cd380-ca9c-11eb-96f2-

[2021-06-14 08:41] kswang1029 commented on #1395
need to monitor the v4  release schedule then we can get this issue scheduled in our development cycle.

[2021-06-15 03:16] kswang1029 opened #1502 "slow file list generation when trying to import region files"
The performance degradation appears to only happen to the region file browser. We will firstly see "Empty folder" first then the file list appears even if the folder contains only few files (and this is tested with SSD).

 Image and catalog file list work fine.

[2021-06-15 03:19] kswang1029 commented on #1502
this seems to happen only to a specific folder in my test env. Close this for now until a reproducible way is found.

[2021-06-15 03:19] #1502 closed, assigned to nobody

[2021-06-15 08:58] #1499 closed, assigned to duidae

[2021-06-15 10:58] #1037 closed, assigned to YuHsuan-Hwang

[2021-06-15 11:30] kswang1029 commented on #1201
The initial implementation with the basic functions is merged. The rest features will be scheduled later for the v3.0 release.

[2021-06-15 12:50] #1496 closed, assigned to veggiesaurus

[2021-06-16 16:41] keflavich opened #1504 "Image not displaying at some zoom levels"
I've just started encountering a new issue where the image is not showing up at some zoom levels for some channels of some images even when the data are clearly there (as verifiable by zooming in/out, extracting spectra, looking at the flux reported by the cursor, etc).  This _may_ be uniquely affecting FITS images, I'm not sure.  The server connection is green and there is no queued download.

Is

[2021-06-17 00:21] kswang1029 commented on #1504
Do you have a video as a demo of the issue? Are you using carta on a local computer or on a remote server? Do you see part of the image missing or the entire channel is missing? What’s the image size in pixel here?

[2021-06-17 02:05] kswang1029 opened #1505 "long column name display in the catalog widget"
The dropdown menu is not displayed properly when the name of a column is long.

![Screen Shot 2021-06-17 at 10 04 08 AM](https://user-images.githubusercontent.com/20819712/122319676-86754680-cf53-11eb-8632-b9704eef47a9.png)

[2021-06-17 02:16] kswang1029 opened #1506 "blueprintjs table scroll"
It appears that if we use mouse wheel to scroll the table, sometimes it ends up with an empty block. This does not happen when using a touch pad to scroll.

![Screen Shot 2021-06-17 at 10 13 56 AM](https://user-images.githubusercontent.com/20819712/122320460-d30d5180-cf54-11eb-8e20-d91fcb96968f.png)

[2021-06-17 04:04] duidae opened #1507 "inconsistent theme in mode button of animator widget"
reproduce:
1. create an animator widget, click mode button
2. switch theme

![image](https://user-images.githubusercontent.com/25971696/122329338-d22fec00-cf63-11eb-8590-1ce0bdb4cd17.png)

[2021-06-17 09:25] veggiesaurus opened #1508 "Saving, loading and removing of code snippets"
The user should be able to save and load code snippets

[2021-06-17 09:30] veggiesaurus commented on #579
@kswang1029 can you check if this can still be reproduced?

[2021-06-18 02:33] kswang1029 opened #1509 "add beam area info in the statistics widget"
related backend issue https://github.com/CARTAvis/carta-backend/issues/846

[2021-06-18 07:29] veggiesaurus opened #1510 "Introduce basic CI checks"
We need some CI checks for the frontend:
- build test with node v12, v14 and v16 (can be built on any platform, and should use docker for the EMCC parts, and should be as simple as `npm install; npm run build-libs-docker; npm pack;`)
- formatting check (`npm run checkformat`)

[2021-06-22 05:12] kswang1029 opened #1512 "filter tooltip blocks input in the spectral line query widget"
the tooltip seems not rendered properly and it blocks manual input

![Screen Shot 2021-06-22 at 1 10 37 PM](https://user-images.githubusercontent.com/20819712/122867011-78f8fb80-d35b-11eb-9b98-973a887bf5f7.png)

[2021-06-22 05:34] kswang1029 opened #1513 "incorrect label for cursor region in the moment generator tab"
When the active region is cursor, the label next to the region dropdown is "Image". It should be "Cursor".

![Screen Shot 2021-06-22 at 1 33 30 PM](https://user-images.githubusercontent.com/20819712/122869230-88c60f00-d35e-11eb-9c0c-4bdc2fee9828.png)

[2021-06-22 05:53] duidae commented on #1513
I think we have discussed this last time, cursor region actually indicates generating the moment of the whole image.

[2021-06-22 06:03] kswang1029 commented on #1513
Yes but the generate button is disabled.

![Screen Shot 2021-06-22 at 2 02 49 PM](https://user-images.githubusercontent.com/20819712/122872136-954c6680-d362-11eb-9e24-c02ecf85e104.png)

[2021-06-22 13:41] #1046 closed, assigned to duidae

[2021-06-22 13:41] #1507 closed, assigned to duidae

[2021-06-22 19:00] veggiesaurus opened #1515 "Display a configurable pixel grid at high zoom levels"
Photoshop and a number of other image viewers have a useful feature: displaying a pixel grid when you zoom in past a certain threshold (in photoshop, it appears to be 800%). See example below.

https://user-images.githubusercontent.com/592504/122981864-82558880-d39a-11eb-8752-ede3ac191cab.mp4

I'd like to add a configurable pixel grid, where the user can change the following properties:
- visibili

[2021-06-22 19:56] veggiesaurus commented on #1515
Work in progress, showing the grid fading in as the zoom level approaches the threshold value.

https://user-images.githubusercontent.com/592504/122990686-87b7d080-d3a4-11eb-950f-78b6d8429a24.mp4

[2021-06-23 08:57] kswang1029 opened #1518 "pixel highlight by colorbar cursor value"
As an advanced feature (cannot remember if there is any other viewer having the same feature), it would be nice to support pixel highlight by colorbar cursor value. That is, when we use mouse to point a color (hence a pixel value) on the colorbar in the image viewer, CARTA highlights those pixels with values >= the colorbar cursor value. This would serve as a manual version of source identificatio

[2021-06-23 11:00] #1002 closed, assigned to nobody

[2021-06-23 11:32] veggiesaurus commented on #1518
Current implementation:

https://user-images.githubusercontent.com/592504/123089597-71068d80-d427-11eb-82de-1061d005fc25.mp4

[2021-06-24 09:05] #1515 closed, assigned to veggiesaurus

[2021-06-24 12:56] #1424 closed, assigned to ajm-ska

[2021-06-25 07:45] #1518 closed, assigned to veggiesaurus

[2021-06-25 09:03] veggiesaurus opened #1524 "Shader compilation error on Windows platforms"
Users who attempt to access CARTA from a Windows-based browser encounter an error when viewing catalog files. This is because the WebGL2 shaders are failing to compile.

Although Windows is not a supported CARTA platform when it comes to the backend, we do need to support Windows-based browsers, so this will need to be fixed

[2021-06-25 10:00] #1513 closed, assigned to nobody

[2021-06-25 14:25] veggiesaurus opened #1526 "Display number of items and modified date for directories"
See https://github.com/CARTAvis/carta-backend/issues/853 for details.

[2021-06-25 18:10] #544 closed

[2021-06-25 19:52] veggiesaurus commented on #666
@kswang1029 this was bugging me, so I tried to fix it. Can you see if `angus/666_edge_pixels` solves the problem?

[2021-06-28 03:17] kswang1029 opened #1531 "animating contours from a cube on top of another single-channel raster image"
This is reported and requested by multiple users. The current design of the animator does not support a fundamental use case: _animating contours from a cube on top of another single-channel raster image_. This is because the "play" function is associated with the raster image only. If the raster image is a single channel one, then "play" is meaningless by design.

There are two possible solutions

[2021-06-28 07:55] #1524 closed, assigned to veggiesaurus

[2021-06-28 09:12] YuHsuan-Hwang opened #1533 "misalignment of file menu"
The width of the `Save image` and `Export regions` buttons is smaller than the others
![image](https://user-images.githubusercontent.com/43841102/123609732-836f3580-d832-11eb-949e-d3c160f472dc.png)

[2021-06-28 10:01] #1526 closed, assigned to veggiesaurus

[2021-06-28 10:19] kswang1029 opened #1535 "distance tool on spatially matched image behaving unexpectedly"
It appears that the coordinate transformation is not applied properly for the spatially matched image so that the distance calculation is not correct and varies with different zoom/pan actions.

[2021-06-28 13:40] keflavich opened #1536 "Spectral matching does not respect coordinate conversions"
The spectral matching tool ("Z" in the image list) seems to work only in the native spectral dimension.  I'd like it to operate in velocity when I convert the cubes to velocity in the spectral viewer.  Is that possible?

[2021-06-28 13:48] veggiesaurus commented on #1536
It can work with radio/optical velocity, frequency or channel. What do you have set for preferences -> global -> spectral matching? If it's already set to radio velocity, do each of your images show the correct velocity when loaded independently?

[2021-06-28 14:09] keflavich commented on #1536
I see, thanks - I didn't realize this had to be changed in preferences.  I was expecting it to be an option somewhere near the spectral matching tools, either in the conversion menu:
![image](https://user-images.githubusercontent.com/143715/123650709-d4face80-d7f8-11eb-8408-074b56e1a926.png)

or the image list:
![image](https://user-images.githubusercontent.com/143715/123650745-dfb56380-d7f8-11eb-

[2021-06-29 08:19] #1533 closed, assigned to YuHsuan-Hwang

[2021-06-29 11:37] Kechil opened #1539 "Make an initial version of the scripting wrapper available"
Publish the documentation and make the wrapper installable (not through PyPi yet).

[2021-06-30 07:07] duidae commented on #1399
@kswang1029 @veggiesaurus seems current backend does not support sending spatial profile of non-cursor region. May need backend modification for region selection.

[2021-06-30 07:43] duidae commented on #1492
Mockup:

![image](https://user-images.githubusercontent.com/25971696/124239676-875dc900-db4c-11eb-83e6-54c08bf9732d.png)

[2021-06-30 08:50] veggiesaurus commented on #1536
Is this something that users are likely to change often? I'd imagine most would just set it to match radio velocity and forget about it?

[2021-06-30 08:53] veggiesaurus commented on #1492
@kswang1029 how important is it to support images that have _both_ Stokes _and_ real/imag? If I understand correctly, supporting complex images is primarily aimed at pipeline development work, which means you'd be very unlikely to build a Stokes hypercube with complex data.

If they are mutually exclusive, then we can simplify the UI considerably

[2021-06-30 08:59] kswang1029 commented on #1492
I think they are mutually exclusive. Stokes cube is one. And spatial-spatial-spectral cube with complex values is another.

[2021-06-30 09:16] veggiesaurus commented on #1372
can we make these settings implicitly set as well?

[2021-06-30 09:25] kswang1029 commented on #1399
@markccchiang do you have time to make the backend support point region?

[2021-06-30 10:08] veggiesaurus commented on #1492
Ok, then could we actually simplify things and make the "stokes" slider more generic, to support either Stokes IQUV _or_ real/imag/ampl/phase?

[2021-06-30 11:39] veggiesaurus opened #1540 "Improve detection of rectangular pixels"
Recent changes to the FITS and HDF5 header delivery from the backend have revealed a bug in the logic for detecting rectangular pixels. A large number of false-positives now seem to exist. This needs to be fixed so that users can still view images correctly.

~~@kswang1029 to assist with pseudocode for better rectangular pixel detection~~

[2021-06-30 12:57] keflavich commented on #1536
Yes, all the time.

The common use case is: I'm working on a broadband (2GHz) window with ALMA looking at either two different targets in the same frequency, or the same target with two different array configurations or two different weightings or reduction parameters, say.  I want to match them spectrally so I can search for differences.

Then, I find two lines toward the same source that I want

[2021-07-01 02:58] YuHsuan-Hwang commented on #1372
I think it may not be a good idea to make the settings implicit because we are only adding some of the settings to the preference dialog. If we make them implicit, some settings in the image view settings will remain when reopening CARTA but some will not. Users may not easily predict this behavior and may take time to be used to it.
I think it’s hard to decide if the user need a setting remain or

[2021-07-02 07:56] #1540 closed, assigned to veggiesaurus

[2021-07-02 17:05] #1512 closed, assigned to duidae

[2021-07-02 20:10] veggiesaurus commented on #1509
Isn't the beam area independent of the region?

[2021-07-03 22:49] stevenrjanssens opened #1544 "Catalog marker maximum size of 50 pixels not enforced on manual entry"
In the catalog tool, the 50 pixel maximum marker size isn't stated and it is possible to manually set a larger size with no user feedback.

[2021-07-03 22:52] stevenrjanssens opened #1545 "Label points on catalog image overlay"
In addition to setting the columns CARTA uses for the RA and Dec, would it be possible to set a 3rd column that CARTA would use to add a label to each marker on the overlay (e.g. a name or index column)?

[2021-07-04 20:32] veggiesaurus commented on #1508
Some basic functionality for executing pre-defined snippets.

https://user-images.githubusercontent.com/592504/124398709-6d241680-dd17-11eb-9470-2fb3a211d11f.mp4

Tasks:
- [x] Allow users to execute existing snippets
- [x] Allow users to view existing snippets
- [ ] Allow users to save snippets
- [ ] Allow users to delete existing snippets
- [x] Save the previously executed snippet automatically
-

[2021-07-04 20:34] veggiesaurus commented on #1508
I'm not sure whether or not the "Snippets" menu should be hidden under some other menu, or hidden until the user unlocks it via the preferences menu (e.g. Preferences -> Enable code snippets)

edit: now hidden until user enables code snippets in preferences)

[2021-07-05 10:58] veggiesaurus commented on #1508
Snippets are now arranged in categories in the menu. Categories are in the form "this/is/a/nested/category", and a single snippet can exist in a number of categories by simply having an array of category values. For example, the `galfacts_test` snippet is in both the `examples` and `WCS/galfacts` categories.

https://user-images.githubusercontent.com/592504/124461010-68e80f80-dd90-11eb-9eb2-2d3af6

[2021-07-05 11:05] veggiesaurus commented on #1545
this might be a bit challenging, because we render catalog points using GPU acceleration and WebGL. We'd have to have an additional canvas overlay for displaying names, but limit it to a certain number of points (e.g. only if < 500 points are visible)

[2021-07-05 11:17] kswang1029 commented on #1545
What if it is just hovering over and showing the index/label? Would that meet the requirement? This is from “interactivity” point of view.

[2021-07-05 18:20] panchyo0 commented on #1544
Hi @stevenrjanssens, Could you please provide more details? for example, How to reproduce this issue?

[2021-07-06 07:24] #666 closed, assigned to veggiesaurus

[2021-07-06 07:46] #1208 closed, assigned to TienHao

[2021-07-06 08:48] #1372 closed, assigned to YuHsuan-Hwang

[2021-07-06 08:58] stevenrjanssens commented on #1544
<img width="542" alt="Screen Shot 2021-07-06 at 1 55 11 AM" src="https://user-images.githubusercontent.com/2381197/124572162-49d39700-ddfd-11eb-84db-08b8eb419bd4.png">

Hi @panchyo0, I attached a screenshot showing the catalog settings size dialog. For me, the only time the user is made aware of the 50 pixel maximum size is if the size is increased using the arrows rather than entered manually.

[2021-07-06 09:02] stevenrjanssens commented on #1545
Hovering would be useful as well. Also, I created this issue right before I discovered the "Catalog selection" cursor which satisfies my needs, even if a few more clicks are necessary!

[2021-07-06 09:16] duidae commented on #1399
do we have conclusion for the backend part?

[2021-07-06 09:18] kswang1029 commented on #1399
@markccchiang could you help?

[2021-07-06 12:00] veggiesaurus opened #1546 "Fix exported spatial profiles when using mipmapped data"
Fix bug introduced by #1310:

[2021-07-06 12:10] veggiesaurus commented on #955
reduced story points to 2 because of separating out issue #1546

[2021-07-06 12:34] veggiesaurus opened #1547 "Display loading bar when large number of tiles need to be loaded into memory before contours are calculated"
HDF5 files can now be loaded progressively. However, when calculating contours we still need the entire full-resolution image loaded into memory. This means that there will be a noticeable delay while generating contours on large HDF5 images

[2021-07-06 12:56] #955 closed, assigned to veggiesaurus

[2021-07-06 14:15] markccchiang commented on #1399
Sorry for the late reply! I will do it.

[2021-07-07 09:44] #639 closed, assigned to veggiesaurus

[2021-07-08 01:12] kswang1029 commented on #1293
with wide field images, the coordinate transformation may fail thus we see <bad> in the region list widget.

https://user-images.githubusercontent.com/20819712/124847018-a0430000-dfcc-11eb-8e6d-1287c09012c3.mov

[2021-07-08 01:18] kswang1029 opened #1549 "misaligned region list table when vertical scroll bar is present"
https://user-images.githubusercontent.com/20819712/124847418-66bec480-dfcd-11eb-9fb9-b2867a08c1b3.mov

[2021-07-08 07:36] #1312 closed, assigned to duidae

[2021-07-08 08:07] veggiesaurus opened #1551 "Better handling of situations where frontend javascript cannot be read"
Due to server caching, sometimes `index.html` still points to an old JavaScript file after a new build. We need to display a message indicating that the user should attempt a hard reload if they still encounter this issue. Alternatively, we need to force the refresh ourselves somehow.

[2021-07-08 08:23] veggiesaurus commented on #1551
We should use some static HTML in `index.html` to make things look a little more CARTA-like, instead of just displaying a blank white screen

[2021-07-08 14:23] confluence opened #1552 "File browser shows blank location permanently after certain files are opened"
Backend commit: c9d0819
Frontend commit: 1d3477a

This appears to be limited to specific (not all) HDF5 images. I haven't been able to reproduce it with any FITS files. Examples of affected files:

* hlsp_candels_hst_acs_gn-tot-60mas_f606w_v1.0_drz.hdf5
* XMMLSS_3_contcube.hdf5
* GALFACTS_S3_average_image_I.hdf5
* 502nmos.hdf5
* GNPilot.centre.I.hdf5

I will check if rolling back to the previous b

[2021-07-08 14:27] confluence commented on #1552
Screenshot of the bug:

![Screenshot from 2021-07-08 16-24-51](https://user-images.githubusercontent.com/651030/124939011-136a6780-e009-11eb-9163-61b6a4a03b37.png)

This is what the file browser looks like when it is opened from the menu (either to open or to append a file) after one of the affected files has been opened. The navigation doesn't work (clicking on the root icon does not cause the ro

[2021-07-08 14:30] kswang1029 commented on #1552
What does the console log say? Specifically do you see file_list_request and file_list_response?

[2021-07-08 14:41] confluence commented on #1552
When the browser is in the broken state, a FILE_LIST_REQUEST is sent (for the correct directory), but there is no response.

When one of the unaffected files is open, I have confirmed that the same request is made and receives the expected response.

[2021-07-08 14:57] confluence commented on #1552
I have confirmed that this problem does not occur in the previous backend commit, `19ead62`.

[2021-07-08 15:06] confluence commented on #1552
I am closing this and opening a new backend issue.

[2021-07-08 15:06] #1552 closed, assigned to nobody

[2021-07-09 02:29] kswang1029 commented on #1531
@veggiesaurus could be temporarily assigned for this targeting v3b1? let's see if this can be fixed relative straightforward based on the shared tile cache feature.

[2021-07-09 05:56] YuHsuan-Hwang commented on #1484
Separating this issue into two parts
1. implement basic UI and show cursor info of the active frame
2. show cursor info of multiple images
2.1. show explicit WCS for all frames
2.2. update cursor info of matched images when hovering

[2021-07-09 06:57] veggiesaurus commented on #1531
Ok. We can try implement it once the multi-panel stuff is done

[2021-07-09 07:01] veggiesaurus commented on #1531
Leaving story points and assignment blank for now, since we don't have a clear approach yet

[2021-07-09 07:11] veggiesaurus opened #1556 "Additional tutorial entries for code snippets"
Additional tutorial entries are needed for the following:

- [ ] Changing FoV, channels and Stokes of images
- [ ] Adjusting render config
- [ ] Creating regions

@kswang1029 may have more suggestions on what to add after testing out the code snippets feature in more detail

[2021-07-09 09:14] veggiesaurus opened #1557 "v3.0-beta.1 package maintenace"
Easier to perform package updates for each beta cycle, rather than all at once, as there will be fewer breaking changes. Updates should be done well before code freeze

[2021-07-09 19:56] #1505 closed, assigned to panchyo0

[2021-07-09 19:57] #1544 closed, assigned to panchyo0

[2021-07-10 14:31] robertoabraham commented on #1559
I (and my team) would love this.

[2021-07-11 09:09] veggiesaurus commented on #1559
I _think_ this will only require frontend changes, as the backend can just provide tile image data as usual.

[2021-07-11 09:12] veggiesaurus commented on #1560
migrating to frontend repo

[2021-07-12 01:55] kswang1029 commented on #569
related to https://app.zenhub.com/workspaces/carta-5c7fc74483f19a07c7bcacaf/issues/cartavis/carta-backend/849

[2021-07-12 02:25] kswang1029 opened #1561 "support pv interactive preview (frontend)"
related to [support preview of a pv image from a downsampled cube](https://app.zenhub.com/workspaces/carta-5c7fc74483f19a07c7bcacaf/issues/cartavis/carta-backend/795)

[2021-07-12 02:59] kswang1029 commented on #815
@veggiesaurus do you think this can be fixed/improved via tile cache improvement?

[2021-07-12 05:21] veggiesaurus commented on #815
It should be fixed, yes. At least when not animating too quickly

[2021-07-12 05:29] kswang1029 opened #1562 "show Stokes/polarization string instead of index"
to be fixed in

- [ ] cursor info widget (once it is merged)
- [ ] image list widget

[2021-07-12 05:59] kswang1029 commented on #1556
suggestions for improvements:

1. when we click the "New" button in the snippets dialog, we should ask users to save or discard the snippets in the current editor.
2. the overwrite confirmation popup shows _behind_ the save popup.

https://user-images.githubusercontent.com/20819712/125237324-153d6f00-e318-11eb-9e9b-0a8961001635.mov

3. (no standard use case🙈) if we keep the enter key pressed to cr

[2021-07-12 09:33] kswang1029 opened #1563 "spectral conversion failed"
after the new FITS header parser improvement https://github.com/CARTAvis/carta-backend/pull/827 the supermosaic image has a problem showing velocity info in the cursor info bar.

![Screen Shot 2021-07-12 at 5 29 25 PM](https://user-images.githubusercontent.com/20819712/125264965-f4384680-e336-11eb-9c0e-ab4bddd9c4d7.png)

[2021-07-13 06:39] kswang1029 commented on #1278
@YuHsuan-Hwang pointed out that this issue has been fixed also via https://github.com/CARTAvis/carta-frontend/pull/1522

[2021-07-13 06:39] #1278 closed, assigned to nobody

[2021-07-13 06:50] #1426 closed, assigned to panchyo0

[2021-07-13 19:44] veggiesaurus opened #1565 "support loading multiple files via URL query parameters"
We can use `?file=<filename.fits>` to load a specific file in CARTA, but it would be useful to also support multiple files at once. The backend already has support for this in terms of commandline arguments.

I propose we use `?files=path/to/test1.fits,other/path/to/test2.fits` for muiltiple files. That should make it as simple as just using
[code]

[2021-07-14 07:53] veggiesaurus commented on #1563
@duidae can you look into this?

[2021-07-14 09:23] kswang1029 commented on #1243
@low-sky could you come up quickly a doc about the details?

[2021-07-14 09:40] veggiesaurus commented on #1492
I think we should use the following mapping:
Stokes I -> Amplitude
Stokes Q -> Real
Stokes U -> Imaginary
Stokes V -> Phase

this will allow us to repurpose the Stokes widget for compex image inspection

[2021-07-14 10:56] Kechil opened #1566 "support integer and boolean image types"

[2021-07-14 12:05] veggiesaurus opened #1567 "ChartJS 3 migration"
ChartJS 3 has large performance improvements, but has a number of breaking changes. The migration guide is provided [here](https://www.chartjs.org/docs/latest/getting-started/v3-migration.html).

[2021-07-14 12:14] veggiesaurus opened #1568 "Remove @blueprintjs/table dependency"
BlueprintJS/table is probably overkill for our purposes, and is also full of bugs. We should develop a simple virtualised table display for compoents that currently use blueprintjs/table, using something like [react-window](https://github.com/bvaughn/react-window) or another virtualised table renderer.

[2021-07-15 02:53] kswang1029 opened #1571 "raster image not updated after matching is just enabled"
After we have images matched, switching to different images should show similar source features in the following example (matching CO, 13CO and C18O line cubes).

@veggiesaurus do you think this is due to tile cache PR?

https://user-images.githubusercontent.com/20819712/125720351-3d7d395d-3ebb-4fe3-8db2-8ab8ba5abc8e.mov

[2021-07-15 03:17] kswang1029 opened #1572 "region size not displayed"
This _might_ be due to the recent backend change (https://github.com/CARTAvis/carta-backend/pull/827) on how FITS headers are extract from images.
![Screen Shot 2021-07-15 at 11 13 13 AM](https://user-images.githubusercontent.com/20819712/125723705-8696971d-af7a-4f23-9cea-cdb98887b2c5.png)

[2021-07-15 03:22] kswang1029 commented on #1572
more investigation is needed to find the root cause as a counter example is found.

[2021-07-15 03:37] kswang1029 commented on #1572
When the size is not displayed, the image list widget is blank. The console says

![Screen Shot 2021-07-15 at 11 35 49 AM](https://user-images.githubusercontent.com/20819712/125725232-fc904b19-43b9-49cc-b747-82dba3ec8a09.png)

[2021-07-15 07:08] #1557 closed, assigned to veggiesaurus

[2021-07-15 07:08] duidae commented on #1563
will do

[2021-07-15 10:37] #1474 closed, assigned to TienHao

[2021-07-15 10:40] veggiesaurus opened #1574 "Reduce repetition in GLSL shader code"
We should use something like glslify to share shader code between the different shader programs (catalog, raster & contour)

[2021-07-16 07:35] duidae commented on #1563
`CTYPE3 = VELO-LSR /  Z COORDINATE TYPE`

the new header does not satisfy fits standard in Table 25.
![image](https://user-images.githubusercontent.com/25971696/125910200-c39af720-d4ce-498f-bb00-43e71b995e3f.png)

[2021-07-19 02:55] kswang1029 commented on #1399
Will need to keep this issue open for v3b2 where line region needs to be added to the spatial profile

[2021-07-19 06:41] #1510 closed, assigned to ajm-ska

[2021-07-19 07:36] veggiesaurus commented on #1484
@YuHsuan-Hwang do you want to create a separate issue for the multi-cursor implementation, or just use this one?

[2021-07-19 07:59] YuHsuan-Hwang commented on #1484
@veggiesaurus I think we can just use this one

[2021-07-19 08:25] YuHsuan-Hwang commented on #1149
The feature of line regions is merged. Polyline regions remain to be implemented.

[2021-07-19 11:10] #1565 closed, assigned to veggiesaurus

[2021-07-19 11:15] veggiesaurus commented on #1563
Actually the issue is not quite that. The CTYPE3 can have a suffix. The issue is that the suffix in this case (`LSR`) does not match table 2 of https://www.aanda.org/articles/aa/pdf/2006/05/aa3818-05.pdf (the algorithm suffix).

[2021-07-19 11:16] veggiesaurus commented on #1563
If the velocity conversion is not available, shouldn't we show _nothing_ instead of `undefined`?

[2021-07-19 11:27] kswang1029 commented on #1306
A useful reference https://www.aanda.org/articles/aa/pdf/2006/05/aa3818-05.pdf

[2021-07-19 14:08] veggiesaurus commented on #1571
Hmm, ok I see the issue.

What is the expected behaviour though? If you change images, we'll then have to fetch the new channel's images from the server, so there may be a situation where the old images are displayed initially and the new ones are then received

[2021-07-19 14:11] kswang1029 commented on #1571
That should be fine for the first time. Once it is cached switching to different images back and forth with fixed FOV should be smooth(?).

[2021-07-19 14:12] veggiesaurus commented on #1571
Yes :+1:

[2021-07-20 04:55] kswang1029 commented on #1399
@duidae regarding the stokes dropdown, can we add "current" which refers to the polarization slider? At the moment the selection is always synchronized with the polarization slider. This would limit some use cases.

[2021-07-20 08:18] #1508 closed, assigned to veggiesaurus

[2021-07-20 08:18] #1551 closed, assigned to veggiesaurus

[2021-07-20 08:28] #1563 closed, assigned to duidae

[2021-07-23 09:56] #1130 closed, assigned to duidae

[2021-07-23 14:56] keflavich opened #1584 "Segmentation fault when loading large data"
I regularly get segmentation faults if I load cubes that are larger than memory:
[code]

[2021-07-26 10:38] #1535 closed, assigned to YuHsuan-Hwang

[2021-07-26 10:42] #1429 closed, assigned to duidae

[2021-07-26 11:27] veggiesaurus commented on #815
@kswang1029 is this fixed now?

[2021-07-26 11:29] #1432 closed, assigned to panchyo0

[2021-07-26 19:06] marcinglowacki opened #1585 "Display S/N ratio in spatial and spectral profilers"
The RMS is displayed below the main panel of the Z Profile window, so it would be useful if the ratio of the peak flux to the rms (or alternatively the std) of a selected region is displayed. Additionally, if the user could define a noise level/use one from a separate region box (e.g. one that is off-emission by the user's choosing) for the above calculation, it would be useful to give an indicati

[2021-07-26 19:10] marcinglowacki opened #1586 "Multi-spectra x-axis reverts to radio velocity"
Whenever toggling the option for multiple images to be used for displaying a profile in the Z Profile window, e.g. the sum or rms statistic of a selected region file in image cubes already cross-matched in position and frequency, the x-axis will always change to radio velocity, regardless of if another option was previously selected. This repeats when going back to single image display, and then b

[2021-07-27 04:00] kswang1029 opened #1587 "revisiting SET_CURSOR criteria"
The SET_CURSOR message is only triggered when the cursor position as "whole pixel" is updated. So if there are matched  images with very different pixel sizes, we will see relevant info such as cursor value (cf @YuHsuan-Hwang 's work on the cursor info widget), cursor spatial profile or cursor spectral profile not being updated.

Taken the following figure as an example, if we move the cursor insi

[2021-07-27 04:34] YuHsuan-Hwang opened #1588 "Image coordinate of spatially matched images"
For spatially matched images, hide the the image coord. of the cursor `-1.7976931348623157e+308` when hovering out of the world coord. range. This includes:

- [ ] the cursor overlay on the image view
- [ ] the cursor info panel (after #1583 is merged)

![image](https://user-images.githubusercontent.com/43841102/127095021-731c7913-ae41-4d24-93d7-17bd0712a93d.png)

[2021-07-28 08:07] YuHsuan-Hwang opened #1589 "Polygon region creation bug"
https://user-images.githubusercontent.com/43841102/127272753-d5f65b21-ca28-451f-b589-a48f34b2dc75.mov

Double clicking creates an extra creation point of a polygon region.
~~Occurs on ubuntu but works fine on macOS.~~ Seems to occur after #1569 is merged. May due to the upgrade of the Konva package.

edit: occurs on both ubuntu and macOS

[2021-07-28 08:48] kswang1029 commented on #1589
with my local Mac env, konva@8.1.1 is used. What's on the CARTA server @ajm-asiaa ?

[2021-07-28 08:56] ajm-ska commented on #1589
@kswang1029 I checked in the Jenkins build folder for the latest "carta-frontend-dev".
`/var/lib/jenkins/workspace/carta-frontend-dev/node_modules/konva` says `"konva@8.1.1"`, so it must be the same as your Mac.

[2021-07-28 08:57] kswang1029 commented on #1586
@marcinglowacki would it be possible that you have two spectral profile widgets enabled with one in the multi-profile mode and the other in the single profile mode? Then you can have the two with different spectral axis conventions. The reason why setting the spectral axis as velocity when "image" is enabled for multi-profile is that mostly we compare spectra from different cubes (eg different lin

[2021-07-28 09:36] marcinglowacki commented on #1586
That would be possible @ two spectral profile widgets, although that does take up more space on the carta screen and is somewhat needless doubling up.

Certainly there are use cases for using velocity, and I understand it as a general default, but as you say, frequency can be useful too. A 'sticky' for the spectral axis that carta remembers would be a nice solution to this I feel.

[2021-07-28 10:05] veggiesaurus commented on #1586
I agree

[2021-07-29 01:47] kswang1029 opened #1590 "colormap enrichment"
This issue collects the colormap request from users:
- Matplotlib's "bone" (Prof. Jayanne English)
- Please find this map and its recently completed tutorial at https://github.com/mlarichardson/CosmosCanvas.  (I’m currently working on the associated error map, an equiluminance spectral index map, and a velocity field colour map.  I’ll let you know when those are ready.) (Prof. Jayanne English)
- g

[2021-07-30 07:10] #1484 closed, assigned to YuHsuan-Hwang

[2021-07-30 09:14] veggiesaurus opened #1593 "Support boolean columns in catalogue table"
The catalogue table needs to support displaying and filtering boolean columns
- [x] Handle boolean types from the backend
- [x] Display boolean types correctly
- [x] Filter boolean types correctly

Related to https://github.com/CARTAvis/carta-backend/issues/882

[2021-08-03 20:14] pford commented on #1489
I could not find a protobuf branch for the PV generator feature (no preview yet), so I created branch `pv_generator` with new files `control/stop_pv_calc.proto` and `request/pv_request.proto` (includes request, response, and progress messages) based on the moment generator messages.  Feel free to edit as needed.

[2021-08-04 03:16] kswang1029 opened #1597 "corrupted spatial profile when cursor is moving"
this is tested with a 128x128 image:

https://user-images.githubusercontent.com/20819712/128116384-8b8c413c-3827-41e1-9d3b-73a564ee9358.mov

also tested with different image sizes:
- 512: working fine
- 256: working fine
- 128: problem
- 64: problem
- 32: problem

[2021-08-04 03:16] kswang1029 opened #1602 "corrupted spatial profile when cursor is moving"
this is tested with a 128x128 image:

https://user-images.githubusercontent.com/20819712/128116384-8b8c413c-3827-41e1-9d3b-73a564ee9358.mov

also tested with different image sizes:
- 512: working fine
- 256: working fine
- 128: problem
- 64: problem
- 32: problem

[2021-08-04 05:44] veggiesaurus commented on #1602
Can you check what's getting sent from the backend? Might be a backend profile decimation bug for @confluence to look at

[2021-08-04 05:56] kswang1029 commented on #1602
Hmm if we have a high zoom level so that there are ~(w x h ) 7 x 5 pixels in the view, the profile corrupted while the cursor is moving. Once the cursor stop, the profile is displayed correctly. We use the frontend tile data to display profile when the cursor is _moving_ right?

[2021-08-04 06:02] kswang1029 commented on #1602
it appears that all y values have same x value (the 1st) while the cursor is moving?

[2021-08-05 02:13] kswang1029 opened #1598 "region list widget crash and frontend crash"
It appears that if the initial width or the width after resizing is greater than a threshold, the region list widget will crash. Launching a new region list from the widget bar will cause the frontend crash.

https://user-images.githubusercontent.com/20819712/128280007-40452e8f-1e54-4992-b9be-885218603d7c.mov

![Screen Shot 2021-08-05 at 10 10 45 AM](https://user-images.githubusercontent.com/20819

[2021-08-05 02:41] kswang1029 opened #1599 "cursor type remains as + after deleting a polygon or polyline region if the cursor is on a side"
https://user-images.githubusercontent.com/20819712/128282426-32ffa39e-9d98-483c-8b30-be2a187562f7.mov

[2021-08-05 09:34] YuHsuan-Hwang opened #1600 "Z profiler components are hidden when small panel width"
![image](https://user-images.githubusercontent.com/43841102/128326808-125ec4bf-f50b-4d75-996e-0c13346d8edd.png)

[2021-08-05 10:57] veggiesaurus opened #1601 "neaten up use of className properties"
We often combine a list of classes in a rather clunky way:

[code]

It wouldbe more elegant if we used an array of strings, and just combined them with `.join[" "]`; Alternatively, we could use the very widely used `classnames` pacakge:

[code]

[2021-08-05 13:14] confluence commented on #1602
When I log the profile values that are sent back from the backend, I don't see anything different or unusual while the bug is happening. It really looks like this is a frontend issue.

[2021-08-06 10:04] jolopezl opened #1604 "Add a preference option for keeping the last directory used"
Derived from https://github.com/CARTAvis/carta-backend/issues/807:

[2021-08-08 16:50] #1562 closed, assigned to YuHsuan-Hwang

[2021-08-08 17:16] veggiesaurus commented on #1571
@kswang1029 can you see if this is also fixed by #1596? I think it was my idiotic typo (`=== undefined` instead of `!== undefined` :facepalm: )

[2021-08-08 17:17] #1171 closed, assigned to TienHao

[2021-08-09 01:59] kswang1029 commented on #1571
Nope, the issue is still there with #1596. When grid mode is on, I see all panels get updated when switching channel but when the grid mode is off (single panel mode), the issue happens.

[2021-08-09 02:06] kswang1029 commented on #1571
@veggiesaurus I suggest we still align the tool bar to the right as if we align to the left, it will block the beam element overlay.

<img width="1782" alt="Screen Shot 2021-08-09 at 10 05 00 AM" src="https://user-images.githubusercontent.com/20819712/128653768-eb75abf0-f3ca-46b2-8c44-47b5f984bfa1.png">

[2021-08-09 04:06] kswang1029 opened #1605 "number of ticks in the colorbar"
the number of ticks in the colorbar should be set to 3 so that a meaningful scale can be rendered properly. This is especially important when the multi-panel view is enabled (https://github.com/CARTAvis/carta-frontend/pull/1596) as usually each panel occupies only a small fraction of screen pixels so the computed number of ticks is mostly one or two, resulting a non-ideal colorbar range.

<img wid

[2021-08-09 05:58] YuHsuan-Hwang opened #1606 "Support other polarization types"
Support all the stokes value of fits files:
![Screen Shot 2021-08-04 at 2 53 46 PM](https://user-images.githubusercontent.com/43841102/128664733-7644f102-d156-4cbc-928a-6a0ef13a8686.png)
This includes:

- [x] Polarization selection in the Z profiler, XY profiler, histogram, and statistics widgets
- [x] Polarization selection in the Save image dialog
- [x] Generating hypercube

requiring backend: h

[2021-08-09 06:43] YuHsuan-Hwang opened #1607 "Change stokes multiple selection design in save image"
In the Save image dialog, we may change the stokes single selection to multiple selection as in the z profiler widget for design consistency. It will also become convenient to implement other kinds of polarization (options of "Stokes I/Q/U/V" and "XX/YY/...") after this change.
Current stokes selection in Save image:
![image](https://user-images.githubusercontent.com/43841102/128667899-9a79ae75-62

[2021-08-09 06:46] kswang1029 commented on #1607
The reason why it is a single-selection list is that due to FITS header limitation (CRVAL, CDELT, CRPIX), Stokes list needs to be contiguous and with equal step. For example, IQV is not allowed. If we use multiple selection, we will need to validate the selections first before making the request to the backend.

[2021-08-09 06:53] YuHsuan-Hwang commented on #1607
Oh I see... we can keep this design

[2021-08-10 02:55] kswang1029 commented on #1600
One possible solution would be we add responsive layout support. If the widget width is not enough to show all components properly, we switch to a vertical layout for those dropdown menus.

![carta_z_profile_layout](https://user-images.githubusercontent.com/20819712/128801084-cfc1e1a8-055f-4de2-a45f-e1954a9f45a7.png)

Alternatively, we can change to the vertical layout completely regardless the wi

[2021-08-10 03:17] kswang1029 commented on #1572
With ALMA image cubes, the region size can be displayed properly. But for the images from elsewhere (eg Hubble, Herschel etc), the region size is empty. I guess this is certainly related to the header as before we used casacore to unify headers but now we use the raw header content. The size calculation (with AST?) needs to be checked.

[2021-08-10 04:06] #1598 closed, assigned to duidae

[2021-08-10 04:35] #1259 closed

[2021-08-10 04:37] #1293 closed, assigned to TienHao

[2021-08-10 05:01] #1149 closed, assigned to YuHsuan-Hwang

[2021-08-10 05:01] #1589 closed, assigned to YuHsuan-Hwang

[2021-08-10 05:02] TienHao commented on #1365
I find out that 1x2,  1x3 and 2x1 images also have this problem.
The `tiles` in RasterTileData messages contains more elements in `imageData` than _asyncDecompressTile()_ expects. [width x height x 4]
They all have at least four `0` in the end.

1x1 -> imageData length = 8 (expect 4)
![1*1](https://user-images.githubusercontent.com/20379662/128809083-0a6bb777-ae6d-4ca4-a75b-5c70db112219.png)

1x2

[2021-08-10 05:20] kswang1029 commented on #1572
My speculation: possibly this is due to missing CDELT in the header. In some images, the pixel size info is stored in the CD matrix.

[2021-08-10 06:05] veggiesaurus commented on #1572
AST should be able to handle CD and PC matrices :thinking:

[2021-08-10 06:34] kswang1029 opened #1612 "title should be configurable per panel in the multi-panel mode"
<img width="1031" alt="Screen Shot 2021-08-10 at 2 33 46 PM" src="https://user-images.githubusercontent.com/20819712/128819484-1160b405-3a6b-49df-b206-0259057cbddc.png">

[2021-08-10 06:42] kswang1029 opened #1613 "better layout when the viewer is too narrow to show the entire tool buttons"
At the moment we wrap the tool buttons but in some cases this results in an unpleasant layout.

<img width="971" alt="Screen Shot 2021-08-10 at 2 38 59 PM" src="https://user-images.githubusercontent.com/20819712/128820111-8d866cdb-ff73-42a9-877c-f539f086dceb.png">

We may try to use popover or other better responsive layout for this use case.

https://user-images.githubusercontent.com/20819712/128

[2021-08-10 06:46] kswang1029 opened #1614 "add control buttons for single/multiple panel view"
Possible place for the single/multiple panel buttons is the top-right corner of the widget.

<img width="1187" alt="Screen Shot 2021-08-10 at 2 44 07 PM" src="https://user-images.githubusercontent.com/20819712/128820693-b68d3df6-003b-421a-80d7-02f842ddb782.png">

[2021-08-10 06:53] kswang1029 commented on #1613
beside the cosmetics issue, there is also usability issue with the current design. The space for cursor interaction becomes very small in some cases if the cursor info bar is long and we have tool buttons wrapped.

<img width="428" alt="Screen Shot 2021-08-10 at 2 51 22 PM" src="https://user-images.githubusercontent.com/20819712/128821517-f65da4f3-dac9-4750-aee5-00b46157f4d4.png">

[2021-08-10 07:06] veggiesaurus commented on #1614
I think three buttons should be used:
- [x] switch between multi-panel modes (single, dynamic, static)
- [x] forward/backward switches between pages when in multi-panel mode

[2021-08-10 07:09] veggiesaurus commented on #1613
We could add a single `<<` button that causes all the rest of the panel to slide out / slide in?

[2021-08-10 07:10] kswang1029 commented on #1613
that also works I guess

[2021-08-10 07:23] #1571 closed, assigned to veggiesaurus

[2021-08-10 07:55] #1365 closed, assigned to TienHao

[2021-08-10 07:55] TienHao commented on #1485
This issue has same root cause from TileService like #1365.

[2021-08-10 07:56] #1485 closed, assigned to TienHao

[2021-08-10 08:23] veggiesaurus commented on #1399
@duidae can you split this into two issues, so that we can story-point and schedule them separately? I think this (the completed section) should be 3 points and the other 2.

[2021-08-10 08:32] #1613 closed, assigned to veggiesaurus

[2021-08-10 08:34] duidae opened #1617 "Expand the features in the spatial profiler: line region/averaging width"
Expand the features in the spatial profiler widget including:

- [ ] a region dropdown menu to select cursor or a line region
- [ ] averaging width (in pixel) in the settings

[2021-08-10 08:35] #1399 closed, assigned to duidae

[2021-08-10 08:35] veggiesaurus commented on #1617
note: separated from #1399

[2021-08-10 08:36] duidae commented on #1617
extended from #1399

[2021-08-10 08:36] veggiesaurus commented on #1617
good timing :laughing:

[2021-08-10 09:19] veggiesaurus opened #1619 "Overlay's coordinate system should be independent between images"
At the moment, loading two images side-by-side forces their overlay to use the same coordinate system. There's no way to load two images and show different coordinate systems in each panel.

![image](https://user-images.githubusercontent.com/592504/128841441-edfe7e0d-457a-4f16-b55c-ca9bf1cac33f.png)

[2021-08-10 10:29] kswang1029 commented on #1619
As a note here: we should be careful about making the changes here as region wcs is sync’d with the viewer too.

In my point view having all labels showing same wcs reference system is not a bad idea. But I am open to hear the feedback from the science team.

[2021-08-10 10:43] #1612 closed, assigned to veggiesaurus

[2021-08-10 10:44] veggiesaurus commented on #1619
@kswang1029 are there situations where this will break things? is it always possible to translate between systems?

[2021-08-10 11:40] #1604 closed, assigned to jolopezl

[2021-08-10 12:27] #1478 closed, assigned to veggiesaurus

[2021-08-10 12:55] #1539 closed, assigned to confluence

[2021-08-11 07:01] kswang1029 commented on #1572
as a note: if we create a line region, the region list widget may crash due to size calculation.

[2021-08-11 07:43] YuHsuan-Hwang commented on #1572
https://github.com/CARTAvis/carta-frontend/blob/dev/src/stores/FrameStore.ts#L1290
the root cause is that `getWcsSizeInArcsec` returns null if there are no `CDELT1` and `CUNIT1` in the header

[2021-08-11 07:46] veggiesaurus commented on #1572
Ok, for now we can just guard against `null`. For beta-2 we can make sure we can handle CD and PC matrices

[2021-08-11 07:48] kswang1029 opened #1621 "imported polyline is considered as "complex polygon" so the color is not correct"
When a polyline region is imported from a region file, the color may be in magenta if the polyline is considered as complex when we treat it as a polygon. The coloring logic for complex polygon should not be applied to the polyline in any case.

![Screen Shot 2021-08-11 at 3 35 52 PM](https://user-images.githubusercontent.com/20819712/128990257-5251271c-f860-4e3d-b409-11f07ba718a7.png)

[2021-08-11 07:52] YuHsuan-Hwang commented on #1572
Ok. I send a PR for the line region crash first

[2021-08-12 11:29] veggiesaurus opened #1623 "correct "hard reload" shortcut suggestions"
Chrome + MacOS should be Cmd + Shift + R.

Need to double-check other combinations too.

[2021-08-12 11:35] veggiesaurus opened #1624 "Distance measurement doesn't work with click-to-pan mode"
As reported by @Jordatious:

If the user has drag-to-pan disabled in the preferences menu, bad things happen when you try to use the distance measuring tool (like things panning twice and so on). We should just disable click-to-pan with the left button when the user is in distance measuring mode (they can still pan using the middle button)

[2021-08-12 11:42] Jordatious commented on #1624
What's the use case for panning while measuring a distance? Maybe to stay zoomed in for a fine-grain measurement, requiring the user to pan before putting down the 2nd anchor? Would command-click for panning also be useful in such a case, or too confusing / complex? Many people like me don't have the middle click!

[2021-08-12 11:43] veggiesaurus commented on #1624
cmd + click should work fine too, yep!

[2021-08-13 03:33] YuHsuan-Hwang opened #1626 "zero number rounding of the colorbar"
Handle the exception of rounding a zero number:
![image](https://user-images.githubusercontent.com/43841102/129301026-40a2042f-f96e-4b6b-b789-08c9936f551a.png)
should be `0.0` instead of `3e-17`

One way to reproduce: set clip min = -0.26, clip max = 0.13, tick density = 0.2

[2021-08-16 07:18] kswang1029 opened #1629 "empty raster image when an image is just loaded"
Test image: set_allsky/Halpha_map.fits and set_allsky/ovro_mollweide_lwa_sky_map_36.528MHz.fits
With the above two images, we see an empty raster after the image is loaded. If we pan or zoom a bit, then the raster shows up.

The test image set_allsky/NHI_ZEA.fits works fine as a counter-example.

[2021-08-16 07:20] kswang1029 commented on #1629
sorry it is a regression in a branch.

[2021-08-16 07:20] #1629 closed, assigned to nobody

[2021-08-17 02:01] kswang1029 opened #1630 "UI element rendering issue on Firefox"
There are few UI elements rendered in an unexpected way when using Firefox.

- contrast/bias
<img width="316" alt="Screen Shot 2021-08-17 at 9 45 32 AM" src="https://user-images.githubusercontent.com/20819712/129650982-6013401f-4e9b-44cd-8510-ccb6ba875434.png">

- region coordinate referenece (image vs world)
<img width="387" alt="Screen Shot 2021-08-17 at 9 48 55 AM" src="https://user-images.gith

[2021-08-18 03:16] kswang1029 opened #1632 "missing unit for statistic = flux density"
Reported by a user via the Helpdesk.

If the input image is a moment 0 image with the pixel unit as Jy/beam km/s, after defining a region, flux density can be derived. The unit should be "Jy km/s" as the per beam part is integrated out.

<img width="471" alt="Screen Shot 2021-08-18 at 11 12 46 AM" src="https://user-images.githubusercontent.com/20819712/129831108-be2af32b-a0fd-4828-ab3f-56de7ede87f

[2021-08-18 08:03] duidae commented on #1547
@veggiesaurus is this scenario (spinner + possibly backdrop covering raster viewer)  ok?

mockup:
![image](https://user-images.githubusercontent.com/25971696/129861375-640b0be2-2889-4891-a8d3-e7b79aff0f03.png)

[2021-08-18 08:08] duidae commented on #648
@kswang1029 can we have some preliminary conversion formulas for beginning? thanks.

[2021-08-18 08:12] veggiesaurus commented on #1547
why not just use the existing progress bar stuff? (e.g. moment map and cube histogram)

[2021-08-18 08:14] duidae commented on #1547
ok

![image](https://user-images.githubusercontent.com/25971696/129864222-f7f23d47-a2e6-4527-9a44-1c912aac4bbe.png)

[2021-08-18 10:13] kswang1029 commented on #648
I forgot to add the req doc. Sorry. https://docs.google.com/document/d/1dK6iaFjGYNbyHX42HR9vnxNMIiMlMG0-tGYKePwBo5A/edit Please have a look and let me know if there are unclear parts. The most common conversion pair is Jy/beam <--> Kelvin

[2021-08-19 10:45] veggiesaurus opened #1634 "Frontend performance profiling and optimisation"
There are a number of troubling issues with the frontend's performance. In no particular order, the following issues need to be investigated (e.g. proper performance profiling to determine bottlenecks and potential for improvement) and hopefully optimised:

- [ ] 1. Firefox and safari performance is pretty poor. I have no idea why (other than the higher event rate on safari)
- [ ] 2. The AST overl

[2021-08-24 09:51] veggiesaurus commented on #1231
@confluence didn't I do this already?

[2021-08-24 09:54] veggiesaurus commented on #1306
changing this to a 3, because we can rely on AST for most of the calculations. It's more a matter of the UI

[2021-08-24 10:00] confluence commented on #1231
Yes, I think you did -- the scripting issue still needs work, but I think this one can be closed.

[2021-08-24 10:19] veggiesaurus commented on #637
~~todo: update description~~

[2021-08-24 11:15] #1231 closed, assigned to veggiesaurus

[2021-08-27 06:13] YuHsuan-Hwang commented on #1587
Had a deeper look at this issue:
1. matched images pixel values are not updated
We check the image position with very high precision, but then we obtain the positions of the matched images using the _rounded_ position of the reference image. This can be simply solved by rounding the position after obtaining the positions
2. hovering event only responsive to the active image
When hovering over a no

[2021-08-27 06:27] duidae commented on #1634
did some investigations and:
* about (2), @veggiesaurus do you mean the temporary freeze of the AST layer when cursor behaviors (ex: scrolling to zoom) switched from one image panel to another?

* about (4): this is a relatively concrete symptom and possible solutions I can imagine now are:
 1. at least showing progress bar when importing regions to have better UX during the freeze time(tried impo

[2021-08-31 03:07] acdo2002 opened #1639 "ERROR_DATA ICD message returned when setting a region"
How to generate:
(1) Open browser's Console.
(2) Open any files (fits/image/hdf5) and create a region.

Problem:
After setting a region, the frontend ICD message sequences:
SET_REGION=>
<=SET_REGION_ACK
SET_CURSOR=>
<=SPATIAL_PROFILE_DATA
SET_SPATIAL_REQUIREMENT {regionid:0}=>
SET_SPATIAL_REQUIREMENT {regionid:1}=>
<=SPATIAL_PROFILE_DATA
<=ERROR_DATA {message: "Spatial requirements not valid for n

[2021-08-31 03:29] kswang1029 commented on #1639
Starting from the v3beta1 carta supports spatial profiles from point region. Line region will also be supported in bete2. So what you are seeing is a result of these changes (and might be temporary side effects).

[2021-09-01 10:01] #1605 closed, assigned to YuHsuan-Hwang

[2021-09-01 10:03] #1588 closed, assigned to YuHsuan-Hwang

[2021-09-01 10:33] #1036 closed, assigned to TienHao

[2021-09-02 13:49] Jordatious opened #1643 "Incorrect projection in v3b1 when CROTA keys present"
An IDIA user has some mosaics created from CASA and WSClean images, which both include the deprecated CROTA FITS header keys. I've asked for a copy of these images to provide for @kswang1029.

carta.idia (v2.0.1) projects it fine, including with diagonal grid lines for the mosaic of the WSClean images. But carta-beta.idia (v3.0.0-beta.1b) incorrectly projects it without the diagonal grid lines. Sp

[2021-09-02 16:48] teuben opened #1807 "cursor keys do nothing"
Currently the cursor keys seems to do nothing in various images, this might be useful. I'm used to it in ds9 and reading off the position.

Related to this:  the accuracy of the WCS and Image (pixel) values is perhaps a bit low. 0.1s in RA and 1" in DEC I would argue for 3 digits in RA and two (e.g. 1.23") in DEC
WhenI move the cursor, i see the ra/dec change, but not the pixel coordinate.  It wil

[2021-09-03 19:27] arusstaylor opened #1644 "use a linked image for spatial coordinates for the Stokes widget profiles"
Currently the stokes widget is set up to use one of the channel images to get the cursor spatial coordinate position for generating the Stokes profiles. If would be extremely useful if we could use a spatial linked image to generate the x,y pixel coordinate for the profile.  The primary use case would be using a more sensitive broad-band radio image (e.g. first moment image) that shows sources to

[2021-09-06 07:44] kswang1029 opened #1645 "showing more precision digits for world and image coordinates in the cursor info bar and the cursor widget"
At the moment the world coordinate precision is determined by CDELT so that adjacent pixels are distinguishable.

Following are three examples with different pixel sizes

![Screen Shot 2021-09-06 at 3 33 54 PM](https://user-images.githubusercontent.com/20819712/132179361-06e04671-b139-4fbd-a2e5-a5432f6c662a.png)

![Screen Shot 2021-09-06 at 3 32 18 PM](https://user-images.githubusercontent.com/208

[2021-09-06 08:32] #1601 closed, assigned to veggiesaurus

[2021-09-06 09:03] #163 closed

[2021-09-06 09:04] #985 closed, assigned to TienHao

[2021-09-06 09:10] veggiesaurus commented on #637
This is likely to be a tricky feature to implement, not from a technical perspective, but from a user experience perspective. We must be cautious and transparent. Initial implementation plan (based on approach used by [Atom](https://atom.io/):

- [x] Generate UUID on the telemetry server when first use when CARTA starts up. All telemetry would be anonymous with no personal information gathered. Th

[2021-09-07 04:03] YuHsuan-Hwang opened #1648 "Image view toolbar length in dark mode"
The image view toolbar length in dark mode is longer than expected

![image](https://user-images.githubusercontent.com/43841102/132282231-f45482c5-52ea-4d2b-9272-d2d057eca52e.png)

[2021-09-08 07:14] #1648 closed, assigned to acdo2002

[2021-09-10 06:09] kswang1029 opened #1652 "regression: cannot load large catalog"
In my test env, I tried to load a catalog with 100M sources.
with
- latest dev : the frontend soft crashed after streaming ~5.5M sources
- v3b1 Mac electron build: frontend hard crash at ~5.5M
- v2.0: it seems to load fine at the time of filing this issue (~24M) and keep streaming. UPDATE: I killed the process at ~33M as my OS is swapping a lot...

with dev I see
![Screen Shot 2021-09-10 at 1 56 5

[2021-09-10 06:36] veggiesaurus commented on #1652
So does a 10M catalogue load ok in 2.0?

[2021-09-10 06:44] kswang1029 commented on #1652
Yes, 10M catalog can be loaded successfully. v3b1 and dev can load it successfully too.

[2021-09-13 03:09] kswang1029 opened #1653 "support reset rest frequency when saving as a subimage"
The relevant backend issue is https://github.com/CARTAvis/carta-backend/issues/918

The current subimage export adopts the same RESTFRQ defined the in header of the input cube. This feature is to support the ability to set a new rest frequency of the subimage. This frontend part needs to provide a new text input field for this purpose and send this information to the backend.

[2021-09-16 02:03] kswang1029 opened #1656 "Position angle of the line region"
to be consistent with the definition in CASA, a vertical line should have the position angle as 0 degree. At the moment in CARTA, a horizontal line has the position angle as 0 degree. We will need to shift the reference by 90 degrees.

[2021-09-16 06:42] #1614 closed, assigned to TienHao

[2021-09-17 09:04] veggiesaurus commented on #799
Closing this in favour of https://github.com/CARTAvis/carta/issues/89, as that (along with the persistent previous directory) mostly covers the use case.

[2021-09-17 09:04] #799 closed, assigned to nobody

[2021-09-23 06:29] #1632 closed, assigned to acdo2002

[2021-09-23 12:50] #1624 closed, assigned to YuHsuan-Hwang

[2021-09-27 10:29] #1656 closed, assigned to YuHsuan-Hwang

[2021-09-29 14:20] keflavich opened #1661 "Beta 3.0: cannot start"
I'm trying to start up the beta version, and I get an error that indicates that a GUI frontend is being loaded:

[code]

but as you can see, I specified `--no_browser` as one of the arguments.  What am I doing wrong?

[2021-10-01 03:58] YuHsuan-Hwang opened #1662 "The size of catalog overlay on Apple M1 and with Retina display"
The size of catalog overlay does not increase as expected when size is larger than around 30:
![Screen Recording 2021-09-30 at 3 42 16 PM](https://user-images.githubusercontent.com/43841102/135563215-32212f71-9cac-4461-b6ec-545a10b76808.gif)

Can be reproduced only on Apple M1 and with Retina display (with `devicePixelRatio = 2`). This may be due to the difference of webgl 2.0, particularly the `A

[2021-10-01 08:08] kswang1029 commented on #1662
FYI: iPad Pro 13 M1 is free of this issue (ios 14.8)
Aliased point size range is [1, 511]

[2021-10-01 12:15] keflavich commented on #1661
Should I repost/move this to https://github.com/CARTAvis/carta/issues?

[2021-10-01 13:56] veggiesaurus commented on #1661
@keflavich can you give us some more info on this? what is this running on? can you try extracting the appimage and running from there?

[2021-10-01 16:18] keflavich commented on #1661
[code]

Where can I find instructions for extracting & running the appimage?

[2021-10-07 05:05] kswang1029 opened #1665 "unable to pan or zoom image"
To reproduce:
1) load an image
2) measure angular distance
3) load another image as new
4) we will see the distance measure button is clicked but we cannot pan or zoom or measure distance.

[2021-10-08 14:59] kswang1029 opened #1667 "line PA changes when manually setting a new length"
https://user-images.githubusercontent.com/20819712/136578919-43775186-21e9-4d9b-a234-afeca5f9d11e.mov

[2021-10-11 08:08] #1302 closed, assigned to TienHao

[2021-10-12 19:43] panchyo0 opened #1669 "Simbad `dist` calculation has ~0.01-0.1 arcsec difference"
I have also tested the sorting and filtering functions and compared with the backend sorting and filtering functions. All looking good.

one thing I noticed is the "dist" calculation has ~0.01-0.1 arcsec difference comparing to the downloaded votable. It would be good to try to make the dist calculation as precise as possible. This minor issue is not critical though.

_Originally posted by @kswang

[2021-10-12 19:46] panchyo0 commented on #1669
@kswang1029 open a new issue at here, we are calculate the distance by the `DISTANCE()` from TAP, then convert to arcsec by *3600. for example `SELECT Top 1000 *, DISTANCE(POINT('ICRS', 277.4873, 48.6946), POINT('ICRS', ra, dec)) as dist FROM basic WHERE CONTAINS(POINT('ICRS',ra,dec),CIRCLE('ICRS',277.4873, 48.6946,1))=1 AND ra IS NOT NULL AND dec IS NOT NULL order by dist` not sure where the offs

[2021-10-18 07:15] #1599 closed, assigned to acdo2002

[2021-10-18 08:46] #1587 closed, assigned to YuHsuan-Hwang

[2021-10-18 09:01] #1243 closed, assigned to panchyo0

[2021-10-18 09:02] #1417 closed, assigned to panchyo0

[2021-10-18 11:38] veggiesaurus commented on #1593
@panchyo0 looks like one of your recent PRs broke this, can you try fix it? it might be due to a bad merge?

[2021-10-19 04:57] #1306 closed, assigned to YuHsuan-Hwang

[2021-10-20 12:48] kswang1029 opened #1676 "show multiple-panel switch of the image viewer only when needed"
If we have other tab sharing the same box with the image viewer, that tab will also have the multiple-panel switch. If we switch tabs back and forth, we see more and more switches.

https://user-images.githubusercontent.com/20819712/138095636-17546baf-d8f1-44ea-b275-5784a7f549b9.mov

also if it is the animator docked as a tab, we still see a cog. Animator widget does not have a setting dialog (yet

[2021-10-22 10:20] keflavich opened #1808 "Bad behavior when coming back from sleep"
I'm using the standalone app v3.0.0-beta.1b on my mac laptop.  When I put the computer to sleep (close it), it appears to clear the GPU cache.  CARTA then goes into a waiting mode where it asks whether to reload the session.  As long as it's in this waiting mode, it uses ~50% CPU according to activity monitor, using up battery & causing the fans to go strong - i.e., it's doing a lot of processing

[2021-10-22 10:43] kswang1029 commented on #1808
It appears related to the electron wrapper. carta_backend uses 0% cpu during that state. @ajm-asiaa do you have any idea?

[2021-10-22 11:50] ajm-ska commented on #1808
I reproduced the issue on my MacBook using the Electron version. After waking from sleep, the frontend reports the "_You have been disconnected from the server. Do you want to reconnect message?_". Then I see the `CARTA-v3.0.0-beta.1 Helper (GPU)` process in Activity Monitor jumps to more than 30%.

After that, I tried the Homebrew version of CARTA with the frontend running in Chrome. I checked Ch

[2021-10-22 12:07] confluence commented on #1808
I believe that I have reproduced the issue in the Focal packaged version using Firefox. If I use Chromium, the session reconnects automatically.

(If anyone else wants to try reproducing this, bear in mind that by default your OS may enter an idle state rather than an actual powered-down sleep mode. I'm not sure what the current situation is with macOS.)

This is definitely a browser / frontend-re

[2021-10-27 08:27] YuHsuan-Hwang opened #1681 "number width of the colorbar"
Some digits of the numbers are hidden when we set the custom precision to a large number:
![image](https://user-images.githubusercontent.com/43841102/139028849-cdbde50b-e5ed-435e-96db-ee762053d45b.png)

[2021-10-28 05:13] kswang1029 opened #1682 "missing padding for the tool buttons in the histogram widget"
The padding at the bottom side of the tool buttons is missing.

![Screen Shot 2021-10-28 at 1 12 12 PM](https://user-images.githubusercontent.com/20819712/139191138-15aa8ddf-71f5-44f6-924c-80e3f75bbac5.png)

[2021-10-28 08:10] #1621 closed, assigned to YuHsuan-Hwang

[2021-10-28 08:11] #1593 closed, assigned to panchyo0

[2021-10-29 02:56] kswang1029 opened #1684 "rock n roll file header box"
https://user-images.githubusercontent.com/20819712/139366151-5727cce2-428c-4471-8cd2-96959a41511f.mov

[2021-10-29 03:26] AlecThomson opened #1685 "Option for plotting polarization vs wavelength^2"
Hi there,

Really enjoying the Stokes analysis widget, and CARTA overall!

Currently, the default for this widget is to plot Stokes Q, U, PA, against frequency. I see that there is the option to switch to wavelength in the configuration menu. It'd be great to also have the option for wavelength^2. This is the natural axis to plot against for Stokes Q and U as Faraday rotation is <img src="https://

[2021-10-29 03:37] kswang1029 commented on #1685
Thank you for the input. We will try to add this feature. This requires some careful design of the UI.

[2021-10-29 04:04] kswang1029 opened #1686 "reset tab title of image viewer when we close all images"
![Screen Shot 2021-10-29 at 12 03 44 PM](https://user-images.githubusercontent.com/20819712/139373786-d3e09d4a-7c44-48a2-93ca-20be33eeb47c.png)

[2021-10-29 05:20] #1626 closed, assigned to YuHsuan-Hwang

[2021-10-29 05:20] #1681 closed, assigned to YuHsuan-Hwang

[2021-11-02 03:54] kswang1029 opened #1688 "unlock progress bar when backend returns an exception message of loading invalid region file"
in this example, the custom region file has incorrect syntax for the region size. The backend returns an error message but the progress bar persists so that users cannot do anything further.

![Screen Shot 2021-11-02 at 11 53 02 AM](https://user-images.githubusercontent.com/20819712/139784376-8b3429af-8f60-42da-81f1-4c45e344a194.png)

[2021-11-02 07:51] kswang1029 opened #1689 "AST grid generation when non-zero CROTA header exists"
It appears that if the image has a non-zero CROTA header, CARTA does not render the coordinate grid lines correctly.

![Screen Shot 2021-11-02 at 3 49 23 PM](https://user-images.githubusercontent.com/20819712/139806574-f03b8269-1e02-4b39-8f75-355ec6b94b86.png)

[2021-11-02 08:54] veggiesaurus commented on #1689
can you paste the header from DS9 here? And what does it come up as in CARTA?

[2021-11-02 09:03] kswang1029 commented on #1689
left:CARTA, right:ds9
![Screen Shot 2021-11-02 at 5 03 24 PM](https://user-images.githubusercontent.com/20819712/139817099-11aca077-f2d7-45ca-a1e3-c89cc79afa6b.png)

[2021-11-02 09:05] veggiesaurus commented on #1689
:see_no_evil: can you paste the text from DS9, so that I can try run it through AST's built-in plotting routines?

[2021-11-02 09:09] kswang1029 commented on #1689
my bad....

[crota_header.txt](https://github.com/CARTAvis/carta-frontend/files/7459302/crota_header.txt)

AST should be able to handle CROTA (tried the web demo)
![Screen Shot 2021-11-02 at 5 05 32 PM](https://user-images.githubusercontent.com/20819712/139818018-45cc4d63-afe9-491f-b8df-6f4c2b231076.png)

[2021-11-02 09:16] veggiesaurus commented on #1689
I wonder if it has anything to do with the weird HISTORY entries for the PC matrix?

[2021-11-02 09:32] kswang1029 commented on #1689
problem (will be) solved with https://github.com/CARTAvis/carta-backend/pull/937

[2021-11-02 09:32] #1689 closed, assigned to nobody

[2021-11-05 06:08] #1665 closed, assigned to YuHsuan-Hwang

[2021-11-05 09:37] veggiesaurus opened #1694 "migrate region list to virtualised table"
The region list is currently a simple HTML table. This is fine for very small region sets, but @duidae has made major improvements to the render speed for regions (see #1664). The bottleneck is now back on the region viewer.

We should make this a simple virtualised table. We could use BlueprintJS tables, but I think we want to try to migrate away from them in future. Should we try just using a si

[2021-11-05 11:14] #1350 closed, assigned to panchyo0

[2021-11-05 11:14] #1574 closed, assigned to panchyo0

[2021-11-06 09:00] veggiesaurus commented on #1252
I think we can close this once the region list improvements are done

[2021-11-08 05:48] YuHsuan-Hwang opened #1695 "Support progress bar for exporting images"
Support progress bar for exporting images (after #1678 is merged)

[2021-11-08 06:13] YuHsuan-Hwang opened #1696 "Incorrect region size"
File: Halpha_map.fits, NHI_ZEA.fits
Steps to reproduce:
1. load two images
2. spatially match the second image
3. unmatch the image
4. create a region in the second image (without panning/zooming the image first)

![image](https://user-images.githubusercontent.com/43841102/140690833-07ed8513-800a-4f07-9e00-5299cceadbc3.png)

[2021-11-08 06:42] YuHsuan-Hwang opened #1697 "Region anchors on Retina display"
Using a `devicePixelRatio = 2` screen:

1. the anchors jump to twice farther when changing the region size

https://user-images.githubusercontent.com/43841102/140694913-641e63f6-cbe9-46e3-9950-c4708843a0f6.mov

2. the offset of the rotation anchor is twice farther
`devicePixelRatio = 1`:
![image](https://user-images.githubusercontent.com/43841102/140694370-46216b35-2958-4d8c-b30d-8337d2fb5b98.png)