[2019-08-06 08:21] veggiesaurus commented on #444
@duidae we need to have floating widgets in the layout anyway. Lets take that route.

[2019-08-06 08:24] kswang1029 commented on #444
@duidae could you check if image viewer is docked before saving the layout? I did an experiment before that if we have all widget undocked, we cannot save the layout and we will see an error prompt.

[2019-08-06 08:42] duidae commented on #444
@veggiesaurus hmm ok
@kswang1029 yes if the docked layout is empty, the error message will prompt when saving, and we cant force the image viewer to be docked, so the solution is still to save floating widgets to layout

[2019-08-06 08:46] kswang1029 commented on #444
@duidae what I meant is before saving a layout, can we check the state of the image viewer to see if it is currently docked or not? If it is undocked, we show an error prompt.

[2019-08-06 09:51] duidae commented on #444
@kswang1029  I think we should ensure that there is at least one image viewer in each layout, no matter it is docked or undocked

[2019-08-06 12:24] veggiesaurus commented on #443
this has been bugging me for a while. The problem is that clicking fast counts as a "double click", which then ends the polygon creation. Not sure how to get around this issue

[2019-08-06 12:42] kswang1029 commented on #443
I see. Iceboxes?

[2019-08-06 12:45] veggiesaurus commented on #443
Yes, and then if user feedback from the beta brings it up, we can try to sort it out. Possibly we can manually trigger double-clicking and then have control over the double-click duration. Do you think if we halved the double click duration that would solve the issue?

[2019-08-06 12:50] veggiesaurus commented on #439
I think the way to solve this is to allow the user to lock regions in the region info dialog or the region list. Locking a region would prevent any form of interaction with the region, so the user could move other regions on top of it, pan over it and so on.

[2019-08-06 12:52] kswang1029 commented on #439
Locking via region list would be more straightforward I think. Surely we need to lock function in region dialog too.

[2019-08-06 13:46] veggiesaurus commented on #439
Work-in-progress. I think it works quite nicely:

![region_lock](https://user-images.githubusercontent.com/592504/62545054-39a58c80-b861-11e9-965e-3c20098c2b97.gif)

[2019-08-07 01:36] kswang1029 opened #450 "make the icon of stokes widget consistent"
The icon in the menu list should be consistent with the one in the widget bar.
![Screen Shot 2019-08-07 at 9 35 20 AM](https://user-images.githubusercontent.com/20819712/62588015-cea69500-b8f6-11e9-9026-92adcbd0d0fc.png)

[2019-08-07 01:54] kswang1029 opened #451 "performance impact of AST grid tolerance to wide field images"
Currently, the minimum of  grid tolerance is set to 0.1%.
![Screen Shot 2019-08-07 at 9 48 50 AM](https://user-images.githubusercontent.com/20819712/62588537-9bfd9c00-b8f8-11e9-913c-77f1884cff17.png)
This is good for small field images in general.

However, if it is a wide field image such as the following,
![Screen Shot 2019-08-07 at 9 51 04 AM](https://user-images.githubusercontent.com/20819712/

[2019-08-07 02:14] kswang1029 opened #452 "point style in graph makes profile decimation artifacts/side effects much more noticeable"
See the attached gif.
![Aug-07-2019 10-15-15](https://user-images.githubusercontent.com/20819712/62589592-4e832e00-b8fc-11e9-9eef-8bcec3c9c10e.gif)

Maybe a quick solution is to remove point style (and may solve $453 too).

[2019-08-07 02:45] kswang1029 opened #453 "Zooming in a profile in point style results in empty plot"
The following is an example with 7860 channels. With much fewer channels (e.g 100), it is harder to trigger this issue.
![Aug-07-2019 10-34-23](https://user-images.githubusercontent.com/20819712/62590914-7a081780-b900-11e9-987b-295df906cf32.gif)

[2019-08-07 02:55] kswang1029 opened #454 "Save as png in Stokes widget"
Currently each of the profile plots (Q&U, PI, PA) can be exported as png separately. This introduces an issue of missing x tick labels.
![IRCp10216_sci spw0 cube IQUV manual pbcor fits-profile-2019-8-7-10-51-41](https://user-images.githubusercontent.com/20819712/62591291-b9833380-b901-11e9-8e4e-f415ec7bf75c.png)

As an improvement, we could consider to save all three plot together as one png plot.

[2019-08-07 03:35] veggiesaurus commented on #452
Could we use random decimation instead of min max?

[2019-08-07 03:39] kswang1029 commented on #452
That would make profile features distorted, right? I think the current min/max decimation does preserve profile features well.

I feel this profile decimation (either min/max or random) needs to work with line or step plots since they kind of visualizing interpolation via connection lines.

[2019-08-07 03:42] veggiesaurus commented on #452
Hmmm, perhaps. I think we might need to disable decimation when using a point plot

[2019-08-07 03:43] kswang1029 commented on #452
That would be good!

[2019-08-07 12:20] #370 closed

[2019-08-07 12:21] #386 closed

[2019-08-07 13:01] #420 closed

[2019-08-07 13:27] kswang1029 opened #455 "refine tsv output of QU profile plot in the stokes widget"
in the Q&U plot, please add # before "Qz" and "Uz".

[code]

It would be even better if we use three columns, such as x, Qz, Uz.

[2019-08-07 15:06] duidae commented on #444
reference for making stack unstackable: https://github.com/golden-layout/golden-layout/issues/357

[2019-08-08 07:22] #439 closed

[2019-08-08 07:45] zarda commented on #335
This issue will not happen whenever closing spatial profile. Looking into the reason.

[2019-08-08 08:22] arusstaylor opened #458 "rename saved layouts"
I made a mistake naming a layout and want to rename it.  There doesn't seem to be a way to rename layouts, only to delete or save.  This is a minor issue as one can always delete and re save.  But it would be slick to be able to rename saved layout.

[2019-08-08 09:03] #455 closed

[2019-08-08 09:05] veggiesaurus commented on #451
relabelled as a bug, since it can crash the frontend

[2019-08-08 10:46] kswang1029 commented on #335
This is an interesting finding. 👍  Confirmed. If there is no spatial profiler widget, the world coordinates are computed correctly.

In the spatial profiler widget, the top axis displays the world coordinates. Maybe there is an unexpected connection here.

[2019-08-08 11:01] veggiesaurus commented on #335
I suspect what's happening is that the format is being set in the spatial profiler, and not being properly un-set.

[2019-08-08 21:11] veggiesaurus commented on #454
@kswang1029 the ticks are now saved correctly in the individual plots

[2019-08-08 21:22] veggiesaurus commented on #306
@kswang1029 can you re-test this and confirm that it behaves as expected?

[2019-08-08 23:29] kswang1029 commented on #454
@veggiesaurus Yes!

[2019-08-09 02:53] kswang1029 opened #463 "incorrect x range of profile widget (spatial/spectral) when open a new image"
if we open image A, check spectral profile, and modify the x range by zooming, then if we open image B (image A will be closed then) and check spectral profile, we will see empty plot if image A and image B have different frequency coverage. Thanks to @panchyo0 for spotting this!

[2019-08-09 06:16] kswang1029 commented on #306
@veggiesaurus @arusstaylor
Currently, if we change coordinate system via the overlay dialog, the format of the wcs coordinate will change _dynamically_ with respect to the selected coordinate system. It will be effective once the cursor updates position. For ICRS, FK5, and FK4, the format is sexagesimal. For galactic and ecliptic, the format is decimal. If users want to just see a certain format i

[2019-08-09 09:42] #450 closed

[2019-08-09 10:14] veggiesaurus opened #464 "Stokes widget: colors in scatter plot are incorrect"
According to the Stokes feature user story, the scatter plot should have "frequency encoded by colour (red to blue from bottom to top of the band)".  This means that the lowest _frequency_ values in the scatter plot should have a hue of 0, while the highest _frequency_ should have a hue of ~ 240 (to avoid wrapping round back to red). At the moment, the color is determined purely by the value of St

[2019-08-09 10:24] veggiesaurus commented on #464
@arusstaylor does the second image look correct?

[2019-08-09 10:57] arusstaylor commented on #464
Yes, the bottom image looks good.

[2019-08-09 18:21] veggiesaurus opened #465 "Stokes widget: radians are not being converted to degrees properly"
Polarization angle should be converted from radians to degrees by simply multiplying by `180 / Math.PI`.

[2019-08-09 18:27] #378 closed

[2019-08-09 20:42] #464 closed

[2019-08-09 20:42] #465 closed

[2019-08-10 00:00] panchyo0 opened #467 "Channel indicator for Scatter plot"
1.  indicator as to which channel is selected in the scatter plot
2. mouse cursor hovered on the other plots, show corresponded point

[2019-08-12 10:10] zarda commented on #335
Fixed on [branch](https://github.com/CARTAvis/carta-frontend/tree/hj/%23335) but have no idea of detailed ast command words. It will need any changes if there would be side effect.

[2019-08-12 11:21] #444 closed

[2019-08-12 13:20] veggiesaurus opened #470 "polarization angle is incorrect"
Polarization angle is calculated incorrectly, it is currently half of what it should be.

[2019-08-13 05:02] kswang1029 opened #474 "auto stop animation playback"
With the consideration of server performance and resource management, we should apply an auto stop of animation playback for a given amount of time (e.g, 15 or 30 mins). This would prevent the case that users keep the playback on intentionally or unintentionally.

[2019-08-13 05:16] kswang1029 opened #475 "Enhancement of spectral profile widget"
To make the spectral profiler widget even more useful for science productivity, the following features need to be implemented.
1) conversion of spectral axis (x), such as velocity frame, frequency, velocity, optical/radio definition, etc.(c.f. casaviewer)
2) unit conversion of intensity axis (y), such as Jy/beam <-> K, MJy/sr, Jy/arcsec^2, etc. (c.f. casaviewer)
3) custom displayed x and y range (

[2019-08-13 06:33] kswang1029 opened #476 "Adding license info for U. Alberta"
![Screen Shot 2019-08-13 at 2 30 49 PM](https://user-images.githubusercontent.com/20819712/62920056-294c5f00-bdd7-11e9-8f7f-fda3d626b7a5.png)

@low-sky Shall we use "Department of Physics, University of Alberta" or simply "University of Alberta"?

[2019-08-13 07:53] veggiesaurus commented on #470
@arusstaylor @low-sky, continuing our email chain:

@panchyo0 has a pull request waiting (#468) that changes it to use  `0.5 * Math.atan2(u, q)`
Is that definitely the right equation? Most of the literature I've seen just specifies `0.5 * atan(u/q)`, which implies a smaller range. `atan2` is generally more useful, since it can tell you which quadrant things are in, but is this a generally accepted

[2019-08-13 08:02] arusstaylor commented on #470
The equation above will map the angle onto 0 to 180 degrees.  This is acceptable. I am fine with the angle being displayed on that range.  There is no convention but typically PA is either mapped to 0 to 180 or -90 to 90.   Either is ok.    The physics is that PA has no direction.  It is not a true vector.  To convert from 0 to 180 to -90 to 90 you just need to flip the values in range 90 to 180 b

[2019-08-13 08:03] kswang1029 commented on #470
@arusstaylor when we plot a polarization segment on the image, are we referring 0 degree to North?

[2019-08-13 08:07] arusstaylor commented on #470
Yes polarization angle of 0 should be North an increase counterclockwise.  See https://arxiv.org/abs/1612.03045

[2019-08-13 08:09] veggiesaurus commented on #470
@arusstaylor `atan2` has a range of [-pi, pi], so the equation `0.5 * Math.atan2(u, q)` has a range of [-90, 90]

[2019-08-13 08:09] kswang1029 commented on #470
@arusstaylor thanks for the reference : ) So I would suggest we make it consistent in the PA plot.

[2019-08-13 08:10] arusstaylor commented on #470
@veggiesaurus.  Ok we are fine then.

[2019-08-13 08:13] arusstaylor commented on #470
@kswang1029 I think this only applies if we are plotting the PA as vector overlays on the image.  For the PA line plot the Q and U values and thus PA are defined by the instrument used to create data cube,  and one hopes that the Q, U directions are referenced to the sky by the processing.

[2019-08-13 10:26] arusstaylor opened #479 "share and import and export layouts"
Would be nice to be able to share and import and export layouts.

[2019-08-13 10:29] arusstaylor commented on #475
would add wavelength, and wavelength squared to the axis conversion options in item 1.  Useful for spectropolarimetry

[2019-08-13 10:31] veggiesaurus commented on #475
I think we need separate issues for each of these independent feature requests once we've decided what and when to implement.

[2019-08-13 12:42] low-sky commented on #470
I agree that we're good to go with `0.5 * atan2(u, q)`. equation.

[2019-08-13 12:44] low-sky commented on #476
Please include Department of Physics.  Otherwise 👍

[2019-08-13 13:14] #476 closed

[2019-08-13 13:54] kswang1029 commented on #470
@arusstaylor @low-sky FYI about the polarization angle from CASA with immath task.
https://casa.nrao.edu/casadocs-devel/stable/global-task-list/task_immath/about

[2019-08-13 15:04] #452 closed

[2019-08-14 11:55] kswang1029 opened #482 "floating widget cannot be moved to new location if its content is updating (spectral profile)"
To reproduce the issue, launch a floating spectral profile widget and request a region profile that needs some time to get the final profile. When the profile is updating (we see progress % increasing), and if we hold and drag the widget, the widget will restore its original position when a new update comes in.

[2019-08-14 14:53] kswang1029 opened #483 "hanging file list if we open image file browser without closing region file browser and vice versa"
To reproduce the issue, open image file browser, then open region file browser without closing the image file browser dialog.

Or, open region file browser, then open image file browser without closing the region file browser dialog.

[2019-08-16 07:28] kswang1029 opened #485 "region profile update of an HDF5 cube in the Stokes widget does not have changing line opacity"
frontend master 3335f5e

When viewing region spectral profile of an HDF5 cube, the profile is updating with changing line opacity. The same feature should be applied to the Stokes widget too.

[2019-08-16 08:49] veggiesaurus commented on #482
@duidae I think this is due to the floating widgets now acting in controlled mode. Can you look into it?

[2019-08-16 09:13] duidae commented on #482
okok

[2019-08-16 21:52] veggiesaurus commented on #485
@panchyo0 can you have a look at how this is handled in the spectral profile widget and use that same approach for the stokes widget?

[2019-08-16 22:25] veggiesaurus opened #487 "dynamically increase AST tolerance during image motion (zooming, click-drag panning)"
Currently, simply rendering the AST overlay can take almost 10 ms on its default tolerance setting (2%). While this is fine under most circumstances, when zooming in and out using devices with smooth scrolling (e.g. MacBook with touchpad), the image view is refreshed almost every 16 ms, so 10 ms becomes quite a burden. I'm wondering whether we shouldn't dynamically adjust the AST tolerance up to 2

[2019-08-19 06:49] zarda commented on #483
Reopening file file browser will be an issue because the fileBrowserStore.getFileList execute after opening.

[2019-08-20 08:10] veggiesaurus commented on #487
@kswang1029 any thoughts on this?

[2019-08-20 08:16] veggiesaurus commented on #483
@kswang1029 does this need to be backported?

[2019-08-20 08:18] duidae opened #491 "[server] Integrate preference & layout to DB in server version (frontend part)"
- [X] integrate layout with server DB
- [X] integrate preference with server DB
- [X] test layout/preference with server DB

[2019-08-20 08:20] duidae opened #492 "Integrating JSON validator & support server layout"
- [X] integrate ajv
- [X] create json template
- [X] support widget settings of spatial/spectral, stokes, historgram, render config

ajv lib ref: https://github.com/epoberezkin/ajv

[2019-08-20 08:21] kswang1029 commented on #483
Yes I think we should have it in v1.2. It is quite easy to trigger the issue.

[2019-08-20 08:30] #483 closed

[2019-08-20 08:44] kswang1029 commented on #487
Good idea!

[2019-08-21 07:01] veggiesaurus opened #493 "Frontend freezes when loading PV image"
The frontend does not handle loading of PV images properly, due to a bug in how the cursor info precision is calculated

[2019-08-21 07:05] #335 closed

[2019-08-21 07:30] #493 closed

[2019-08-21 08:11] veggiesaurus opened #495 "Changes to widget options display"
Currently, we use a side-bar approach to widget options: commonly used widget options are displayed at the top of the widget, while more options are available by expanding the options bar by pressing the cog:
![image](https://user-images.githubusercontent.com/592504/63413275-aee49600-c3f9-11e9-9a3b-b68c3ad64352.png)
![image](https://user-images.githubusercontent.com/592504/63413185-8066bb00-c3f9-1

[2019-08-21 08:54] arusstaylor commented on #495
I agree that a floating options widget invoked by a cog wheel in the header bar as a universal approach for widget options would be a better approach. I provides a common approach for all widgets, and frees up real estate within the widget.

Russ

[2019-08-21 12:30] #470 closed

[2019-08-21 12:56] low-sky commented on #495
I agree; a floating window makes sense. The primary thing to watch out for is whether the widget itself is visible while settings are being manipulated.  It's useful to see the effects of interactions with the preferences pane.

[2019-08-21 13:00] veggiesaurus commented on #495
I think this is crucial, which is why I'd prefer for the settings to be floating, rather than docked. Floating widgets could easily be rearranged so that the config widget doesn't obscure the actual widget.

I suspect some thought may be required when determining where the config widget actually pops up initially.

[2019-08-21 13:46] #154 closed

[2019-08-22 10:29] Kechil opened #496 "Prevent animation mode from changing during animatoin"
This was requested by a few beta testers

[2019-08-22 10:32] Kechil opened #497 "Make point symbol bigger (beta test comment)"
This was requested by several beta testers.

[2019-08-22 12:43] Kechil opened #498 "Regions should default to WCS (e.g. when exporting)."

[2019-08-22 14:57] pford opened #499 "Frontend crash when reload page"
Using Chrome on MacOS with the asiaa server for the frontend (latest dev), when I restart my local backend then reload the page to reconnect, I see the page as connected, the file browser automatically pops up, then the page goes blank.  I reload the page again, and all is well.  This error is in the dev console output:
![Screen Shot 2019-08-21 at 10 11 43 AM](https://user-images.githubusercontent

[2019-08-23 09:37] #485 closed

[2019-08-26 08:12] #498 closed

[2019-08-26 08:31] veggiesaurus opened #504 "migrate localStorage settings from CARTA_<preferenceName> to <preferenceName>"
Currently, our `localStorage` contains a number of preferences, stored in the format `CARTA_<preferenceName>`, such as `CARTA_zoomMode`. The prefix is unnecessary, since CARTA has its own sandboxed local storage, so no namespace conflicts can occur. We should instead simply use `<preferenceName>` as the local storage key.

[2019-08-26 08:55] #497 closed

[2019-08-26 13:43] veggiesaurus commented on #482
@duidae any progress on this?

[2019-08-26 13:45] veggiesaurus commented on #499
@pford can you confirm that this is fixed in the latest `dev` and `release/1.2` commits?

[2019-08-27 02:40] duidae commented on #482
@veggiesaurus checked last week, found that this issue happens when the widget title is updating & dragging the widget at the same time, it seems that the drag end event does not update the position successfully while re-rendering the title, suspect it's an intrinsic bug of Rnd or the drag end event is ignored by some kind of debounce/throttle

[2019-08-27 07:59] #496 closed

[2019-08-27 08:00] #504 closed

[2019-08-27 08:21] veggiesaurus commented on #487
to be implemented along with drag-to-pan support in 1.3

[2019-08-27 08:25] #467 closed

[2019-08-27 12:12] #371 closed

[2019-08-27 19:56] veggiesaurus commented on #499
Fixing now.

[2019-08-27 20:13] #499 closed

[2019-09-04 19:13] veggiesaurus commented on #126
@duidae can you add an entry to "default render config" to allow the user to choose a NaN color. Make sure you render the `SketchPicker` with ` disableAlpha={false}` so the user can change the opacity.

Not sure what the default should be. Perhaps transparent? @kswang1029?

[2019-09-04 19:15] veggiesaurus opened #511 "Region creation should be cancellable by pressing the ESC key"
When creating a region, it would be nice to be able to cancel the creation of the region by pressing the ESC key, rather than creating the region and deleting it.

[2019-09-04 19:25] veggiesaurus opened #512 "Analysis widgets should default to the "active" region."
When a user creates a new widget, its associated region should default to the "active" region.  This means that users can easily switch from viewing the analysis results of one region to that of another by selection the other region. This has been requested since 1.0, but was blocked by the lack of partial profiles and profile cancellation.

- [ ] An item in the region dropdown needs to be added f

[2019-09-04 19:30] veggiesaurus opened #513 "Add “jump” or “center” action button in region list to center image view on a region"
An action should be added to the region list for each region (placed next to the lock icon), which allows the user to re-center their view on a chosen region.

- [x] Re-center image view on a specific region's center.
- [x] For regions other than point regions, adjust the image zoom so that the region takes up a sensible portion of the image view. For example, if we re-center on a 100x100 region,

[2019-09-04 19:34] veggiesaurus opened #514 "Adjust mouse symbol when moving over polygon line to indicate that a new anchor point will be created"
In order to make the user explicitly aware that clicking on a polygon line segment will create a new anchor point, the cursor should be changed to a different symbol when hovering over the line segment (or possibly hidden entirely?)

[2019-09-04 19:35] veggiesaurus opened #515 "Extra render config options in preferences: alpha and gamma values"
Alpha and gamma values need to be added to render config options in the preferences dialog.

[2019-09-04 19:40] veggiesaurus opened #516 "Color maps need to be invertible"
The user needs to be able to invert the color map via the render config widget.
- [x] Add options to widget
- [x] Implement inverted color maps. This simply looks up colors with an index of `1 - x` instead of `x` in the pixel shader

[2019-09-04 19:48] veggiesaurus opened #517 "Changes to Stokes widget colors"
It has been suggested that we change the plot color of the _Q_ trace in the Stokes widget, because the blue and green are tricky to tell apart. I suggest the orange equivalent of whatever BlueprintJS green we're currently using.

At the same time, the Stokes widget's Q and U traces should also be modified to switch between dark and light colors depending on the theme (the other plots already do th

[2019-09-04 21:55] #517 closed

[2019-09-05 02:15] duidae commented on #126
okok

[2019-09-05 02:20] kswang1029 commented on #126
I would suggest a grey color so that it is still clear with the default inferno colormap and it fits the entire GUI theme better. Would that work? @veggiesaurus @duidae

[2019-09-05 03:30] kswang1029 commented on #126
@veggiesaurus @duidae sorry I think a bit more and realized that a grey color is not that obvious  with the "inferno" colormap. Perhaps it is better to still use blue as default.
![M100_12m_CO_central image mom0 fits-image-2019-9-5-11-28-24](https://user-images.githubusercontent.com/20819712/64309841-797ea180-cfd0-11e9-97d9-4e685ea23689.png)

[2019-09-05 03:52] duidae commented on #515
about naming of the fields,
log scaling -> alpha
power scaling -> beta
gamma scaling -> gamma

is that ok? @veggiesaurus @kswang1029

[2019-09-05 06:41] veggiesaurus commented on #515
@duidae the `alpha` values should be the same for log and power, since they are related to the same thing. This is consistent with DS9's behaviour, and with our current use of it in the render config widget

[2019-09-05 07:00] duidae commented on #515
kk @veggiesaurus  got it, thanks!

[2019-09-05 08:31] #515 closed

[2019-09-05 08:40] #516 closed

[2019-09-05 08:47] veggiesaurus opened #521 "render config widget's cursor display needs to be moved from the side menu"
The render config widget's cursor display should be placed in the same location as the other plots' display.

[2019-09-09 20:00] pford opened #523 "Region name not used in imported region"
Sent from backend in IMPORT_REGION_ACK regions[ ] regionInfo regionName (when set in region file).

[2019-09-11 02:40] kswang1029 opened #526 "checking file name of a region file when exporting"
Currently the frontend checks the input file name of a region file with all other existing region files (via REGION_LIST_RESPONSE) when exporting. However, the input name may coincide with other image files or other file types. If this happens, the frontend shows successful but actually there is no region file saved. Luckily existing file is not overwritten based on my test.

If we don't want to a

[2019-09-11 06:50] veggiesaurus commented on #526
we shouldn't associate the extension with the file type. Perhaps we should simply list all files

[2019-09-11 06:52] kswang1029 commented on #526
Yes, if the frontend is aware of all files in the backend directory, we can use the current approach to warn users.

[2019-09-11 06:54] kswang1029 commented on #526
@veggiesaurus shall we migrate this to backend?

[2019-09-11 07:04] #526 closed

[2019-09-11 07:04] veggiesaurus commented on #526
Issue moved to [CARTAvis/carta-backend #344](https://github.com/CARTAvis/carta-backend/issues/344) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-11 08:28] #521 closed

[2019-09-16 16:00] panchyo0 opened #529 "Stokes widget, the shape of scatter plot indicator when interacting with other plots"
Should we just use the highlight circle instead of the grey cross when moving the mouse over the other plots? @veggiesaurus

[2019-09-16 16:01] panchyo0 opened #530 "Stokes widget, Information bar display"
Should we use Q and U, and Q/I and U/I in the information bar at the bottom? @veggiesaurus

[2019-09-17 10:30] veggiesaurus opened #532 "Drag-to-pan support"
Drag-to-pan support needs to be added to CARTA

- [x] Adjust interaction approaches to support drag-to-pan
- [x] Add secondary click-to-pan (middle-click or ctr+click)
- [x] Adjust AST tolerance and update frequency during panning to improve performance
- [x] Add entry to preferences that allow users to select click-to-pan
- [x] Sort out issues with touchscreen devices

[2019-09-17 12:42] #158 closed

[2019-09-17 12:44] #329 closed

[2019-09-17 12:44] #211 closed

[2019-09-17 13:00] Kechil commented on #491
Is this the same is #348? If so please remove #348.

[2019-09-17 16:13] veggiesaurus commented on #532
A happy spin-off of adding support for drag-to-pan (and making it the default interaction approach) is that touchscreen devices such as iPad can now properly pan and zoom (drag-to-pan, pinch-to-zoom, which is pretty much the standard approach in touch apps).

![zooming](https://user-images.githubusercontent.com/592504/65059637-a5a60500-d976-11e9-918f-d8cc2dc3f299.gif)

[2019-09-19 06:06] duidae commented on #491
@Kechil  no it's a different issue, in server version we have database to save stuffs, so user preferences need to migrate to database accordingly

[2019-09-19 12:33] #532 closed

[2019-09-20 02:45] zarda commented on #443
Could we check the distance between clicks? The creation will finish, if the distance is small.

[2019-09-23 08:12] arusstaylor opened #537 "precision of cursor coordinate in z profile"
I am looking at the z profile for the GALFACTS stokes cube.  The display of the cursor value shows the frequency only with a precision of 0.01 GHz.  e.g. 1.43 GHz.  The actual step in frequency per channel is much smaller that 0.01 GHz so the cursor value remains the same even if I change the channel.  The precision of the value of the cursor position in the z profile should be set to have suffici

[2019-09-23 08:18] arusstaylor opened #538 "changing coordinate frame of grid overlay"
Changing the coordinate frame of the grid overlay is too complicated.  It should require only one click.  Currently one must go into the view, selected layouts, select global, select coordinate and then select the coordinate frame.  It should be much easier than this.  The use case for this feature is not that you are customizing overlay settings.  Rather the user wants to be able to dynamically c

[2019-09-23 08:28] veggiesaurus commented on #537
agreed. @duidae can you sort this out when you get the chance?

[2019-09-23 08:32] veggiesaurus commented on #538
I agree. I think we need to re-think the overlay approach considerably. I see the myriad of options in the complex overlay settings dialog as something that should only be resorted to under two scenarios:
- a user wants to produce a publication-ready plot
- via the scripting interface

Switching between coordinate types should be very easy, and will be especially useful when overlaying contours of

[2019-09-23 08:32] duidae commented on #537
okok

[2019-09-23 08:38] veggiesaurus commented on #537
@arusstaylor @kswang1029  what sort of precision would be appropriate? 4 decimals?

[2019-09-23 08:48] arusstaylor commented on #537
There is probably not one solution that works for all data sets. I think this should be set dynamically to whatever the precision of the difference between two channel is.

[2019-09-23 08:53] veggiesaurus commented on #537
That's one possible solution, but it would mean that the precision would change depending on where the cursor is. For example, if you have two values of `1.4015` and `1.4072`, then you would need 3 decimals to tell them apart. If you have two values of `1.4072` and `1.5031`, then you'd only need 2 to tell them apart.

I'd rather we didn't assume that the delta between channels is constant, because

[2019-09-23 08:56] arusstaylor commented on #537
hmmm.  Not sure what else makes sense. I guess you could use the total bandwidth divided by the number of channels to get the average channel difference and use that. Would be a sensible solution 99.999...% of the time.

[2019-09-23 08:57] veggiesaurus commented on #537
That breaks down if we have a non-linear z-axis. Once we do conversions from one spectral quantity to another (freq <-> wavelength <-> velocity is required for 1.3 release), this becomes problematic

[2019-09-23 08:59] arusstaylor commented on #537
Getting complicated. I guess then you would need so search for the smallest channel difference in the cube and use that to set the precision.

[2019-09-23 09:01] arusstaylor commented on #537
Could be can expensive calculation for 32k channels.

For the conversion from freq - velocity can you not just convert the precision using the same transformation as you use for the coversion?

[2019-09-23 09:41] veggiesaurus commented on #537
Yes, it could be. I think the best bet is to simply use the neighbouring values to calculate the required precision. Nice and simple. Although it may look a little weird if the precision changes across the image, the precision will always be _enough_ to distinguish between channels.

For freq to velocity, yes. But that only works for linear transformations. As soon as we convert to wavelength, tha

[2019-09-23 12:41] arusstaylor commented on #537
using the neighbouring values is a safe bet.  In most cases the precision will not change so will not be strange.  Will only change if the channel increment changes, which I guess is the right thing to do.

[2019-09-23 12:42] kswang1029 commented on #538
How about we borrow the idea from the region button? That is, when the grid button is double clicked, a column of buttons with different coordinate frames shows up (just like regions) so we can switch between different reference frames easier than what we do now.

[2019-09-23 14:43] veggiesaurus opened #539 "PreferenceStore's event list should be a map"
Instead of a `boolean[]` for the list of events, `PreferenceStore::eventsLoggingEnabled` should be a `Map<CARTA.EventType, boolean>`. This will result in neater code all-round, I think. But the main issue is that currently with the array structure, it assumes that the event types enum has an entry for every consecutive integer. If we deprecate commands, or if some event types are not yet implement

[2019-09-23 14:50] veggiesaurus commented on #538
I like that idea. So something like a button with the following options (tooltip content in brackets):
- Auto (Automatically select the coordinate system based on file headers)
- FK5 (FK5 coordinates, J2000.0 equinox)
- FK4 (FK4 coordinates, B1950.0 equinox)
- GAL (Galactic coordinates)
- ECL (Ecliptic coordinates)
- ICRS (International Celestial Reference System)

[2019-09-23 15:30] veggiesaurus commented on #537
@duidae please use a similar approach to how we handle precision in the spatial profiler in order to dynamically calculate what precision is needed to display the data values

[2019-09-24 07:22] #529 closed

[2019-09-24 07:22] #530 closed

[2019-09-24 08:25] #126 closed

[2019-09-25 12:02] #236 closed

[2019-09-25 12:04] Kechil opened #540 "Tiled rendering v1.3"

[2019-10-01 13:01] #539 closed

[2019-10-01 14:43] arusstaylor opened #544 "cursor update for profiles stops during zoom"
When I zoom in on an image,  moving the cursor no longer updates the profiles while the image is waiting for the update from the backend for the new zoom level.  This is very annoying.

[2019-10-01 16:46] panchyo0 opened #545 "User preferences dialog -- zoom speed on plots and image view"
Zoom speed should be adjustable in the user preferences dialog, and should be consistent between the plots and image view.

[2019-10-01 17:03] arusstaylor commented on #544
How about using the unzoomed data still residing on the front end to create profiles while waiting for the new render of zoomed data?

[2019-10-01 19:10] veggiesaurus commented on #544
That might go some way to treating the symptom you're seeing, but wouldn't fix the underlying issue (heavy network use, blocking all other received messages). There are a few issues with re-introducing approximate profiles though:

1) They are far more complex to implement with a tiling approach
2) They won't work for spatial profiles of contour images
3) They won't work when we eventually impleme

[2019-10-01 19:45] arusstaylor commented on #544
The more intelligent tile request sounds like a good thing to do regardless.  Would probably also speed up the responsiveness of the zoom once  it starts.

[2019-10-02 08:09] veggiesaurus commented on #544
Because it wouldn't request tiles until the zoom _ends, two situations will arise:
1) In situations where the network connection is very good, there will be a slightly longer delay between the user zooming and the user seeing the correct tiles
2) In situations where the network connection isn't so good, there will be much less of a delay (than the current implementation) between the user zooming a

[2019-10-04 10:59] #537 closed

[2019-10-05 11:34] arusstaylor opened #547 "import craft region files does not support global parameters"
I tried importing a crtf region file with global color=white and linewidth=1 and the file failed to load.  Seem like the importer does not recognise some global parameters.

[2019-10-05 11:50] veggiesaurus commented on #547
@arusstaylor neither DS9 nor CRTF importing currently support styling parameters. Is this a duplicate of https://github.com/CARTAvis/carta-backend/issues/340?

(I imagine adding support for these features would be for both inline and global parameters)

[2019-10-05 12:34] arusstaylor opened #548 "capitalize Ascension in axis label"
Right ascension should be Right Ascension.

This should be fixed urgently and included in patch.  Need to produce publication images suitable for publication.  See image in next comment.

[2019-10-05 12:36] arusstaylor commented on #548
![mosaic_geometry](https://user-images.githubusercontent.com/9055533/66254919-66045900-e77d-11e9-88f5-a472b2276d55.png)

[2019-10-05 12:45] arusstaylor commented on #548
also the background should be white by default not blue-grey.  Or it should be settable in the overlay settings.

[2019-10-05 15:09] arusstaylor commented on #547
Yes it looks like this is a duplicate of bs k end issue 340.

[2019-10-05 15:11] arusstaylor commented on #548
I need this corrected for a publication.   Can the fix  go into a dev version at IDIA?

[2019-10-05 17:27] #547 closed

[2019-10-06 07:35] veggiesaurus commented on #548
@arusstaylor I really don't think this falls into the category of "critical bug", as it does not cause an irrecoverable crash.

We use the AST library for producing  the coordinate grid overlay and labels, and as such, we are consistent with all other software packages using the AST library. This includes the text content of the labels themselves. I'd rather not break this consistency for the sake

[2019-10-06 07:50] arusstaylor commented on #548
OK. Not aware of the meaning of critical bug.  My intention was to note that this problem makes the feature unusable for its intended purpose, which is to create pictures for publication.  Cannot publish with this error.    Looks like an error in the AST library.  Ability to edit title and label text manually and to set the background colour (including a transparent option) would fix this.

[2019-10-06 08:07] veggiesaurus commented on #548
The AST repo is here: https://github.com/Starlink/ast/issues, perhaps you could file an issue there? Using title case, rather than sentence case for a label seems like a preference, rather than a bug. Possibly there is already an option for this in AST though (the documentation is quite extensive)

[2019-10-06 08:11] veggiesaurus opened #549 "Exported image backgrounds should be transparent"
In order for users to display exported images in presentations and papers, the background colour of all exported images (image view, histogram, spatial and spectral plots) should be transparent white (`rgb = 255, a = 0`), so that users can overlay the image on any background.

(issue created from comments in #548)

[2019-10-06 08:11] arusstaylor commented on #548
The issue is journal style for publications.  Having the option to edit the title to change the capitalisation to tile case solves the problem.

[2019-10-06 08:14] veggiesaurus opened #550 "Image view title and labels need to be editable"
In order to produce publication-quality plots, users need to be able to edit the image view overlay's title and labels. This should appear in the overlay settings dialog.

(generalisation of issue #548)

[2019-10-06 08:15] veggiesaurus commented on #548
I've created two separate issues (#550 and #549), so I'll close this issue for now and we can keep track of the two issues separately.

[2019-10-06 08:15] #548 closed

[2019-10-06 20:18] #549 closed

[2019-10-08 08:32] zarda opened #553 "Crashed while the image be moved outside the FOV"
Reproduce:
Open one image and pan the image until it is outside the field of view.

test file: aJ.fits

[2019-10-08 08:52] veggiesaurus commented on #553
@zarda well spotted. @duidae , I think this is due to changes in your code. Need to check if a value is defined before converting to exponential.

[2019-10-08 09:10] kswang1029 commented on #553
I couldn't reproduce the issue. Any more instructions?

[2019-10-08 11:57] veggiesaurus commented on #553
@duidae after implementing the wrapper functions we discussed (something like below), please replace all occurrences of `toFixed` and `toExponential` with the wrapper functions, and remove the now-redundant checks.

[code]

[2019-10-08 12:00] duidae commented on #553
ok

[2019-10-08 21:18] panchyo0 opened #554 "Open stokes widget before load file"
1. User can select region on Q + U line plot.
2. Export menu bar displayed when user mouse into Q + U line plot.
<img width="1540" alt="Screen Shot 2019-10-08 at 3 07 49 PM" src="https://user-images.githubusercontent.com/22226157/66434041-e5449780-e9de-11e9-92ca-240bb504cf40.png">

[2019-10-11 17:31] panchyo0 commented on #554
closed with PR #555

[2019-10-11 17:31] #554 closed

[2019-10-14 08:37] zarda commented on #523
The ImportRegionAck.region[ ].regionInfo.regionName is empty.

[2019-10-16 07:11] #553 closed

[2019-10-16 07:27] duidae opened #557 "reload button for refresh file list in file browser"
currently need to re-open the file browser to refresh file list

[2019-10-16 07:40] veggiesaurus commented on #557
you can just click on the folder name again

![refresh_folder](https://user-images.githubusercontent.com/592504/66898172-e8e8a780-eff8-11e9-993f-0701d3a8269b.gif)

[2019-10-16 07:41] #513 closed

[2019-10-16 07:48] duidae commented on #557
hmm, @veggiesaurus  how about  we add a tooltip for it? could be more intuitive

[2019-10-16 07:50] veggiesaurus commented on #538
@zarda can you have a look at this? it should be relatively simple to add a button group similar to the region button in the image view toolbar, as well as some menu entries for the view menu:

View->Coordinate System->Auto
View->Coordinate System->FK5
...etc

[2019-10-16 08:22] veggiesaurus commented on #550
Axis labels and title can now be edited. Behaviour is similar to that of DS9. If a user overrides the axis labels, they will remain fixed, rather than automatically generated, until the user turns off the override.

![image](https://user-images.githubusercontent.com/592504/66901345-d07b8b80-effe-11e9-9638-5ded319e4ea7.png)

![GALFACTS_N4_avg_I_DQA3 3 1 fits-image-2019-10-16-10-20-4](https://user-i

[2019-10-16 08:36] veggiesaurus commented on #557
a refresh button could work too. I don't have a strong preference either way, but just wanted to point out that it is possible at this point without a button.

A refresh button could be useful, but would take up space, and would then mean we have less space for the title. @duidae where would you suggest the refresh button goes?

 @kswang1029? any strong opinions on this?

[2019-10-16 08:47] kswang1029 commented on #557
A refresh button would be handy. No strong opinion on where it should be located.

[2019-10-16 09:29] duidae commented on #557
yeah I think we have 2 options, depends on which is more appropriate for users:
1. add a simple tooltip to breadcrumb for notification
2. add a refresh button in table header, but creates duplicate functions as simple click on breadcrumb

![image](https://user-images.githubusercontent.com/25971696/66906358-215ca580-f03a-11e9-9971-efca366e7fdf.png)

[2019-10-16 09:33] veggiesaurus commented on #557
putting the refresh button in the table header looks odd, and it has nothing to do with the file name itself, so I'm not sure that's the right place for it. What about to the left of the "home" icon?

[2019-10-16 09:37] duidae commented on #557
good idea!

[2019-10-16 10:49] veggiesaurus commented on #550
@arusstaylor this is now implemented and [carta-testing](https://carta-testing.idia.ac.za) has been updated to the latest commit in `dev`

[2019-10-16 10:53] veggiesaurus opened #559 "Simple line rendering of contours"
Contours need to be rendered as single-pixel lines of a chosen color

[2019-10-16 10:56] veggiesaurus opened #560 "Decompressing and decoding of contours"
Contour data needs to be decompressed using Zstd, and then decoded (delta-encoding, shuffling and converted to image coordinates)
- [x] Integrate Zstd package
- [x] Simple decompression and decoding
- [x] Custom build of Zstd to avoid issues with `zstd-codec` npm package
- [x] Decoding in WebAssembly

[2019-10-16 11:03] veggiesaurus opened #561 "Thick line rendering of contours"
Based on feedback from @kswang1029, we can't limit contour rendering to single-pixel lines. The easiest solution to this is to just use WebGL's line width setting, but this produces ugly lines, and doesn't work on most browsers. Using canvas or SVG line rendering is not an option, due to the sheer number of line segments that can be associated with contours (millions)

Instead, we need a proper so

[2019-10-16 11:05] veggiesaurus opened #562 "Contour color-mapping"
Contour lines need two color modes:
- Constant: User-selectable color for all contour levels
- Color-mapped: User-selectable colormap, each contour level gets a different color

The user should be able to adjust the default values in the preferences dialog

[2019-10-16 11:09] veggiesaurus opened #563 "Contour config dialog"
Rather than relying on the chosen default values for a number of contour configuration options, an separate widget needs to be added for contour rendering. This will be quite similar to the render config widget.
- [x] Basic widget, with "Apply" and "Clear" buttons
- [x] Number spinner to select number of contour levels (1 - 15)
- [x] Button to "Generate" contour levels based on chosen number of le

[2019-10-16 11:23] veggiesaurus opened #564 "Streaming delivery of contour data"
Currently, contour data is calculated on the backend and then sent to the frontend in a single message. This works fine when you have a decent connection to the server, but is frustrating when you have a poor connection to the server, as contours may take quite a while to be sent from the backend.

Instead, we should split contour delivery into smaller messages, with some indication of progress. W

[2019-10-16 11:28] veggiesaurus opened #565 "Number of remaining tiles should be indicated"
It would be very useful for the user to be able to see how many image tiles are currently still being fetched, so that they can keep track of progress, and have a clear indication as to whether the image is "ready".

I think the indicator should go near the green connectivity indicator, and be the `cloud-download` blueprintJS icon (with some property, maybe transparency, animated via CSS), with a

[2019-10-16 11:44] veggiesaurus opened #566 "Transforming contours from native frames to reference frames"
Contours generated for one frame need to be able to be transformed into a reference frame's image coordinate system. This should mean that one image can have another image's contours overlaid on top of it.

[2019-10-17 08:12] #418 closed

[2019-10-17 08:14] #550 closed

[2019-10-18 00:35] panchyo0 opened #568 "Stokes widget user preferences"
floating settings panel for stokes widget. It will allow user change line and scatter plots settings. like colour, plot style, line wide, WCS value

- [x] stokes setting panel mock up
- [x] floating setting panel which can extend for all widgets
- [x] stokes line settings
- [x] stokes scatter settings

[2019-10-18 07:17] #561 closed

[2019-10-18 07:18] #562 closed

[2019-10-18 07:18] #559 closed

[2019-10-18 08:25] veggiesaurus opened #569 "Synchronise contour and raster data when animating"
Currently, raster and contour data is sent separately, and displayed as soon as its available. When animating, we should only display contour data once:
(a) the contour data is complete
(b)  the animation data has been sent

This can initially be applied just to contours of the _same_ file as the raster data. Once overlays are properly implemented, we can have a separate issue for synchronising di

[2019-10-22 13:29] veggiesaurus commented on #538
@kswang1029 do we also need entries in the menu?

[2019-10-22 13:43] kswang1029 commented on #538
Do you mean a dedicated list in the menu? If so I think it is a bit redundant as we already have it in the overlay dialogue. Maybe check with Russ?

[2019-10-22 13:47] kswang1029 commented on #538
I think it might be good to add a button some where to show the overlay dialogue as a short cut for the menu

[2019-10-23 00:22] panchyo0 opened #571 "Catalog overlay: design doc"
- [x] Sequence diagram (How frontend request catalog data from the backend) [doc](https://docs.google.com/document/d/1mD9cZri8S25hm6VTPehEXUXA_kDptlcr41ktbEZQv1k/edit#heading=h.get8b5g447o)

- [x] Message Formats [doc](https://docs.google.com/document/d/1mD9cZri8S25hm6VTPehEXUXA_kDptlcr41ktbEZQv1k/edit#heading=h.get8b5g447o)

- [x] Mock-up [doc](https://docs.google.com/document/d/1mD9cZri8S25hm6VT

[2019-10-23 06:38] veggiesaurus commented on #538
@arusstaylor we now have toolbar selection of coordinates, do we still need menu entries?

@kswang1029 an argument I can make for still including it in the "view" menu is that it corresponds to more than just the image view overlay (spatial profiles, cursor info, region info). Once the spectral profiler's unit conversion is done, we may want to include this as well:

- View->Coordinate Type->Auto,

[2019-10-23 13:16] veggiesaurus commented on #571
@panchyo0 the first step is to define how we will request the data from the backend, how the backend will deliver the data. Once that is defined, one of the backend developers can start working on delivering the data to the frontend using the method you've designed. See the ICD for details on this

[2019-10-23 14:38] dmehring commented on #226
I've written methods such as close_file(), open_file(), register_viewer(), set_image_view(), set_user_preferences() and have tested their sanity using a mock server. I'm using our scripting interface to plotms as a guide as to how to set up the file structure. This structure relies on relative directory python imports which seems to clash with the carta-protobuf layout, since when translated into

[2019-10-23 14:44] duidae opened #572 "splash screen when initializing frontend"
we keep a splash screen displayed until all the basic components (AST, ZFP, etc) have been loaded by the frontend. This would prevent users from loading an image while one of the libraries is still loading

- [X] UI design
- [X] wire up check points

[2019-10-23 17:01] veggiesaurus commented on #564
mostly done, minor bug involving some chunks of contour data being prematurely discarded.

[2019-10-24 18:44] veggiesaurus opened #574 "Reduce GPU memory by rendering contours in a single triangle strip"
Currently, contours are rendered using a vertex buffer and an index buffer. Each "source vertex" is expanded into two vertices with identical position attributes (2x `float32`), but opposite normal attributes (2x `uint16_t`) and identical length attribute (1x `float32`). An index buffer is used to draw triangles between pairs of generated vertices. For each pair of source vertices in a polyline, t

[2019-10-24 19:10] veggiesaurus commented on #574
initial tests of this approach:

**index buffer (existing approach):**
LMCq 8x Gauss (20 M vertices): 1.4 GB GPU
ultravista 4x block (67M vertices): 3.9 GB GPU (~9.5s from requesting contours to all of them displayed)
ultravista 8x block (17 M verticeS): 1.2 GB GPU
ultravista 8x Gauss (121 M vertices): 7.0 GB GPU

**triangle strip (optimised approach)**
LMCq 8x Gauss (20 M vertices): 980 MB GPU
ul

[2019-10-25 11:10] #574 closed

[2019-10-25 11:11] #564 closed

[2019-10-25 11:11] #560 closed

[2019-10-28 06:38] #565 closed

[2019-10-28 06:56] kswang1029 opened #578 "missing grid lines when zooming the Q vs U scatter plot in the Stokes widget"
frontend: ee77422

when zooming in in the Q vs U scatter plot in the Stokes widget, the grid lines may disappear even when zooming out. Double click will get then back.
![Screen Shot 2019-10-28 at 14 51 15](https://user-images.githubusercontent.com/20819712/67657847-edb34100-f992-11e9-9dc0-7d21515e0cd6.png)

[2019-10-28 07:03] kswang1029 opened #579 "incomplete contour rendering when stop animating"
frontend: 9a74dbc
backend: 9ca101c

to reproduce the issue:
1) load a large image cube in spatial domain (in my case, 2800x2800)
2) generate contours with 99.9% clip (in my case, mostly noise)
3) enable animation at 5 fps or higher
4) try to stop the animation and we "may" see contours are rendered incompletely. If not, repeat 3) and 4)

![Screen Shot 2019-10-28 at 14 59 10](https://user-images.gi

[2019-10-28 07:50] kswang1029 opened #580 "inconsistent labels of the coordinate system in the image viewer and in the overlay settings dialogue"
frontend: 9a74dbc
backend: 9ca101c

1) the label should be consistent. It is "AUTO" in the image viewer and "Native" in the overlay dialogue. Either term is okay I think.

2) When using the button in the image viewer to switch from AUTO to else then back to AUTO, the coordinate system in the overlay dialogue does not return to "Native".

![Screen Shot 2019-10-28 at 15 49 59](https://user-images.gi

[2019-10-28 08:12] veggiesaurus commented on #580
I suggest we go with "auto" everywhere.

[2019-10-28 08:20] veggiesaurus commented on #265
the first entry in the list should be implemented before 1.3. @kswang1029 who should we assign this to?

[2019-10-28 08:31] kswang1029 commented on #265
@duidae Could you look into the first item please?

[2019-10-28 08:41] duidae commented on #265
ok

[2019-10-28 11:53] kswang1029 opened #582 "incorrect "AUTO" coordinate system when loading image as new"
frontend: 9a74dbc

To reproduce:
1) load set_QA/M17_SWex.fits
2) switch to Galactic coordinate system
3) load set_QA/S255_IR_sci.spw25.cube.I.pbcor.fits as new (not in append mode)
4) now the coordinate system in the image viewer is AUTO but in the overlay dialogue it is "Galactic". The default coordinate system of S255_IR_sci.spw25.cube.I.pbcor.fits should be ICRS as specified in its header.

The

[2019-10-28 12:11] #580 closed

[2019-10-28 12:12] veggiesaurus commented on #582
So even if the user explicitly specifies a coordinate system, any new files should default to AUTO?

[2019-10-28 12:57] kswang1029 commented on #582
I would suggest we consider this from wcs “group” perspective. Right now load as new or load as appending is equivalent to having a new wcs group so yes we should reset the coordinate system to “auto”. However when wcs group is in place, loading new images in the same wcs group should keep the coordinate system that user has specified.

[2019-10-28 17:06] panchyo0 commented on #578
@kswang1029 which file are you using for testing? I can't reproduce this on my computer.

[2019-10-29 05:46] kswang1029 commented on #578
Please try with the attached file.
[IRCp10216_sci.spw0.cube.IQUV.manual.pbcor.line.image.zip](https://github.com/CARTAvis/carta-frontend/files/3781883/IRCp10216_sci.spw0.cube.IQUV.manual.pbcor.line.image.zip)

[2019-10-29 05:52] kswang1029 opened #584 "widget cannot be docked or launched by drag-to-dock"
frontend: 83072ec

widgets cannot be dragged to a desired location.

[2019-10-29 05:59] veggiesaurus commented on #584
@kswang1029 it seems to only occur with specific types of widgets. For example, the render config widget works fine, but all the profiler widgets seem to be broken. Can you confirm this?

[2019-10-29 06:01] kswang1029 commented on #584
confirmed. 🤔

[2019-10-29 06:07] veggiesaurus commented on #584
Going back in commits to `dev`, it seems to work in commit cbc838d.

[2019-10-29 06:14] kswang1029 commented on #584
with the mix page, it seems start from
origin/jason/json_schema 73533f3 2019-10-28 10:48:43 CST

[2019-10-29 06:18] veggiesaurus commented on #584
I've just tried my local copy, it's not happening here. I'm pretty sure it's a toolchain issue, rather than something in our code that's changed.

The issue pops up after the frontent console outputs the following:

[code]

which is part of the ChartJS library.

[2019-10-29 08:02] #367 closed

[2019-10-29 13:45] veggiesaurus commented on #584
Chart.js version [2.9.0](https://github.com/chartjs/Chart.js/releases/tag/v2.9.0) and above seem to be crashing. I'll see if I can figure out the root cause and submit a PR to the repo.

For now (and for the 1.2.1 release), we should manually use 2.8.0.

[2019-10-29 14:48] veggiesaurus opened #586 "Possibly migration to Plotly.js charting library"
_(This is something I have been discussing informally with @panchyo0, but thought I should open up the conversation a bit)_

When version 1.0's tech stack was initially decided on, I proposed we use [Chart.js](https://github.com/chartjs/Chart.js) over [plotly.js](https://github.com/plotly/plotly.js), for performance reasons. At the time, I wrote a couple of codepen examples that refreshed a plot a

[2019-10-29 15:20] kswang1029 commented on #586
Does chart.js have the potential to perform equal or better than plotly in the future? (this is a hard question I guess)

[2019-10-29 15:28] veggiesaurus commented on #586
It's hard to say, really. I've clearly been wrong about predicting future performance before (which is why we're using Chart.js now :see_no_evil: )

There are three main graphics rendering approaches that charting libraries can use:
- SVG (vector graphics, very pretty and easily exportable)
- canvas (raster graphics, normally much faster than SVG)
- WebGL (raster graphics, much more complicated th

[2019-10-29 19:15] #584 closed

[2019-10-29 19:52] panchyo0 commented on #568
@veggiesaurus closed with PR #577

[2019-10-29 19:52] #568 closed

[2019-10-29 19:54] panchyo0 commented on #495
@veggiesaurus since we have a floating settings panel for stokes widgets after #577. Should we start to apply this to all widgets?

[2019-10-29 20:12] veggiesaurus commented on #495
@panchyo0 yes, that's a good idea. Lets start with the spectral profiler next

[2019-10-30 06:47] duidae commented on #265
it's almost done, however the behavior of play backwards seems incorrect, it does not stop when reaching the first frame and does not loop again when reaching the end, using the message with start frame = last frame, delta = -1, wait for Hengtai to confirm

[2019-10-30 09:21] veggiesaurus opened #587 "Calculate visible image tiles after WCS matrix is applied."
For Version 1.3, we will want to match raster images' FoV to the reference image. We will do this by applying a transformation matrix (scale, translate and rotate) to secondary images, in order to match their FoV, center and north direction.

After doing this, we will need to adjust how we calculate whether a tile is visible, because the image will be rotated. We need to:
- Determine the FoV recta

[2019-10-31 17:59] veggiesaurus opened #589 "image view components fail to init when loading offscreen"
(this is something quite important for the archive use case, because we will be using the `file` URL parameter to load a specific file, and it will often be in a tab in the background)

When opening CARTA in the browser, if the tab is not active during loading, the image view components fail to initialise. Only clicking "zoom to fit" fixes this, but even then, the default cursor position is `NaN`

[2019-11-01 07:13] #589 closed

[2019-11-01 07:37] arusstaylor commented on #571
what if the data catalogue is on the client?  Could we import from the front end?

[2019-11-01 07:43] veggiesaurus commented on #571
In future, we could write a browser-based VOTable parser for loading client-side data, because they're XML-based, and should be reasonably easy to adapt. For other formats, it will be more difficult. The other option is to send the catalogue to the backend first before its parsed and streamed _back_ to the frontend, but that seems like a roundabout route.

For the 1.3 release, I suggest we stick t

[2019-11-01 21:55] #454 closed

[2019-11-04 13:00] teuben opened #593 "TabularCoordinate - start and end values in table must differ"
I have a FITS file, which to me looks quite ok. It works in ds9, but carta refuses to load it with the error:

Failed to open image at specified HDU: TabularCoordinate - start and end values in table must differ

The fitsheader reads as follows (file available upon request):

SIMPLE  =                    T / conforms to FITS standard
BITPIX  =                  -64 / array data type
NAXIS   =

[2019-11-04 13:08] veggiesaurus commented on #593
@teuben is there only one hdu in the file?

[2019-11-04 13:14] kswang1029 commented on #593
Should CRVAL4 be 1 instead of 0 to represent Stokes = I？

[2019-11-04 15:35] veggiesaurus commented on #593
I don' think that _should_ cause a problem. Since `CDELT4` is 1.0, the two options are equivalent (either way, w=1 => Stokes = I)

[2019-11-04 20:00] teuben commented on #593
it's a simple single HDU unit. I can make the file available, but I was
hoping the header would give the clue.

On Mon, Nov 4, 2019 at 8:08 AM Angus Comrie <notifications@github.com>
wrote:

[2019-11-04 20:47] teuben commented on #593
Here's the fits file I tried to view:
ftp://ftp.astro.umd.edu/pub/teuben/eagle/eagle_martini_demo.fits

[2019-11-05 04:45] kswang1029 commented on #593
additional information from CASA importfits task:
2019-11-05 04:43:26	WARN	importfits::FITSCoordinateUtil::fromFITSHeader	Zero or no rest frequency provided for velocity axis.
2019-11-05 04:43:26	WARN	importfits::::ImageFITSConverter	This HDU (0) did not contain a legible image.
2019-11-05 04:43:26	WARN	importfits::::ImageFITSConverter	Next candidate image HDU is #1
2019-11-05 04:43:26	WARN	import

[2019-11-05 06:09] arusstaylor commented on #538
I like this approach for the tool bar. However I think the 'AUTO' is the wrong label for the tool.  It doesn't provide any info about what the tool is. Could we label it something like 'WCS' so it is obvious what it means.

[2019-11-05 07:20] veggiesaurus commented on #538
That's true. WCS would be an appropriate label.

[2019-11-05 07:26] kswang1029 commented on #538
yes, ds9 uses "wcs". In addition, ds9 also provides buttons for the coordinate formats. Maybe we can add it to as a separate issue?
![Screen Shot 2019-11-05 at 15 24 59](https://user-images.githubusercontent.com/20819712/68187053-9b040580-ffe0-11e9-8bb3-08c6c6cd66dd.png)

[2019-11-05 07:28] veggiesaurus commented on #538
that could be a separate menu entry, I guess. I think we need to move those sort of things to the menu, rather than the image view toolbar, as they affect multiple widgets

[2019-11-05 07:30] veggiesaurus commented on #593
I'll transfer this issue to carta-backend and assign @pford to it

[2019-11-05 08:10] arusstaylor commented on #538
I think the tool bar on the image should be viewed as a short cut/convenience tool bar. It should not be a place to set user preferences.  Just a quick way to implement commonly used features via one click.

[2019-11-05 08:28] veggiesaurus commented on #538
It's displayed in the image viewer, so it should be limited to things that are primarily related to the image viewer. The choice of degrees vs sexagesimal affects spatial profilers, region widgets and quite a bit more.

[2019-11-06 01:37] kswang1029 opened #594 "misalignment in the region list widget"
![Screen Shot 2019-11-06 at 9 36 42 AM](https://user-images.githubusercontent.com/20819712/68260811-144f3700-0079-11ea-9043-cb2c1e90a806.png)
![Screen Shot 2019-11-06 at 9 36 32 AM](https://user-images.githubusercontent.com/20819712/68260812-144f3700-0079-11ea-84c6-3e7b3861b2dc.png)

[2019-11-06 01:44] kswang1029 opened #595 "double click on region lock or region to view center"
When no region is selected, double click on the region-lock button or region-to-view-center button results in a region setting dialogue saying "no region selected". It would be good to improve this for UX. It would be ideal to ignore double click for these two buttons if possible.

[2019-11-06 08:53] arusstaylor opened #596 "stokes animation ineffective due to rendering issues"
when I change Stokes display using the animation tool there is a significant delay when changing frames due to the rehistgraming.  For example when I start at Stokes I and then change to Stokes Q,  the Stokes Q frame still displays the Stokes I image for a short period then changes to Stokes Q then after short delay the Stokes Q image changes to a new render.  This makes running an animation along

[2019-11-06 08:56] arusstaylor commented on #563
would this widget also allow selection of the image frame to use for the contouring?

In the Stokes image case how would we be able to render Stokes I contours on the Stokes, Q, U or V planes (or vice versa).

[2019-11-06 09:03] veggiesaurus commented on #596
@arusstaylor Which file did you encounter this with? When _playing_ an animation, I can't reproduce this issue, but when manually changing channels, I can reproduce this issue.

[2019-11-06 09:08] veggiesaurus commented on #563
@kswang1029 could you provide some detail on this? My understanding is that the overlaid contour cube would have its channel set based on the reference image's channel (aligned using WCS headers).

This widget is limited to configuring how contours are generated and displayed. For a more detailed configuration of which images are loaded, which channels/Stokes are set for each image, and so on, we

[2019-11-06 09:11] arusstaylor commented on #596
The files in /carta_share/groups/mightee/lennart/show-tclean

Just tried it again.  Running play in the animation doesn't produce the effect.  But if I select another Stokes with the mouse it happens.  Start on Stokes I, then select Stokes Q with the mouse. What seems to happen is that the Stokes I image data is displayed with the new render limits before being replaced by the Stokes Q.  If run as

[2019-11-06 09:21] veggiesaurus commented on #596
Right, I think I see what's going on. When playing back an animation, the histogram is delivered at the same time as the data, so it's probably not going to occur.

When not in animation mode, the histogram is delivered first, followed by the tiles (one-by-one). As per your request a while ago, we only show the new image once all tiles have arrived. However, it seems that the `Stokes` value is bei

[2019-11-06 09:54] veggiesaurus commented on #594
@zarda can you look into this> might be best to combine the two actions into one column

[2019-11-06 09:58] veggiesaurus commented on #595
@zarda can you fix this at the same time as #594?
@kswang1029 it might be easier to just select the double-clicked region?

[2019-11-06 10:07] kswang1029 commented on #595
That would work too.

[2019-11-06 10:34] arusstaylor commented on #596
Ok thanks.  I think the user expectation is that clicking on the stokes selection in the animator produces behaviour that its equivalent to changing state by running the animator.

[2019-11-06 14:06] low-sky opened #597 "support contrast and bias 2D widget in render config"
[edit by KSW]
This is a feature request to support a 2D widget so that users can use it to adjust bias and contrast of the image easily. The selected scaling function with bias and contrast should be displayed on top of the histogram plot.

The widget is something like
<img width="185" alt="Screen Shot 2021-03-30 at 11 41 19 AM" src="https://user-images.githubusercontent.com/20819712/112930449-e32

[2019-11-06 14:09] low-sky opened #598 "Colour bar display in the raster config widget"
Jayanne English (U. Manitoba) has requested some display of colour bar information, i.e. a graph indicated how data values transform to screen colour.  One option would be to add this as a horizontal graph underneath the histogram in the Render configuration.  This is particularly useful for cases where the data transform has a non-linear parameter.

See also #597

[2019-11-07 10:52] arusstaylor opened #600 "beam graphic too big"
It looks to me like the ellipse in the lower left corner meant to indicate the beam size is too big.  Perhaps the beam sizes in the header are being interpreted as minor axes instead of major axes?

[2019-11-07 11:02] kswang1029 commented on #600
Could be due to unit (rad vs degree)?

[2019-11-07 13:06] arusstaylor commented on #600
Looks like close to a factor of 2 off, so I expect the bmaj e.g.  is being interpreted as semi-major axis when should be major axis.

[2019-11-07 14:00] kswang1029 commented on #600
I verified with the same test images in different image formats including casa, fits, miriad, and hdf5. All are correct and consistent. Could you paste the header for further diagnostics? (or the image the better)

[2019-11-07 15:16] arusstaylor commented on #600
<img width="1851" alt="Screenshot 2019-11-07 at 17 14 00" src="https://user-images.githubusercontent.com/9055533/68401237-118c3900-0182-11ea-8fd3-d93ae9bcb22e.png">

This is a picture of a source in one of the MIGHTEE MeerKAT images.  This is an unresolved source.  The circular region shows the approximate half power width of the source.  The beam graphic at lower left is about twice as large.

[2019-11-07 15:38] kswang1029 commented on #600
And the header, please? What does it say in the file browser (file info tab and header tab)?

[2019-11-07 17:36] arusstaylor commented on #600
File information

Name = 1525613583_sdp_l0_1284.full_pol.COSMOS.300.image.fits
Shape = [6827, 6827, 1, 4]
Number of channels = 1
Number of Stokes = 4
Coordinate type = RA---SIN, DEC--SIN
Image reference pixels = [3414, 3414]
Image reference coordinates = [150.1192 deg, 2.2058 deg]
Image ref coords (coord type) = [10:00:28.6000, +002.12.21.0000]
Celestial frame = FK5, J2000
Spectral frame = LSRK
Pi

[2019-11-07 17:36] arusstaylor commented on #600
Header
NAXIS = 4
NAXIS1 = 6827
NAXIS2 = 6827
NAXIS3 = 1
NAXIS4 = 4
EXTEND =
BSCALE = 1
BZERO = 0
BMAJ = 0.005
BMIN = 0.005
BPA = 0
BTYPE = Intensity
OBJECT = COSMOS
BUNIT = Jy/beam
EQUINOX = 2000
RADESYS = FK5
LONPOLE = 180
LATPOLE = 2.20583
CTYPE1 = RA---SIN
CRVAL1 = 150.119
CDELT1 = -0.000416667
CRPIX1 = 3414
CUNIT1 = deg
CTYPE2 = DEC--SIN
CRVAL2 = 2.20583
CDELT2 = 0.000416667
CRPIX2 = 3414
CUNI

[2019-11-08 07:38] zarda commented on #586
Is that possible to use both chart.js and plotly.js, which would be on different layers? We could have a WebGL layer of plotly which dedicate to 3D plots. And what if they are not enough in the near future, we can add another layer embedded other library pixi.js or three.js .

[2019-11-08 07:43] veggiesaurus commented on #586
It's possible to use both charting libraries, but for consistency, I'd prefer to eventually use one. I think our plan at first is to use plotly for the catalog overlay feature, and then consider migrating the other charts to plotly.

At this point, there's no reason to add pixi or three.js, because our current WebGL layers are at a lower level than those two libraries.

[2019-11-11 23:37] kswang1029 opened #601 "support colorbar in the image viewer"
For publication purpose, a colorbar is needed along the the raster image plot to indicate intensity color mapping.

Colorbar requirements:
- [ ] vertical at the right of the image plot (default)
- [ ] horizontal at the top of the image plot
- [ ] colorbar with value ticks and label (e.g., "Intensity (Jy/beam)")
- [ ] options to show (default) or not show a colorbar

[2019-11-12 17:38] kswang1029 commented on #600
Confirmed that this issue only happens with retina display! The test I did before was using a non-retina display (2K) so I could not reproduce the issue.

[2019-11-12 17:42] kswang1029 commented on #600
@ajm-asiaa once this is fixed, we need another secret replacement of v1.2.1 packages as this is a critical bug...

[2019-11-16 17:33] kswang1029 opened #602 "enable stat type: flux density in statistics and spectral profile widgets"
now backend supports the stats type "flux density", the frontend needs to request it in ICD messages.

[2019-11-16 17:57] Kechil commented on #338
Need to check with Russ

[2019-11-16 17:58] Kechil commented on #256
Minor enhancement

[2019-11-16 18:07] #230 closed

[2019-11-16 18:11] #130 closed

[2019-11-16 18:11] Kechil commented on #130
THis is a browser issue and can't be fixed.

[2019-11-16 18:12] Kechil commented on #132
Cannot be unified.

[2019-11-16 18:12] #132 closed

[2019-11-16 18:17] #66 closed

[2019-11-16 18:22] #273 closed

[2019-11-16 18:23] #268 closed

[2019-11-16 18:23] #337 closed

[2019-11-16 18:25] #373 closed

[2019-11-16 18:31] Kechil commented on #458
Check with Russ. Can now save and then delete.

[2019-11-16 18:33] Kechil commented on #413
needs to be consistent for all widgets

[2019-11-16 18:38] Kechil commented on #475
This is both v1.3 and v1.4. investigate whether duplicated.

[2019-11-16 18:48] Kechil commented on #578
We can't reliably reproduce this bug

[2019-11-16 18:54] Kechil commented on #598
Useful but takes up a load of space in render config

[2019-11-18 16:15] veggiesaurus opened #603 "Low-bandwidth mode"
We need to include a low-bandwidth mode that users can enable in the preferences dialog when they are running on a poor (high latency, unreliable or limited bandwidth) network
- [x] Some testing of how much data could be saved
- [x] Add mode toggle in performance section of preferences dialog
- [x] Add low-bandwidth indicator next to connection indicator
- [x] Reduce spatial, spectral and cursor v

[2019-11-18 16:23] veggiesaurus opened #604 "Should we include a separate websocket connection for tile, animation and contour data"
Should we create a separate backend -> frontend websocket connection to deliver large data chunks (tiles, contours, animation frames) in parallel to our main bidirectional communication channel?

We would still send all smaller messages through the primary channel, which would mean that profiles and other analytics could still be streamed quickly while tiles are arriving at the frontend. This feat

[2019-11-18 16:24] veggiesaurus commented on #604
@arusstaylor this is something that would solve the issue you filed about profiles not updating when zooming into images. It's a question of whether this is worth the time investment and increase in complexity, though.

[2019-11-19 07:37] arusstaylor commented on #604
I am very much in favor of developments that improve the performance of CARTA. Performance on big data is a primary goal and reputational element of CARTA.
Cannot comment on trade off between complexity/effort and performance return as I don’t have insight into the degree of effort required.   However, looks like this change would have positive performance impact across the board in streaming larg

[2019-11-19 08:31] arusstaylor opened #605 "add creation date to file information"
can we add the file creation date to the file information displayed in the file browser?

[2019-11-19 08:49] arusstaylor commented on #596
Note that the same behaviour occurs when I use the  "Next", "Prev", "First" and "Last" options in the animator bar to change Stokes.

[2019-11-19 16:37] dmehring commented on #226
Still awaiting requirements for minimal feature set needed in next release. Such requirements include method names (probably no more than two or three for the proof of concept release), associated parameter names, return types/values, and basic behavior desired.

[2019-11-19 22:56] veggiesaurus commented on #226
@kswang1029 do we have a list of non-controversial functions needed? Just something for @dmehring to get started on.

I'd think that at the very least a starting point would be:
- `openFile(filename: string) => int` open a file by specifying a path. This should return the open file's `fileId`.
- `closeFile(fileId: int) => bool` close a file by specifying `fileId`. Returns `true` if an image with t

[2019-11-20 01:51] veggiesaurus commented on #226
After a conversation with @kswang1029, we think it would be useful to wrap the above functions in something more object-oriented, so that the two are equivalent:

[code]

[code]

[2019-11-20 03:06] dmehring commented on #226
Thanks @veggiesaurus
So, in your previous comment, you’d like the more OO approach of the second group of statements to be used in preference to the first group, is that correct? My module already uses such an OO approach, so if you haven’t already, please take a look at my module and let’s start there so I know what I have to change in the basic design and what I don’t. Again, you should have acc

[2019-11-20 04:20] veggiesaurus commented on #226
@dmehring yes, I think an OO approach similar to your code should work nicely.

On the subject of style, you’re quite right. Sorry, I was multitasking and coding in JavaScript, so my code styles got a bit mixed up...

[2019-11-20 18:38] panchyo0 commented on #266
@kswang1029 can you provide more details? for example the should we match exactly the max and min number for x and y range according data? should we allow the min text input larger than max text input? what accuracy we should use for user input data? Thanks

[2019-11-21 05:43] kswang1029 commented on #266
I suggest we add a “custom range” toggle and provide text fields as user input in the setting dialogue. The field should provide basic validations (numbers only) and min has to be smaller than max. We can trim user input as the following:

100000.1234
10000.1234
1000.1234
100.1234
10.1234
1.1234
0.1234
0.01234
0.001234
0.0001234

[2019-11-21 17:30] jott3077 opened #606 "long filenames in file browser"
We usually have pretty long filenames from the NRAO pipeline, e.g.

VLASS1.2.ql.T14t21.J135502+143000.10.2048.v1.I.iter1.image.pbcor.tt0.rms.subim

They are difficult to read in the file browser, in particular since the prefix of many images is usually the same and only the suffixes are different. They are unfortunately truncated in the CARTA browser and to see them, the entire window plus the bro

[2019-11-22 19:13] veggiesaurus commented on #603
It looks like the real-world saving is somewhere between 3.5x and 4x, depending on the image's SnR. This should be particularly helpful for HiDPI devices such as MacBooks

[2019-11-23 20:04] veggiesaurus commented on #600
@kswang1029 just to confirm: is it 2x too big when using a retina display, or 2x as big when _not_ using a retina display?

[2019-11-23 22:04] kswang1029 commented on #600
Yes, with a Retina display, the beam is rendered twice bigger than it should be.

[2019-11-25 22:50] jott3077 opened #609 "ability to provide entire path in 'load file' widget"
in the 'file loading widget one can only browse through the file system. Frequently it is more convenient to copy and paste in the path directly, as it saves many clicks.
Need to make sure though that this does not open a security hole.

[2019-11-25 23:34] jott3077 opened #681 "relative coordinates to a given point"
A user request: add an option for a drop pin to which all coordinates are referenced to, so the viewer panel show relative and absolute coordinates.

[2019-11-26 07:09] veggiesaurus commented on #609
This shouldn't be too difficult, considering that we have the ability to browse a specific folder by entering a `folder` parameter as a URL query. I don't think there are any security risks, as this will all be checked by the backend in any case.

My suggestion would be to put a small "edit" icon after the folder breadcrumbs, which replaces the breadcrumbs with a text input when the user clicks it

[2019-11-26 07:13] veggiesaurus commented on #606
The functionality of the file browser is something that slipped through the cracks due to staffing issues (An overhaul was planned and assigned, but never completed). I think the best route going forward would be to replace our basic HTML table with something with a bit more functionality, such as the [BlueprintJS table](https://blueprintjs.com/docs/#table/features).

[2019-11-26 07:15] veggiesaurus opened #610 "Actions for cursor regions?"
Should we just add the two actions (lock and center) to the cursor as well? The lock icon applied to the cursor region could be used to toggle frozen/unfrozen cursor, and there's no reason why you shouldn't be able to center on the cursor region, in my mind.

@kswang1029 @zarda thoughts on this?

[2019-11-26 07:16] #594 closed

[2019-11-26 07:16] #595 closed

[2019-11-26 07:38] kswang1029 commented on #610
Good idea

[2019-11-26 07:44] arusstaylor commented on #610
doesn't this work only if the cursor is already locked?  How does this behave if the cursor is not locked? Isn't the cursor position then undefined because the mouse pointer is off the image?

[2019-11-26 07:58] kswang1029 commented on #610
Could it be the case that we show those buttons _only_ when cursor is locked? If it is free we show nothing.

[2019-11-26 07:59] veggiesaurus commented on #610
I guess this is only really useful if the cursor is _already_ locked. But it does give the user another way to lock or unlock the cursor if they forget that `F` is the shortcut.

[2019-11-26 08:13] veggiesaurus commented on #586
Slight spanner-in-the-works: plotly's latest release has a performance regression in the tests that I was using, and the pre-release of chart.js 3.0 seems to drastically improve performance (3 ms in the test mentioned in the original issue description, down from 8 ms and much lower that plotly in scattergl mode).

not sure if we should consider using plotly only for specific plots in the near futu

[2019-11-26 09:32] arusstaylor commented on #610
Not the cannot be used to lock the cursor since the cursor is over the region widget not the image. We dont currently use the right click button for anything.  I wonder if we could have a right click menu that has lock cursor as an option.

[2019-11-26 17:49] jott3077 commented on #609
That looks like a great way to do it!

[2019-11-26 17:52] jott3077 commented on #606
Would it be easy to add a horizontal scrollbar? I am not familiar with BlueprintJS but for the moment a simple scrollbar would help until we have a more comprehensive solution.

[2019-11-26 17:53] jott3077 commented on #606
Btw, the listing of the files can take fairly long when there are many files in the directory. I assume the checks if they are known file types takes that long. So I had a few situations where it took longer to get the list of files in a directory than displaying the image itself.

Maybe the check for known file types could be switched off.

[2019-11-26 18:21] veggiesaurus commented on #606
@pford is working on a backend change where we simply do a magic number check to see if the file type is fits or hdf5 (rather than determining the number of hdu entries) during file lists, this should solve this issue.

[2019-11-26 18:23] veggiesaurus commented on #606
We already use the blueprintJS library, and in fact the table package, elsewhere in the codebase, so it probably won't be too much of an issue. But yes, a scrollbar would probably be the easiest solution for this specific issue

[2019-11-26 23:51] panchyo0 commented on #586
Our code might still having problem with chart.js 3.0. Using our own WebGL code might be better. Then we don't need to rely on other library. if user choose plot catalog in different shape then we need to recalculate the data in backend. Not sure how hard it will be?

[2019-11-27 00:03] panchyo0 commented on #495
finished wth PR #592

[2019-11-27 07:33] arusstaylor opened #612 "colour to frequency colour maps for stokes widget"
Most of the canned colour maps go from blue to red, when applied to the Stokes widget this results in the red colour on the Q,U scatter plot mapping to the high frequency end of the band.  Convention is astronomy is for redshift to correspond to longer wavelength (lower frequency) so this is counterintuitive to the user who expects red to mean longer wavelength.  Having an invert colour map option

[2019-11-27 07:39] arusstaylor opened #613 "primary colour in stokes widget should switch for dark mode"
changing to dark mode makes the primary colour traces for Stokes widget disappear.  Need to switch the default automatically to a visible colour for dark mode.

[2019-11-27 07:50] arusstaylor opened #614 "export data in stokes widget only exports one profile"
The export data for the Stokes widget should export all profiles Q, U, P, and PA versus frequency in a single file.  If the display is in fractional polarisation mode then Q, U and P should be in percent.

[2019-11-27 07:54] kswang1029 commented on #612
Right, we better use "blue" for high frequency/low velocity and "red" for low frequency/high velocity. In fact, why don't we just provide a single colormap ("jet") and invert it when the display axis is frequency? If the display axis is velocity, we just use the normal "jet" colormap.

[2019-11-27 08:10] kswang1029 commented on #614
@arusstaylor Currently each plot (Q and U, PI, or PA) can be exported individually. Do you want to combine them as separate columns in a singe file? For example ,
<channel>, <velocity>, <frequency>, <Q>, <U>, <PI>, <PA>

[2019-11-27 08:31] arusstaylor commented on #614
I can't think of a use case where a user would want only one of the profiles.  Default behaviour should be to export all in a single file with each profile in a separate columns and frequency (the x coordinate) as the first column.  Comma separation is not really required unless we want to import to spreadsheets which is a rare thing for an astronomer to do.  The column headers should be in a row

[2019-11-27 08:42] duidae opened #615 "NaN appears in numeric input"
when entering "-1" to various numeric inputs in current CARTA, NaN appears. On ubuntu platform, it can be reset by entering a normal number, however, on Mac, users could be totally stucked.

![image](https://user-images.githubusercontent.com/25971696/69707159-2d0cb300-1134-11ea-8050-099ff3e9e1a2.png)

[2019-11-27 10:13] arusstaylor commented on #612
I think it is nice to have a few options for colour map.  I think as you suggest it would be a good idea to choose a sensible default and invert it for frequency plots.

But also enable an invert colour map option in the widget setting.  Good to offer people to ability to depart from the defaults for strange edge cases..

[2019-11-27 14:55] veggiesaurus commented on #613
I think this should only apply if the user has not selected a different colour in the settings widget. As soon as they select a different color, we should no longer automatically adjust the color based on light/dark theme preferences.

@panchyo0 can you look into this? Maybe the easiest solution is to use `"default"` as the default colour setting, and then automatically determine which shade of th

[2019-11-27 14:59] veggiesaurus commented on #613
@arusstaylor which version are you testing? in the `dev` branch (as seen on carta-testing.idia.ac.za), this seems to be a non-issue:

![stokes_lines](https://user-images.githubusercontent.com/592504/69734156-32b7c800-1137-11ea-9512-b0b645b9c719.gif)

[2019-11-27 15:04] veggiesaurus commented on #615
I can't reproduce this bug. Which specific inputs does it occur for? And which browser?

[2019-11-27 15:09] kswang1029 commented on #615
Try typing “-“ with chrome on Mac

[2019-11-27 15:59] arusstaylor commented on #613
I think the issue was that I had selected a dark colour in the light mode and when I switched to dark mode it didn't show up.  I guess this should be classed as user error?

[2019-11-27 17:33] veggiesaurus commented on #613
I think the only way to improve that situation is to make sure the colours in the swatches in the colour picker look ok in both light and dark mode.

[2019-11-27 18:21] panchyo0 commented on #613
@veggiesaurus only colour #293742 will cause this problem in the swatches. Should we remove this one? it not really help since user can customer their own colour.

[2019-11-27 19:32] arusstaylor commented on #613
I think this is a non issue.  We should just close this.

[2019-11-27 19:46] veggiesaurus commented on #613
I think it's fine to leave it in, since it works fine in light mode.

agreed.

[2019-11-27 19:46] #613 closed, assigned to panchyo0

[2019-11-27 21:33] veggiesaurus commented on #615
Can't you just press up or down on the number input buttons to get it working again?

[2019-11-27 22:11] kswang1029 commented on #615
That doesn’t work, either. Once it becomes NaN, the only solution is pressing the reset default button.

[2019-11-27 23:53] panchyo0 commented on #612
is this one works? http://carta.asiaa.sinica.edu.tw/frontend/90e7156/?socketUrl=wss://carta.asiaa.sinica.edu.tw/socketdev
The default setting for "Invert Color Map" is true. User can change it in stokes widget settings panel.

[2019-11-27 23:58] panchyo0 commented on #614
Should we also export all line plots in one file? like Q, U, PI and PA in a png file. if so, should we still keep the ability for user to export image and data as single file?

[2019-11-28 06:39] veggiesaurus commented on #615
I've tried that in both Chrome and Safari. Could this be related to a specific version of blueprintJS? @kswang1029 which build, browser and input are you able to reproduce this on?

[2019-11-28 06:53] veggiesaurus commented on #612
@arusstaylor surely choosing whether to invert the color map is dependent on the image's `CDELT3` value? (and the units)

[2019-11-28 07:40] veggiesaurus commented on #615
this is definitely related to the build version :thinking: On our CARTA servers, this doesn't show up in the latest `dev` branch, but I can see the issue on the mix 'n match page

[2019-11-28 21:43] panchyo0 opened #618 "Catalog Support"

[2019-11-28 22:00] panchyo0 opened #619 "Catalog overlay: data stream"
- [x] Frontend send request to get catalog file list or sub folder and waiting for backend response.

- [x] Frontend read catalog file and pass backend response to catalog overlay widget.

- [x] Frontend send request to get catalog data according user filter and waiting for backend response.

- [x] Frontend read catalog data stream from backend and plot data to image viewer as overlay.

[2019-11-28 22:12] panchyo0 opened #620 "Catalog overlay: Catalog widget"
- [x] Catalog widget reads catalog file (user selected file) data and display preview data as table.

- [x] Catalog widget display user filter options. like column header, filter, overlay options, table filter in [mock-up](https://docs.google.com/document/d/1mD9cZri8S25hm6VTPehEXUXA_kDptlcr41ktbEZQv1k/edit#heading=h.ei4voydom8t8)

- [x] Catalog widget sends filter request once user click filter.

[2019-11-28 22:20] panchyo0 opened #621 "Catalog overlay: File Browser"
- [x] Catalog file browser reads backend "catalog file list" response and display all valid (file formate) file or sub folder in file browser.

- [x] Catalog file browser displays file name, type and size for catalog file.

- [x] Catalog file browser displays columns header information to user.

- [x] Catalog file browser sends file request once user selected a file.

- [x] Catalog file browser op

[2019-11-29 06:31] arusstaylor commented on #618
good to see this on the board.

[2019-11-29 06:35] arusstaylor commented on #614
Yes, I think exporting all line plots as a single file is the preferred behaviour.  That is the function of the stokes widget.

[2019-12-02 12:46] #118 closed

[2019-12-02 17:05] veggiesaurus commented on #586
no, we'll keep all the data cached in the frontend, and ideally just use the GPU to do the actually translation from data points to rendered shapes. I'm quite happy to handle most of the WebGL stuff so that you can focus on the rest of the catalog features :smile:

[2019-12-02 17:11] panchyo0 commented on #586
That's smart. Thanks

[2019-12-03 14:09] kswang1029 commented on #405
<img width="82" alt="Screen Shot 2019-12-03 at 22 06 04" src="https://user-images.githubusercontent.com/20819712/70058063-32c53580-1619-11ea-8840-5985bb52a7de.png">
<img width="89" alt="Screen Shot 2019-12-03 at 22 05 51" src="https://user-images.githubusercontent.com/20819712/70058064-335dcc00-1619-11ea-883a-6178f44e03b5.png">

Yes, now with light theme, it is visible and clear. With dark theme,

[2019-12-03 22:29] panchyo0 commented on #266
closed with PR #611

[2019-12-03 22:29] #266 closed

[2019-12-03 22:31] panchyo0 commented on #413
closed with PR #592

[2019-12-03 22:31] #413 closed

[2019-12-03 22:31] #495 closed

[2019-12-04 06:37] duidae commented on #572
![ss](https://user-images.githubusercontent.com/25971696/70117673-fccb9400-16a0-11ea-800c-96498a4dc97c.png)

currently designed to reveal:
1. logo + app name
2. spinner
3. info from log message

mask will disappear after check points (zfp worker, ast library loaded)

@veggiesaurus @kswang1029 will that be ok?

[2019-12-04 06:42] veggiesaurus commented on #572
@duidae that looks good. I'd replace "CARTA Viewer" with something like CARTA Viewer 1.3.0 (build date: 20191204)

some check points:
- ZFP workers (note there are multiple workers)
- AST library
- ZStd library

Note that these may occur in any order, since they're async.

[2019-12-04 06:42] kswang1029 commented on #572
1. "CARTA Viewer" ---> "CARTA\nCube Analysis and Rendering Tool for Astronomy"
2. please add version number

[2019-12-04 06:50] veggiesaurus commented on #572
Something like this?

[code]

We should probably make the splash screen and about screen consistent in terms of the language they use.

[2019-12-04 06:54] kswang1029 commented on #572
How about:
<img width="774" alt="Screen Shot 2019-12-04 at 14 54 06" src="https://user-images.githubusercontent.com/20819712/70119756-f5f35000-16a5-11ea-9dcd-3a98321a2691.png">

[2019-12-04 06:55] kswang1029 commented on #572
Agree

[2019-12-04 06:59] duidae commented on #572
yes I will modify the about tab together

[2019-12-04 10:40] veggiesaurus opened #625 "Use tiled rendering during animation"
Currently, we have two data delivery and rendering modes:
- Tiled rendering: Images are delivered in multiple tiles, one by one. Tiles are down-sampled in powers of 2
- Animation mode: Images are delivered as one large rectangle, all at once. Images are down-sampled by an integer factor.

Once we start rotating images to match a reference image's orientation, requesting data in animation mode will

[2019-12-05 07:20] TienHao commented on #405
<img width="105" alt="截圖 2019-12-05 下午3 13 41" src="https://user-images.githubusercontent.com/20379662/70212505-5a7be100-1772-11ea-8696-447dcc0fb1fa.png">
<img width="93" alt="截圖 2019-12-05 下午3 14 48" src="https://user-images.githubusercontent.com/20379662/70212528-65cf0c80-1772-11ea-8a13-49b32a5159d8.png">
Are these OK? These will have different colors in different theme

I also adjust floating w

[2019-12-05 07:31] kswang1029 commented on #405
Great!

[2019-12-05 07:36] #405 closed

[2019-12-05 18:06] jott3077 opened #628 "jump to frame when clicking on spectral profiler"
It would be a good enhancement to have an option to click somewhere in the spectral profiler and the image animator would jump to the corresponding channel map and show it in the main window.

[2019-12-05 19:40] pford commented on #628
@veggiesaurus  frontend issue?

[2019-12-05 19:56] veggiesaurus commented on #628
@jott3077 isn't this already implemented? Left clicking on a particular channel in the spectral profiler changes the active channel

[2019-12-05 20:50] pford commented on #628
I thought the same thing, but it says "the **image animator** would jump to...". The animator ignores input from the spectral profiler.

[2019-12-06 03:46] zarda commented on #523
There is no any information about region name in the CRTF file. I guess this is the reason where no region name is. @pford
Another issue is about updating region name. After we rename a region, the frontend need to update the region name in the backend by sending a SET_REGION. Or there is no updated region name in the EXPORT_REGION message, then the backend could unable to store new name into file

[2019-12-06 04:30] arusstaylor commented on #628
I thought this was already implemented. Just left click.

[2019-12-06 05:47] #628 closed, assigned to nobody

[2019-12-06 05:53] veggiesaurus commented on #523
We initially put the name parameter into `SET_REGION`, but I don't think we're sending it from the frontend, because I wanted to make sure that updating the region name doesn't trigger any region-related analysis. The backend would have to check if all of the region parameters other than name are the same. @pford does it already do this? I also don't want to spam the backend with `SET_REGION` upda

[2019-12-06 06:50] #443 closed

[2019-12-06 07:11] veggiesaurus opened #630 "Code cleanup: naming conventions for static/const values"
We are currently quite inconsistent with our use of `const` values. Sometimes they're defined as `const` values outside a class, even if they don't need to be exported. Other times they're defined as `public static readonly` inside a class.

We should clean up the code to be consistent in this regard, and also make our names for these variables consistent. We currently use `PascalCase` instead of

[2019-12-06 07:14] #603 closed

[2019-12-09 16:49] pford opened #632 "Remove comment from unit and frame"
The backend now creates standard FITS headers for all images, including comments for e.g. BUNIT and SPECSYS.  These comments should be removed before being displayed in the various widgets.

[2019-12-10 06:22] duidae opened #633 "Remove FITS hdus from file list and add to file info"
create corresponding frontend issue for https://github.com/CARTAvis/carta-backend/issues/357

[2019-12-11 03:49] kswang1029 opened #634 "[question] velocity and frequency in cursor info bar"
question to frontend developers: do we adopt "SPECSYS" (e.g., BARYCENT, LSRK, etc) in the calculations of velocity and frequency with AST for the cursor info bar? In a test case, I see identical velocity and frequency even if SPECSYS is different.

test images
casa: set_HD163296/HD163296_CO_2_1.image (LSRK)
miriad: set_HD163296/HD163296_CO_2_1.image.miriad (BARY)

(related to issue: https://github

[2019-12-11 06:34] veggiesaurus commented on #634
Looking at the velocity to frequency calculation, we aren't using AST, but are just using `refFreq * (1.0 - velocity / c);`

The reference frequency determined only from the `RESTFRQ` header, but this is probably not sufficient. There should be a way to easily convert the spectral values using AST though, which should take into account all the headers

[2019-12-11 06:38] kswang1029 commented on #634
I see. We better include all relevant headers.

[2019-12-12 15:56] #572 closed

[2019-12-12 15:56] #600 closed

[2019-12-13 06:39] veggiesaurus opened #637 "Optional user telemetry (usage statistics unique user count)"
Note: this issue will now focus on the telemetry side of things, rather than the news feed. The initial suggestion is shown below for context.

I suggest we do the following:
- When the frontend starts, it checks if a `uuid` value exists in  preferences / `localStorage`. If not, it generates a new value.
- When the frontend splash screen is opened. it makes an HTTP `GET` request to a URL defined a

[2019-12-17 11:03] #325 closed

[2019-12-17 11:12] #632 closed, assigned to duidae

[2019-12-17 14:02] veggiesaurus opened #639 "Share tile cache between images"
Currently, the GPU tile cache is cleared each time the active image is changed. This is done for simplicity, but it means that cached compressed tiles have to be decompressed and copied to the GPU each time the active image switches.

In future, we hope to have the ability to display multiple images side-by-side (like DS9). In order to do this, we have to either
a) make a common GPU cache which is

[2019-12-17 14:03] veggiesaurus commented on #639
This is not strictly required for 1.3's feature set, but it will probably be easier to implement sooner, rather than later.

[2019-12-18 07:12] duidae opened #642 "toolbar for dialogs"
we should have a separate "dialogs" toolbar at the top near the widgets. We can have buttons for preferences, file info, overlay config, contour config and so on.

[2019-12-18 09:25] kswang1029 opened #643 "enhancement of spectral profile widget for v1.3"
- [x] conversion of spectral axis (x), such as velocity frame, frequency, velocity, optical/radio definition, etc.(c.f. casaviewer)
- [ ] unit conversion of intensity axis (y), such as Jy/beam <-> K, MJy/sr, Jy/arcsec^2, etc. (c.f. casaviewer)
- [x] ability to view multiple profiles in one widget
- [x] custom displayed x and y range (with text input) **DONE**

[2019-12-18 09:26] kswang1029 opened #644 "enhancement of spectral profile widget for v1.4"
- [ ] profile fitting (Gaussian, Lorentzian, Voigt etc)
- [x] overplotting labels of molecular transitions by querying molecular database
- [x] channel smoothing (hanning, boxcar, binning)

[2019-12-18 09:26] kswang1029 commented on #475
break into #643 and #644
close this one

[2019-12-18 09:26] #475 closed

[2019-12-18 09:28] kswang1029 commented on #271
see #643
close this one

[2019-12-18 09:28] #271 closed

[2019-12-18 09:46] kswang1029 opened #645 "cursor cross size varies between retina and non-retina display"
on a retina display, the cross is bigger than the one on a non-retina display. Suspecting this is another HiDPi issue.

[2019-12-18 10:32] veggiesaurus commented on #643
I think it makes more sense to have each check point as separate issues, and use this issue as an epic to contain all spectral profile enhancements for 1.3. We may assign different sub-issues to different people

[2019-12-18 10:45] kswang1029 opened #646 "ability to view multiple profiles in the spectral profile widget"
sub task for epic #643

When image overlay is implemented, we will need to be able to view multiple spectral profiles from different images in a single spectral profile widget _with units in x and y properly converted if they are not consistent._

Suggest to have a dropdown with a list of checkboxes for users to select which images are used for generating spectral profiles.

related discussions fr

[2019-12-18 10:56] kswang1029 opened #647 "conversion of spectral axis (x), such as velocity frame, frequency, velocity, optical/radio definition, etc.(c.f. casaviewer)"
sub task of epic #643

The spectral profile widget should provide conversions in the spectral axis including
- velocity <-> frequency <-> wavelength <-> channel
- velocity frames, such as LSRK, TOPO, etc.
- velocity definition: optical or radio

The conversion should be done either with AST at frontend or with casacore/casacode at backend.

[2019-12-18 11:03] kswang1029 opened #648 "unit conversion of intensity axis (y) in the spectral profile widget (c.f. casaviewer)"
sub task of epic #643

The spectral profile widget should provide the ability of unit conversion in the y axis.
The most common conversion is Jy/beam <-> K.

The complexity here is some units under certain conditions cannot be converted to other units. For example, if an image with K as unit but does not have information of beam size and frequency, we cannot convert K to Jy/beam.

A full set of un

[2019-12-18 11:09] kswang1029 opened #649 "profile fitting capability in the spectral profile widget"
sub task of epic #644

The spectral profile widget should provide the capability for user to fit profiles with a given function such as Gaussian. Multiple components should be allowed. Fitting parameters should be fixable to assist convergence.

The exact fitting can happen at frontend or backend, depending on which performance and other implementation details. If we decide to use backend, this is

[2019-12-18 11:13] kswang1029 opened #650 "overplotting labels of molecular transitions by querying molecular database or input text file"
sub task of epic #644

The spectral profile widget should allow overplotting molecular transitions as labels. The molecular data can be from online molecular database (e.g. spatalogue) or from a text file with a certain format.

There should be a text field for users to define velocity shift or redshift so that molecular transitions are shifted accordingly.

[2019-12-18 11:15] kswang1029 opened #651 "channel smoothing in the spectral profile widget"
sub task of epic #644

The spectral profile widget should provide the following profile smoothing options:
- hanning
- boxcar
- binning

The smooth profile should be displayed together with the original profile in different colors.

[2019-12-18 13:08] veggiesaurus commented on #651
there's a fair bit of complexity to this, because each smoothing type may have different parameters, and we will need an option to show only the smoothed profile as well.

[2019-12-18 13:12] veggiesaurus commented on #647
The conversion process has to take place each time the ticks are drawn for the graph, so I don't think its feasible to use casacore for this, it will have to be AST.

[2019-12-18 13:13] veggiesaurus commented on #648
@kswang1029 it would be useful if you could look into the AST documentation to see if we can use it for these conversions as well

[2019-12-18 13:13] kswang1029 commented on #648
@veggiesaurus will do

[2019-12-18 13:24] kswang1029 commented on #647
reference:
"astSpecAdd" at p.372 of AST lib manual (http://starlink.eao.hawaii.edu/starlink/AST?action=AttachFile&do=get&target=sun211.pdf

[2019-12-19 18:33] panchyo0 commented on #571
finished. doc at https://docs.google.com/document/d/1mD9cZri8S25hm6VTPehEXUXA_kDptlcr41ktbEZQv1k/edit#heading=h.x2klaba3o6j1

[2019-12-19 23:51] pford opened #653 "Incorrect velocity calculated from frequency headers"
The velocity computed from the FileInfoExtended frequency headers is incorrect (backend issue 377).  Logging the input freq and refFreq input values to velocityFromFrequency in utilities/units.ts to the console, it looks like the frontend is using rounded values from the HeaderEntry string value rather than the numeric value.  The velocity changed when the string formatting of RESTFRQ and CRVALn h

[2019-12-20 05:39] veggiesaurus commented on #653
this should be reasonably easy to fix, but I think this is going to be more of a general problem, because the frontend uses the WCS headers (in string form) as arguments for the AST library for coordinate transformations, and this will soon be extended to spectral value conversions (#647 , #648). @pford shouldn't the headers be sent exactly as they are read from the file?

[2019-12-20 16:08] pford commented on #653
I assumed the numeric value was used for calculations and the string was user facing.  I think you should leave the frontend as it is (cancel the PR), and I will modify the headers.

[2019-12-20 16:08] pford commented on #653
So what are the numeric values for?

[2019-12-20 16:12] veggiesaurus commented on #653
If the entries are numeric initially (is this the case for casa and/or miriad?) then we could just use the numeric values, it's probably safer. I think the main thing is that the headers should appear as they are in the file

[2019-12-21 09:20] veggiesaurus opened #655 "Frontend should not display cube histogram warning if file has CUBE_HISTOGRAMS feature flag set"
The backend will not take a long time to generate cube histograms for HDF5 files. For files with the `CUBE_HISTOGRAMS` file feature flag set, the frontend should not display the cube histogram warning. The progress bar should still be displayed in off chance that the HDF5 file's metadata is incorrect.

[2019-12-25 01:18] kswang1029 opened #658 "missing raster tiles when loading an 80k x 80k image"
![hugeGaussian80k fits-image-2019-12-25-9-17-9](https://user-images.githubusercontent.com/20819712/71427826-7b8f7c00-26f7-11ea-8f17-41bf9f5bf688.png)

[2019-12-25 09:31] zarda commented on #523
Tested a .crtf file with label='xxx' and the region name will show up well. I will push the branch.

[2019-12-26 05:46] kswang1029 opened #661 "add reload button to "region" file browser"
similar to #557, we also need a reload button in the region file browser.

[2019-12-26 05:48] kswang1029 commented on #661
Implemented in #659

[2019-12-26 05:48] #661 closed, assigned to TienHao

[2019-12-26 09:02] veggiesaurus commented on #642
I suggest we combine this issue with a slight refactoring of `AppStore`, moving all dialog-related actions and properties to a new `DialogStore`.

@TienHao, could you do this? It should be reasonably straightforward to implement.

[2019-12-27 02:25] TienHao commented on #642
@veggiesaurus, sure! I can do this.

[2019-12-30 16:37] dmehring commented on #226
The initial set of requirements I received in September had the notion that one would have to register the associated viewer/front end using the python client before one could proceed with eg, image operations. However, the requirements in this ticket do not seem to have anything similar to that. Does the python client need to explicitly register the viewer, or will that be taken care of by the ba

[2019-12-30 20:09] dmehring commented on #226
`session = carta.connectToSession(ip, port, sessionId)`

Should the user be permitted to specify the sessionid? It seems that this is something the client should manage internally, especially if a single client is permitted to open multiple simultaneous sessions (in which case uniqueness of session IDs must be assured), which this model seems to imply.

[2019-12-30 20:14] dmehring commented on #226
`image = session.openFile(path)`

The OpenFile rpc requires the hdu. Is that part of the path in this call? If so, how is it specified? Should there be a default value for the hdu so the user doesn't have to specify it and so something sensible will happen if it is not specified?

Also, what if the backend (server) is running on a different machine than the (python) client? Is the file specified u

[2020-01-02 02:22] zarda commented on #538
We could add a label (AUTO) following the coordinate system reading from file, like Galactic(AUTO). Let this AUTO to be an action behind to  change the coordinate system after reading a new file or appending any new image.

[2020-01-02 02:24] zarda commented on #523
Region name/label exporting will be another issue. May we close this issue?

[2020-01-03 07:00] kswang1029 opened #662 "remove comment in SPECSYS header"
similar to #632, we need to remove comment in SPECSYS so that the cursor info bar can be displayed properly.

![Screen Shot 2020-01-03 at 2 59 16 PM](https://user-images.githubusercontent.com/20819712/71710982-c157ed00-2e39-11ea-93e3-3662b18b0527.png)

@duidae could you help?

[2020-01-03 07:08] duidae commented on #662
kk

[2020-01-04 08:08] veggiesaurus commented on #226
Registering the viewer is done automatically by the frontend. I think you are conflating the two interfaces (frontend/backend vs backend/python).

[2020-01-04 08:10] veggiesaurus commented on #226
This may be necessary, if a single backend is supporting multiple frontends. Each frontend should have at most one scripting interfaces controlling it. I suggest if a user attempts to connect from python with the same session ID as one which already has a scripting interface attached, the RPC should fail.

[2020-01-04 08:12] veggiesaurus commented on #226
The default value should be the first HDU. Currently, if the frontend doesn't pass an HDU to the backend, the first HDU is opened.

The files are all relative to the _server_.

[2020-01-04 20:07] dmehring commented on #226
@pford According to @veggiesaurus

**The files are all relative to the server.**

This would seem to not support the model in which the user is also interacting with CASA on the client machine from the same python interface. eg, it does not seem to support the usage example

‘’’from carta import backend
from casatools import image as ia
backend.connect(.. .)
ia.open(‘myimage.image’)
ia.function1(o

[2020-01-05 12:29] #662 closed, assigned to duidae

[2020-01-06 10:12] #557 closed

[2020-01-06 10:16] #417 closed

[2020-01-06 20:16] pford commented on #226
@dmehring CASA and the CARTA backend server read the image data from disk, so they both need to be running where they can access the image filesystem.  The CARTA scripting client and frontend client can be run on the same CASA/CARTA machine or another machine, communicating with the backend locally/remotely through gRPC (scripting client) or uWebSockets (frontend client) sockets.  The backend can

[2020-01-07 02:02] kswang1029 opened #665 "[question] START_ANIMATION and SET_IMAGE_VIEW"
When we start animation, there appears to be a half pixel offset in the setup of image bounds. Is that intended for some reasons?
<img width="498" alt="Screen Shot 2020-01-07 at 09 58 41" src="https://user-images.githubusercontent.com/20819712/71862437-ca480780-3134-11ea-897d-5eda004abd66.png">

[2020-01-07 08:39] veggiesaurus commented on #226
The session would only be started once they open the frontend. At that point, their terminal would display the session number. I think in general, we should display the session number in the frontend log as well, or in the connection info tooltip over the connection indicator

[2020-01-07 10:01] veggiesaurus commented on #665
it might have been related to a rounding issue, but I can't quite remember. I'd imagine that #625 would resolve this issue though.

[2020-01-07 12:33] veggiesaurus commented on #209
@duidae did we assign this to you? Or was it someone else?

[2020-01-08 01:33] panchyo0 commented on #620
blueprintJS table Table.columnWidths breaks column resizing after version 3.8.0 [https://github.com/palantir/blueprint/issues/3833](https://github.com/palantir/blueprint/issues/3833)

[2020-01-08 03:34] duidae commented on #209
no but I can do it 😀

[2020-01-08 07:27] veggiesaurus commented on #620
can we stick to version 3.8.0?

[2020-01-08 08:58] kswang1029 opened #666 "edge pixels artifacts on the right side"
could this due to #623 ?
![IRAS_17150-3224_sci spw27 cube I manual image pbcor fits-image-2020-1-8-16-53-22](https://user-images.githubusercontent.com/20819712/71964260-32cbdd00-3238-11ea-96f8-b0f24c4f46a7.png)

The requested tiles (original image is 2800 pixel x 2800 pixel) are
![Screen Shot 2020-01-08 at 16 50 38](https://user-images.githubusercontent.com/20819712/71964071-dd8fcb80-3237-11ea-8d7

[2020-01-08 09:03] kswang1029 commented on #666
weirdly I cannot reproduce it anymore...... Close for now and I will keep this in mind.

[2020-01-08 09:05] kswang1029 commented on #666
OK, it shows up _when_ javascript console is enabled.... even more weird....

[2020-01-08 17:43] dmehring commented on #226
Re: session ID and python interface. So, it sounds like the user must specify an already existing session ID, which they will know in advance, when connecting from the python client to the backend.

[2020-01-08 23:43] panchyo0 commented on #620
@veggiesaurus  version "3.8.0" show up an error message
<img width="2234" alt="Screen Shot 2020-01-08 at 4 33 19 PM" src="https://user-images.githubusercontent.com/22226157/72025229-acfa6280-3234-11ea-9cdf-ed6878a04b20.png">
The most stable version I found is 3.7.1, but it also having [bug](https://github.com/palantir/blueprint/issues/3779) when user pinned widget. If table overflow in one of hori

[2020-01-09 06:53] veggiesaurus commented on #597
@jott3077 has requested something similar in terms of a 2D control for adjusting contrast/bias. I believe the required control can be reused for "greyscale3" as well.

[2020-01-09 07:09] veggiesaurus commented on #597
I think we can put this control next to the histogram, and simply hide this control when the widget doesn't have space for it. That would prevent it from cluttering up the interface when users don't need it

[2020-01-09 09:33] veggiesaurus commented on #639
Moving to icebox / 1.4 for now, since it's not required for 1.3, and is slightly more complicated than I'd hoped

[2020-01-09 12:20] veggiesaurus commented on #226
if the session ID is left out in the python interface, do you think the backend should just use the first session (if it exists)

[2020-01-09 13:09] confluence commented on #226
Are we not going to allow the option of using a headless browser? That would seem to be the most sensible default option (e.g. if the user doesn't want to steer a display interactively, but just wants to export some images).

Assuming I'm understanding this correctly, I think the wrapper should allow the user to specify an existing session ID *or* to create a headless browser session (the wrapper

[2020-01-09 13:24] kswang1029 commented on #226
@dmehring @pford from your point of view, what material should the science team provide to assist development?

[2020-01-09 17:26] dmehring commented on #226
I'm guessing a headless mode would be desirable for our users for some use cases. Because it seems that current (non-headless) session IDs are >0, I could make the default session_id  0 and that would indicate that headless mode should be used. Does that sound reasonable?

[2020-01-09 17:33] dmehring commented on #226
My initial confusion is what should happen in the case where the user wants to run CASA on one machine but connect to a CARTA backend on another machine if they desired some sort of interaction between CASA and CARTA. The interaction of CASA and CARTA seems to be one of the main use cases Ryan wants addressed. That is, for example

1. Create a new image with CASA
2. Display that new image using CA

[2020-01-09 18:37] pford commented on #226
It could be a shared filesystem such as lustre.  If my workstation and the carta server have lustre access, I could run CASA on my workstation to create an image ("/lustre/aoc/users/pford/my.image") then use the scripting interface to connect to the carta server and open the image:

import carta
bk = carta.Backend(uri=carta_server_uri, session_id=1, auto_register=True, debug=False)
bk.open_file(di

[2020-01-09 18:45] dmehring commented on #226
Right, it could be. My initial confusion arose for the general case where the machines and file systems were different (or file systems the same, but different users running the different processes so the file permissions might cause issues), since, for CASA and CARTA to be able to interact in the same python session in that case, at best one would have to transfer the image somehow. But, it doesn

[2020-01-09 20:30] dmehring commented on #226
I've just pushed a significant rewrite of the code using the OO  paradigm. I think I'm nearly done. What Ryan seems to want from our side for the upcoming release is for users to be able to locally save plots of images to common formats such as png. I'm guessing this command from @veggiesaurus' previous comment is meant to enable that:
[code]
Is the idea here that imageBlob will be a string repres

[2020-01-09 21:03] pford commented on #226
I have updated Juergen's doc listing the NRAO use cases to describe the user interface, combining his use cases with the sample python session in the comments here.  This shows the interface that exists in the current python client (updated with the repo README after Dave's comment about his rewrite), what needs to be done for release 1.3 (IMO), and what will be added later.

@dmehring I added "im

[2020-01-10 07:10] jott3077 opened #1935 "spectral widget does not show velocities for CASA images"
Loading a CASA cube into CARTA. The spectral viewer shows channels, or when WCS is chosen, frequency. No velocity is displayed. This is likely due to the velocity as an additional axis label for spectral CASA cubes and frequency is native.
By default, the CASA wcs should be the velocity label if it exists.

The following could be split as a separate ticket, also some of it have been discussed in o

[2020-01-10 07:12] kswang1029 commented on #1935
@jott3077
Right now x-axis is determined by CTYPE3 and no conversion is applied.
We are hoping we can enhance the spectral profiler widget to some extent in v1.3. Please refer to https://docs.google.com/document/d/10nG54sC8XoEKhlGNnTmY6ZOHstF3zeiJi22gBjEvE_k/edit#

[2020-01-10 07:18] veggiesaurus commented on #1935
so should the `CTYPE3` be velocity by default for _CASA_ images?

[2020-01-10 07:23] kswang1029 commented on #1935
I tried with a test CASA image and the axes are
`'axisnames': array(['Right Ascension', 'Declination', 'Frequency', 'Stokes']`

If we convert a CASA image to FITS with exportfits task in CASA, the default is frequency. There is an option to set CTYPE3 in velocity.
`velocity            =      False        #  Use velocity (rather than frequency) as spectral axis`

[2020-01-10 08:32] jott3077 commented on #1935
yes, the default is frequency but with velocity=True in exportfits, the axis of the fits image will be velocity. Usually this is what the users want if a velocity label in the CASA image exists.

So yes, I would suggest to always use the velocity for CTYPE if it exists. (I guess for images with Stokes it will be CTYPE4 not CTYPE3, given the CASA convention to list Stokes before the spectral axis -

[2020-01-10 08:38] #642 closed, assigned to TienHao

[2020-01-10 08:45] veggiesaurus opened #668 "code cleanup: removing redundant observable decorators"
Object stores that are initialised in their parent store's constructor and never change don't need to be decorated with `@observable`, and should actually probably be marked as `readonly`.

For example, in `AppStore`'s constructor, we initialise an instance of `LogStore`, but this never changes, so we shouldn't watch for changes (or _allow_ other parts of the code to change it). Decorating as an o

[2020-01-10 16:56] dmehring commented on #226
I don't see an existing  protobuf message for this. Is there one? If not, what are the choices of colormaps?
Thanks

[2020-01-10 17:13] pford commented on #226
Right, usually this is set in the GUI and the backend doesn't need the colormap.  In carta-frontend/src/stores/RenderConfigStore.ts,
`static readonly COLOR_MAPS_SELECTED = [
        "afmhot", "Blues", "coolwarm", "cubehelix", "gist_heat",
        "gist_stern", "gnuplot", "gnuplot2", "gray", "greens",
        "greys", "hot", "inferno", "jet", "magma",
        "nipy_spectral", "plasma", "rainbow", "

[2020-01-13 07:30] kswang1029 opened #669 "enhancement of "reset" in preference dialogue"
Currently, we reset all options to their own default with the reset button.
![Screen Shot 2020-01-13 at 3 28 01 PM](https://user-images.githubusercontent.com/20819712/72238650-4d77ca80-3619-11ea-8897-137b3b2fac16.png)

We could enhance this by adding the capability to reset _each_ option such as the following approach. We could use tooltip on the reset button to indicate what default value it is.

[2020-01-13 18:16] dmehring commented on #226
I've completed the python client work for the 1.3 requirements from https://docs.google.com/document/d/1Rm88mscy6CCWLnNxJe3WaGvDVdW8pqyPm5AvXPosm6Y/edit# . The backend code will obviously need to be updated to support the python client requests. Let me know if you need anything further from me.
Thanks

[2020-01-14 08:01] kswang1029 opened #672 "exceptional case when asking contour levels with all as NaN"
If the current image is full of zero, some contour level generator may generate NaN as levels. If we request the backend to generate NaN contour levels, the progress icon (the green cloud at top-right corner) persists.
![Screen Shot 2020-01-14 at 15 56 53](https://user-images.githubusercontent.com/20819712/72324955-0b1cbf00-36e7-11ea-8c9b-06eeb7fa7f05.png)

[2020-01-14 15:11] #563 closed

[2020-01-14 15:12] veggiesaurus opened #671 "Improve contour dialog generators' default paremters"
The contour dialog's generators work as expected, but some more testing needs to be done to ensure that the default parameters are sensible and useful.

[2020-01-14 15:13] veggiesaurus commented on #672
I think I'll just fix this on the frontend by filtering out all those levels that aren't finite.

[2020-01-15 06:40] kswang1029 commented on #671
I tried various kinds of images with different histogram distributions. Currently I think
Percentages-ref.value
	reference = upper bound of 99.9% clip
	lower% = **20**
	upper% = 100
works better in general.

For the current default values of
Min-max-scaling
	min = lower bound of 99.9% clip
	max =upper bound of 99.9% clip
	scaling = linear
works fine except histograms resembling noise.

Start-step-

[2020-01-15 06:43] kswang1029 commented on #671
ps. currently the level list is empty by default. Is it possible to trigger "generate" by default, so that users just need to click "apply" to see contours?

[2020-01-15 06:56] kswang1029 commented on #671
currently, the percentages-ref.value method only allows up to 100%. We could give this more freedom to allow more than 100%. For example, with reference = 10, we can set lower = 100% and upper 500% with 5 levels to get 10, 20, 30, 40 and 50.

[2020-01-15 09:56] #672 closed, assigned to veggiesaurus

[2020-01-15 17:36] veggiesaurus opened #676 "Improve contour icon"
As suggested by @low-sky, we should change the contour icon to make it clearer. At the moment, it's more of a heatmap than a set of contours.

The set of existing BlueprintJS icons can be found [here](https://blueprintjs.com/docs/#icons). We should try to use one of the existing ones, as it otherwise requires some graphic design work, and needs to be made consistent with the rest of the UI.

We co

[2020-01-16 02:10] kswang1029 commented on #676
I checked the existing BlueprintJS icons and think none of them is ideal representation of contours. Likely we need to make our own. What are the requirements of an icon (size, svg?..., etc.)?

[2020-01-16 03:10] kswang1029 commented on #676
would this work?
<img width="62" alt="Screen Shot 2020-01-16 at 11 10 23" src="https://user-images.githubusercontent.com/20819712/72489987-d3318b00-3850-11ea-9b5c-e76427926f73.png">

[2020-01-16 05:40] veggiesaurus commented on #676
That looks pretty good. I'm wondering if we shouldn't try to just take the SVG source for the "heatmap" icon and adjust it to something like you've just made, and then send a PR to blueprintJS

[2020-01-16 05:41] kswang1029 commented on #676
I can give a try.

[2020-01-16 05:44] veggiesaurus commented on #676
It looks like BlueprintJS uses SVG or CSS fonts for icons, and the SVG support is deprecated. We could use a custom SVG as a stopgap, but we should eventually migrate to a custom CSS font.

Edit: Nevermind, I have that exactly the wrong way around :laughing:  SVG is the preferred method

[2020-01-16 05:47] veggiesaurus commented on #676
@TienHao Can you work on this with @kswang1029? You can just use a custom SVG by passing it as the `icon` argument to an `Icon` element, as shown here: https://blueprintjs.com/docs/#core/components/icon

You can start this before we've finalised the icon itself, and just update the SVG. I'd suggest you make a separate class for holding all our custom SVG icons in one place.

[2020-01-16 05:51] veggiesaurus commented on #602
Will close this once the [carta-backend/#424](https://github.com/CARTAvis/carta-backend/issues/424) is fixed and frontend support is confirmed to work.

[2020-01-16 06:14] veggiesaurus commented on #647
One of the complications here is that we currently strip the `CTYPE3`, `CDELT3`, `CRVAL3` and `CRPIX` headers from the list of headers before passing them to AST to create an `AstFrameSet` object. This is done for simplicity's sake, because otherwise AST creates a compound 2D+1 mapping, which gets complex to work with.

Our options are to revert to this 2D+1 mapping, or create a separate 1D AST ma

[2020-01-16 06:30] kswang1029 commented on #676
Just as a note about some ideas for the contour icon:
<img width="61" alt="Screen Shot 2020-01-16 at 14 10 59" src="https://user-images.githubusercontent.com/20819712/72499390-a8553000-386c-11ea-8c81-0510d238d685.png">
<img width="62" alt="Screen Shot 2020-01-16 at 11 10 23" src="https://user-images.githubusercontent.com/20819712/72499391-a8edc680-386c-11ea-8f2c-f34a76929e3d.png">

[2020-01-16 06:44] kswang1029 commented on #676
@TienHao Could you try these two examples to see which one is best fit?

[2020-01-16 06:49] veggiesaurus commented on #676
The raw font itself is black, rather than grey, so we should follow that approach, I think (and I assume the styling will be applied by CSS)

https://github.com/palantir/blueprint/blob/develop/resources/icons/16px/heatmap.svg

[2020-01-16 07:32] duidae commented on #647
kk @veggiesaurus  thanks for the info!

[2020-01-17 08:21] veggiesaurus opened #677 "Use canvas coordinates in raster view"
Rather than passing all arguments to the WebGL shaders in terms of a range of `[0, 1]`, they should be calculated and passed in canvas space until finally being transformed to WebGL space (`[-1, 1]`).

This should make most of the raster view calculations more understandable, and handle aspect ratio changes better.

[2020-01-17 09:59] veggiesaurus commented on #677
Fixed in WCS translation branch

[2020-01-17 09:59] #677 closed, assigned to veggiesaurus

[2020-01-20 05:41] acdo2002 commented on #259
One phenomenon about Contours function would like to be double checked:
When I did the ICD tests, I found that the progress of the received ContourImageData in not always increase. (the progress of RegionHistogramData is always increase) Is this phenomenon expected?
the received progress would be like: (only receiving ContourImageData, no other format data receiving at the same time)
0.13401905025

[2020-01-20 06:13] veggiesaurus commented on #259
@acdo2002 the contour data is generated and delivered in parallel (one thread per level). The progress returned in the contour data is the fraction of the image that has been traversed for the associated level. As such, when generating contours with multiple levels, the progress behaviour is not expected to always increase. With a single level, it should always increase though.

[2020-01-20 06:16] kswang1029 commented on #259
is it possible that progress = 1.0 has arrived while progress < 1.0 is still steaming?

[2020-01-20 06:24] kswang1029 commented on #259
from my test, I see progress=1 is streamed multiple times.

[2020-01-20 06:26] veggiesaurus commented on #259
@kswang1029 progress=1 just means the associated level is complete. We can estimate the overall progress as an arithmetic or geometric mean of all the levels' progress values. Frontend currently uses arithmetic

[2020-01-20 06:27] kswang1029 commented on #259
OK, so if we request 5 levels, we should see at the end 5 CONTOUR_IMAGE_DATA messages with progress==1.0.

[2020-01-20 06:27] kswang1029 commented on #259
Yes, now I see why. Thanks.

[2020-01-22 07:16] kswang1029 opened #679 "adding context-sensitive in-app help"
Currently the only way to access to the online user manual is via the "help" menu. For better UX, we should also provide in-app help manual with a question mark icon. For widgets, it should be in the header, next to the "cog". For dialog, it should be next to the close button (X). Once the help button is hit, we can use the blueprint "drawer" to show in-app help. For example, https://blueprintjs.c

[2020-01-22 07:21] kswang1029 commented on #679
A crazy idea: if the position of the drawer can be determined dynamically based on the location of widget/dialogue so that the drawer will not block the widget/dialogue, that would be fantastic!

[2020-01-22 07:44] veggiesaurus commented on #679
That shouldn't be _too_ hard. We can have a function that determines the best position (left, right) based on the bounding box of the widget. But the question is whether that would annoy users or not

[2020-01-22 07:45] jott3077 opened #680 "relative coordinates to a given point"
A user request: add an option for a drop pin to which all coordinates are referenced to, so the viewer panel show relative and absolute coordinates.

[2020-01-22 07:45] veggiesaurus commented on #679
Setting estimate to 3 for the actual technical work. Adjustments to the docs themselves can be tracked on the doc repo, I suppose

[2020-01-22 07:47] kswang1029 commented on #679
indeed, let's not do that for now. "Right" should fit the common UX?

[2020-01-22 07:59] kswang1029 opened #682 "adding a new "layer widget" to support image overlay capability"
With the image overlay capability, we need a new "layer" widget to support various kinds of features:
- [X] all loaded images are listed in this widget and users can reorder the list so that the order of the frame iterator changes accordingly too. Channel and Stokes information are shown for each image .
- [x] currently active image is highlighted in some manner
- [ ] spatial and spectral referenc

[2020-01-22 09:03] Jordatious opened #684 "Feature request: zoom toggle"
It would be cool to have a toggle in the preferences for the behaviour of zoom switching between zooming in on the mouse and zooming in on the central pixel.

[2020-01-22 09:17] veggiesaurus commented on #684
This is pretty easy to implement (~2 lines in `FrameStore` and some boilerplate code in the preference dialog). @kswang1029 any suggestions for who to assign to this?

[2020-01-22 09:17] Jordatious opened #686 "Feature request: sort by date added"
In the file browser, the files are sorted alphabetically, and it becomes difficult to find files when you have several tens of them. It would be nice to be able to sort by date added (or perhaps date modified, but less ideal) so you can easily find the recent file you're looking for. It would even be nice to be able to sort by file type / extension, so CASA, FITS and HDF5 files could be separated.

[2020-01-22 09:20] Jordatious opened #685 "Scroll to right for large file names"
In the file browser, long file names are cut off, and there is no ability to scroll from left to right. It would be good if this could be implemented, since often the first part of different files are the same.

[2020-01-22 09:20] kswang1029 commented on #684
@TienHao could you investigate this?

[2020-01-22 09:34] TienHao commented on #684
I can take this one.

[2020-01-22 09:50] veggiesaurus commented on #684
@TienHao just keep @duidae in the loop in terms of the preference schema changes

[2020-01-22 09:52] veggiesaurus commented on #686
Transferred to frontend, but may need a small ICD change and some support on the backend, so marking it as an estimate of 3.

[2020-01-22 11:17] kswang1029 commented on #685
Would it be a good time to switch to blueprint table which allows column resizing and sorting?

[2020-01-22 11:41] veggiesaurus commented on #685
Yes. I think we should do that at the same time as a number of improvements to the file browser. Perhaps an epic for 1.4?

[2020-01-22 11:42] kswang1029 commented on #685
sounds good 👍

[2020-01-22 16:45] arusstaylor commented on #563
When you interactively drag the lowest contour level marker on the histogram the min should adjust.  Similarly when you drag the highest counter level the max should adjust.  That way the user can graphically select the range of the counters.  Then selecting generate will generate contours between those limits.

[2020-01-22 16:57] arusstaylor commented on #563
For the data sources, one should be able to select channel and Stokes if the data sources is cube.  This would allow the user to optionally set a single channel and stokes as the source of the contours.  Useful for instance if I want to plot Stokes Q contours on Stokes I. (For polarisation cubes it would be good to be able to plot polarized intensity contours derived from the Q and U planes).    I

[2020-01-23 12:03] veggiesaurus commented on #563
This might work nicely if you've selected that particular generator. @kswang1029 what do you think?

[2020-01-23 12:06] veggiesaurus commented on #563
We've specifically tried to avoid having multiple data sources for a single image, because that adds significant complexity, and has performance implications in terms of which channel is "active". To get around this, we decided to only allow the user to generate contours with the current channel and Stokes, and to allow them to easily "duplicate" an image, which can have independent channel and St

[2020-01-23 12:07] kswang1029 commented on #563
@veggiesaurus I think for each generator, we can have this "linked" feature between the histogram and text field. For min-max method, we need two bars. For others we need one. In any case, worth a try I think!

[2020-01-24 01:20] arusstaylor commented on #563
Only being able to create contours for the "current" images seems very limiting to me.  Not sure what you mean by "duplicate" and image.    What is the process if I want to overlay contours from a different Stokes on the total intensity image?  Or if I want to overlay contours from a different channel?

Perhaps something for discussion when I get back in Feb.

[2020-01-24 01:21] arusstaylor commented on #563
It would be very good to be able to compute and overlay polarized intensity contours based on the Q, U images in a cube.  Should I enter this as a new feature request?

[2020-01-24 05:36] veggiesaurus commented on #563
Yes, please file a separate issue for this. I think we should be aiming more general than contours though. For files that have both Stokes Q and U, it would be good to be able to select polarised intensity as one of the "Stokes" values (I know that's not technically correct, but I think you understand what I mean)

[2020-01-24 05:39] veggiesaurus commented on #563
Can you also create an issue to discuss this? It's described in some detail in the proposed image overlay feature [here](https://docs.google.com/document/d/10nG54sC8XoEKhlGNnTmY6ZOHstF3zeiJi22gBjEvE_k/edit#)

[2020-01-24 22:38] jott3077 opened #687 "enable 'apply' in contour widget when styles etc are changed"
at the moment, the 'apply' button in the contour widget is greyed out until contours are defined. when they are applied, the button greys out again until a new set of contours is defined. Unfortunately, this behavior does not allow for simple changes, like a different contour color as upon selection of a different color, 'apply' is still greyed out. I think that there's no need to grey out the but

[2020-01-24 22:39] jott3077 commented on #687
actually I see that style changes are applied wright away. my previous tests only had changes that were too subtle. closing.

[2020-01-24 22:39] #687 closed, assigned to nobody

[2020-01-24 22:39] jott3077 commented on #687
see my last comment.

[2020-01-24 22:40] jott3077 opened #688 "contour labels"
there should be an option to add labels for contours showing the values

[2020-01-24 22:44] jott3077 opened #689 "contours 'apply' button"
It's not a bit confusing why some contour actions need 'apply' (like block) and others don't (like style). Maybe they should all either need to press 'apply' or not. maybe it is just a matter of getting used to it.

[2020-01-24 23:01] jott3077 opened #691 "contours: move the 'generate' button just above the 'levels' box"
it's a bit unusual to first specify the contours, then press 'generate', then press 'apply' ie 3 actions before the contours are there. I think that's ok overall, but we should make it a bit easier to the user. I suggest to

- move the 'generate' button right above the 'levels' box. this streamlines the actions from top to bottom (define level generation, presse 'generate', modify levels, press ap

[2020-01-24 23:02] jott3077 commented on #691
should go to frontend, and don't yet know how to move :-)

[2020-01-24 23:04] jott3077 opened #690 "render config plots have no y axis"
might be nice to add y-axis label to the render config plots. Like the number of pixels for a given value.

[2020-01-24 23:15] jott3077 commented on #690
again something for frontend...

[2020-01-25 12:28] veggiesaurus commented on #690
@kswang1029 and I discussed this, and ended up deciding that the y-axis labels are not needed for the render config and contour config plots, because they take up quite a bit of space (especially on a MBP 13" screen!), and a user can always open a histogram widget for more detailed analysis. Easy to add the y-axis back if consensus is that it should be there.

[2020-01-25 12:30] veggiesaurus commented on #689
I'm not convinced that this is much of an issue. There's a clear divide between styling, which is applied instantly, with no new data or calculations required, and other contour configuration options (e.g. levels or smoothing), which require contours to be re-generated and streamed.

One option would be to move the "apply" button into each tab, but that might confuse matters as well.

[2020-01-26 08:12] veggiesaurus commented on #688
This would be nice, but quite tricky to implement when using GPU rendering of contours. We could add it as another layer on top, perhaps.

One option we considered was highlighting a contour level somehow when the user hovered their mouse over the level in the contour dialog histogram.

[2020-01-26 08:20] veggiesaurus opened #692 "File browser improvements for v1.4"
Epic for tracking a variety of frontend-based file browser improvements for the CARTA 1.4 release

One of the main tasks is to migrate the file browser to [@blueprint/table](https://blueprintjs.com/docs/#table). This should probably be done first, before tackling the rest of the issues

[2020-01-26 08:24] kswang1029 commented on #692
Is it possible (in terms of time pressure) to use tooltip to show full file name for v1.3?

[2020-01-26 08:25] veggiesaurus opened #693 "Use BlueprintJS table for file browser instead of HTML table"
Various file browser improvements require a more feature-complete file list table. BlueprintJS will be used for the catalog viewer, so it would be better to use this for the file browser as well

[2020-01-26 11:27] veggiesaurus commented on #692
Yes, that would be pretty straightforward (I'd estimate it as a `1`). Will you create an issue for it?

[2020-01-26 11:34] kswang1029 opened #694 "Using tooltip to show full file name in file browser"
Before fully ultilizing blueprintjs table (https://github.com/CARTAvis/carta-frontend/issues/692) for file browser enhancement in v1.4, we could use tooltip to show full file name as a UX improvement for v1.3.

[2020-01-27 20:31] pford opened #697 "Show correct beam for multi-beam images"
A FileInfoExtended computed entry in OpenFileAck shows the median beam for multi-beam images.

The beam table will be sent as a new field in OpenFileAck as shown in this [doc](https://docs.google.com/document/d/1nFa1OoMKz4a0i-VId6_1qXjkzxq1U7W6oPDen4JxjUk/edit), so that the correct beam can be shown for each channel and stokes.

[2020-01-28 08:08] #694 closed, assigned to veggiesaurus

[2020-01-29 12:39] kswang1029 opened #698 "missing ">" in breadcrumbs"
frontend dev
origin/dev 5303424 2020-01-28 16:03:37 CST

<img width="1196" alt="Screen Shot 2020-01-29 at 1 37 44 PM" src="https://user-images.githubusercontent.com/20819712/73357481-bbb8c000-429c-11ea-9919-46aa4d644bba.png">

[2020-01-29 12:45] veggiesaurus commented on #698
![image](https://user-images.githubusercontent.com/592504/73357664-882e6380-42a5-11ea-81f6-60f0d01f31c9.png)
Our `dev` server still has the arrows. Perhaps a build issue?

[2020-01-30 14:29] kswang1029 opened #699 "unit of y axis in the spectral profile with different statistics"
With different statistics, the unit of the y axis in the spectral profile should be changed accordingly. For example, if an image has Jy/beam as the pixel unit, all available statistics except "Flux density" and "SumSq" should have unit as Jy/beam. For "Flux density", it should be "Jy" and for "SumSq", it should be "(Jy/beam)^2".
<img width="566" alt="Screen Shot 2020-01-30 at 3 23 20 PM" src="htt

[2020-01-31 09:00] kswang1029 opened #700 "missing tool buttons in the image viewer"
Sometimes the tool buttons in the image viewer do not show up when hovering over. Only tooltip appears. We need to move the cursor to re-enter the image viewer to see the buttons.

<img width="858" alt="Screen Shot 2020-01-31 at 9 57 48 AM" src="https://user-images.githubusercontent.com/20819712/73525959-79b08b00-4410-11ea-8cc7-83c58989b504.png">

[2020-01-31 09:16] veggiesaurus commented on #700
This has been really bugging me recently. @kswang1029 any idea when it appeared?

[2020-01-31 09:21] kswang1029 commented on #700
this is one reproducible case:
![Jan-31-2020 10-21-00](https://user-images.githubusercontent.com/20819712/73527517-7c60af80-4413-11ea-856f-b2b28cc2b1f2.gif)

It might be due to the initial position of the cursor. If we use the load button to load an image, and usually the cursor will be outside the image viewer, we are fine. However if we use double-click to load an image and the position of the c

[2020-01-31 09:40] #492 closed

[2020-01-31 09:50] #700 closed, assigned to nobody

[2020-02-02 20:30] veggiesaurus opened #704 "Contour lines have inconsistent thickness when spatially matched to image with very different pixel size"
When using GALFACTS S2 as a spatial reference for `ultravista-dr3-k-band.hdf5`, contour lines look very ugly, due to the accumulation of floating point errors in the shader.

Note, this only happens when images have very different pixel sizes. pixel size of GALFACTS S2 is  ~400x that of ultravista)

![image](https://user-images.githubusercontent.com/592504/73614809-32dab500-460b-11ea-9580-eda3cdad

[2020-02-03 08:07] veggiesaurus opened #706 "Migrate to react-scripts instead of react-scripts-ts"
See discussion in PR #683 and PR #527

[2020-02-03 09:51] #704 closed, assigned to veggiesaurus

[2020-02-03 09:57] #676 closed, assigned to TienHao, kswang1029

[2020-02-03 14:19] arusstaylor opened #707 "polarization contours"
We need the ability to plot polarised intensity contours in the case the contour source file has Stokes planes.  Option should be to plot contours from any of the Stokes planes or, if Q and U are present, to plot P contours, where P is the usual sqrt(Q*Q + U*U).

[2020-02-03 14:22] veggiesaurus commented on #707
Would it not make sense to make this more generic, so you could also view P for a Stokes cube as a raster image?

[2020-02-03 14:23] arusstaylor commented on #707
yes.  Also, in principle, should be able to plot position angle as a raster or contour.

[2020-02-03 14:26] kswang1029 commented on #707
I guess we can add options in the file browser as "generate PI" and "generate PA" when a valid Stokes cube is selected. So once this cube is loaded, we see three "frames" (IQU, PI, and PA) in the animator. Then we can follow the current design to generate contour layers on top of any raster images.

[2020-02-03 14:34] arusstaylor commented on #707
I dont think this should be an option that the user has to select in the file browser.  That strikes me as clunky user interface.  For a Stokes cube I think PI and PA should just appears as options for overlays in the overlay and contour tools and should also appear as options in the Stokes drop down in the z-profile tool.    (I suppose this latter should be a separate issue).

[2020-02-03 15:03] veggiesaurus commented on #707
I agree that it would make more sense to do this on the fly, rather than the user having to generate an entire cube's PI and/or PA when they load the file. What I'm proposing is that we effectively treat PI and PA as additional "Stokes" values everywhere that we have a Stokes dropdown

The issue then becomes how to plot contours from one Stokes channel (I, Q, U, V, PI, PA) on top of another. There

[2020-02-03 15:27] arusstaylor commented on #707
Agree that PI and PA should just appear as additional Stokes values in drop downs.

Is there any reason why the same file cannot be loaded with both "load" and "append"?  Is this what you mean by duplicate?

I agree we want 2 anyway to allow contours from a different channel or Stokes to be overlaid on a  given channel/Stokes.  Do you really need to load the whole file again to plot contours from

[2020-02-03 20:34] veggiesaurus commented on #707
Exactly. I'm thinking of the "duplicate" button as a shortcut for appending the same file again.

If you want to plot Stokes Q contours on Stokes I raster, but you _also_ want the contours to update automatically as you change channel, then 2 would not suffice, which is why I'd suggest supporting both methods (since they are both quite simple to implement) to give the user some flexibility. For sm

[2020-02-04 07:44] veggiesaurus opened #708 "Changes to Intel GPU drivers or shader compiler breaks NaN display on linux"
A recent change to _something_ related to Intel GPUs has resulted in NaNs turning into zeros when rendering images. A similar thing happens with the latest iPad Pro GPUs.

NaNs are pretty hit-or-miss when it comes to GPUs, and it's likely that an overly aggressive shader compiler optimization is mucking with our NaN check.

One solution is to use `-FLT_MAX` to indicate `NaN` values on the GPU.

[2020-02-04 08:38] #708 closed, assigned to veggiesaurus

[2020-02-04 21:39] jott3077 commented on #1935
fyi I see the same problem for miriad images

[2020-02-05 06:39] #491 closed

[2020-02-05 06:39] veggiesaurus commented on #491
still requires a little more testing, but will re-open if the testing indicates changes are required.

[2020-02-05 08:15] kswang1029 opened #710 "beam size of non-spatial-reference image on screen does not scale correctly with zoom level"
beam size of non-spatial-reference image on screen does not scale correctly with zoom level

reference (correct)
<img width="856" alt="Screen Shot 2020-02-05 at 09 14 28" src="https://user-images.githubusercontent.com/20819712/73823143-f7510e00-47f7-11ea-8095-2bc42128ce4e.png">

non-reference (problem)
<img width="857" alt="Screen Shot 2020-02-05 at 09 14 37" src="https://user-images.githubusercon

[2020-02-05 08:20] kswang1029 opened #711 "review performance parameters in preference to avoid user errors"
Currently the compression quality for images can vary from 1 to 32. However, based on experiments quality < 11 usually is not practically useful. To prevent users accidentally change the value below the threshold, we should not allow users to do so. In other words, the allow quality parameter should vary starting from 11, not 1.

Other performance related parameters should be carefully reviewed an

[2020-02-05 08:23] kswang1029 opened #712 "missing contour layers when exporting as png"
When exporting an image as png, all contour layers should also be included in the plot.

[2020-02-05 09:49] kswang1029 opened #713 "support PI (polarized intensity) and PA (polarized angle) in the Stokes dropdown"
In addition to the standard Stokes parameters I, Q, U, and V, we should provide additional quantities such as PI (polarized intensity) and PA (polarized angle) in the same list for better UX.

[2020-02-05 09:49] kswang1029 opened #714 "support PI (polarized intensity) and PA (polarized angle) in the Stokes dropdown"
In addition to the standard Stokes parameters I, Q, U, and V, we should provide additional quantities such as PI (polarized intensity),  PA (polarized angle) and Fractional PI in the same list for better UX.

This includes:
- [ ] spectral profiles
- [ ] contours
- [ ] raster images

ref: https://github.com/CARTAvis/carta-backend/issues/433

[2020-02-05 09:52] veggiesaurus commented on #713
moving this to backend repo, as it's 90% backend work.

[2020-02-05 09:55] kswang1029 opened #715 "Export ds9 contour text file"
to support import and export contour text file in ds9 convention.

[2020-02-05 11:33] kswang1029 opened #716 "toggle for auto-updating contour with different channels/stokes"
in the contour dialogue, there should be a toggle for auto-updating contour with different channels/stokes. With such, users will have flexibility to plot contours of a fixed channel and/or stokes on top of other contour layers and a raster image.

[2020-02-05 11:34] veggiesaurus commented on #716
estimating as 3 for now, because the backend and ICD will have to be slightly adjusted to accommodate this change

[2020-02-05 12:59] veggiesaurus commented on #698
@kswang1029 I still can't reproduce this anywhere. Can you test again?

[2020-02-05 13:00] kswang1029 commented on #698
Hmm, this still happens with the dev server at ASIAA
http://carta.asiaa.sinica.edu.tw/frontend/dev/?socketUrl=wss://carta.asiaa.sinica.edu.tw/socketdev

Also happens in the Mac alpha test package.

[2020-02-05 13:14] veggiesaurus commented on #698
Assigning to @ajm-asiaa as it appears to be a build issue. I wonder if it's the version of BlueprintJS being used?

edit: tried 3.19 an 3.23, both look fine

[2020-02-05 13:21] veggiesaurus commented on #707
Closing this, as the issues have now been separated into #714, #715, #716

[2020-02-05 13:21] #707 closed, assigned to nobody

[2020-02-05 13:37] arusstaylor commented on #714
any chance to get this for 1.3?

[2020-02-05 13:57] #487 closed

[2020-02-05 14:00] veggiesaurus commented on #714
The backend changes required are substantial, so this is not going to make it into 1.3.

[2020-02-05 17:12] #538 closed

[2020-02-05 17:14] #566 closed

[2020-02-05 17:16] veggiesaurus opened #719 "panning and zooming of spatially matched images is odd if image has very different FoV to reference"
Related to the change to a dynamic transform between reference and secondary images, based on the center of the current Fov. As the transform's rotation and scaling can change as a function of FoV center, panning often doesn't match the mouse cursor behaviour

[2020-02-05 18:14] veggiesaurus opened #720 "Region display of spatially matched images"
Regions need to be scaled, rotated and translated appropriately according to the transform defined by the reference image.

[2020-02-05 19:40] veggiesaurus opened #721 "Workaround needed for hardware that does not support linear filtering of float textures"
Apple GPUs mistakenly indicate they can support bilinear filtering of floating-point textures. Visiting webglreport.com on iPad Pro indicates support for the `OES_texture_float_linear` extension. However, in practice, the GPU just resorts to nearest-neighbour filtering. The result is not pretty (when plotting contours on another image, using control map for transform):

![image](https://user-image

[2020-02-05 22:52] veggiesaurus commented on #721
Test fix in `angus/cubic_hermite_shader_sample`, which not only solves the issue on Apple GPUs, but also improves line thickness consistency further (since the NVIDIA technique is technically an approximation of cubic sampling).

With `dev` (ultravista contours on GALFACTS S2 @ 1587x zoom):
![image](https://user-images.githubusercontent.com/592504/73890334-6a02cd80-487a-11ea-921b-c2d9f695a088.png)

[2020-02-06 04:57] ajm-ska commented on #698
@veggiesaurus Did you test it with `npm run start` or `npm run build`? When I do `npm run start` and check localhost:3000, I do see the symbols. But when I do `npm run build` and deploy it properly, then I do not see the symbols. Would you have any idea what could be different?

[2020-02-06 05:27] ajm-ska commented on #698
I checked back through all the older frontend dev commits (These are all done with `npm run build`).
It still worked at: `origin/dev c54e057 2020-01-16 13:49:06 CST`
http://carta.asiaa.sinica.edu.tw/frontend/c54e057/?socketUrl=wss://carta.asiaa.sinica.edu.tw/socket

But wasn't working by: `origin/dev 05e27f1 2020-01-22 22:34:01 CST`
http://carta.asiaa.sinica.edu.tw/frontend/05e27f1/?socketUrl=wss:

[2020-02-06 05:49] ajm-ska opened #722 "Feature request: Drawing axes inside the viewing window"
At the moment the axes are fixed along the boundary of the image viewing window. Depending on the dimensions of the actual image, there can be a lot of empty space. This is particularly noticeable when you export the image. I know it can be fixed by manually adjusting the size of the image viewing window before exporting the image. However, I wonder how this will work with the scripting interface

[2020-02-06 05:56] ajm-ska opened #723 "Feature request: z-profiler mean/RMS custom range"
At the moment the z-profiler calculates the mean/RMS over all points in view. There could be some outlier or bad pixels present that may skew the result. I know that deciding what are bad pixels can't be an automated process, so it would be good if we could manually exclude points or a range of points from the mean/RMS calculation.

[2020-02-06 06:03] ajm-ska opened #724 "Feature request: z-profile line overlay"
In the z-profiler, it would be good if we could manually draw/overlay a line at a certain position to indicate the baseline, for instance. This would be particularly useful if the user wants to export the plot for a publication.

[2020-02-06 06:28] veggiesaurus commented on #722
@ajm-asiaa to you mean like this?
![image](https://user-images.githubusercontent.com/592504/73911547-ddc4ca80-48ba-11ea-9d1d-75cad75e436f.png)

[2020-02-06 06:34] ajm-ska commented on #722
Exactly! Thanks. I didn't realise that it is already possible!

[2020-02-06 06:38] veggiesaurus commented on #722
You can use the "interior" setting for axes (and set axes to visible) in the overlay settings

[2020-02-06 06:38] #722 closed, assigned to nobody

[2020-02-06 06:52] veggiesaurus commented on #723
we could use a robust statistical technique to exstimate outliers, I guess?

[2020-02-06 07:01] arusstaylor commented on #723
If we do this it must be an option that can be turned on. We must also be able to assess the true mean and rms of all data. This request intersects with the general need for analytical and statistical tool for profiles and regions.

[2020-02-06 09:04] arusstaylor opened #726 "region creating button in toolbar"
Do we want a region creating tool button in the top tool bar?  The shortcut in the popup on the image is fine,  but not intuitive.  The average user will look for a button to create a region in the upper tool bar.  Having one there is intuitive.  Not having one there is mystifying for the new user.  "How the heck do I create a region?".

Should probably give some thought to the logic of what shoul

[2020-02-06 13:30] veggiesaurus commented on #723
By "all data", do you mean all the data in the current spectrum? Or displaying the mean/RMS of the cube itself?

[2020-02-06 13:35] veggiesaurus commented on #726
I think that's a great idea. I'd go one step further and suggest we have buttons for the individual region types in the toolbar.

This is the current interface, as it appears on a 1280x720 screen (our lowest target resolution)

![image](https://user-images.githubusercontent.com/592504/73941472-04ecbd80-48f6-11ea-9369-7edfa2339c04.png)

There's quite a bit of space left on the top. I'd suggest we c

[2020-02-06 13:45] #721 closed, assigned to veggiesaurus

[2020-02-06 19:12] veggiesaurus opened #727 "Allow user to generate contours only for the currently visible FoV"
For large files, contours can take a very long time to generate. We should allow users to generate contours for the currently visible portion of the file only, through a dropdown in the contour dialog. This will require some ICD and backend changes as well.

[2020-02-06 19:14] kswang1029 commented on #727
would the area be determined by the area of the composited tiles (which might be larger than visible FoV)?

[2020-02-06 19:17] veggiesaurus commented on #727
I think a bounding box including all visible tiles (assuming #587 is done properly) should be the safest option. It doesn't' really matter if we end up contouring 25% more of the image than necessary, as long as it's not the entire image. Especially for giant (64K x 64K) images!

[2020-02-06 22:15] arusstaylor commented on #723
I mean all data in the spectrum, i.e. with no rejection of outliers.

I think it would be best to have something like an analytics button in the profile window that brings up,a statistics and analytics tool with the spectrum loaded that would allow a range of functionality including outlier rejection, functional fitting, histograming, etc. we could do something similar for regions.

[2020-02-07 05:07] #712 closed, assigned to veggiesaurus

[2020-02-07 06:45] kswang1029 commented on #399
On hold since labels of the sliders in the animator will need to be revised significantly for v1.3. Will double check again this issue once sliders are revised.

[2020-02-07 06:51] kswang1029 commented on #512
@zarda will you still be able to implement this in a week?

[2020-02-07 06:57] veggiesaurus commented on #710
I should have checked this more carefully... now it updates, but doesn't take into account the resolution differences between images

[2020-02-07 06:59] #710 closed, assigned to duidae

[2020-02-07 07:21] zarda commented on #512
I think I can not make it in a week.

[2020-02-07 09:20] veggiesaurus commented on #723
that sounds ideal. That way, we can keep the auto-updating profilers relatively simple, and then have a more complex analysis tool for a chosen profile

[2020-02-07 14:35] kswang1029 opened #732 "QUESTION: decouple frame slider in animator and data source dropdown in contour dialogue"
With the current design of the contour dialogue, the data source dropdown is sync'd with the frame slider of animator, and vice versa. That is, if the frame slider has [a.fits, b.fits, c.fits, d.fits], the data source dropdown has the same list in the same order. If we use frame slider to switch to c.fits, the data source dropdown will point to c.fits as well and the histogram of c.fits is display

[2020-02-07 15:05] arusstaylor commented on #732
From our past conversation my vote is for 2.2.  I think this is the most intuitive approach, and provides the functionality intended by the user.  When I selected the data source I am selecting the raster that I want to use for the contours.  The contour tool should show the data for that sources and the raster image should show the data source image.  This lets me work on setting levels with the

[2020-02-07 16:02] kswang1029 commented on #732
Alternative idea:
if styling tab is activated we don’t sync, otherwise we sync. The idea is to let user see what they just need to see. For contour generation, they need to see the corresponding raster so keep it sync’d. But if just tweaking cosmetics of the existing contours, they already see the contours with a  raster that may be intended as the background so we don’t sync so users can adjust t

[2020-02-07 18:14] arusstaylor commented on #732
I dont agree that the only issue is styling when looking at the overlaid raster.  One may want to also play with levels tot week the way the contours related to the underlying background raster.

[2020-02-08 08:19] #393 closed

[2020-02-08 10:13] veggiesaurus commented on #732
I've made an initial implementation of 2.2 in branch `angus/one_way_sync_data_source_image`, which should be available for testing on mix 'n match. It's still a bit buggy, especially when removing images, but the important feature (one-way sync) works.

I find it a bit confusing to use, and it raises some important questions in the implementation:
1. What happens when you first open the contour di

[2020-02-08 12:06] arusstaylor commented on #732
My thoughts.
1.  I dont think this matters since the drop down lets you choose, but probably the first loaded image is sensible.
2.  Does the widget know the last image selected?  If so, probably that would be good. Otherwise start from scratch with the first loaded image.
3. Just add the image to the drop down lists.
4. Probably the active image, since the first image might be the one deleted.

[2020-02-08 19:44] veggiesaurus commented on #732
Ok, those sound like sensible choices. I'm going to take another stab at this tomorrow, and have thought of a way to easily implement approaches (1), (2.1) and (2.2) with mostly the same code. Once implemented, I'll ask for some testing feedback (and will hide a temporary setting to switch between the different approaches in the preferences menu)

[2020-02-09 13:02] #426 closed

[2020-02-09 14:38] veggiesaurus commented on #732
branch `angus/one_way_sync_data_source_image` now supports all the proposed approaches. You can use the "lock" button in the contour dialog to toggle the two-way lock (option 1 as described above), or use the temporary debug menu to enable one-way sync:

`syncContourToFrame` will adjust the contour data source when the active image is changed (option 2.1)
`syncFrameToContour` will adjust the activ

[2020-02-10 14:07] low-sky commented on #732
I tried these out and I think that the implemented version looks good and both options (locked and unlocked) do seem useful to include. The default should be unlocked.

[2020-02-10 14:09] kswang1029 commented on #732
@low-sky Thank you! Have you tried the two one-way lock approaches?

[2020-02-10 14:10] low-sky opened #735 "Include contour generation methods in Contour Preference pane"
Since I find myself constantly changing the contour generation method to "start-step-multiplier", is it possible to include the default generation method in the contour preferences?

[2020-02-10 14:11] kswang1029 commented on #735
Yes I think we should support this. @duidae Would you be able to implement this (preference->contour configuration)?

[2020-02-10 14:13] low-sky commented on #732
Yes, both seem to work as intended.  Also, I'm not sure this is the place but the contour pop-up dialogue still has the old contour icon as opposed to the new one.

[2020-02-10 14:14] kswang1029 commented on #732
Well spotted! I will file an issue accordingly. 👍

[2020-02-10 14:15] kswang1029 opened #736 "update the contour icon of the contour dialogue"
<img width="690" alt="Screen Shot 2020-02-10 at 15 14 04" src="https://user-images.githubusercontent.com/20819712/74157187-23192d00-4c18-11ea-87b4-ce48e3dbe3f6.png">

[2020-02-11 01:30] duidae commented on #735
ok

[2020-02-11 05:01] ajm-asiaa commented on #698
I found a workaround to fix this issue, but it is not ideal. The problem is that when we do the production build, a bunch of NaN appear in the .bp3-breadcrumbs background field. An easy way to see this problem after doing `npm run build` is to open the `build/static/css/main.*.css` file and search for "M10" or "NaN". You will probably see the offending code

aNl.46 NaNL5.3 NaNC5.11 NaN 5 NaN 5 NaN

[2020-02-11 05:38] ajm-ska commented on #698
I found a workaround to fix this issue, but it is not ideal.

The problem is that when we do the production build, a bunch of NaN appear in the .bp3-breadcrumbs background field. An easy way to see this problem after doing `npm run build` is to open the `build/static/css/main.*.css` file and search for "M10" or "NaN". You will probably see the offending line like this:

However, the same line in t

[2020-02-11 07:51] veggiesaurus commented on #698
ok, now it's happening for me as well when I build a production version. Very odd.

I tried to apply their fix as well, but I think their issue is actually a separate one. @ajm-asiaa perhaps for now, just write a script to apply a patch tot that file? It might be a sass-loader bug

[2020-02-11 07:55] veggiesaurus commented on #698
@ajm-asiaa I think this is the issue: https://blueprintjs.com/docs/#core/classes.namespacing

We should be importing the SCSS files at build time. This requires us to update our `create-react-app`. See #527 for some details

edit: nevermind, I think that's only if you want to use custom namespaces

[2020-02-11 08:27] #736 closed, assigned to TienHao

[2020-02-11 11:59] veggiesaurus commented on #655
@kswang1029 I think I fixed this in one of the contour branches. Can you check this?

[2020-02-11 12:06] kswang1029 commented on #655
yes, it is in the dev branch now. 👍

[2020-02-11 12:08] #655 closed, assigned to nobody

[2020-02-12 08:31] TienHao commented on #512
@veggiesaurus : could stoke analysis  also be implemented this feature?:smile: it has a region dropdown too. Since the stores of spectral profile, stats, histogram and stoke analysis widgets they all extend RegionWidgetStore, I think making changes to RegionWidgetStore can reduce similar modifications in different analysis widgets.

[2020-02-12 08:37] arusstaylor commented on #512
I think this behaviour should be common to both the profile and stokes widgets, and any other widget that acts on region data.  E.g. histograming and statistics/analysis widgets in the future.

[2020-02-12 09:02] veggiesaurus commented on #512
Yes, any widget that has a region dropdown should have the ability to select the "active" region

[2020-02-12 11:18] #735 closed, assigned to duidae

[2020-02-12 12:27] cflee25 commented on #732
I also think option 2.2 is most intuitive.

[2020-02-13 06:38] arusstaylor commented on #612
The logic of inversion is determined by the frequency or velocity direction of the channels.  red to blue for  low frequency to high frequency,   blue to red for low velocity to high velocity.

[2020-02-13 10:03] veggiesaurus commented on #612
@kswang1029 can we do this easily by checking `CDELT3` and the `CTYPE3`?

[2020-02-13 10:06] kswang1029 commented on #612
Yes.

If `CTYPE3` is frequency and `CDELT3` > 0 (ie frequency increasing; velocity decreasing), then it is "RED" to "BLUE".
If `CTYPE3` is frequency and `CDELT3` < 0 (ie frequency decreasing; velocity increasing), then it is "BLUE" to "RED".

If `CTYPE3` is velocity and `CDELT3` > 0 (ie velocity increasing; frequency decreasing), then it is "BLUE" to "RED".
If `CTYPE3` is velocity and `CDELT3` < 0

[2020-02-13 10:07] veggiesaurus commented on #612
@panchyo0 see above. Should be reasonably easy to test this by accessing headers from `FrameStore`

[2020-02-15 00:36] panchyo0 commented on #612
@veggiesaurus should we still keep the user setting for "Invert Color Map"?

[2020-02-16 20:32] veggiesaurus commented on #612
Yes, because some color maps don't go from red to blue, so the user might want to invert them.

[2020-02-17 07:37] #512 closed

[2020-02-17 08:03] arusstaylor opened #743 "add Stokes to information in cursor value bar for Stokes cubes"
For images that have a Stokes axis we should at Stokes to the information in the cursor value bar.  Below is an image of Stokes U.  It would be good to have the Stokes displayed with the cursor information, otherwise there is no indicator of what Stokes is being viewed.  Eg:  Stokes: U

<img width="877" alt="Screenshot 2020-02-17 at 09 58 09" src="https://user-images.githubusercontent.com/9055533/

[2020-02-17 15:00] confluence opened #746 "Intermittent WebGL rendering bug in Firefox"
Symptoms:

For any file, the entire raster image is rendered as a single solid colour. This is just a rendering bug; the spatial profile widgets show the correct image values. The AST overlay is unaffected.

I have triggered this issue on my local Ubuntu laptop with Intel graphics, with a local frontend, and with Firefox as the browser. On the same system the exact same instance works correctly in

[2020-02-17 15:49] arusstaylor opened #747 "add "extrema" to stats drop down options"
In the case that I am looking at  z-profile in a Stokes cube values of Q, U and V can be negative.  So if I want to look at a profile of maximum Q, U or V polarised intensity in a region I cannot do that by selecting "max".  We need another option "extrema" which will plot the value of the extrema in a region whether it is positive or negative.

[2020-02-17 16:16] veggiesaurus commented on #596
should be fixed by PR #745

[2020-02-18 13:23] duidae opened #748 "empty data in spectral profile initially"
reproduce:
1. init CARTA with a stoke widget & a spectral profiler (dont load file yet)
2. set initial cursor position to fixed in preference
3. load a file with spectral axis
4. close the stoke widget, data will come out

[2020-02-19 11:11] arusstaylor opened #751 "animator should skip nan channels"
I would be good if the animator did not bother displaying nan channels, but just skipped onto the next channel.  In the current mode where nan channels are displayed, for the MeerKAT MIGTHEE cubes which has a large missing piece in the middle a long time is spent looking at nan channels.

[2020-02-19 11:16] arusstaylor opened #752 "automated association of custom layouts with file types"
I have set up a 4Dpol layout that I use for all files that are 4D with Stokes.  Every time I load a 4D stokes file it have to reselect the layout (which is embedded three deep in the menu), and I think to myself "why do I have to do this?  CARTA knows what kind of file this is."   It would be much better if the user were able to associate saved custom layouts with a file type: 2D (coord, coord), 3

[2020-02-19 12:02] veggiesaurus commented on #752
I think if we simply add a set of preferences which allow you to specify the preferred layout (custom or built-in) when loading a new file, then we should only apply this layout when opening a new file, not when appending.

[2020-02-19 13:03] kswang1029 commented on #752
@arusstaylor could you provide a set of screenshots for each image type?

[2020-02-19 14:42] arusstaylor commented on #752
Here is my layout for 4Dpol type.   The Stokes widget lower right, z profile upper right. Annimator, regions and render widget below the image.  This is a personal preference. Used for all images that are (coord, coord, spec, stokes).

<img width="1776" alt="Screenshot 2020-02-19 at 16 41 25" src="https://user-images.githubusercontent.com/9055533/74844866-c8c64d80-5336-11ea-8111-bbed6185a10e.png">

[2020-02-19 14:46] arusstaylor commented on #752
My thought is that we should be able to associate a saved layout with a file type.  Not sure the best way to do this. Perhaps with a preference menu for Layouts in the Preference widget.  That allows one to select from the list of custom saved layouts and associated a file type for which this layout is the default and automatically used when loading (or appending) that file type.

[2020-02-19 14:51] kswang1029 commented on #752
what we might do is to map image's shape to a layout. For example, if the image is [x>0, y>0, z==1, s>1] we load its mapped layout.

[2020-02-19 14:52] kswang1029 commented on #752
what we might do is to map image's shape to a layout. For example, if the image is [x, y, z==1, s>1] we load its mapped layout.

[2020-02-19 15:12] veggiesaurus commented on #752
Appending is going to be problematic. We don't want to change the layout when you change the active image. That will frustrate users under most circumstances, and will be tricky to implement. If I load a 4D image and then append a 2D image, I'd not want my carefully customised layout to change as soon as that image is loaded.

[2020-02-19 15:53] kswang1029 commented on #752
I think we should just apply this intelligence (as a preference) to the first loaded image. Anything appending does not change layouts.

[2020-02-20 11:23] veggiesaurus commented on #746
happens sometimes in Chrome and Firefox on NVIDIA hardware again. I'm going to attempt to fix it by  moving the WebGL context to a canvas associated with the tile service, rather than the component

[2020-02-20 12:17] veggiesaurus opened #755 "Contour rendering breaks when changing layouts"
After changing layouts, contours are no longer rendered, due to a WebGL error. A similar fix to that used for #746 is required. The contour WebGL context should be associated with a service, rather than a specific component, which can be unmounted.

[2020-02-20 12:53] #679 closed, assigned to TienHao, kswang1029

[2020-02-20 13:22] confluence opened #757 "Changing layouts breaks in Firefox"
This is likely to be related to #746 and #755 because of the correlation with the issues described in #746.

Symptoms:

Switching layouts does not change the layout of the widgets, and also resets the titles of the widgets to internal defaults. Sometimes duplicate widgets are displayed in addition to the normal widgets. Sometimes this behaviour only manifests after the page is reloaded a few times

[2020-02-20 14:32] duidae opened #758 "keyboard event conflict between image viewer and drop down menu"
reproduce:
(http://carta.asiaa.sinica.edu.tw/frontend/3f0c72e/?socketUrl=wss://carta.asiaa.sinica.edu.tw/socketdev)
1. open a file with z coordinate
2. open spectral profiler setting panel, choose a coordinate through drop down(set focus to drop down)
3. press F repeatedly, then image viewer will freeze/unfreeze and dropdown in setting panel will go through the F-started options repeatedly as well

[2020-02-20 14:34] duidae commented on #758
related #328

[2020-02-20 14:43] kswang1029 commented on #758
![Feb-20-2020 22-42-05](https://user-images.githubusercontent.com/20819712/74945189-43c05e80-5432-11ea-8191-82467e3faec7.gif)

[2020-02-20 15:55] #746 closed, assigned to veggiesaurus

[2020-02-20 16:05] #748 closed, assigned to nobody

[2020-02-21 03:00] duidae commented on #358
related to #679

[2020-02-21 07:03] kswang1029 opened #760 "adding in-app help info"
Now the help drawer is in place, we need to add useful and concise help context.

[2020-02-21 07:18] #647 closed, assigned to duidae

[2020-02-21 07:33] #474 closed

[2020-02-21 07:42] duidae opened #761 "add guard to spectral conversion"
some headers in fits will not be provided, ex:
if RESTFREQ is missing => velocity cant convert to frequency, vise versa
if OBSERVATION-DATE is missing, LSRK/LSRD cant convert to TOPO, BARY, vise versa
if OBSGEO-X OBSGEO-Y OBSGEO-Y are missing, any cant convert to TOPO, vise versa

[2020-02-21 17:26] arusstaylor opened #763 "show wcs of cursor in spatial profile"
When the option to display wcs coordinates is selected in the spatial profiles, the cursor display value should show the WCS of the cursor in addition to the pixel coord.

[2020-02-22 11:43] kswang1029 commented on #647
@duidae @veggiesaurus I did a more systemic comparison of the spectral conversions from CASA (with casacore(?)) and CARTA (with AST). The results are in the attached pngs. The errors in BARY and TOPO conversions are larger (for frequency it is about 5 MHz and for velocity it is about 0.01 km/s). Not sure why but probably this is fine for science (I will check with the science team).

velocity is i

[2020-02-22 12:14] duidae commented on #647
thanks for the info, I think maybe we can try some experiments with casacore/AST to study the difference, and probably figure out the theory of TOPO conversion, so that we can find out what is missing in AST conversion

[2020-02-22 19:52] veggiesaurus opened #764 "Beam indicator does not rotate when enabling spatial matching"
When enabling spatial matching, the rendered image and grid may be rotated. However, currently the beam indicator does not rotate:

![beam_wcs](https://user-images.githubusercontent.com/592504/75098319-3a173200-55bd-11ea-9c8c-11b3feccb462.gif)

[2020-02-23 05:55] arusstaylor opened #768 "Contours do not show on ipad"
When I click apply on the contour widget on my iPad the contours do not appear on the image.

[2020-02-23 06:17] veggiesaurus commented on #768
They seem to work fine on my iPad (iPad Pro 10.5"), both when showing contours on the original image and when showing on another spatially matched image.

@kswang1029 do you see this on your iPad?

@arusstaylor what is the exact iPad model? (e.g 1st or 2nd gen iPad Pro, 12" or 11") and iOS version?

[2020-02-23 06:20] kswang1029 commented on #768
Yes, with iPad Pro 11” 3rd gen.
![AF48EA32-F22C-44A4-AAA5-2195E06249B8](https://user-images.githubusercontent.com/20819712/75104738-94f56b80-5647-11ea-8ce6-a6058ecd903f.png)

[2020-02-23 06:33] #764 closed, assigned to veggiesaurus

[2020-02-23 06:35] #720 closed, assigned to veggiesaurus

[2020-02-23 07:08] veggiesaurus opened #769 "Spectral matching of images (outside of animation)"
When images are spectrally matched, changing the channel of one image will result in the channel of the other image being changed to the nearest channel.

In order to implement this, a mapping from channel (image A)-> WCS (image A) -> WCS (image B) -> channel (image B) needs to be created using AST.

[2020-02-23 09:02] arusstaylor commented on #768
Just tried it again. It is working now.  iPad Pro 2nd gen

[2020-02-23 09:31] veggiesaurus commented on #768
Tried on an iPad air, also working fine. Closing this issue for now

[2020-02-23 09:31] #768 closed, assigned to nobody

[2020-02-23 21:22] veggiesaurus opened #770 "Remember spectral system choice when switching active images"
Currently, whenever the active image is changed, the coordinate system for a spectral profile widget reverts to the system defined by the image's WCS. Even if I have explicitly selected another system. For example, if I have three images, all with `CTYPE3 = FREQ`, then there's no way to easily compare spectra as velocities, because every time I switch images, the widget defaults to frequency again

[2020-02-23 23:28] kswang1029 commented on #770
Good idea

[2020-02-24 02:09] kswang1029 opened #771 "icons of undocked widget in dark mode"
The cosmetics of the icons of undocked widget in dark mode needs to be improved.
<img width="126" alt="Screen Shot 2020-02-24 at 10 07 48 AM" src="https://user-images.githubusercontent.com/20819712/75124999-ae50f300-56ed-11ea-8990-924ece2a2548.png">

[2020-02-24 12:45] kswang1029 opened #772 "adding the new layer widget to preset layouts"
As CARTA can do spatial and spectral matching of images, it would be good to have the layer widget enabled in all preset layouts. The other purpose of doing so is to use this layer widget to guide and train users to get used to the "match" feature in v1.3.

Default
<img width="1405" alt="default" src="https://user-images.githubusercontent.com/20819712/75153473-72964780-5746-11ea-9c7f-60fb797cfaaa.

[2020-02-24 12:55] kswang1029 opened #773 "new layout dialogue"
CARTA ships with a set of preset layouts for different purpose and users can create their own layouts for their different use cases and tastes. Currently, the layout management options are deeply buried in the "layout" menu, which makes the UX not so good (but preset layouts do provide nice UX!).

To enhance this, how about we introduce a new dialogue to support layout management? With the dialogu

[2020-02-24 13:30] duidae commented on #772
ok

[2020-02-24 18:19] veggiesaurus commented on #671
@kswang1029 do you have final settings for this?

[2020-02-24 18:21] veggiesaurus commented on #625
@kswang1029 do you have final settings for this?

[2020-02-24 18:21] #625 closed, assigned to veggiesaurus

[2020-02-24 18:28] veggiesaurus commented on #596
@arusstaylor can you confirm that this is fixed on carta-testing?

[2020-02-24 18:30] #684 closed, assigned to TienHao

[2020-02-24 20:53] arusstaylor commented on #596
Much better.

[2020-02-24 21:05] #596 closed

[2020-02-25 04:17] kswang1029 commented on #671
@veggiesaurus I tried again with some images with different characteristics (most noisy, small feature, large feature, etc.) and think the current defaults are good enough in general, except the following
<img width="644" alt="Screen Shot 2020-02-25 at 12 06 26 PM" src="https://user-images.githubusercontent.com/20819712/75214489-baf64980-57c8-11ea-9952-d59d6bbbf1df.png">
We should try to have lowe

[2020-02-25 13:23] arusstaylor opened #777 "Cursor indicator on image in ipad"
When I touch the image canvas to set the active cursor position on my iPad, the profiles update but there is no graphical indication of which pixel was selected. We need a cursor indicator on the image that show the position of the selected pixel.

[2020-02-25 13:40] veggiesaurus commented on #777
I think this should be combined with a more comprehensive collection of settings for cursor appearance. @low-sky pointed out that giving users a choice of cursor types would help, especially when spatially matching images with different orientations, so that it's clear to the user what the X and Y spatial profiles correspond to

[2020-02-25 13:48] arusstaylor commented on #777
Good to think about cursors more generally, particularly as we begin to think about rendering 3D. But do we need to wait for this to get a basic cross hair indicator on the iPad?

[2020-02-25 13:54] kswang1029 opened #778 "add a frame drop down to analytics widgets"
Currently the content in any analytics widget is sync'd with the frame slider. So users can view results from one image at a time.

To extend the flexibility to view analytics of different frames (aka different images) at a time, we need a frame dropdown in every analytics widget. This would enable more use cases, especially with WCS features in v1.3.

[2020-02-25 13:56] veggiesaurus commented on #777
I think the only real change would be switching from displaying the crosshair when frozen to displaying it at all times. Perhaps if it detects a "touch", it displays the crosshair, and it disappears again when it detects a mouse movement.

[2020-02-25 14:08] #645 closed, assigned to TienHao

[2020-02-25 14:20] arusstaylor commented on #777
The only single finger actions on the iPad are to 1) touch and 2) touch and drag. A simple touch should just select the pixel and display the cursor.  Touch and drag is a panning request unless the region tool has been selected.  So I think that simple touch should select a pixel.

This men’s the click to pan option should not be allowed on a touch pad.

[2020-02-25 14:41] arusstaylor commented on #778
I think this is a larger issue that we need to discuss in the science team.  Basically how to link profiles in liked frames, and should apply to spatial and spectral profiles,  and regions that apply to more than one frame.  There is larger user interface issue here I think.

[2020-02-25 14:49] veggiesaurus commented on #778
For 1.3, we won't have linked regions, so for now a dropdown should suffice. But I agree, the concept of linked regions and profiles needs to be carefully thought out. It needs to be simple and easy for the most common use cases.

[2020-02-25 20:23] arusstaylor opened #780 "Wavelength in metres"
For a radio astronomy vis tool we should have a wavelength (m) option in the spectral axis

[2020-02-25 20:42] arusstaylor opened #781 "Contour level settings are lost when I select configuration"
In the contour widget, after I set my contour levels the way I want them I select configure to adjust smoothing. When I go back to levels my level settings are lost. The levels are back at the default settings. My setting on the levels should be preserved.

[2020-02-25 21:03] #769 closed, assigned to veggiesaurus

[2020-02-25 21:22] veggiesaurus commented on #781
@arusstaylor do you mean the _levels_ or the settings for the generator? For me, the actual levels themselves are preserved, but the min/max/N settings are (annoyingly) reset to default.

[2020-02-25 22:02] #671 closed, assigned to veggiesaurus, kswang1029

[2020-02-25 22:11] veggiesaurus commented on #781
@arusstaylor please verify that this is fixed by trying it on carta-testing

[2020-02-26 06:40] arusstaylor commented on #781
Confirm that this is fixed on carta-testing. Thanks.

[2020-02-26 06:44] #772 closed, assigned to duidae

[2020-02-26 06:46] #781 closed, assigned to nobody

[2020-02-26 08:19] #780 closed, assigned to duidae

[2020-02-26 09:45] #761 closed, assigned to duidae

[2020-02-26 10:09] veggiesaurus opened #785 "Allow users to enable/disable spatial matching on load"
Users should be able to select spatial/spectral matching via checkboxes on image load. They can still adjust these settings after loading images in the usual way

[2020-02-26 10:16] arusstaylor commented on #785
I am not in favour of this.  I do not like cluttering up the load process with options that in general are not needed.  Loading should be a simple, clean process.  This is the beginning of a slippery slope.  This is a usability issue and should be discussed.

[2020-02-26 10:18] veggiesaurus commented on #785
@kswang1029 shall we icebox this and wait to hear from beta testers?

I imagine casaviewer users may be confused, because they'd expect images to be matched by default. What about a setting in preferences that allows users to select whether images are matched by default?

[2020-02-26 10:20] kswang1029 commented on #785
Ok

[2020-02-26 10:23] veggiesaurus commented on #785
@arusstaylor would that be ok with you? By default, the setting is off. If users (esp. casaviewer users) want to automatically spatially or spectrally match images, they can enable this in the preferences dialog

[2020-02-26 10:25] arusstaylor commented on #785
Confusing casaviewer users is not necessarily a bad thing.  They have been using a poorly designed tool for years and will need to modify practices...

My suggestion would be to icebox this for now.  I think we need an overall usability review of CARTA as part of the 1.4 release goals.

If we want to match by default as an interim, I think it should only happen for appended image and only if the a

[2020-02-26 10:26] veggiesaurus commented on #785
yes, this would apply only during image appending.

[2020-02-26 10:29] arusstaylor commented on #785
@veggiesaurus  I am ok to implement automated matching as a preference that is turned off by default.  What will happen if there is no FOV overlap between the images?

[2020-02-26 10:33] veggiesaurus commented on #785
@arusstaylor if there is no FoV overlap, but the two images are adjacent, they'd still be matched. If they are on completely different hemispheres, the matching will fail, and they won't be matched. I agree that there's some confusion about appending images that don't overlap, so leaving this option off by default is probably a good bet.

Later on, we could turn this preference from a binary one t

[2020-02-26 10:36] arusstaylor commented on #785
which means the backend will need to check for FOV and spectral overlap on appended images....
Could turn into a confusing ven logic issue with multiple appended files...  I guess if the original loaded image is the master, it is simpler.

[2020-02-26 10:37] veggiesaurus commented on #785
No, this is all done on the frontend. The AST library would be able to easily tell us this info.

Currently, this is the case. Although we will be able to select a new reference afterwards (hopefully in a few hours time!)

[2020-02-26 10:56] veggiesaurus opened #786 "Add preferences for automatically enabling spatial and spectral matching when appending images"
Instead of implementing #785, a simple set of preferences will be added to allow users to enable or disable spatial and spectral matching when appending new images. No matching will occur when opening an image, rather than appending.

In future, we can discuss how to intelligently decide whether to match by default or not. Possibly based on FoV or velocity range.

[2020-02-26 10:56] veggiesaurus commented on #785
Closing this issue in favour of #786

[2020-02-26 10:57] #785 closed, assigned to veggiesaurus

[2020-02-26 11:24] kswang1029 opened #787 "unify AST usages thoroughly in the frontend codebase"
Currently AST is used semi-independently elsewhere in the frontend codebase. It would be good to review and unify AST usages thoroughly in the frontend codebase for
1) better code maintainability
2) consistent AST calculations
3) re-usability for future feature development

 aiming for v1.4

[2020-02-26 13:01] #786 closed, assigned to veggiesaurus

[2020-02-26 13:41] #770 closed, assigned to duidae

[2020-02-26 13:44] #732 closed, assigned to veggiesaurus

[2020-02-26 14:09] #682 closed, assigned to veggiesaurus, duidae

[2020-02-27 05:53] veggiesaurus opened #793 "Cannot show frequency axis if no conversion to velocity exists"
On `dev`, we cannot select anything other than channel:

![image](https://user-images.githubusercontent.com/592504/75415948-c915a880-5935-11ea-8a87-bb2ef8afcc8a.png)

On `master`, we can always choose to use the native WCS:
![image](https://user-images.githubusercontent.com/592504/75415997-e5194a00-5935-11ea-8634-459dbc3715f9.png)

Example file: GALFACTS_N4_cube_Q_DQA3.3.1.fits (or any other image

[2020-02-27 05:54] veggiesaurus commented on #793
@arusstaylor this is the issue we discussed yesterday. Will fix it for 1.3 final release

[2020-02-27 05:56] kswang1029 commented on #793
if I understand correctly, we just need RESTFRQ for to convert FREQ to VRAD. Missing SPECSYS should not forbid this conversion.

[2020-02-27 06:05] arusstaylor commented on #793
If RESTFQ is specified but not SPECSYS, we should probably assume TOPOCENT for the sys.
We should be able to convert channel to frequency or wavelength without either RESTFQ or SPECSYS.    That conversion just relies on the constant speed of light....

[2020-02-27 06:07] kswang1029 commented on #793
FREQ from/to WAVE is not problem. If it is FREQ to VRAD or VRAD to FREQ, we need a RESTFRQ and this can be done without SPECSYS. It will just be the same whatever unknown SPECSYS.

[2020-02-27 06:48] kswang1029 opened #794 "a flash with missing tiles then full image restored when we press stop to stop animation"
When we stop an animation, occasionally we will see a flash with missing tiles first, then will see a full image is restored.

[2020-02-27 07:28] ajm-ska opened #795 "Different widget help display depending if CARTA is in dark mode or light mode"
I wonder if it would be possible to have a different widget help display to show up depending whether CARTA is in Light mode or Dark mode?

I'm specifically referring to the **Image View** help as it shows some images captured in Light mode. I think it would be a neat touch if when using CARTA in Dark mode, that it could show the tool button images captured in Dark mode, plus have the first image

[2020-02-27 07:29] kswang1029 commented on #795
Creating screenshots in dark mode is no problem at all. :)

[2020-02-27 07:42] ajm-ska opened #796 "Widget menu bar adjustment for Dark mode"
I noticed in Dark Mode on the widget windows (Animator, Histogram etc.), their close, pin, help, and settings options are inside a dark box. This is not apparent in Light mode, nor on the Contour Configuration for example which actually has a larger menu bar.

I guess File info, Preference, Overlay settings, and Contour Configuration are not widgets as such so that is why they have a different siz

[2020-02-27 07:45] kswang1029 commented on #796
#771 ?

[2020-02-27 07:45] ajm-ska commented on #796
Oh I'm sorry! I didn't check previous issues!

[2020-02-27 07:46] #796 closed, assigned to veggiesaurus

[2020-02-27 08:19] kswang1029 commented on #795
I will need some help from @TienHao too

[2020-02-27 14:58] kswang1029 opened #797 "update help for 1.3 final release"
During the 1.3 beta test and major bug fix week, the help stuff will need to be revised and optimized for the final release.

[2020-02-27 16:25] veggiesaurus opened #798 "Contours missing in Firefox"
Contours are not drawn when using Firefox. The dev console shows errors such as
[code]
This arises because the WebGL context stored in the `ContourStore` is stale (it's related to an old or unmounted `ContourViewComponent`). The same root cause as #755, probably.

[2020-02-28 07:55] arusstaylor opened #799 "add default directory to global preferences"
It would be nice to be able to set the default directory that is open in the file load tool.  When I am consistently working on a particular project it would be good to be able to set the default to that project directory so I dont have to navigate to it every time I start up carta.

[2020-02-28 08:08] veggiesaurus commented on #799
I think the easiest way to implement this would be to add a "star" icon next to the refresh icon, inside the browser. When the user clicks on it, the icon changes from an outline to filled, indicating that this directory is now the default directory. Clicking on it again resets the default directory. See mockup below.

I think users are more likely to make use of this feature if it's integrated in

[2020-02-28 08:58] arusstaylor commented on #799
I agree this is a much better solution.  Thanks.  Is there a more appropriate icon than a star that is associated with the concept default?

[2020-02-28 09:03] veggiesaurus commented on #799
Here's the icon library we use: https://blueprintjs.com/docs/#icons

The star is one of the few that has an outline and filled icon, so it was my first choice.

[2020-02-28 09:13] arusstaylor commented on #799
Being able to indicate a selected and not selected state is important.   The little house home symbol would be more recognisable a setting the home directory.  But I guess there are no options for filled an unfilled or selected or deselected versions of that symbol?  I think then the star is probably the best option at this point.

[2020-02-28 09:16] arusstaylor commented on #799
Could you use the home symbol and use colour to indicate selected (green) or not selected (red)?

[2020-02-28 09:27] veggiesaurus commented on #799
We could use  the default color and another color for highlighting it, sure. But then we need another icon for the base directory.

[2020-02-28 09:35] #798 closed, assigned to nobody

[2020-02-28 09:36] #757 closed, assigned to nobody

[2020-02-28 09:40] veggiesaurus commented on #799
I think a star is generally understood to mean "favourite". So perhaps we just change the language to "favourite", and assume the file browser starts in your favourite directory?

[2020-02-28 11:05] confluence commented on #799
There is a bookmark icon -- that maps better conceptually to a single marked location (the star / favourite implies multiple favourites). But there's no un-filled icon. We could use grey and green (I would avoid using red to mean "off"; red usually indicates an error state), but that would break our current monochromatic colour scheme.

[2020-02-28 11:12] confluence commented on #799
Another possibility: can we use svg or css text effects to outline a solid icon, creating our own "empty" version?

[2020-02-28 11:34] arusstaylor commented on #799
Agree grey is better for not selected.  Didn't realise we were sticking to a monochromatic colour scheme. I appreciate that it makes the data standout against the tool.   But it seem unnecessarily limiting.   At any rate we currently use the blue and grey options to indicate on an off state of toggles. Perhaps blue and grey versions of the home symbol could be used?  Blue when you are in the home

[2020-02-28 12:07] veggiesaurus commented on #799
I think that should be fairly simple to do. If someone wants to dig into the SVG :)

[2020-02-28 14:31] kswang1029 commented on #787
These are possible AST usages:

FITS header integrity check
spatial reference frame conversion
Spectral reference frame conversion
Intensity unit conversion
Guard for invalid conversions
Image FoV coverage check

[2020-02-28 14:33] veggiesaurus commented on #787
I also think we should move towards reading the entire FITS header, and then extracting the sky and spectral frames, as @dsberry suggested

[2020-02-28 15:20] veggiesaurus commented on #787
additional chore: update to AST 9.1.1 (after bugfix)

[2020-03-02 05:48] kswang1029 opened #802 "minor UI alignment and consistency check"
There are a number of minor UI inconsistencies in the current dev frontend. Although they do not affect general science use cases but it would be good to clean them up so that the UI looks pro(er).

The main issue is alignment of the UI elements.

**rendering config settings**
"Primary" is not needed here.
<img width="279" alt="Screen Shot 2020-03-02 at 1 15 49 PM" src="https://user-images.githubu

[2020-03-02 05:56] kswang1029 opened #803 "use common unit for frequency"
For frequency display, we better switch to a more common unit used by astronomers. Usually it is GHz or MHz. I suggest we implement a smarter way to automatically choose a proper unit, including
1) THz (> 1000 GHz)
2) GHz (3 GHz < freq < 1000 GHz)
3) MHz (< 3 GHz)

@arusstaylor do you have more thoughts on this?

<img width="764" alt="Screen Shot 2020-03-02 at 1 50 24 PM" src="https://user-images.